{% extends 'AppBundle::Emails/base.html.twig' %}

{% block body %}


    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tbody>
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="mobile-w-auto"
                style="text-align: left; font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                <p>
                    Beste leverancier,
                </p>

                <p>
                    In de bijlage treft u de orderspecificatie van de afgelopen periode.
                </p>

                <p>
                    Met vriendelijke groeten,<br />
                    Team administratie.
                </p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
        </tbody>
    </table>
{% endblock %}
