{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Dashboard' %}

{% block body %}
    {% if(sites is defined) %}
        {{ include('@Admin/Dashboard/admin.html.twig') }}
    {% endif %}

    {% if(unprocessedOrders is defined) %}
        {{ include('@Admin/Dashboard/bakery.html.twig') }}
    {% endif %}
{% endblock body %}
