{% if app.request.get('variation') is not empty %}
    {% set variation_select_id = app.request.get('variation') %}
{% endif %}

{% if form.variation is defined %}
    <div id="no-product-to-design" class="alert alert-info" style="display: none;">
        <span>{{ 'label.select_product_to_design'|trans }}</span>
    </div>
    {% for input in product.getConfigurations.inputs %}
        <div class="line-double">
            <div class="double-holder">
                <div class="field soort">
                    <p class="bold">{{ input.product.translate.getTitle }}</p>
                    <span class="form-select-wrapper">
                        <select class="form-control configuration-select" {% if input.isMain is same as(true) %} data-main="true" {% endif %}>
                            <option value="">{{ "product.select"|trans }}</option>
                            {% for option in input.options %}
                                <option data-combination-option="{{ option.getId }}" value="{{ option.getId }}">{{ option.translate.getTitle }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'AppBundle:blocks/Product/partials:quantity.html.twig' with {form: form} %}
    <div class="price">
        <p class="label piece-price" style="display: none">{{ 'label.piece_price'|trans }}</p>
        <p class="label from-price ">{{ 'label.from_price'|trans }}</p>
        <p class="amount"><strong><span id="product_price">{{ product.getDisplayPrice() }}</span></strong>
        </p>
    </div>
{% endif %}