{% set productImage = product.getMainImage() %}
{% set productImages = product.getUntaggedImages() %}
{% set isOrderable = product.isOrderable() %}
{% set sticker = get_product_sticker(product) %}
{% set alt = product.translate.title %}
<div class="foto-groot image">
    {% include '@App/blocks/Product/tile/out-of-stock.html.twig' %}
    {% if productImage is not null %}
        <img src="{{ productImage.getPath() | imagine_filter('product') }}">
    {% elseif productImage is null and productImages is not null %}
        <img src="{{ productImages|first.getPath() | imagine_filter('product') }}">
    {% else %}
        <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
    {% endif %}

    {% if sticker %}
        {% set url = sticker.path | imagine_filter('product') %}
        <img class="product-sticker" src="{{ url }}"
             data-src="{{ url }}"
        >
    {% endif %}
</div>

<div class="foto-thumbs">
    {% if productImage is not null and productImages is not null %}
        <div class="thumb" id="thumb-1">
            <span class="fa fa-caret-up active"></span>
            <img src="{{ productImage.getPath() | imagine_filter('product_thumbnail') }}"
                 data-large-src="{{ productImage.getPath() | imagine_filter('product') }}"
                 alt="{{ alt }}"
            >
        </div>
    {% endif %}

    {% if productImages is not null %}

        {% if productImage is null %}
            {% set indexIncrement = 0 %}
        {% else %}
            {% set indexIncrement = 1 %}
        {% endif %}

        {% for image in productImages %}
            <div class="thumb" id="thumb-{{ loop.index + indexIncrement }}">
                <span class="fa fa-caret-up{% if productImage is null and loop.first %} active{% endif %}"></span>

                <img src="{{ image.getPath() | imagine_filter('product_thumbnail') }}"
                     data-large-src="{{ image.getPath() | imagine_filter('product') }}"
                     alt="{{ alt }}"
                >
            </div>
        {% endfor %}
    {% endif %}
</div>
