{% if app.request.get('variation') is not empty %}
    {% set variation_select_id = app.request.get('variation') %}
{% endif %}

{% if form.variation is defined %}
    <div id="no-product-to-design" class="alert alert-info" style="display: none;">
        <span>{{ 'label.select_product_to_design'|trans }}</span>
    </div>

    <div class="line-double">
        <div class="double-holder">
            <div class="field soort">
                <p class="bold">{{ 'label.product_type'|trans }}</p>
                <span class="form-select-wrapper">
                    {{ form_widget(form.variation, {'id': 'product_variation'}) }}
                </span>
            </div>

            {% include 'AppBundle:blocks/Product/partials:quantity.html.twig' with {form: form} %}
        </div>
        <div class="price">
            <p class="label piece-price" style="display: none">{{ 'label.piece_price'|trans }}</p>
            <p class="label from-price ">{{ 'label.from_price'|trans }}</p>
            {% set cheapestVariation = product_manager.decorateProduct(product.cheapestVariation) %}
            <div class="amount">{{ get_price_html(cheapestVariation) }}</div>
        </div>
    </div>

{% endif %}
