{% extends "CmsBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form action="{{ path('admin_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                <h5 class="content-group">Wachtwoord vergeten
                    <small class="display-block">De instructies worden per e-mail aan u gestuurd.</small>
                </h5>
            </div>

            {% if invalid_username is defined %}
                <div class="alert alert-danger alert-styled-left">
                    Het opgegeven e-mailadres komt niet voor in ons systeem.
                </div>
            {% endif %}

            <div class="form-group has-feedback">
                <input type="text" id="username" name="username" placeholder="Vul hier je e-mailadres in"
                       class="form-control" required="required" />
                <div class="form-control-feedback">
                    <i class="icon-mail5 text-muted"></i>
                </div>
            </div>

            <button type="submit" class="btn bg-blue btn-block">Wachtwoord resetten <i
                        class="icon-arrow-right14 position-right"></i></button>
        </div>
    </form>
{% endblock fos_user_content %}
