{% extends "CmsBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form action="{{ path('admin_user_resetting_reset', {'token': token}) }}" method="POST"
          class="fos_user_resetting_reset">
        {{ form_widget(form) }}

        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock fos_user_content %}
