<div class="product-selector-result-heading bg-slate-300 heading-text">
    Resultaten
</div>

{% if results is empty %}
    <div class="product-selector-result-none">Er zijn geen resultaten gevonden</div>
{% else %}
    <div id="product_selector_result_container" class="product-selector-result-container">
        <div class="row product-selector-result-products">
            {% for product in results %}
                {% set product = product_manager.decorateProduct(product) %}
                <div class="col-product-item product-selector-result-product"
                     data-product-id="{{ product.id }}">
                    <div class="product-item">
                        {% if product.parent is null %}
                            <div class="company-product-label">
                                Hoofdproduct
                            </div>
                        {% endif %}
                        <div class="product-item-image">
                            {% if product.mainImage is not empty %}
                                <img src="{{ product.mainImage.getPath | imagine_filter('product_thumbnail') }}"
                                     alt="{{ product.name }}">
                            {% else %}
                                <div class="product-item-image-placeholder">
                                    Geen afbeelding ingesteld
                                </div>
                            {% endif %}
                        </div>

                        <div class="product-item-description">
                            {{ product.name ? product.name : product.translate.title }}
                        </div>

                        <div class="product-item-price">
                            &euro; {{ get_price(product.cheapestVariation) | number_format }}
                        </div>

                        <div class="product-item-form-elements">

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>
{% endif %}
