<div class="address-list">
    <h3>{{ 'cart.order_address.order_address_book' | trans }}</h3>
    {% if suggestions.order is same as (null) or suggestions.order|length == 0 %}
        <p>
            {{ 'cart.order_address.not_found'|trans|raw }}
        </p>
    {% else %}
        <table class="table table-sm table-condensed table-striped">
            {% for address in suggestions.order %}
                <tr class="pointer" data-address="{{ address|json_encode }}">
                    <td>{{ address.companyName }} {{ address.attn }}, {{ address.street }} {{ address.number }}{{ address.numberAddition }}, {{ address.postcode }} {{ address.city }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h3>{{ 'cart.order_address.address_book' | trans }}</h3>
    {% if not app.user %}
        <a href="{{ path('app_customer_account_index') }}">{{ 'cart.order_address.login_required'|trans }}</a>
    {% else %}
        {% if suggestions.addressBook is null or suggestions.addressBook|length == 0 %}
            <p>
                {{ 'cart.order_address.not_found'|trans|raw }}
            </p>
        {% else %}
            <table class="table table-sm table-condensed table-striped" id="address-book-table">
                <thead></thead>
                <tbody>
                {% for address in suggestions.addressBook %}
                    <tr class="pointer" data-address="{{ address|json_encode }}">
                        <td>{{ address.companyName }} {{ address.attn }}, {{ address.street }} {{ address.number }}{{ address.numberAddition }}, {{ address.postcode }} {{ address.city }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

</div>
