<div class="buttons"{% if hideButtons is defined and hideButtons is same as(true) %} style="display: none;"{% endif %}>
    {% if hideContinueShopping is not defined %}
        <a href="#"
           class="btn btn-theme-secondary btn-text" id="checkout_continue_with_address">{{ 'checkout.delivery.continue_with_address'|trans }}</a>
    {% endif %}

    {% if (hideContinueShopping is not defined and hideProceed is not defined) and (form is defined or proceedButton is defined) %}
        <span class="text-separator">{{ 'cart.or'|trans }}</span>
    {% endif %}

    {% if form is defined %}
        {{ form_widget(form.submit) }}
    {% elseif proceedButton is defined %}
        <a href="{{ proceedButton.path }}" class="btn btn-theme btn-submit">
            {{ proceedButton.label }}

            <span class="fa fa-angle-right"></span>
        </a>
    {% endif %}
</div>
