<div class="row row-order-details">
    <div class="column column-product">
        <div class="column-wrapper">


            {% set currentOrderLineUrl = path('app_checkout_orderlineupdate', {
                'cartOrder': currentOrderLine.cartOrder.uuid,
                'cartOrderLine': currentOrderLine.uuid
            }) %}

            <div class="product-lines product-list">
                {% include '@App/Checkout/components/delivery/product-line.html.twig' with {type: 'product', line: currentOrderLine} %}
            </div>
        </div>
    </div>

    {% include '@App/Checkout/listPersonalization.html.twig' with {orderLine: currentOrderLine} %}

    {% set additionalLines = currentOrderLine.getProductAdditionalProducts() | merge(currentOrderLine.upsellLines) %}
    {% if additionalLines | length > 0 %}
    <div class="column column-additional-products"
         data-additional-products-url="{{ path('app_checkout_listadditionalproduct', {
             uuid: currentOrderLine.uuid
         }) }}">
        <div class="column-wrapper">
            {% include '@App/Checkout/listAdditionalProduct.html.twig' with {orderLine: currentOrderLine, max: max} %}
        </div>
    </div>
    {% endif %}
</div>
