{#TODO SF4 snake_case and no caps#}
{% extends 'AdminBundle:Crud:datatable.html.twig' %}

{% block assets_body %}
    {{ parent() }}

    {% javascripts
        'bundles/admin/js/financial/invoice.js'
    %}
        <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}

    {% stylesheets  %}
        <link rel="stylesheet" href="{{ asset(asset_url) }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="panel">
        <div class="panel-heading">
            <h3>Factuur export naar exact</h3>
        </div>
        <div class="panel-body">
            Selecteer de bedrijven die gefactureerd moeten worden en druk op de <i style="font-size: 20px;" class="mdi mdi-export"></i> Exporteer knop rechts bovenin
        </div>
    </div>
    {{ parent() }}
{% endblock %}

