{% if about is not empty %}
    <div class="container-fluid" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12" id="about-topbloemen">
                    {{ about.translate().getContent()|raw }}
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 hidden-sm-down" id="about-clients"
                     onmouseover="APP.testimonials.stopInterval()" onmouseout="APP.testimonials.startInterval()">
                    {#
                    <h2>Wat zeggen onze klanten?</h2>
                    <div class="testimonials">
                        <div class="testimonials-holder" >
                            <div class="tab-holder active draggable">
                                <div class="left"><img src="bundles/app/img/about-client.png"></div>
                                <div class="right">
                                    <p><b>“1Wij bestellen onze geschenken al meer dan drie jaar naar volle tevredenheid!”</b>
                                        <br /><br />
                                        Marjolein de Bruin
                                        Inkoop Leaseplan Nederland</p>
                                </div>
                            </div>
                            <div class="tab-holder" id="testimonial-2">
                                <div class="left"><img src="bundles/app/img/about-client.png"></div>
                                <div class="right">
                                    <p><b>“2Wij bestellen onze geschenken al meer dan drie jaar naar volle tevredenheid!”</b>
                                        <br /><br />
                                        Marjolein de Bruin
                                        Inkoop Leaseplan Nederland</p>
                                </div>
                            </div>
                            <div class="tab-holder" id="testimonial-3">
                                <div class="left"><img src="bundles/app/img/about-client.png"></div>
                                <div class="right">
                                    <p><b>“3Wij bestellen onze geschenken al meer dan drie jaar naar volle tevredenheid!”</b>
                                        <br /><br />
                                        Marjolein de Bruin
                                        Inkoop Leaseplan Nederland</p>
                                </div>
                            </div>
                            <div class="tab-holder" id="testimonial-4">
                                <div class="left"><img src="bundles/app/img/about-client.png"></div>
                                <div class="right">
                                    <p><b>“4Wij bestellen onze geschenken al meer dan drie jaar naar volle tevredenheid!”</b>
                                        <br /><br />
                                        Marjolein de Bruin
                                        Inkoop Leaseplan Nederland</p>
                                </div>
                            </div>
                        </div>
                        <div class="navigation">
                            <div class="holder">
                                <div onclick="APP.testimonials.setActive(this)" id="test-item-1" class="item active"></div>
                                <div onclick="APP.testimonials.setActive(this)" id="test-item-2"  class="item"></div>
                                <div onclick="APP.testimonials.setActive(this)" id="test-item-3"  class="item"></div>
                                <div onclick="APP.testimonials.setActive(this)" id="test-item-4"  class="item"></div>
                            </div>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endif %}