<div class="container" id="content-home">
    <div class="row">
        <div class="col-lg-9 col-sm-12" id="categories">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="http://bloemist.topbloemen.nl/products/index/41" class="category-item" id="item-1"
                       target="_blank">
                        <img src="{{ asset('build/images/jodeco-glass.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Jodeco<br />glass</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/chrysal" class="category-item" id="item-2">
                        <img src="{{ asset('build/images/chrysal.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Chrysal</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/rouwlinten-printer" class="category-item" id="item-3">
                        <img src="{{ asset('build/images/rouwlinten-printer.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Rouwlinten<br />&amp; printer</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/oasis" class="category-item" id="item-4">
                        <img src="{{ asset('build/images/oasis.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Oasis</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/uitvaart-artikelen" class="category-item" id="item-5">
                        <img src="{{ asset('build/images/uitvaart-artikelen.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Uitvaart<br />artikelen</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/promotie-bloemencadeaubon" class="category-item" id="item-6">
                        <img src="{{ asset('build/images/promotie-artikelen.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Promotie en Bloemencadeaubon</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/cadeauartikelen" class="category-item" id="item-6">
                        <img src="{{ asset('build/images/cadeauartikelen.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Cadeau-<br />artikelen</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/topbloemen-artikelen" class="category-item" id="item-6">
                        <img src="{{ asset('build/images/topbloemen-artikelen.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Topbloemen<br />artikelen</h2>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/bloemisterij-artikelen" class="category-item" id="item-6">
                        <img src="{{ asset('build/images/bloemisterij-artikelen.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Bloemisterij<br />artikelen</h2>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12" id="text-blocks">
            {% if page and page.translate().getContent() %}
                <div class="text-block">
                    <div class="text-block-inner">
                        {{ page.translate().getContent()|raw }}
                    </div>

                    <div class="text-block-read-more" data-text-open="{{ 'read.more.text'|trans }}"
                         data-text-close="{{ 'close.button'|trans }}">
                        {{ 'read.more.text'|trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>