{% for product in products %}
    {% set productImage = product.getMainImage(true) %}
    
    {% if loop.first is same as(false) %}
        <div class="col-md-1 combination-plus">+</div>
    {% endif %}

    <div class="combination-product-container col-md-3">
        <div class="combination-product-image">
            {% if productImage %}
                <img src="{{ productImage.getPath | imagine_filter('product') }}" />
            {% else %}
                <div class="combination-product-image-placeholder">
                    <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
                </div>
            {% endif %}
        </div>
        <div class="combination-product-title">
            {{ product.getTitle }}
        </div>
    </div>
{% endfor %}
