{% extends 'AppBundle::base.html.twig' %}

{% set canonical = product.absoluteUrl %}

{% import 'AppBundle:macros:robin.html.twig' as robin %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var configurations = JSON.parse('{{ product.getConfigurations.configurations | raw }}');
    </script>
    <script src="{{ asset('build/product.js') }}"></script>
    <script src="{{ asset('build/product-combination.js') }}"></script>
    <script src="{{ asset('build/truncate.jquery.js') }}"></script>


    {% if showAddToCartModal is same as (true) %}
        {# todo: move to JS file #}
        <script>
            swal({
                title: '{{ 'cart.modal.add_to_cart.title'|trans }}',
                type: 'success',
                showCancelButton: true,
                cancelButtonText: '{{ 'cart.modal.add_to_cart.continue_shopping'|trans }}',
                confirmButtonText: '{{ 'cart.modal.add_to_cart.continue_checkout'|trans }}',
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    window.location.href = '{{ addToCartModalRedirect }}';
                }
            });
        </script>
    {% endif %}

    {% if invalidProductCombination %}
        <script src="{{ asset('build/cart-invalid-combination.js') }}"></script>

        <script>
            {# todo: move to JS file #}
            $(document).ready(function () {
                swal({
                    title: '{{ 'cart.modal.invalid_combination.title'|trans }}',
                    type: 'question',
                    showCancelButton: false,
                    showConfirmButton: true,
                    cancelButtonText: '{{ 'cart.modal.invalid_combination.choose'|trans }}',
                    cancelButtonClass: 'theme-background-color',
                    confirmButtonText: '{{ 'cart.modal.invalid_combination.choose'|trans }}',
                    confirmButtonClass: 'theme-background-color',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    customClass: 'modal-invalid-cart-combination',
                    width: 600,
                    onOpen: renderCartInvalidCombinationModal
                }).then(function () {
                    var productForm = $('#product_form');
                    $('<input type="hidden" name="form[replace_cart]" value="1">').appendTo(productForm);

                    $(productForm).submit();
                }, function () {
                    var productForm = $('#product_form');
                    $(productForm).submit();
                });
            });
        </script>

    {% endif %}

    <script>
{# todo: move to JS file #}
        $(function () {
            $('.product-description', '#content-product').truncate({
                minLines: 3,
                openText: "{{ "label.read_more"|trans }}",
                closeText: "{{ "label.collapse"|trans }}"
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/product.css') }}">

    {% if invalidProductCombination %}
        <link rel="stylesheet" href="{{ asset('build/cart-invalid-combination.css') }}">
    {% endif %}
{% endblock %}

{% set page_title = product.translate.title %}
{% set show_timer = true %}

{% block body %}
    {% set product_type_class = 'simple' %}
    {% if product.hasVariations() %}{% set product_type_class = 'variable' %}{% endif %}
    {% set product_type_class = 'product-type-' ~ product_type_class %}

    <div class="container-fluid {{ product_type_class }} page-wrapper"
         id="content-product"
            {% if invalidProductCombination %} data-invalid-cart-combi-url="{{ path('app_cart_invalidcombination', {id: invalidProductCombination.id}) }}"{% endif %}
         data-product-information-url="{{ path('app_product_productinfo') }}"
    >
        {% block body_content %}
            {% include 'AppBundle:Product/includes:content.html.twig' %}
        {% endblock body_content %}
    </div>

    {{ robin.product(product) }}
    {{ jsonld_product(product) }}

    <meta property="og:title" content="{{ product.displayName }}">
    <meta property="og:type" content="product">
    <meta property="og:image"
    content="{% if product.mainImage(true) %}{{ product.mainImage(true).path | imagine_filter('product') }}{% endif %}">
    <meta property="og:url" content="{{ product.absoluteUrl }}">

{% endblock body %}
