
<div class="datatable">
    {% if filters is defined %}
    <div class="panel panel-default datatable-filters">
        <div class="panel-body">
            <div class="actions">
                <div class="collapse-filter">
                    <i class="mdi mdi-arrow-right"></i>
                </div>

                <div class="clear-filters">
                    <a href="#" class="btn btn-xs btn-secondary">Filters wissen</a>
                </div>
            </div>

            {{ form(filters) }}
        </div>
    </div>
    {% endif %}

    <div class="datatable-header datatable-heading">
        {% if disable_search is same as (false) %}
            <div class="datatable-search">
                {{ admin_icon('magnify', null, null, 'material') }}

                <input name="datatable[search]" placeholder="Typ hier om te zoeken" />
            </div>
        {% endif %}


        <div class="datatable-header-button">
            {% if dataTableButtons %}
                {% for button in dataTableButtons %}
                    <a href="{{ button.route_generated }}"
                            {% if button.xhr is defined %} data-xhr="{{ button.xhr }}"{% endif %}
                            {% if button.method is defined %} data-method="{{ button.method }}"{% endif %}
                            {% if button.pre_confirm is defined and button.pre_confirm is iterable %} data-pre_confirm="{{ button.pre_confirm|json_encode }}"{% endif %}
                            {% if button.type is defined and button.type is not null%}data-type="{{ button.type }}"{% endif %}
                            {% if button.action is defined and button.action is not null %}data-action="{{ button.action }}"{% endif %}
                            {% if button.refresh_panel is defined %}data-refresh-panel="{{ button.refresh_panel }}"{% endif %}
                            {% if button.data is defined %}{% for key, value in button.data %}data-{{ key }}="{{ value }}"{% endfor %}{% endif %}
                       class="btn bg-teal-400">{{ button.label }}</a>
                {% endfor %}
            {% endif %}

            {% if entity is not null %}
            <div class="actions">

                {% if filters is defined %}
                <a href="#" data-action="open-filter" class="btn btn-disc">
                    <i class="mdi mdi-filter"></i>
                </a>
                {% endif %}

                {% if user_has_role('ROLE_DATASETFILTERSETTINGS_READ') %}
                <a href="{{ path('admin_dataset_datasetfiltersettings_index', {
                    'entity': entity.id
                }) }}" data-action="open-filter-settings" class="btn btn-disc">
                    <i class="mdi mdi-settings"></i>
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>

        {% if dataTableBulkActions %}
            <div class="datatable-header-bulk-actions">
                <div class="count-selected-items"></div>

                {% set firstAction = dataTableBulkActions|first %}

                <a href="{{ firstAction.route_generated }}" data-xhr="{{ firstAction.xhr }}"
                   data-method="{{ firstAction.method }}" data-route="{{ firstAction.route }}"
                   data-label="{{ firstAction.label }}"
                   title="{{ firstAction.label }}"{% if firstAction.pre_confirm is not null %} data-pre_confirm="{{ firstAction.pre_confirm|json_encode }}"{% endif %}
                   data-bulk-action="true" data-popup="tooltip">
                    <i class="{{ firstAction.icon }}"></i>
                </a>

                {% if dataTableBulkActions|length > 1 %}
                    <div class="btn-group">
                        <a class="btn-link dropdown-toggle" data-toggle="dropdown" title="Bekijk opties"
                           data-popup="tooltip">
                            {{ admin_icon('dots-vertical', null, null, 'material') }}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            {% for action in dataTableBulkActions %}
                                {% if not loop.first %}
                                    <li>
                                        <a href="{{ action.route_generated }}" data-xhr="{{ action.xhr }}"
                                           data-method="{{ action.method }}" data-route="{{ action.route }}"
                                           data-label="{{ action.label }}"
                                           title="{{ action.label }}"{% if action.pre_confirm is not null %} data-pre_confirm="{{ action.pre_confirm|json_encode }}"{% endif %}
                                           data-bulk-action="true" data-placement="left" data-popup="tooltip">
                                            <i class="{{ action.icon }}"></i> {{ action.label }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="datatable-header-processing">
            <div class="theme_tail_circle">
                <div class="pace_activity"></div>
            </div>
        </div>
    </div>

    {% set columnCount = 0 %}

    <div class="datatable-body">
        <table class="table table-striped" data-datatables="audit"
               data-data-url="{{ data_url }}" {% if datatable_id is not null %} id="{{ datatable_id }}" {% endif %}
               {% if reorder_url is not null and allow_reorder is same as(true) %}data-reorder-url="{{ reorder_url }}"{% endif %}
               data-order="{{ datatableOrder|json_encode() }}"
               data-buttons="{{ dataTableButtons|json_encode() }}"{% if dataTableBulkActions is defined %} data-actions="{{ dataTableBulkActions|json_encode() }}"{% endif %}>
            <thead>
            <tr>
                {% for column in dataTable %}
                    <th {% if column.getOptions().orderable is defined and not column.getOptions().orderable and not allow_reorder %} data-orderable=false{% endif %}{% if column.getOptions().width is not null %} width="{{ column.getOptions().width }}"{% endif %}{% if column.getOptions().type is defined %} data-type="{{ column.getOptions().type }}"{% endif %}>{{ column.getOptions().label|raw }}</th>

                    {% set columnCount = columnCount+1 %}
                {% endfor %}
            </tr>
            </thead>
        </table>
    </div>
</div>

{% if dataTableButtons %}
    <ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-fab-toggle="hover" id="datatable_fab_menu">
        <li>
            <a class="fab-menu-btn btn btn-float btn-rounded btn-icon btn-default">
                <i class="fab-icon-open icon-paragraph-justify3"></i>
                <i class="fab-icon-close icon-cross2"></i>
            </a>

            <ul class="fab-menu-inner">
                {% for button in dataTableButtons if attribute(button, 'icon') is defined and attribute(button, 'label') is defined %}
                    <li>
                        <div data-fab-label="{{ button.label }}">
                            <a href="{{ button.route_generated }}"
                                    {% if button.xhr is defined %} data-xhr="{{ button.xhr }}"{% endif %}
                                    {% if button.method is defined %} data-method="{{ button.method }}"{% endif %}
                                    {% if button.pre_confirm is defined and button.pre_confirm is iterable %} data-pre_confirm="{{ button.pre_confirm|json_encode }}"{% endif %}
                               class="btn btn-rounded btn-icon btn-float {% if attribute(button, 'className') is not defined %}btn-default{% else %}{{ attribute(button, 'className') }}{% endif %}">
                                <i class="{{ button.icon }}"></i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endif %}
