{% extends 'AppBundle::Emails/base.html.twig' %}

{% block subject %}
    Er staat een nieuwe rapportage klaar.
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">
                    Er staat een nieuwe rapportage klaar.</h1>
                <p>
                    {{ customer_manager.getPersonalSalutation(customer) }},
                </p>
                <p>
                    Via de website is een nieuwe rapportage te bekijken.
                </p>
                <p>
                    Rapport: {{ companyReportCustomerHistory.companyReportCustomer.companyReport.report.title }}<br/>
                    Periode: {{ companyReportCustomerHistory.fromDate | date('d-m-Y')}} - {{ companyReportCustomerHistory.tillDate | date('d-m-Y') }}
                </p>
                <p>
                    <a href="{{ url }}">
                        <button>Rapportages bekijken</button>
                    </a>
                </p>
                <p>
                    Of kopieer onderstaande link in uw browser wanneer de button niet klikbaar is? <br />
                    <a href="{{ url }}">{{ url }}</a>
                </p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
{% endblock %}
