{% extends 'AppBundle::Emails/base.html.twig' %}

{% import _self as cart_elements %}

{% block subject %}
    {{ 'mailer.order_changed.subject'|trans({'%ordernr%': orderCollection.number}) }}
{% endblock %}

{% block preheader %}
    {{ 'mailer.order_confirmation.preheader'|trans({'%brand%': brandName})|nl2br }}
{% endblock %}

{% block body %}

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">

                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">
                    {{ 'mailer.order_changed.header' | trans({'%s' : orderCollection.number}) }}
                </h1>

                <p>
                    {{ orderCollection.customer.salutation }},
                </p>

                <p>
                    {{ 'mailer.order_changed.body' | trans({'%s' : orderCollection.number}) }}
                </p>

                <p>
                    {{ 'mailer.order_changed.reason' | trans }}
                </p>

                <p>
                    {{ finalize_message|nl2br }}
                </p>

                {% if payment is not null  %}
                    <h2 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 19px;margin-bottom: 15px;">
                        {{ 'payment_request.header' | trans({'%s' : orderCollection.number}) }}
                    </h2>
                    {% if payment.metadata is defined and payment.metadata.request is defined %}
                        <p>
                            {{ payment.metadata.request.description }}
                        </p>
                    {% endif %}
                    <p>
                        {{ 'payment_request.url_description' | trans({'%s' : orderCollection.number}) }}.
                    </p>
                    <p>
                        <a href="{{ url }}">{{ url }}</a>
                    </p>
                {% endif %}

                <p>
                    {{ 'app.kind_regards' | trans }},
                </p>
                <p>
                    {{ site.translate.description }}
                    <br>
                    {{ 'app.customer_department' | trans }}
                    <br>
                </p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="column brand-color-bg mobile-center" align="left" bgcolor="{{ primaryColor }}"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;background-color: {{ primaryColor }} !important;color: #FFFFFF;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                    <tr>
                        <th class="padding-15 mobile-center txt-left" align="left"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;padding: 15px;">
                            <h2 class="no-margin brand-color-bg"
                                style="color: #FFFFFF;font-weight: bold;line-height: 100% !important;font-size: 24px; background-color: {{ primaryColor }} !important;margin: 0;">
                                {{ 'mailer.order_confirmation.heading'|trans({'%order_number%': orderCollection.getNumber}) }}</h2>
                        </th>
                    </tr>
                </table>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="598" class="border-right border-bottom border-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;border-bottom: 1px solid #e8e8e8;border-left: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8;">

                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                    <tr>
                        <th align="left" class="padding-15"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal; padding: 15px;">

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                                <tr>
                                    <th align="left" width="100%" class="{#column-padding-bottom#}" valign="bottom"
                                        style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                               style="table-layout: fixed;">
                                            <tr>
                                                <th colspan="2" align="left"
                                                    valign="top"
                                                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">

                                                    <strong>{{ 'mailer.confirmation.your_details'|trans|capitalize }}</strong>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th align="left"
                                                    valign="top"
                                                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                                                    {% if orderCollection.getInvoiceAddressCompanyName %}
                                                        {{ orderCollection.getInvoiceAddressCompanyName }} <br />
                                                    {% endif %}
                                                    {{ orderCollection.getCustomer.getFullname }} <br />

                                                    {{ orderCollection.getInvoiceAddressStreetAndNumber() }} <br />
                                                    {{ orderCollection.getInvoiceAddressPostcode() }} {{ orderCollection.getInvoiceAddressCity() }}
                                                    <br />

                                                    {{ orderCollection.getInvoiceAddressCountry() }}<br />

                                                    {% if orderCollection.getInvoiceAddressPhoneNumber() is not empty %}
                                                        {{ orderCollection.getInvoiceAddressPhoneNumber() }}
                                                    {% endif %}
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </table>

                        </th>
                    </tr>

                    {% for order in orderCollection.getOrders %}

                        {% if order.getLines|length and order.getStatus is not same as('cancelled') %}
                            <tr>
                                <th align="left" class="bg-grey-light padding-15"
                                    style="background-color: #f3f3f3; font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding: 15px; border-top: 1px solid #e8e8e8 !important;">


                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                           style="table-layout: fixed;">
                                        <tr>
                                            <th align="left" class="column-padding-bottom"
                                                style="font-size: 13px;font-family: Arial, sans-serif;line-height: 100%;font-weight: normal;">

                                                {{ 'order'|trans|capitalize }}:<span class="hidden-desktop" style="line-height: 50% !important;"><br /></span>
                                                <strong>{{ order.getOrderNumber }}</strong>
                                            </th>
                                            <th align="right" class="mobile-left column"
                                                style="font-size: 13px;font-family: Arial, sans-serif;line-height: 100%;font-weight: normal;">

                                                {{ 'label.delivery_date'|trans|capitalize }}:<span class="hidden-desktop"
                                                                                                   style="line-height: 50% !important;"><br /></span>
                                                <strong>{{ order.getDeliveryDate|localizeddate('full', 'none', locale) }}</strong>
                                            </th>
                                        </tr>
                                    </table>

                                </th>
                            </tr>
                            <tr>
                                <th align="left" class="padding-15"
                                    style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                           style="table-layout: fixed;">
                                        <tr>
                                            <th colspan="2" align="left"
                                                valign="top"
                                                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">

                                                {% if order.getPickupAddress() %}
                                                    <strong>{{ 'pickup_address'|trans|capitalize }}:</strong><br />
                                                {% else %}
                                                    <strong>{{ 'delivery_address'|trans|capitalize }}:</strong><br />
                                                {% endif %}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th align="left"
                                                valign="top"
                                                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">

                                                {% if order.getPickupAddress() %}

                                                    {% if order.getPickupAddress().getCompanyName() is not empty %}
                                                        {{ order.getPickupAddress().getCompanyName() }}<br />
                                                    {% endif %}

                                                    {{ order.getPickupAddress().format("\n")|nl2br }}

                                                {% elseif order.getDeliveryAddressType() is empty %} {# backwards compatibility #}
                                                    {% if order.getDeliveryAddressCompanyName() is not empty %}
                                                        {{ order.getDeliveryAddressCompanyName() }}<br />
                                                    {% endif %}

                                                    {{ order.getDeliveryAddressAttn() }}
                                                {% else %}
                                                    {% if order.getDeliveryAddressCompanyName() is not empty %}
                                                        {{ order.getDeliveryAddressCompanyName() }}<br />
                                                    {% endif %}

                                                    {{ order.getDeliveryAddressAttn() }}<br />

                                                    {% if order.getDeliveryAddressType().getFields() and attribute(order.getMetadata(), 'deliveryAddressTypeFields') is defined %}
                                                        {% set field_descriptions = [] %}

                                                        {% for field in order.getDeliveryAddressType().getFields() %}
                                                            {% set field_key = 'field_' ~ field.getId() %}

                                                            {% set field_descriptions = field_descriptions|merge({
                                                                (field_key) : field.translate().getLabel()
                                                            }) %}
                                                        {% endfor %}

                                                        {% for field in order.getMetadata()['deliveryAddressTypeFields'] %}
                                                            {% if field.value is not empty %}
                                                                {{ attribute(field_descriptions, 'field_' ~ field.id) }}:

                                                                <strong>{{ field.value }}</strong><br />
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}

                                                    {{ order.getDeliveryAddressStreetAndNumber() }}<br />
                                                    {{ order.getDeliveryAddressPostcode() }} {{ order.getDeliveryAddressCity() }}
                                                    <br />
                                                    {{ order.getDeliveryAddressCountry() }}
                                                {% endif %}

                                            </th>
                                        </tr>
                                    </table>

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="order-table"
                                           style="table-layout: fixed;">
                                        <tr>
                                            <th width="100" class="column-padding-bottom img-w-100 img-block"
                                                align="center" valign="top"
                                                style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 3px;padding-bottom: 3px;">
                                                &nbsp;
                                            </th>

                                            <th width="20" class="hidden-mobile"
                                                style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 3px;padding-bottom: 3px;"></th>

                                            <th width="448" class="column" valign="top"
                                                style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 3px;padding-bottom: 3px;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                       style="table-layout: fixed;">
                                                    <tr>
                                                        <th valign="top" width="250"
                                                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 3px;padding-bottom: 3px;"></th>
                                                        <th valign="top" align="right"
                                                            class="txt-right nowrap padding-right-5"
                                                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;">
                                                            <strong>{{ 'amount'|trans|capitalize }}</strong></th>
                                                        <th valign="top" align="right"
                                                            class="txt-right nowrap padding-right-5"
                                                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;">
                                                            <div class="s-hidden-mobile"><strong>{{ 'piece_price.short'|trans|capitalize }}</strong>
                                                            </div>
                                                        </th>
                                                        <th valign="top" align="right" class="txt-right nowrap"
                                                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-top: 3px;padding-bottom: 3px;">
                                                            <strong>{{ 'subtotal'|trans|capitalize }}</strong></th>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </table>

                                    {% for line in order.getLines() %}
                                        {% set product = line.getProduct() %}

                                        {% if product.getPurchasable() and line.getParent() is null %}
                                            {{ cart_elements.line(product, line, locale) }}
                                        {% endif %}
                                    {% endfor %}

                                    {# non purchasable items like delivery costs #}
                                    {% for line in order.getLines() %}
                                        {% set product = line.getProduct() %}

                                        {% if product.getPurchasable() is same as(false) %}
                                            {{ cart_elements.line(product, line, locale) }}
                                        {% endif %}
                                    {% endfor %}
                                </th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>

            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">

                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="layout-auto"
                       style="table-layout: auto !important;">
                    <tr>
                        <th style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;">
                            &nbsp;
                        </th>
                        <th width="80" valign="top" align="right"
                            class="txt-right border-right border-bottom border-left bg-grey-light padding-10 nowrap"
                            style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;background-color: #f3f3f3;border-bottom: 1px solid #e8e8e8;border-left: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8;white-space: nowrap;text-align: right;padding: 10px;">
                            <strong class="nowrap"
                                    style="white-space: nowrap;">{{ 'total'|trans|capitalize }}:&nbsp;&euro;&nbsp;{{ orderCollection.getTotalDisplayPrice()|number_format(2) }}</strong>
                        </th>
                    </tr>
                </table>

                {% set paymentmethods = [] %}
                {% for payment in orderCollection.getPayments %}
                    {% if payment.getPaymentmethod is not null and payment.getPaymentmethod.getCode not in paymentmethods %}
                        {% set paymentmethods = paymentmethods|merge([ payment.getPaymentmethod.getCode ]) %}
                    {% endif %}
                {% endfor %}

                {% if 'afterpay' in paymentmethods %}
                    <p style="font-style: italic; padding: 0 10px;">
                        <br />
                        U heeft gekozen om uw order achteraf te betalen en ontvangt binnen enkele dagen na levering per
                        e-mail een betaalverzoek van AfterPay.
                    </p>
                {% endif %}

            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>

{% endblock %}


{% macro line(product, line, locale) %}

    {% set productName = product.translate(locale).title %}

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="order-table"
           style="table-layout: fixed;">
        <tr>
            <th width="100" class="column-padding-bottom border-top img-w-100 img-block" align="center" valign="top"
                style="border-top: 1px #e8e8e8 solid; font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 3px;padding-bottom: 3px;">
                {% if product.getMainImage() is not empty %}
                    <img src="{{ product.getMainImage().getPath() | imagine_filter('product_thumbnail') }}"
                         alt="{{ productName }}">
                {% endif %}
            </th>

            <th width="20" class="hidden-mobile border-top"
                style="border-top: 1px #e8e8e8 solid; font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 3px;padding-bottom: 3px;"></th>

            <th width="443" class="column border-top" valign="top"
                style="border-top: 1px #e8e8e8 solid; font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;padding-top: 3px;padding-bottom: 3px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                       style="table-layout: fixed;">

                    <tr>
                        <th width="250" valign="top" align="left" class="txt-left"
                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;padding-top: 3px;padding-bottom: 3px;">
                            <b>{{ productName }}</b>
                        </th>
                        <th valign="top" align="right"
                            class="txt-right nowrap padding-right-5"
                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;">
                            {% if product.getPurchasable() %}
                                {{ line.getQuantity() }}
                            {% endif %}
                        </th>
                        <th valign="top" align="right"
                            class="txt-right nowrap padding-right-5"
                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;">
                            <div class="s-hidden-mobile">
                                {% if product.getPurchasable() %}
                                    &euro; {{ orderline_manager_get_price_incl(line) | number_format }}
                                {% endif %}</div>
                        </th>
                        <th valign="top" align="right"
                            class="txt-right nowrap"
                            style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-top: 3px;padding-bottom: 3px;">
                            &euro; {{ orderline_manager_get_price_incl(line) | number_format }}
                        </th>
                    </tr>

                    {% if line.getChildren() is not null %}
                        {% for childLine in line.getChildren() %}
                            {% set childProductName = childLine.getProduct().translate(locale).title %}
                            <tr>
                                <th valign="top" align="left" class="txt-left"
                                    style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;padding-top: 3px;padding-bottom: 3px;">
                                    <span style="font-size: 11px;">&#x2514;</span> {{ childProductName }}
                                </th>
                                <th valign="top" align="right"
                                    class="txt-right nowrap padding-right-5"
                                    style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;">
                                    {#{% if childLine.getProduct().getPurchasable() %}#}
                                    {#{{ childLine.getQuantity() }}#}
                                    {#{% endif %}#}
                                </th>
                                <th valign="top" align="right"
                                    class="txt-right nowrap padding-right-5"
                                    style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-right: 5px;padding-top: 3px;padding-bottom: 3px;">
                                    <div class="s-hidden-mobile">
                                        {% if childLine.getProduct().getPurchasable() %}
                                            &euro; {{ orderline_manager_get_price_incl(childLine) | number_format }}
                                        {% endif %}</div>
                                </th>
                                <th valign="top" align="right"
                                    class="txt-right nowrap"
                                    style="font-size: 12px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;white-space: nowrap;text-align: right;padding-top: 3px;padding-bottom: 3px;">
                                    &euro;
                                    {{ orderline_manager_get_price_incl(childLine) | number_format }}
                                </th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </th>
        </tr>
    </table>
{% endmacro %}
