{% extends 'AppBundle::Emails/base.html.twig' %}

{% block subject %}
    {{ 'mailer.order_cancelled.subject'|trans({'%ordernr%': orderCollection.getNumber}) }}
{% endblock %}

{% block preheader %}
    {{ 'mailer.order_cancelled.preheader'|trans({'%brand%': brandName})|nl2br }}
{% endblock %}

{% block body %}

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">

                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">
                    {{ 'mailer.order_cancelled.header' | trans({'%s' : orderCollection.number}) }}
                </h1>

                <p>
                    {{ orderCollection.customer.salutation }},
                </p>

                <p>
                    {{ 'mailer.order_cancelled.body' | trans({'%s' : orderCollection.number}) }}
                </p>

{#                <p>#}
{#                    {{ 'mailer.order_cancelled.reason' | trans }}#}
{#                </p>#}

{#                <p>#}
{#                    {{ cancellation_message|nl2br }}#}
{#                </p>#}

                <p>
                    {{ 'app.kind_regards' | trans }},
                </p>

                <p>
                    {{ site.translate.description }}
                    <br>
                    {{ 'app.customer_department' | trans }}
                    <br>
                </p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>

{% endblock %}
