{% extends 'AppBundle::Emails/base.html.twig' %}

{% block subject %}
    {{ "mailer.registration.customer.subject"|trans({'%brand%': site.translate().getDescription() }) }}
{% endblock %}

{% block preheader %}
    {{ "mailer.registration.customer.preheader"|trans }}
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
        <tr>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="600" class="txt-left" align="left"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;text-align: left;">
                <h1 style="color: {{ primaryColor }};margin-top: 0;font-weight: bold;line-height: 100% !important;font-size: 24px;margin-bottom: 15px;">{{ "mailer.registration.customer.title"|trans }}</h1>
                <p>{{ "mailer.registration.customer.body"|trans({
                        '%salution%': customer_manager.getPersonalSalutation(customer),
                        '%url%': url('app_customer_account_index', []),
                        '%user%': customer.getUsername(),
                        '%user_url%': url('app_customer_account_index', { 'username': customer.getUsername() }),
                        '%brand%': site.translate().getDescription(),
                        '%brand_url%': site.getUrl()
                })|raw|nl2br }}</p>
            </th>
            <th width="0" class="mobile-spacer"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;display: none;">
                &nbsp;&nbsp;&nbsp;
            </th>
            <th width="*"
                style="font-size: 14px;font-family: Arial, sans-serif;line-height: 135%;font-weight: normal;"></th>
        </tr>
    </table>
{% endblock %}