{% extends 'AppBundle::Emails/base.html.twig' %}

{% block title %}
    Dit is een test e-mail
{% endblock %}

{% block preheader %}
    En dit is een mooie preheader
{% endblock %}

{% block body %}
    Hello world
{% endblock %}