{% extends 'AppBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/customer-register.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-settings.css') }}" />
{% endblock %}

{% set page_title = "account.settings.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}
    <h1>{{ page_title }}</h1>

    {{ form_start(form) }}

    <div>
        <h2>{{ "customer.register.personal_information"|trans }}</h2>
    </div>

    <div class="row row-gender">
        <div class="col-xs-12">
            {{ form_row(form.gender) }}
        </div>
    </div>

    <div class="row row-name">
        <div class="firstname col-md-6">
            {{ form_row(form.firstname) }}
        </div>
        <div class="lastname padding-left-0 col-md-6">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    {{ form_row(form.addresses[0].companyName) }}

    <div class="address-container">
        {{ form_label(form.country_choice) }}

        <div class="form-group">
            <div class="row row-country">
                <div class="col-xs-12">
                    <div class="country-choice">
                        {{ form_widget(form.country_choice) }}
                    </div>
                    <div class="country">
                        {{ form_widget(form.addresses[0].country_list) }}
                        {{ form_widget(form.addresses[0].country) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-postcode-and-city">
            <div class="col-xs-12">
                {{ form_row(form.postcode_and_city) }}
            </div>
        </div>

        <div class="row row-postcode-and-number">
            <div class="col-md-8">
                <div class="street padding-left-0 col-md-8">
                    {{ form_row(form.addresses[0].street) }}
                </div>
                <div class="postcode padding-left-0 col-md-4">
                    {{ form_row(form.addresses[0].postcode) }}
                </div>
                <div class="number padding-left-0 col-md-4">
                    {{ form_row(form.addresses[0].number) }}
                </div>
                <div class="number padding-left-0 col-md-4">
                    {{ form_row(form.addresses[0].numberAddition) }}
                </div>
            </div>

            <div class="col-xs-12 postcode-and-number-result">
                <label class="control-label">{{ 'label.address'|trans }}</label>
                <div class="line1"></div>
                <div class="line2"></div>
            </div>
        </div>

        <div class="row row-street-and-city">
            <div class="col-md-8">
                <div class="city padding-left-0 padding-right-0 col-md-8">
                    {{ form_row(form.addresses[0].city) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_row(form.phonenumber) }}

    <div class="row-birthday">
        {{ form_label(form.birthday) }}
        {{ form_widget(form.birthday) }}
    </div>



    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                {{ form_label(form.locale) }}

                <span class="form-select-wrapper">
                {{ form_widget(form.locale) }}
                </span>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}


    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
