{% set language = app.getRequest().getLocale()|slice(0, 2) %}
{% set site_description = site_service.determineSite().translate().getDescription()|capitalize %}
{% import 'AppBundle:macros:head_elements.html.twig' as head_elements %}
<!DOCTYPE html>
<html ⚡ lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <link rel="canonical" href="{{ canonical }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    {% block jsonld %}{% endblock %}
    <style amp-boilerplate>body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }
    </style>

    <noscript>
        <style amp-boilerplate>body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }</style>
    </noscript>

    {% if
        app.cookies.get('CookieConsent') is defined
        and app.cookies.get('CookieConsent') == 4
        and site_service.determineSite().getGoogleAnalyticsTrackingId()
    %}
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    {% endif %}

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <style amp-custom type="text/css">
        * {
            font-family: arial;
        }

        .container {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 10px;
        }

        .logo {
            margin-bottom: 15px;
        }

        .slogan {
            width: 150px;
            background-color: {{ site_color }};
            color: #FFFFFF;
            text-align: center;
            padding: 10px 0 11px 0;
            line-height: 14px;
            font-family: arial;
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 10px;
        }

        h1 {
            color: {{ site_color }};
            font-size: 32px;
            font-family: sans-serif, arial;
            font-weight: normal;
        }

        p {
            line-height: 21px;
            font-size: 14px;
        }

        p.product-price {
            font-style: italic;
            text-align: right;
            color: #AAAAAA;
        }

        p.text-center {
            text-align: center;
        }

        a.btn {
            background-color: {{ site_color }};
            color: #FFFFFF;
            text-decoration: none;
            width: 100%;
            height: 40px;
            line-height: 40px;
            display: block;
            text-align: center;
        }

        a {
            color: inherit;
        }

        .footer {
            background-color: #F0F0F0;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="slogan">{{ site_slogan }}</div>
    <amp-img class="logo" src="{{ asset(site_logo) }}" width="150px" height="44"></amp-img>

    {% if form is defined %}
        {% form_theme form 'AppBundle:base:form-fields.html.twig' %}
    {% endif %}

    {% block html_body %}
        {% block body %}{% endblock %}
    {% endblock %}

        <p class="footer">
            Voor vragen: <a href="tel:{{ site_service.determineSite().getFormattedPhoneNumber(0) }}" id="cta_call">{{ site_service.determineSite().getFormattedPhoneNumber(2) }}</a> of <a href="mailto:{{ site_service.determineSite().getEmail() }}" id="cta_mail">{{ site_service.determineSite().getEmail() }}</a>
        </p>
    </div>

    {% if
        app.cookies.get('CookieConsent') is defined
        and app.cookies.get('CookieConsent') == 4
        and site_service.determineSite().getGoogleAnalyticsTrackingId()
    %}
        <amp-analytics type="googleanalytics" id="analytics1">
            <script type="application/json">
                {
                    "vars": {
                        "account": "{{ site_service.determineSite().getGoogleAnalyticsTrackingId() }}"
                    },
                    "triggers": {
                        "trackPageview": {
                            "on": "visible",
                            "request": "pageview"
                        },
                        "trackClickOnButton" : {
                            "on": "click",
                            "selector": "#cta_button",
                            "request": "event",
                            "vars": {
                                "eventCategory": "link",
                                "eventAction": "Bekijk product",
                                "eventLabel": "{{ page_title }}"
                            }
                        },
                        "trackClickOnCallto" : {
                            "on": "click",
                            "selector": "#cta_call",
                            "request": "event",
                            "vars": {
                                "eventCategory": "link",
                                "eventAction": "Bel klantenservice"
                            }
                        },
                        "trackClickOnMailto" : {
                            "on": "click",
                            "selector": "#cta_mail",
                            "request": "event",
                            "vars": {
                                "eventCategory": "link",
                                "eventAction": "Mail klantenservice"
                            }
                        }
                    }
                }
            </script>
        </amp-analytics>
    {% endif %}

</body>
</html>
