{% autoescape %}
<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for sitemap in sitemaps %}
        <sitemap>
            <loc>{{ sitemap.url }}</loc>
        </sitemap>
    {% endfor %}
</sitemapindex>
{% endautoescape %}