{% import _self as connector_mail %}

{% set hasForwardPricesToShow = supplier_order_manager_hasForwardPricesToShow(supplierOrder) %}
{# @var supplierOrder \AppBundle\Entity\Supplier\SupplierOrder #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 13px;
            margin: 1rem;
        }

        select, input {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        th, td {
            line-height: 1.4;
        }

        th {
            text-align: left;
            margin-right: 30px;
        }

        td {
            border-top: 1px solid #CCCCCC;
            margin-right: 30px;
        }

        .disableSelection {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: 0;
        }

        .buttons {
            margin-top: 1em;
        }

        .buttons th:first-child {
            margin-right: 50px;
            display: block;
        }

        .btn {
            border-radius: 3px;
            color: #000000;
            border: 1px solid #000000;
            text-decoration: none;
            padding: 15px;
        }

        .btn-processed {
            color: #a94442;
            background: #f2dede;
            border: 1px solid #a94442;
        }

        .btn-delivered {
            color: #3c763d;
            background: #dff0d8;
            border: 1px solid #3c763d;
        }

        .disclaimer {
            color: #CCCCCC;
            font-style: italic;
        }
    </style>
</head>

<body style="margin: 1rem">
{% block mail %}

    {% block salutation %}
        {% if status == "pending" %}
            <p>Beste leverancier, van bestelling {{ supplierOrder.order.orderCollection.number }}-{{ supplierOrder.order.number }}, heeft u nog niet
                laten
                weten dat u deze heeft verwerkt.</p>
        {% elseif status == "processed" %}
            <p>Beste leverancier, van bestelling {{ supplierOrder.order.orderCollection.number }}-{{ supplierOrder.order.number }}, heeft u nog niet
                laten
                weten dat u deze heeft bezorgd.</p>
        {% else %}
            <p>Hierbij verzoeken we u de volgende opdracht uit te voeren:</p>
        {% endif %}
    {% endblock salutation %}

    {% block supplier_order %}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th>Product</th>
                {% if showSku %}
                <th>Artikelnr.</th>
                {% endif %}
                <th style="text-align: center;">Aantal</th>
                {% if hasForwardPricesToShow %}
                    <th style="text-align: center;">Prijs</th>
                {% endif %}
                <th style="text-align: center; margin-right: 0;">Check</th>
            </tr>

            {% for rootLine in supplierOrder.rootLines %}
                {% if rootLine.orderLine.product.purchasable %}
                    {{ connector_mail.renderLine(rootLine, supplierOrder, showSku, showPrices) }}

                    {% for childLine in supplierOrder.childLines(rootLine) %}
                        {{ connector_mail.renderLine(childLine, supplierOrder, showSku, showPrices) }}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% for rootLine in supplierOrder.rootLines %}
                {% if not rootLine.orderLine.product.purchasable %}
                    {{ connector_mail.renderLine(rootLine, supplierOrder, showSku, showPrices) }}

                    {% for childLine in supplierOrder.childLines(rootLine) %}
                        {{ connector_mail.renderLine(childLine, supplierOrder, showSku, showPrices) }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    {% endblock supplier_order %}

    {% block attachments %}
        {% if (assets.designs is defined and assets.designs[0] is defined) or assets.packingslip is defined %}
            <p>
                <b>Bijlagen:</b><br />

                {% if assets.designs is defined and assets.designs[0] is defined %}
                    Download hier het ontwerp:<br />
                    {% for asset in assets.designs %}
                        - <a style="color: red" href="{{ asset }}" target="_blank">{{ asset }}</a><br />
                    {% endfor %}
                {% endif %}

                {% if assets.packingslip is defined %}
                    <br />Download hier de pakbon:<br />
                    - <a style="color: red" href="{{ assets.packingslip }}" target="_blank">{{ assets.packingslip }}</a>
                    <br />
                {% endif %}
            </p>
        {% endif %}
    {% endblock attachments %}

    {% block address %}
        {% if supplierOrder.order.getPickupAddress() %}
            <p>
                <b>Wordt opgehaald door:</b><br />
                {% if supplierOrder.order.getOrder().getInvoiceAddressCompanyName() %}{{ supplierOrder.order.getOrder().getInvoiceAddressCompanyName() }}
                    <br />{% endif %}
                {{ supplierOrder.order.getOrder().getInvoiceAddressAttn() }}
            </p>
        {% else %}
            <p>
                <b>Afleveradres:</b><br />
                {% if supplierOrder.order.deliveryAddressCompanyName %}{{ supplierOrder.order.deliveryAddressCompanyName }}{% if supplierOrder.order.orderCollection.company and supplierOrder.order.orderCollection.company.twinfieldRelationNumber %} ({{ supplierOrder.order.orderCollection.company.twinfieldRelationNumber }}){% endif %} / {% endif %}
                {{ supplierOrder.order.deliveryAddressAttn }}<br />
                {{ supplierOrder.order.deliveryAddressStreet }} {{ supplierOrder.order.deliveryAddressNumber }}<br />
                {{ supplierOrder.order.deliveryAddressPostcode }} {{ supplierOrder.order.deliveryAddressCity }}<br />
                {{ supplierOrder.order.deliveryAddressCountry }}<br />
            </p>
        {% endif %}
    {% endblock address %}

    {% block remark %}
        {% if supplierOrder.order.deliveryRemark %}
            <p>
                <b>Opmerking voor bezorger:</b> <br />
                {{ supplierOrder.order.deliveryRemark|nl2br }}
            </p>
        {%- endif %}

        {% if supplierOrder.order.supplierRemark %}
            <p>
                <b>Opmerking voor leverancier:</b> <br />
                {{ supplierOrder.order.supplierRemark|nl2br }}
            </p>
        {% endif %}
    {% endblock remark %}

    {% block delivery_date %}
        {%- if supplierOrder.order.deliveryDate %}
            <p>
                <b>Gewenste bezorgdatum:</b> {{ supplierOrder.order.deliveryDate|localizeddate('full', 'none', 'nl_NL') }}
            </p>
        {% endif -%}
    {% endblock delivery_date %}

    {% block reference %}
        <p>
            <b>Onze referentie:</b> {{ supplierOrder.order.orderCollection.number }}-{{ supplierOrder.order.number }}
        </p>
    {% endblock reference %}

    {% block order_status %}
        {% if status == "pending" or status == "processed" %}
            <p>
                Graag willen wij de status van de bestelling van u ontvangen
            </p>
        {% endif %}
        <table class="buttons">
            <thead>
            {% if status != 'processed' %}
                <th>
                    <a href="{{ hash.processed }}" class="btn btn-processed">
                        Opdracht ontvangen
                    </a>
                </th>
            {% endif %}
            <th>
                <a href="{{ hash.delivered }}" class="btn btn-delivered">
                    Opdracht afgeleverd
                </a>
            </th>
            </thead>
        </table>
    {% endblock order_status %}

    {% block footer %}
        <p style="margin-top: 25px;">
            Met vriendelijke groet,<br />
            Klantenservice {{ fromDescription }}
        </p>
        <p style="margin-top: 25px;">
            <strong>Factuuradres:</strong><br>
            Topgeschenken Nederland BV<br>
            Noorderdreef 60<br>
            2153 LL Nieuw-Vennep<br><br>

            {% if fromPhone is not null %}
                Tel: {{ fromPhone | phone_number_format }}<br>
            {% endif %}

            {% if fromEmail is not null %}
                Mail: {{ fromEmail }}<br>
            {% endif %}
        </p>
        <p class="disclaimer">Dit is een automatisch gegenereerd bericht. Antwoorden op dit bericht worden niet
            gelezen.</p>
    {% endblock footer %}

{% endblock %}
</body>
</html>

{% macro renderLine(line, supplierOrder, showSku, showPrices) %}
    {% set hasForwardPricesToShow = supplier_order_manager_hasForwardPricesToShow(supplierOrder) %}
    {# @var line \AppBundle\Entity\Supplier\SupplierOrderLine #}

    <tr>
        <td>
            {{ (line.orderLine.parent) ? '- ' : '' }}
            {{ line.concludedSupplierProduct.translate.title }}
        </td>
        {% if showSku %}
        <td>
            {{ line.concludedSupplierProduct.sku }}
        </td>
        {% endif %}
        <td style="text-align: center;">{{ line.quantity }}</td>
        {% if hasForwardPricesToShow and showPrices %}
            <td style="text-align: center;">
                {% if line.price > 0 %}
                    &euro; {{ line.price|number_format }}
                {% else %}
                    n.v.t.
                {% endif %}
            </td>
        {% endif %}
        <td style="text-align: center; margin-right: 0;">
            <span style="font-size: 28px; line-height: 0.9;">&#9744;</span>
        </td>
    </tr>

    {% if line.orderLine.cardText is not null %}
        <tr>
            <td colspan="{{ hasForwardPricesToShow and showPrices ? 3 : 2 }}" class="card-text">
                &nbsp;&nbsp;<span class="disableSelection">Kaart tekst:&nbsp;&nbsp;</span>{{ line.orderLine.cardText|nl2br }}
            </td>
            <td style="text-align: center; margin-right: 0;">
                <span style="font-size: 28px; line-height: 0.9;">&#9744;</span>
            </td>
        </tr>
    {% endif %}

    {# doesn't seems to work #}
    {#{% if line.attachRef is not null %}#}
        {#<tr>#}
            {#<td colspan="{{ hasForwardPricesToShow and showPrices ? 3 : 2 }}">&nbsp;&nbsp;<i><span#}
                            {#class="disableSelection">Zie bijlage:&nbsp;&nbsp;</span>{{ line.attachRef }}</i></td>#}
            {#<td style="text-align: center; margin-right: 0;">#}
                {#<span style="font-size: 28px; line-height: 0.9;">&#9744;</span>#}
            {#</td>#}
        {#</tr>#}
    {#{% endif %}#}
{% endmacro renderLine %}

