{% extends '@Admin/Base/assets_head.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@AdminBundle/Resources/public/css/stock-manager.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}