{% extends 'AppBundle::base_shop.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/checkout-additional-product.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/checkout-additional-product.css') }}" />
{% endblock %}

{% set page_title = 'checkout.additional_product.page_title'|trans|format(
    orderLine.product.translate.title
    ) %}

{% block body %}
    {% set maxAdditionalProducts = 3 %}

    <div class="container-fluid additional-products page-wrapper" id="content-shoppingcart">
        <noscript>
            <div class="alert alert-danger" role="alert">
                {{ "javascript.disabled"|trans }}
            </div>
        </noscript>

        <div class="container">
            {% include '@App/blocks/shop-steps.html.twig' %}

            <div class="row row-additional-products">
                <h3>{{ 'checkout.additional_product.heading'|trans }}</h3>

                <div class="row-additional-products-wrapper">
                    {{ include('@App/blocks/Checkout/additionalProductOverview.html.twig', {
                        order: orderLine.cartOrder,
                        orderLine: orderLine,
                        products: products
                    }) }}
                </div>

                {% if products|length > products.getItemNumberPerPage() %}
                <a href="#" id="additional_products_load_trigger"
                   class="btn btn-theme-inverse btn-default">
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> {{ 'checkout.additional_product.load_more'|trans }}
                </a>
                {% endif %}
            </div>

            <div class="row row-actions">
                {% include '@App/Checkout/components/delivery/buttons.html.twig' with {
                    hideContinueShopping: true,
                    proceedButton: {
                        label: 'checkout.additional_products.proceed_to_delivery'|trans,
                        path: forwardUrl
                    },
                    hideButtons: (orderLine.hasProductAdditionalProducts)
                } %}
            </div>

        </div>
    </div>
{% endblock body %}
