{% if deliveryMethods is not empty %}
    <ul>
        {% for key, label in deliveryMethods %}
            <li>
                <input type="radio" name="deliveryMethod" value="{{ key }}"
                       id="delivery_method_{{ key }}"{% if deliveryMethod is not empty and deliveryMethod is same as(key) %} checked="checked"{% endif %}>

                <label for="delivery_method_{{ key }}">
                    {{ label|trans }}
                </label>
            </li>
        {% endfor %}
    </ul>
{% endif %}