{% extends 'AppBundle::base_shop.html.twig' %}

{% import 'AppBundle:macros:robin.html.twig' as robin %}

{% set page_title = 'page.delivery_information'|trans %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/checkout-delivery.css') }}" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ visual_google_api_key }}"></script>

    <script type="text/javascript" src="{{ asset('build/checkout-delivery.js') }}"></script>
    {% if defaultAddress is defined and defaultAddress != false %}
        <script>const deliveryAddress = '{{ defaultAddress | raw }}';</script>
    {% endif %}
{% endblock %}

{% block body %}
    {% set pickupActive = cartOrder.getPickupAddress() is not empty %}
    {% set maxAdditionalProducts = 3 %}

    <div class="container-fluid page-wrapper" id="content-shoppingcart">
        {% include('AppBundle:blocks:messages.html.twig') %}

        <div class="container">
            {% include '@App/blocks/shop-steps.html.twig' with {step: 2} %}
        </div>

        {{ form_start(form, {
            attr: {
                'data-cart-url': path('app_checkout_orderupdate', {
                    id: form.vars.value.id
                })|raw,
                'data-cart-update-url': path('app_checkout_orderlineupdate', {
                    cartOrder: form.vars.value.id, cartOrderLine: 'line_id'
                })|raw
            }
        }) }}

        {% if errors is defined %}
            {% for error in errors %}
                <!--{{ error.origin.name }} - {{ error.message }}-->
            {% endfor %}
        {% endif %}
        <noscript>
            <div class="alert alert-danger" role="alert">
                {{ "javascript.disabled"|trans }}
            </div>
        </noscript>

        <div class="container">

            {% for currentOrderLine in orderLines %}
                {% include '@App/Checkout/components/delivery/product-overview.html.twig' with { currentOrderLine: currentOrderLine, max: maxAdditionalProducts } %}
            {% endfor %}

            <div class="row row-delivery-details">
                <div class="delivery-details-container">
                    <div class="wrapper">
                        <a href="#" data-url="{{ path('app_checkout_addressbook') }}" data-action="addressBook"
                           class="btn btn-theme-secondary btn-icon-left address-book"><i class="fa fa-address-book-o"
                                                                                         aria-hidden="true"></i> {{ 'cart.order_address.label' | trans }}
                        </a>
                        <div class="delivery-methods"
                             data-delivery-method-url="{{ path('app_checkout_deliverymethod', {cartOrder: cartOrder.uuid}) }}">
                            <h3>{{ 'checkout.delivery.delivery_address'|trans }}</h3>

                            <div class="delivery-method-list"{% if app.getRequest().request.has('deliveryMethod') %} data-method="{{ app.getRequest().request.get('deliveryMethod') }}"{% endif %}>

                            </div>
                        </div>

                        <div class="adres" style="display: none;">
                            <h3>{{ 'checkout.delivery.delivery_address'|trans }}</h3>

                            <div class="form">
                                <div class="address-container">
                                    <div class="row">
                                        <div class="form-row country col-md-6">
                                            {{ form_row(form.deliveryAddressCountry) }}
                                        </div>
                                        <div class="form-row col-md-6">
                                            {{ form_row(form.deliveryAddressType) }}
                                        </div>
                                    </div>

                                    <div class="show-input"{% if app.request.get('cart_order') is not empty and app.request.get('cart_order').deliveryAddressType is not empty %} style="display: block;"{% endif %}>
                                        <div class="row">
                                            <div class="form-row company col-md-6">
                                                {{ form_row(form.deliveryAddressCompanyName) }}
                                            </div>
                                            <div class="form-row attn col-md-12">
                                                {{ form_row(form.deliveryAddressAttn) }}
                                            </div>
                                        </div>

                                        {% if deliveryAddressTypes is not empty %}
                                            {% for deliveryAddressType in deliveryAddressTypes %}
                                                <div class="delivery-address-type-fields"
                                                     id="delivery_address_type_fields_{{ deliveryAddressType.getId() }}">
                                                    {% for field in deliveryAddressType.getFields() %}
                                                        {% set field_key = 'delivery_address_type_field_' ~ field.getId() %}
                                                        <div class="form-row ">
                                                            <div class="form-group{% if field_key in deliveryAddressTypeErrors %} has-error{% endif %}">
                                                                <input type="text"
                                                                       id="cart_order_deliveryAddressMeta_{{ field.getId() }}"
                                                                       name="deliveryAddressTypeMetadata[{{ field.getId() }}]"
                                                                       class="form-control input-xs"
                                                                       value="{% if attribute(deliveryAddressValues, field.id) is defined %}{{ attribute(deliveryAddressValues, field.id).value }}{% endif %}"
                                                                />
                                                                {% set placeholder = field.translate.getLabel() %}

                                                                {% if field.getRequired() is same as(true) %}
                                                                    {% set placeholder = placeholder ~ '*' %}
                                                                {% endif %}

                                                                <label placeholder="{{ placeholder }}"
                                                                       alt="{{ placeholder }}"></label>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="row">
                                            <div class="form-row row-postcode-and-number">
                                                <div class="postcode col-xs-3">
                                                    {{ form_row(form.deliveryAddressPostcode) }}
                                                </div>
                                                <div class="number col-xs-3">
                                                    {{ form_row(form.deliveryAddressNumber) }}
                                                </div>
                                                <div class="number-addition col-xs-3">
                                                    {{ form_row(form.deliveryAddressNumberAddition) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-row row-street-and-city">
                                                <div class="street col-md-6">
                                                    {{ form_row(form.deliveryAddressStreet) }}
                                                </div>
                                                <div class="city col-md-6">
                                                    {{ form_row(form.deliveryAddressCity) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-row phone col-md-6"{% if form.deliveryAddressPhoneNumber.vars.value is not empty or pickupActive is same as(true) or (form.deliveryAddressCity.vars.value is not empty and form.deliveryAddressStreet.vars.value is not empty) %} style="display: block;"{% endif %}>
                                                {{ form_row(form.deliveryAddressPhoneNumber) }}
                                            </div>

                                            <div class="form-row comment col-md-6"{% if form.deliveryRemark.vars.value is not empty or pickupActive is same as(true) or (form.deliveryAddressCity.vars.value is not empty and form.deliveryAddressStreet.vars.value is not empty) %} style="display: block;"{% endif %}>
                                                {{ form_row(form.deliveryRemark) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pickup" style="display: none;"
                             data-nearby-pickup-locations-url="{{ path('app_pickuplocations_nearpickuplocations', {cartOrder: cartOrder.uuid}) }}"
                             data-prefill-locations-url="{{ path('app_pickuplocations_prefilllocations', {cartOrder: cartOrder.uuid}) }}"
                             data-pickup-location-opening-hours-url="{{ path('app_pickuplocations_openeninghoursforpickuplocation', {cartOrder: cartOrder.uuid}) }}">
                            <h3>{{ 'checkout.delivery.pickup_title'|trans }}</h3>

                            <div class="form">
                                <div class="pickup-container">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12">
                                            <div id="map" style="width: 100%; min-height: 16em;"></div>
                                        </div>

                                        <div class="col-md-5 col-sm-12 pickup-location-list-container-wrapper">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="cart_order_pickup_search" class="form-control" placeholder="{{ 'checkout.pickup.search'|trans }}">
                                                    <span class="input-group-btn">
                                                        <button id="cart_order_submit_search" class="btn btn-theme" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </span>
                                                </div><!-- /input-group -->
                                            </div>

                                            <div class="scrollbar-inner">
                                                <div class="pickup-location-list">
                                                    <div class="tabs">
                                                        <nav>
                                                            <ul id="pickup-location-list">

                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="delivery-date-container" data-delivery-date-url="{{ path('app_checkout_deliverydate') }}">
                    {% if domain.getDomain().getSite().getDeliveryDateMethod() is not null %}
                        <div class="delivery-date-container-wrapper">
                            <div class="title"><h3>{{ 'checkout.delivery.delivery_date'|trans }}</h3></div>
                            <p class="bezorg-bericht">{{ 'checkout.delivery.enter_delivery_address'|trans }}</p>

                            <div class="delivery-date-row{% if form.deliveryDate.vars.value is not empty %} filled{% endif %}">
                                {{ form_widget(form.deliveryDate) }}
                            </div>
                        </div>
                    {% else %}
                        <div id="delivery_method_none_description">
                            <p>{{ 'checkout.delivery.choose_a_delivery_method'|trans }}</p>
                        </div>

                        {% if app.user is not null and app.user.getCompany() is not null %}
                            <div class="delivery-pickup-method-description"
                                 id="delivery_method_delivery_description">
                                <div class="title">
                                    <h3>{{ 'checkout.delivery.delivery_title'|trans }}</h3>
                                </div>

                                <p>{{ domain.getDomain().getSite().getDeliveryDateMethodDescription()|nl2br }}</p>

                                {% set deliveryAddress = app.user.getCompany().getDefaultDeliveryAddress() %}

                                {% if deliveryAddress %}
                                    <p>
                                        <strong>{{ 'order.delivered_on.label'|trans }}</strong><br />

                                        {% if deliveryAddress.getCompany() %}
                                            {{ deliveryAddress.getCompany().getName() }}<br />
                                        {% endif %}
                                        {{ deliveryAddress.format('<br />')|raw }}
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="delivery-pickup-method-description" id="delivery_method_pickup_description">
                        <div>
                            <div class="title">
                                <h3>{{ 'checkout.pickup.moment'|trans }}</h3>
                            </div>

                            <div class="delivery-pickup-method-error">
                            </div>

                            <div class="pickup-days" id="pickup-days">

                            </div>

                            <p class="bezorg-bericht">{{  'label.first_choose_delivery_pickup' |trans }}</p>

                            <div class="label-timeslots" style="display: none;"><p>{{ 'label.timeslots.heading'|trans }}</p></div>

                            <div class="row pickup-timeslots" id="pickup-timeslots">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                {% include '@App/Checkout/components/delivery/buttons.html.twig' %}
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="address-fix" data-address-fix-url="{{ path('app_checkout_checkaddress') }}"
                 style="display:none;">
                <div class="title">
                    <h3>{{ 'adddress.note.not_recognized'|trans }}</h3>
                    <span class="address-show-available-options-text">{{ 'address.choose_suggestion'|trans }}</span>
                </div>
                <div class="addresses"></div>
            </div>
        </div>

        {{ form_widget(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}
    </div>

    {{ robin.cart(cart) }}
{% endblock body %}
