<div class="product-lines additional-product-list">
    {% set lines = orderLine.getProductAdditionalProducts() | merge(orderLine.upsellLines) %}
    {% if lines|length > 0 %}
        {% if max is not same as(false) %}
            {% set lines = lines|slice(0, max) %}
        {% endif %}

        {% include '@App/Checkout/components/delivery/product-lines.html.twig' with {
            lines: lines
        } %}

        {% if max and lines|length > max %}
            <div class="additional-products-show-all">
                {{ 'checkout.delivery.addition_products_quantity_description'|trans|format(
                    lines|length
                ) }}

                <a href="#" id="additional_product_show_all">
                    {{ 'checkout.delivery.addition_products_show_all'|trans }}
                </a>
            </div>
        {% endif %}
    {% else %}
        <div class="product-line product-line-card product-line-placeholder">
            <div class="text">
                {{ 'checkout.delivery.no_additional_product_text.html'|trans }}
            </div>
        </div>
    {% endif %}
</div>