{% form_theme form 'AppBundle:base:form-fields.html.twig' %}

{% set hasInvoice = (form.site_checkout_payment.children.invoice is defined ? true : false) %}

<div id="payment_methods">
    {% for payment_element in form.site_checkout_payment.children %}
        {% set paymentMethodActive = (paymentMethod is not empty and (paymentMethod == payment_element.vars.name)) %}

        <div class="payment-tab{% if paymentMethodActive %} active{% endif %}"{% if attribute(payment_element.vars.attr, 'data-payment-costs-name') is defined %} data-payment-costs-name="{{ attribute(payment_element.vars.attr, 'data-payment-costs-name') }}"{% endif %}{% if attribute(payment_element.vars.attr, 'data-payment-costs-amount') is defined %} data-payment-costs-amount="{{ attribute(payment_element.vars.attr, 'data-payment-costs-amount') }}"{% endif %}>
            <div class="payment-row{% if attribute(payment_element.vars.attr, 'data-has-description') is defined %} has-description{% endif %}">
                <div class="radio-left">
                    <input type="radio" name="cart[paymentMethod]" id="method-{{ loop.index }}"
                           value="{{ payment_element.vars.name }}"{% if paymentMethodActive %} checked="checked"{% endif %}>
                    <label for="method-{{ loop.index }}">{{ payment_element.vars.label|raw }}</label>
                </div>

                <div class="payment-icons">
                    <img src="{{ asset('build/images/' ~ payment_element.vars.name ~'.png') }}"
                         style="height: 25px;">
                </div>
            </div>

            {% if payment_element is not empty and payment_element.children is not empty %}
                <div class="payment-dropdown{% if paymentMethodActive %} drop-active{% endif %}">
                    <div class="form-row">
                        {% include ['AppBundle:method:' ~ payment_element.vars.name ~ '.html.twig', 'AppBundle:method:default.html.twig'] %}
                    </div>
                </div>
            {% else %}
                {{ form_widget(payment_element) }}
            {% endif %}
        </div>
    {% endfor %}

    {% if not showCreditLimitWarning|default(false) and not hideInvoice|default(false) and hasInvoice == false and cart is defined and cart.cart is defined and cart.cart.paymentAmount > 0 %}

        {% set description = '<a class="set-create-account" style="font-size: inherit;">' ~ 'label.payment.invoice.create_account'|trans ~ '</a> ' ~ 'or'|trans ~ '<br/><a class="set-already-account" style="font-size: inherit;">' ~ 'label.payment.invoice.already_account'|trans|lower ~ '</a>' %}

        <div class="payment-tab payment-tab-disabled">
            <div class="payment-row">

                {% set invoicePopup = '<div class="payment-info-popup">' ~ 'label.payment.invoice.popover'|trans ~ '</div>' %}

                <div class="radio-left">
                    <input type="radio" value="">
                    <label>
                        {{ "label.payment.invoice"|trans }} <a href="#" data-toggle="popover" data-placement="top"
                                                                  data-html="true"
                                                                  data-content="{{ invoicePopup | escape }}"><i
                                    class="fa fa-info-circle" aria-hidden="true"></i></a><br />

                        <span class="description">{{ description|raw }}</span>
                    </label>
                </div>
                <div class="payment-icons">
                    <img src="{{ asset('build/images/invoice.png') }}" style="height: 25px;">
                </div>
            </div>

            <div id="cart_site_checkout_payment_invoice">
            </div>
        </div>
    {% elseif showCreditLimitWarning %}
        <div class="payment-tab payment-tab-disabled">
            <div class="payment-row">
                <div class="radio-left">
                    <label style="margin-bottom: 0;">
                        {{ "label.payment.invoice"|trans }}<br />
                        <span class="description">{{ 'label.payment.invoice.credit_limit_insufficient'|trans({
                                '%phone_number%': domain.getDomain().getSite().getFormattedPhoneNumber(2)
                            })|raw|nl2br }}</span>
                    </label>
                </div>
                <div class="payment-icons">
                    <img src="{{ asset('build/images/invoice.png') }}" style="height: 25px;">
                </div>
            </div>

            <div id="cart_site_checkout_payment_invoice">
            </div>
        </div>
    {% endif %}

</div>
