<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Product designer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/designer.css') }}" />
    {% endblock stylesheets %}
</head>

<body>
{% if screenshotModus is defined and screenshotModus is same as (true) %}
    {% set theme_img_base_path = 'build/images/' %}
    <img id="screenshot" src="{{ asset('build/images/topgeschenken-placeholder.029b88a2.png') }}" width="{{ width }}"
         height="{{ height }}" />
{% endif %}

<div id="product-designer">DESIGNER LOADING...</div>

{% block javascripts %}
    <script type="text/javascript">
        var designer_data = {{ designer.getConfig()|json_encode()|raw }};
    </script>
    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/designer.js') }}"></script>
{% endblock javascripts %}
</body>

</html>