{% extends 'AppBundle::base_shop.html.twig' %}

{% import 'AppBundle:macros:robin.html.twig' as robin %}

{% set page_title = 'page.delivery_information'|trans %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/checkout-cart.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/checkout-sender.css') }}" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/checkout-cart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/checkout-sender.js') }}"></script>

    {% if continueWithAddress is defined and continueWithAddress == true %}
        <script>const sessionAddress = '{{ path('app_checkout_addressbook') }}';</script>
    {% endif %}
{% endblock %}

{% block body %}
    {% import _self as cart_elements %}

    <div class="container-fluid page-wrapper" id="content-shoppingcart">
        {% include('AppBundle:blocks:messages.html.twig') %}

        <div class="container">
            {% include '@App/blocks/shop-steps.html.twig' with {step: 3} %}

            <div class="row">
                {{ form_start(form) }}

                <div class="col-lg-12 col-md-12 col-xs-12" id="order-register-or-login">
                    <div class="row">

                        <div class="col-lg-8 col-xl-8 col-md-12 col-xs-12">
                            {% if invalidVoucher is defined and invalidVoucher is same as(true) %}
                                <div class="invalid-voucher alert alert-danger">{{ 'cart.voucher_code.invalid'|trans({}, 'validators') }}</div>
                            {% endif %}

                            {{ render(controller('AppBundle:Cart:index')) }}

                            <div id="user-data">
                                {% if attribute(form, 'customer') is defined %}
                                    <div class="row user-data-top">
                                        <div class="col-md-8">
                                            <h3 class="title">{{ 'customer.data'|trans }}</h3>

                                            {% if not site.disableCustomerRegistration %}
                                                {% if form.customerStatus is defined %}
                                                    <div class="form-group">
                                                        <label class="col-form-label col-xs-3">Ik ben</label>
                                                        <div class="select-type-user col-xs-9">
                                                            {{ form_widget(form.customerStatus) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                            <div class="form-group">
                                                <label class="col-form-label col-xs-3">{{ 'label.email' | trans }}</label>

                                                <div class="col-xs-9">
                                                    {{ form_widget(form.customer.email) }}
                                                </div>
                                            </div>

                                            <div class="form-group" id="customer_type">
                                                <label class="col-form-label col-xs-3">{{ 'label.sender_type'|trans }}</label>

                                                <div class="col-xs-9">
                                                    {{ form_row(form.customerType) }}
                                                </div>
                                            </div>

                                            <div class="address-container" id="customer_country_container"
                                                 data-address-container="customer_address_container">
                                                <div class="form-group row-country">
                                                    <label class="col-form-label col-xs-3"
                                                           data-label-customer="{{ 'label.customer_country'|trans }}"
                                                           data-label-company="{{ 'label.customer_company_country'|trans }}">
                                                        {{ 'label.customer_country' | trans }}
                                                    </label>

                                                    <div class="col-xs-9 row-country-inputs">
                                                        <div class="country-choice">
                                                            {{ form_widget(form.customer.country_choice) }}
                                                        </div>
                                                        <div class="country">
                                                            <div class="form-select-wrapper">
                                                                {{ form_widget(form.customer.default_invoice_address.country_list) }}
                                                            </div>

                                                            {{ form_widget(form.customer.default_invoice_address.country) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4">
                                            {% if app.getUser() is null or (app.getUser() and (app.getUser().getCompany() is empty or app.getUser().getCompany().getVerified() is same as(false))) %}
                                                <div class="company-account-information hide-form">
                                                    <h3 class="title">{{ 'label.company.account_registration.title'|trans }}</h3>

                                                    <span class="company-account-description">
                                                    {{ 'label.company.account_registration.description'| trans | raw }}
                                                </span>

                                                    <div class="row-company-account-registration">
                                                        {{ form_row(form.companyAccountRegistration) }}
                                                    </div>

                                                    <div class="row-company-account-registration-identification">
                                                        <div class="row-company-account-registration-coc">
                                                            {{ form_row(form.chamberOfCommerce) }}
                                                        </div>

                                                        <div class="row-company-account-registration-vat">
                                                            {{ form_row(form.vatNumber) }}
                                                        </div>

                                                        <div class="button-row">
                                                            <button id="cart_company_registration_submit"
                                                                    name="cart_company_registration[submit]"
                                                                    class="btn btn-theme btn">{{ 'account.register.submit'|trans }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>

                                    <div class="row-data-bottom">
                                        <div class="form"
                                             id="form_new_client"{% if app.getUser() %} data-user="true"{% endif %}{% if app.getUser() and app.getUser().getCompany() and app.getUser().getCompany().getVerified %} data-company="true"{% endif %}>


                                            <div class="form-client-data{% if app.getUser() is null %} hide-form{% endif %}">
                                                <div class="form-row row-name">
                                                    <div class="gender col-md-4 col-xl-3">
                                                        {{ form_row(form.customer.gender) }}
                                                    </div>
                                                    <div class="name col-md-8 col-xl-9">
                                                        <div class="firstname col-md-6">
                                                            {{ form_row(form.customer.firstname) }}
                                                        </div>
                                                        <div class="lastname col-md-6">
                                                            {{ form_row(form.customer.lastname) }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row row-company">
                                                    {{ form_row(form.customer.default_invoice_address.companyName) }}
                                                </div>

                                                <div class="address-container" id="customer_address_container"
                                                     data-country-container="customer_country_container">

                                                    <div class="form-row row-postcode-and-city">
                                                        <div class="col-xs-12">
                                                            {{ form_row(form.customer.postcode_and_city) }}
                                                        </div>
                                                    </div>

                                                    <div class="form-row row-postcode-and-number">
                                                        <div class="postcode col-md-6">
                                                            {{ form_row(form.customer.default_invoice_address.postcode) }}
                                                        </div>
                                                        <div class="number col-xs-3">
                                                            {{ form_row(form.customer.default_invoice_address.number) }}
                                                        </div>
                                                        <div class="number-addition col-xs-3">
                                                            {{ form_row(form.customer.default_invoice_address.numberAddition) }}
                                                        </div>
                                                    </div>

                                                    <div class="form-row row-street-and-city">
                                                        <div class="street col-md-6">
                                                            {{ form_row(form.customer.default_invoice_address.street) }}
                                                        </div>
                                                        <div class="city col-md-6">
                                                            {{ form_row(form.customer.default_invoice_address.city) }}
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="form-row">
                                                <div class="form-group">
                                                    {{ form_widget(form.customer.phonenumber) }}
                                                    <label alt="{{ 'label.phonenumber' | trans }}*" placeholder="{{ 'label.phonenumber' | trans }}*"></label>
                                                </div>
                                            </div>

                                                {% if form.extra_fields is defined %}
                                                    <div class="form-row">
                                                        {{ form_row(form.extra_fields) }}
                                                    </div>
                                                {% endif %}

                                                {% if not site.disableCustomerRegistration %}
                                                    {% if app.getUser() is null %}
                                                        <div class="form-row row-customer-registration hide-form">
                                                            <p class="customer-account-title">{{ 'label.customer.account_registration.title'|trans }}</p>

                                                            <div class="form-group">
                                                                {{ form_widget(form.customer.plain_password) }}

                                                                <label alt="{{ 'label.password'|trans }}"
                                                                       placeholder="{{ 'label.password'|trans }}"></label>

                                                                <small id="passwordHelpBlock"
                                                                       class="form-text text-muted">
                                                                    <span class="fa fa-info-circle"></span> {{ 'customer.account_registration.password_description'|trans }}
                                                                </small>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if not site.disableCustomerRegistration %}
                                            <div class="form" id="form-client">
                                                <div class="form-row">
                                                    {{ form_row(form.login.username) }}
                                                </div>
                                                <div class="form-row">
                                                    {{ form_row(form.login.plain_password) }}
                                                </div>
                                                <div class="form-row">
                                                    {{ form_row(form.login.submit) }}
                                                    {{ form_row(form.login.login_form_active) }}
                                                </div>
                                                <div class="form-row">
                                                    <a href="{{ path('app_customer_resetting_request', {
                                                        return_url: path('app_checkout_sender')
                                                    }) }}">{{ 'recover_password'|trans }}</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {% set customer = cart.cart.customer %}

                                    <div class="customer-address-information">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h3>{{ 'account.addressbook.main.title'|trans }}</h3>
                                                {% set address = customer.getMainAddress() %}

                                                {% if address.getCompanyName() is not empty %}
                                                    {{ address.getCompanyName() }}<br />
                                                {% endif %}

                                                {% if address.getAttn() %}
                                                    {{ address.getAttn() }}<br />
                                                {% else %}
                                                    {{ customer.getFullname() }}<br />
                                                {% endif %}

                                                {% if address.getStreet() is not empty %}
                                                    {{ address.getStreet() }} {{ address.getNumber() }}<br />
                                                {% endif %}

                                                {% if address.getPostcode() is not empty %}
                                                    {{ address.getPostcode() }} {{ address.getCity() }}
                                                {% endif %}
                                                {% if address.getCountry().getCode() is not empty %}
                                                    <br>{{ address.getCountry().getCode()|country }}
                                                {% endif %}
                                                {% if address.phoneNumber %}
                                                    <br>{{ address.phoneNumber }}
                                                {% endif %}
                                                {% if address.email %}
                                                    <br>{{ address.email }}
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-6">
                                                <h3>{{ 'account.addressbook.invoice_address' | trans }}</h3>
                                                {% set address = customer.invoiceAddress %}

                                                {% if address.getCompanyName() is not empty %}
                                                    {{ address.getCompanyName() }}<br />
                                                {% endif %}

                                                {% if address.getAttn() %}
                                                    {{ address.getAttn() }}<br />
                                                {% else %}
                                                    {{ customer.getFullname() }}<br />
                                                {% endif %}

                                                {% if address.getStreet() is not empty %}
                                                    {{ address.getStreet() }} {{ address.getNumber() }}<br />
                                                {% endif %}

                                                {% if address.getPostcode() is not empty %}
                                                    {{ address.getPostcode() }} {{ address.getCity() }}
                                                {% endif %}
                                                {% if address.getCountry().getCode() is not empty %}
                                                    <br>{{ address.getCountry().getCode()|country }}
                                                {% endif %}
                                                {% if address.phoneNumber %}
                                                    <br>{{ address.phoneNumber }}
                                                {% endif %}
                                                {% if address.email %}
                                                    <br>{{ address.email }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row customer-information">
                                            <div class="col-sm-12">
                                                <h3>{{ 'customer.data'|trans }}</h3>
                                                {% if customer.gender == 'M' %}{{ 'label.salutation.male' | trans }}{% else %}{{ 'label.salutation.female' | trans }}{% endif %} {{ customer.fullname }}<br>
                                                {{ customer.email }}

                                                {% if customer.phoneNumber %}
                                                    <br>{{ customer.phoneNumber }}
                                                {% endif %}

                                                {% if customer.mobileNumber %}
                                                    <br>{{ customer.mobileNumber }}
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-12 col-xs-12">
                            <div id="payments" class="form-horizontal"
                                 data-payment-method-url="{{ path('app_checkout_paymentmethod') }}">
                                <h3 class="title">{{ 'paymentmethod'|trans }}</h3>

                                <div id="payment_methods">
                                    {{ include('AppBundle:Checkout:paymentMethod.html.twig') }}
                                </div>
                            </div>

                            <div id="conditions" class="conditions">

                                <div class="form-row row-newsletter">
                                    {% if attribute(form, 'customer') is defined %}
                                        {{ form_row(form.customer.newsletter) }}
                                    {% else %}
                                        {{ form_row(form.customerNewsletter) }}
                                    {% endif %}
                                </div>
                                <div class="form-row row-terms">
                                    {% set termsField = form_row(form.terms) %}
                                    {{ termsField|replace({'%link%': termsUrl})|raw }}
                                </div>

                            </div>

                            <div class="col-xs-12 padding-right-0">
                                {{ form_row(form.submit) }}
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_widget(form._token) }}

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    {{ robin.cart(cart) }}

    {% macro line(product, line) %}
        {% set productName = product.getDisplayName() %}

        <div class="product-item{% if product.getPurchasable() is same as (true) %} product-item-purchasable{% endif %}">
            <div class="left">
                <div class="product-image">
                    {% if product.getMainImage() is not empty %}
                        <img src="{{ product.getMainImage() | imagine_filter('product_thumbnail') }}"
                             alt="{{ productName }}">
                    {% endif %}
                </div>
            </div>
            <div class="right">
                <div class="product-row">
                    <p class="name">
                        {% if product.getPurchasable() %}
                            {{ line.getQuantity() }} x
                        {% endif %}

                        {{ productName }}
                    </p>
                    <p class="price">€ {{ line.getTotalDisplayPrice() }}</p>
                </div>

                <div class="product-extras">
                    {% if line.getChildren() is not null %}
                        {% for childLine in line.getChildren() %}
                            {% set childProduct = childLine.getProduct() %}

                            {% set childProductName = childLine.getQuantity() ~ 'x ' ~ childProduct.getDisplayName() %}

                            <div class="product-row-extras">
                                <p class="name"><span class="fa fa-share"></span>{{ childProductName }}</p>
                                <p class="price">€ {{ childLine.getTotalDisplayPrice() }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endmacro %}
{% endblock body %}
