{% extends 'AppBundle::base_site.amp-html.twig' %}

{% set primaryColor = '#919b16' %}
{% set site_slogan = 'Lekker gezond' %}
{% set site_logo = 'build/images/topfruit-kleur.png' %}
{% set site_color = '#919b16' %}