{% for additionalProduct in products %}
    {% set productType = additionalProduct.getType() %}
    {% set productImage = additionalProduct.getCategoryImage(true) %}

    {% if productImage %}
        {% set productImage = productImage.getPath() | imagine_filter('product_assortment') %}
    {% else %}
        {% set productImage = asset(theme_img_base_path ~ 'placeholder.png') %}
    {% endif %}

    <div class="additional-product"
         data-url="{{ path('app_checkout_addproducttocart', {
             id: additionalProduct.uuid,
             parentCartOrderLine: orderLine.uuid
         }) }}"
         data-image="{{ productImage }}"
         data-description="{{ additionalProduct.translate.description|escape('html_attr') }}"
            {% spaceless %}{% if not additionalProduct.getVariations.isEmpty %}data-variations="{{ _self.variation_data_attribute(additionalProduct, orderLine)|trim }}"{% endif %}{% endspaceless %}
    >
        <div class="image{% if not additionalProduct.getCategoryImage(true) %} image-placeholder{% endif %}">
            <img class="lazy" src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}" data-src="{{ productImage }}" alt="{{ additionalProduct.translate.title }}">
        </div>

        <div class="title">{{ additionalProduct.translate.title }}</div>

        <div class="price">{{ get_price_html(additionalProduct.cheapestVariation) }}</div>

        <div class="button-row">
            {% if additionalProduct.translate.description is not empty %}
                <a class="btn description" data-action="show-description" href="#"
                   title="{{ 'checkout.additional_product.show_description'|trans }}">
                    <span class="fa fa-info-circle"></span>
                </a>
            {% endif %}

            <a href="#" class="btn btn-theme add-to-cart"
               data-action="add-to-cart" title="{{ 'checkout.additional_product.add_product'|trans }}">
                <span>{{ 'checkout.additional_product.add_product'|trans|lower }}</span>
                <span class="fa fa-shopping-cart"></span>
            </a>
        </div>
    </div>
{% endfor %}

{% macro variation_data_attribute(additionalProduct, orderLine) %}
    {% spaceless %}
        {% set variationArray = [] %}

        {% for variation in additionalProduct.getVariations() if stock_manager.isOrderable(variation) %}
            {% set variationImage = variation.getCategoryImage(true) %}

            {% if variationImage %}
                {% set variationImage = variationImage.getPath() | imagine_filter('product_assortment') %}
            {% else %}
                {% set variationImage = asset(theme_img_base_path ~ 'placeholder.png') %}
            {% endif %}

            {% set variationData = {
                id: variation.id,
                name: variation.translate.title,
                price: get_price(variation) | number_format,
                cart_url: path('app_checkout_addproducttocart', {
                    id: variation.uuid,
                    parentCartOrderLine: orderLine.uuid
                }),
                image: variationImage
            } %}

            {% set variationArray = variationArray|merge([variationData]) %}
        {% endfor %}

        {{ variationArray|json_encode|raw }}
    {% endspaceless %}
{% endmacro %}
