{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <form method="post" id="wizard" novalidate="novalidate"
          data-set-url="{{ path('admin_catalog_product_productsetsbygroup') }}">
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-default" id="product_info_step">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Kaartje toevoegen
                        </div>
                    </div>
                    <div class="panel-body" id="type_of_company">
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label class="control-label">
                                    Wat is de naam van het kaartje?
                                </label>
                                <input type="text" name="title" id="product_name" class="form-control" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label class="control-label">
                                    Welke kenmerken set wil je aan het kaartje koppelen?
                                </label>
                                <select name="property_set" id="property_set" class="form-control" required>
                                    <option value="">Selecteer een property set</option>
                                    {% for propertySet in propertySets %}
                                        <option value="{{ propertySet.id }}">{{ propertySet.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" id="wizard_submit" name="wizard_submit"
                            class="btn btn-success text-uppercase pull-right">
                        Opslaan

                        <span class="icon-arrow-right13 position-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}