<div class="panel">
    {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <form method="POST" action="{{ path('admin_sales_restitution_index', {order: order.getId}) }}">
        <div class="panel-heading">
            <h2>Vergoeding bestelling {{ order.orderNumber }}</h2>
        </div>

        <div class="panel-body">
            {% if order.hasRestitutionVoucher %}
                <div class="row">
                    <div class="col-md-12">
                        Voucher code {{ order.restitutionVoucher.code }} ter waarde van {% if order.restitutionVoucher.discount.type == 'amount' %}€ {% endif %}{{ order.restitutionVoucher.discount.value | number_format(2) }}{% if order.restitutionVoucher.discount.type == 'percent' %}%{% endif %} is toegevoegd op deze order
                    </div>
                </div>
                <br/>
            {% endif %}
            <div class="row">
                <label>
                    <input type="radio" name="restitution-option" {{ (order.hasRestitutionVoucher == false)? 'checked="checked"': '' }} value="nothing" />
                    Niet van toepassing
                </label><br/>
                <label>
                    <input type="radio" name="restitution-option" {{ (order.hasRestitutionVoucher == true)? 'checked="checked"': '' }} value="fixed" />
                    Kortingsvoucher ter waarde van <select name="fixed">{% for discount in restitutionValues['fixed'] %}<option {% if discount.value >= restitutionMaxValue %}disabled{% endif %} value="{{ discount.id }}">€ {{ discount.value | number_format(2) }}</option>{% endfor %}</select>
                </label><br/>
                <label style="opacity: 0.7;">
                    <input type="radio" disabled="disabled" name="restitution-option" value="percent" />
                    Kortingsvoucher ter waarde van <select disabled="disabled" name="percent">{% for discount in restitutionValues['percent'] %}{% set percentValue = order.totalPriceIncl * discount.value / 100 %}<option {% if percentValue >= restitutionMaxValue %}disabled{% endif %} value="{{ discount.id }}">{{ discount.value | number_format(2) }}% (€{{ percentValue | number_format() }})</option>{% endfor %}</select> van deze bestelling
                </label><br/>
            </div>

        </div>

        <div class="panel-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-xs btn-primary">
                    Opslaan
                </button>
            </div>
        </div>
    </form>
</div>