<div class="panel panel-default role-overlay"
     data-getgrouplist-url="{{ path('admin_role_rolecategory_getgrouplist', {id : category.getId }) }}"
     data-getuserlist-url="{{ path('admin_role_rolecategory_getuserlist', {id : category.getId }) }}"
     data-roles="{{ category.getShortRootRoles | json_encode }}"
     data-category-id="{{ category.getId }}">
    <div class="panel-heading">
        <div class="panel-title">
            Rol {{ category.getName }}
        </div>
        <div class="heading-elements">
            <button class="btn btn-default" data-action="add-role"
                    data-add-role-url="{{ path('admin_role_rolecategory_addrole', {id : category.getId}) }}">
                <i class="mdi mdi-plus"></i> Rol toevoegen
            </button>
        </div>
    </div>
    <div class="panel-body">
        <form action="" method="post" id="persist-roles-form">
            <input type="hidden" name="users" id="user-roles" />
            <input type="hidden" name="groups" id="group-roles" />
        </form>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Groepen
                        </div>
                        <div class="heading-elements">
                            <button class="btn btn-default" data-action="role-add-group">
                                <i class="mdi mdi-plus"></i> Groep toewijzen
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        Om een groep uit het overzicht te verwijderen moeten alle rollen uitgeschakeld worden voor deze groep.
                        <table class="table">
                            <thead>
                            <tr>
                                <td></td>
                                {% for role in category.getRootRoles %}
                                    <td>
                                        {{ role.getDisplayName }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody class="group-table-body">
                            {% for group in category.getGroups %}
                                <tr>
                                    <td>
                                        {{ group.getName }}
                                    </td>
                                    {% for role in category.getRootRoles %}
                                        <td class="row-checkbox">
                                            <label class="checker bg-white" id="uniform-select_all">
                                                <span class="{{ group.hasRole(role) ? 'checked' : '' }}">
                                                    <input type="checkbox" data-group-id="{{ group.getId }}"
                                                           data-role-id="{{ role.getId }}"
                                                           class="form-styled" {{ group.hasRole(role) ? 'checked' : '' }}>
                                                </span>
                                            </label>
                                        </td>
                                    {% endfor %}
                                    <td>
                                        <a data-action="open-special-access"
                                           data-path="{{ path('admin_role_rolecategory_specialaccessgroup', {category: category.getId, group: group.getId}) }}">
                                            Speciale toegang
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Gebruikers
                        </div>
                        <div class="heading-elements">
                            <button class="btn btn-default" data-action="role-add-user">
                                <i class="mdi mdi-plus"></i> Gebruiker toewijzen
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        Om een gebruiker uit het overzicht te verwijderen moeten alle rollen uitgeschakeld worden voor deze gebruiker.
                        <table class="table">
                            <thead>
                            <tr>
                                <td></td>
                                {% for role in category.getRootRoles %}
                                    <td>
                                        {{ role.getDisplayName }}
                                    </td>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody class="user-table-body">
                            {% for user in category.getUsers %}
                                <tr>
                                    <td>{{ user.getDisplayName }}</td>
                                    {% for role in category.getRootRoles %}
                                        <td class="row-checkbox">
                                            <label class="checker bg-white" id="uniform-select_all">
                                                <span class="{{ user.hasRole(role) ? 'checked' : '' }}">
                                                    <input type="checkbox" data-user-id="{{ user.getId }}"
                                                           data-role-id="{{ role.getId }}"
                                                           class="form-styled" {{ user.hasRole(role) ? 'checked' : '' }}>
                                                </span>
                                            </label>
                                        </td>
                                    {% endfor %}
                                    <td>
                                        <a data-action="open-special-access"
                                           data-path="{{ path('admin_role_rolecategory_specialaccessuser', {category: category.getId, user: user.getId}) }}">
                                            Speciale toegang
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
