{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Mijn account' %}

{% set sidebar_menu = 'AdminBundle:Account:menu' %}

{% block body %}
    <!-- Account settings -->
    <div class="panel panel-flat">
        <div class="panel-body">
            <form action="#" class="form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Voornaam</label>
                            <input type="text" value="Voornaam" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label>Achternaam</label>
                            <input type="text" value="Achternaam" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>E-mailadres</label>
                            <input type="email" value="test@test.nl" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label>Gebruikersnaam</label>
                            <input type="text" value="Kopyov" readonly="readonly" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Opslaan <i
                                class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /account settings -->
{% endblock body %}