{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Refactor
            </div>
        </div>
        <div class="panel-body">
            <a href="{{ path('admin_admin_refactor_exec', { type: 'duplicate' }) }}" data-action="ajaxRequest"
               class="btn btn-primary" title="Copy / paste detector">
                Duplicate code
            </a>

            <a href="{{ path('admin_admin_refactor_exec', { type: 'cleancode' }) }}" data-action="ajaxRequest"
               class="btn btn-primary" title="Cleancode detector">
                Clean code
            </a>

            <a href="{{ path('admin_admin_refactor_exec', { type: 'codesize' }) }}" data-action="ajaxRequest"
               class="btn btn-primary" title="Codesize detector">
                Code size
            </a>

            <a href="{{ path('admin_admin_refactor_exec', { type: 'controversial' }) }}" data-action="ajaxRequest"
               class="btn btn-primary" title="Controversial detector">
                Controversial
            </a>

            <a href="{{ path('admin_admin_refactor_exec', { type: 'design' }) }}" data-action="ajaxRequest"
               class="btn btn-primary" title="Design detector">
                Design
            </a>

            <a href="{{ path('admin_admin_refactor_exec', { type: 'naming' }) }}" data-action="ajaxRequest"
               class="btn btn-primary" title="Naming detector">
                Naming
            </a>

            <a href="{{ path('admin_admin_refactor_exec', { type: 'unusedcode' }) }}" data-action="ajaxRequest"
               class="btn btn-primary" title="Unusedode detector">
                Unused code
            </a>
        </div>
    </div>

    <div class="panel panel-default refactor-result hidden">
        <div class="panel-heading">
            <div class="panel-title">
                <!-- Title -->
            </div>
        </div>
        <div class="panel-body">
            <!-- body -->
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-warning" data-action="reset">Reset</button>
        </div>
    </div>

    <script>
        var refactorResultElement = $('.refactor-result');
        $('[data-action="ajaxRequest"]').on('click', function (e) {
            e.preventDefault();
            refactorResultElement.addClass('hidden').find('.panel-body').empty();
            var title = $(this).attr('title');

            $.ajax({
                url: $(this).attr('href'),
                method: 'GET'
            }).done(function (data) {
                $.each(data, function (key, value) {
                    value = replace(value);

                    refactorResultElement.find('.panel-title').html(title);
                    refactorResultElement.find('.panel-body').append(value + '<br>');
                });

                refactorResultElement.removeClass('hidden');
            });
        });

        $('[data-action="reset"]').on('click', function (e) {
            e.preventDefault();

            refactorResultElement.addClass('hidden').find('.panel-body').empty();
        });

        function replace(value) {
            value = value.replace(/(.*)src\//g, '');
            value = value.replace(':', ' <strong>lines</strong>: ');

            return value;
        }
    </script>
{% endblock %}
