{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Symfony</div>
                <div class="panel-body">
                    <a href="{{ path("admin_admin_tools_clearcache") }}">
                        <button class="btn btn-danger btn-xs">Clear Symfony cache</button>
                    </a>
                </div>
            </div>
        </div>
        {% if app.environment == 'dev' or app.environment == 'test' %}
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Database beheer</div>
                    <div class="panel-body">
                        <a href="?reset">
                            <button class="btn btn-danger btn-xs">Reset</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock body %}