{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account.css') }}" />
{% endblock %}

{% set page_title = "account.facebook.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}
    <h1>{{ page_title }}</h1>

    {% if app.getUser().getFacebookId() %}
        <div class="card card-inverse card-success">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <i class="fa fa-check"></i> {{ 'account.facebook.connection.active'|trans }}
                </blockquote>
            </div>
        </div>

        <p class="text-xs-right"><a href="{{ path('app_customer_account_facebook_disconnect') }}"><i
                        class="fa fa-unlink"></i> {{ 'account.facebook.button.disconnect'|trans }}</a></p>
        {#{% else %}#}
        {#<p>{{ 'account.facebook.connection.inactive'|trans }}</p>#}

        {#<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="btn btn-theme"><i class="fa fa-link"></i> {{ 'account.facebook.button.connect'|trans }}</a>#}
    {% endif %}

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
