<!DOCTYPE html>
<html>
<head>
    <link href="{{ asset("bundles/admin/css/components.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("bundles/admin/elfinder/css/elfinder.min.css") }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset("bundles/admin/elfinder/themes/windows-10/css/theme.css") }}" rel="stylesheet"
          type="text/css" />
</head>
<body style="padding: 0; margin: 0;">
<script src="{{ asset("bundles/admin/js/core/libraries/jquery.min.js") }}"></script>
<script src="{{ asset("bundles/admin/js/core/libraries/jquery_ui/full.min.js") }}"></script>
<script src="{{ asset("bundles/admin/elfinder/js/elfinder.min.js") }}"></script>
<script src="{{ asset("bundles/admin/elfinder/js/i18n/elfinder.nl.js") }}"></script>

{% set id = app.request.get('id') %}

<script type="text/javascript" charset="utf-8">
    $().ready(function () {
        var $f = $('.elfinder').elfinder({
            url: '{{ path('ef_connect', { 'instance': instance, 'homeFolder': homeFolder } ) }}',
            lang: '{{ locale }}',
            onlyMimes: '',//{{ onlyMimes|default('')|raw }},
            getFileCallback: function (file, blaat) {
                var media_widget = window.parent.jQuery.data($('.media-widget[data-media-widget-id="{{ id }}"]', window.parent.document).get(0), 'Media');

                {% if relative_path %}
                var path = file.url.replace("{{ app.request.schemeAndHttpHost }}/", '');
                {% else %}
                var path = file.url;
                {% endif %}

                media_widget.setPath(path);

                media_widget.close();
            },
            height: 600,
            ui: ['toolbar', 'tree'],
            contextmenu: {
                // navbarfolder menu
                navbar: ['open', '|', 'info'],

                // current directory menu
                cwd: ['reload', 'back', '|', 'mkdir', '|', 'info'],

                // current directory file menu
                files: [
                    'getfile', '|', 'download', '|', 'info'
                ]
            },
            uiOptions: {
                commands: [
                    'back', 'forward', 'getfile',
                    'download', 'mkdir', 'info',
                    'sort'
                ],
                // toolbar configuration
                toolbar: [
                    ['back', 'forward'],
                    ['mkdir'],
                    ['download', 'getfile'],
                    ['info'],
                    ['view', 'sort']
                ],
                cwd: {
                    // file info columns displayed
                    listView: {
                        columns: ['date', 'kind', 'size']
                    }
                }
            },
            rememberLastDir: false
        });
    });
</script>

<div class="elfinder"></div>
</body>
</html>
