{% if payment_element.children.birthday is defined %}
    {{ form_row(payment_element.children.birthday) }}
{% endif %}

{% set conditions = '<a href="https://www.afterpay.nl/nl/algemeen/betalen-met-afterpay/algemene-voorwaarden-nl" target="_blank">' ~ 'payment.conditions'|trans ~ '</a>' %}

{{ form_widget(payment_element.children.conditions, {
    'label': 'label.afterpay.conditions'|trans|format(conditions)|raw
}) }}
