<script type="text/javascript" src="{{ adyen_cse_js }}"></script>
<script type="text/javascript">
    /**
     * @link https://github.com/Adyen/adyen-cse-web/blob/master/Options.md
     */

    var form = document.getElementById('cart');
    var key = '{{ adyen_cse_key }}';
    var options = {
        enableValidations: false,
        submitButtonAlwaysEnabled: true
    };

    adyen.encrypt.createEncryptedForm(form, key, options);
</script>

<div class="container">
    <div class="row">
        <div class="col-xs-12">{{ form_row(payment_element.children.number) }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4 expiry-month">{{ form_row(payment_element.children.expiryMonth) }}</div>
        <div class="col-xs-4 expiry-year">{{ form_row(payment_element.children.expiryYear) }}</div>
        <div class="col-xs-4">
            <div class="form-group">
                {{ form_widget(payment_element.children.cvc) }}
                <label alt="{{ payment_element.children.cvc.vars.label|trans }}"
                       placeholder="{{ payment_element.children.cvc.vars.label|trans }}"></label>

                <span class="label-cvc-help">
                    <a href="#" class="fa fa-question-circle" data-toggle="popover" data-trigger="hover"
                          title="{{ 'cvc.helper.title'|trans }}" data-content="{{ 'cvc.helper.text'|trans }}"
                          data-placement="top">
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">{{ form_row(payment_element.children.holderName) }}</div>
    </div>
</div>
{{ form_row(payment_element.children.generationtime) }}