{% extends 'AppBundle::base_shop.html.twig' %}

{% set page_title = 'page.delivery_information'|trans %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/payment-pending.css') }}" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/payment-pending.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-shoppingcart">
        <div class="container">
            <div class="row">
                {{ "payment.pending.label"|trans|raw }}
            </div>
        </div>
    </div>
{% endblock body %}
