{% extends 'AppBundle::base_shop.html.twig' %}

{% set page_title = 'Betaallink' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/checkout-sender.css') }}" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/checkout-sender.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-shoppingcart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        {{ 'app.abbreviation' | trans({'%s' : metadata.request.name}) }}
                    </p>
                    <br/>
                    <p>
                        {{ metadata.request.description }}
                    </p>
                    <br/>
                    <p>
                        {{ 'payment.amount_due' | trans}}:  <b>&euro; {{ payment.amount | number_format }}</b>
                    </p>
                    <br/>
                    <div id="payments">
                        <div id="payment_methods">
                            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                            {% for payment_element in form.children %}
                                {% if payment_element.vars.name is not same as('cart_submit') %}
                                    <div class="payment-tab"{% if attribute(payment_element.vars.attr, 'data-payment-costs-name') is defined %} data-payment-costs-name="{{ attribute(payment_element.vars.attr, 'data-payment-costs-name') }}"{% endif %}{% if attribute(payment_element.vars.attr, 'data-payment-costs-amount') is defined %} data-payment-costs-amount="{{ attribute(payment_element.vars.attr, 'data-payment-costs-amount') }}"{% endif %}>
                                    <div class="payment-row{% if attribute(payment_element.vars.attr, 'data-has-description') is defined %} has-description{% endif %}">
                                        <div class="radio-left">
                                            <input type="radio" name="cart[paymentMethod]" id="method-{{ loop.index }}"
                                                   value="{{ payment_element.vars.name }}">
                                            <label for="method-{{ loop.index }}">{{ payment_element.vars.label|raw }}</label>
                                        </div>

                                        <div class="payment-icons">
                                            <img src="{{ asset('build/images/' ~ payment_element.vars.name ~'.png') }}"
                                                 style="height: 25px;">
                                        </div>
                                    </div>

                                    {% if payment_element is not empty and payment_element.children is not empty %}
                                        <div class="payment-dropdown">
                                            <div class="form-row">
                                                {% include ['AppBundle:method:' ~ payment_element.vars.name ~ '.html.twig', 'AppBundle:method:default.html.twig'] %}
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ form_widget(payment_element) }}
                                    {% endif %}
                                {% endif %}
                                </div>
                            {% endfor %}

                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}
