{% extends 'AppBundle::base_site.html.twig' %}

{% set primaryColor = '#b5251a' %}

{% set site_layout = 'base' %}
{% set site_slogan = 'header.slogan.bloemisten'|trans %}
{% set site_slogan_delivery = null %}
{% set site_logo = 'build/images/topgeschenken-kleur.png' %}
