<div class="row">
    <div class="col-md-6">
        <table class="table table-borderless product-description">
            <tbody>
            <tr>
                <td>
                    Batch naam
                </td>
                <td>
                    {{ voucherBatch.getName }}
                </td>
            </tr>
            <tr>
                <td>
                    Voucher prefix
                </td>
                <td>
                    {{ voucherBatch.getPrefix }}
                </td>
            </tr>
            <tr>
                <td>
                    Geldig vanaf
                </td>
                <td>
                    {{ voucherBatch.getValidFrom.format('d-m-Y') }}
                </td>
            </tr>
            <tr>
                <td>
                    Geldig tot
                </td>
                <td>
                    {{ voucherBatch.getValidUntil.format('d-m-Y') }}
                </td>
            </tr>
            <tr>
                <td>
                    Aantal vouchers
                </td>
                <td>
                    {{ voucherBatch.getVouchers.count }}
                </td>
            </tr>
            <tr>
                <td>
                    Aantal gebruikte vouchers
                </td>
                <td>
                    {{ repository.usedVouchersCount(voucherBatch.id) }}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <a href="{{ path('admin_discount_voucherbatch_export', {batch: voucherBatch.id}) }}" class="btn btn-primary">Exporteren</a>&nbsp;
            <a href="{{ path('admin_discount_voucherbatch_edit', {id: voucherBatch.id}) }}" class="btn btn-primary">Bewerken</a>
        </div>
    </div>
</div>