<div class="container-fluid hidden-md-down" id="menu-top-shopping">
    <div class="container">
        <div class="slogan">
            <a href="{{ path('app_home_index') }}" class="active">
                <object type="image/svg+xml" data="{{ company.getSite.getLogo | imagine_filter('company_logo') }}">
                    <img src="{{ company.getSite.getLogo | imagine_filter('company_logo') }}"
                         alt="{{ company.getName }}" style="height: 100%;"/>
                </object>
            </a>
        </div>

        <div class="row">
            <ul class="col-sm-8" id="extra-menu">
                {% if app.user %}
                    <li>
                        <a href="{{ path("app_customer_account_index") }}">{{ "navigation.top.my_account"|trans }}</a>
                        {% if app.user %}
                            <span class="logged-in-as">({{ app.user.getFullname() }})</span>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ "navigation.top.logout"|trans }}</a>
                    </li>
                {% endif %}

                <div class="rounded">0881234567</div>
            </ul>
            <div class="klantenservice-dropdown" onmouseover="APP.topmenu.showDropdown()"
                 onmouseout="APP.topmenu.hideDropdown()">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="left">
                            <h3>Kan ik u helpen?</h3>
                            <div class="info">
                                <div class="rounded">
                                    Telefoon: 0881234567
                                </div>
                                <div class="rounded">Email: <a
                                            href="mailto:klantenservice@topgeschenken.nl">klantenservice@topgeschenken.nl</a>
                                </div>
                                <div class="regel">
                                    <div class="day">Ma t/m Do</div>
                                    <div class="time">8.30 - 20.00 {{ 'hour'|trans }}</div>
                                </div>
                                <div class="regel">
                                    <div class="day">Vrij t/m Za</div>
                                    <div class="time">8.30 - 17.30 {{ 'hour'|trans }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="right">
                            <h3>Kan ik u helpen?</h3>
                            <p>
                                <b>Hoe snel kunt u leveren?</b>
                                In sommige postcodes kunt u tot 16.00 uur bestellen en nog dezelfde dag laten
                                bezorgen! De website geeft u automatisch de eerst mogelijke bezorgdatum.
                                <br/><br/>
                                <b>Wat zijn de bezorgkosten?</b>
                                Voor heel Nederland € 5.95.
                                Voor het buitenland, giftcards en zelfde dag bezorgen gelden andere tarieven.
                                <br/><br/>
                                <b>Wat als de ontvanger niet thuis is?</b>
                                Dan wordt de bestelling bij een van de buren afgegeven en krijgt de ontvanger een
                                briefje in de bus. Als ook dat niet lukt wordt een briefje achter gelaten of
                                probeert de bezorger het later nog eens.
                                <br/><br/>
                                <a href="">Meer veelgestelde vragen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
