{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'Bedrijfshomepage' %}

{% block body %}
    {% include('AppBundle:blocks:header-image.html.twig') %}
    {% include('AppBundle:blocks:timer.html.twig') %}
    {% include('AppBundle:blocks:usp-header.html.twig') %}

    <div class="container" id="content-home">
        <div class="row">
            <div class="col-lg-9 col-sm-12" id="categories">
                <div class="row">

                </div>
            </div>
            <div class="col-lg-3 col-sm-12 hidden-md-down" id="text-holder">
                <div class="row">
                    <div class="col-lg-12 col-sm-6">
                        <div class="text-area">
                            <h1>Bloemen bezorgen en bloemen bestellen!</h1>
                            <p>
                                Bloemen laten bezorgen en bloemen bestellen doet u snel en eenvoudig bij Topbloemen.
                                U zoekt een mooi boeket of bloemstuk waarna u de adresgegevens van de ontvanger
                                invult. Zo kunt u diezelfde dag de bloemen nog bezorgen!
                                In drie eenvoudige stappen maakt u een attent gebaar naar de ontvanger:
                            </p>
                            <ul>
                                <li>Kies het mooiste boeket</li>
                                <li>Vul uw persoonlijke tekst in en het bezorgadres</li>
                                <li>Betaal direct online of achteraf na bezorging</li>
                            </ul>
                            <p>
                                <b>Bloemen bezorgen in heel Nederland</b> <br />
                                Wij bezorgen bloemen op elk adres in Nederland, maar ook bloemen bezorgen in het
                                buitenland is mogelijk! Boeket bestellen en diezelfde dag bezorgen,
                                is een van de vele mogelijkheden die Topbloemen biedt.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <div class="text-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include("AppBundle:blocks:product-slider.html.twig") %}

    {% if site_service.hasKiyohCompany() and site_service.hasKiyohCompany().getTotalScore() %}
        {% include("AppBundle:blocks:reviews.html.twig") %}
    {% endif %}


    {% include("AppBundle:blocks:about.html.twig") %}
    {% include("AppBundle:blocks:usp.html.twig") %}
    {% include("AppBundle:blocks:company-info.html.twig") %}

{% endblock body %}
