{% block table_widget %}
    {% if form.vars.allow_add is same as(true) %}
        <a href="{{ path(form.vars.attr.action_add) }}?id={{ form.parent.vars.value.id }}"
           class="btn btn-sm btn-success pull-right">
            {{ admin_icon('plus2') }} {% if form.vars.label|default(null) %}{{ form.vars.label }} toevoegen{% else %}Toevoegen{% endif %}
        </a>
    {% endif %}
    <table class="table panel-crud">
        {% if 'columns' in form.vars and form.vars.collection.columns is not same as(false) %}
            <thead>
            <tr>
                {% if form.vars.sortable|default(false) is same as(true) %}
                    <th class="drag-handle"></th>
                {% endif %}

                {% for column in form.vars.collection.columns %}
                    <th{% if column.width is defined %} width="{{ column.width }}"{% endif %}>{{ column.label|default('')|raw }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {% for child in form %}
            <tr>
                {% for key, col in child.children %}
                    {% if(key == 'id') %}
                        <td>
                            <a href="{{ path(form.vars.attr.action_edit, {id: col.vars.value}) }}" data-type="edit"
                               style="color: #000;">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="{{ path(form.vars.attr.action_delete, {id: col.vars.value}) }}" data-type="delete"
                               style="padding-left: 10px; color: #000;">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    {% else %}
                        <td>
                            {{ col.vars.value }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block product_combination_widget %}
    {% import 'AdminBundle:macro:product.html.twig' as macros %}
    {% for combination in genericProduct.getCombinations %}
        {{ macros.product_combination_item(genericProduct, combination) }}
    {% endfor %}
{% endblock %}

{%- block mask_widget -%}
    <input type="password"
           class="not-removable input-xs form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock mask_widget -%}

{% block designer_widget %}
    {% import _self as form_fields %}
    {% set type = 'hidden' %}
    {{ block('form_widget_simple') }}
    <div id="{{ id }}_wrapper" data-template="{{ form_fields.design_tile_image('%[URL]%')|e('html')|trim }}">
        {{ form_fields.design_tile(templateId, id, value, designerService.getPreviewUrl, company) }}
    </div>
    <script type="text/javascript">
        function {{ id }}_callback(data) {
            var elm = $('#{{ id }}_wrapper');
            var modalId = elm.find('#design_tile').attr('data-modal-id');
            var modal = window.modals[modalId];

            if(typeof modal !== 'undefined') {
                modal.contentWindow.hide();
            }

            if(data) {
                var decodedTemplate = $('<textarea id="tmp_text"></textarea>').html(elm.attr('data-template')).val().replace('%[URL]%', data);
                elm.find('#design_tile').html(decodedTemplate);
            }
        }
    </script>
{% endblock designer_widget %}

{% macro design_tile(templateId, id, uuid, previewUrl, company) %}
    {% import _self as form_fields %}

    {% set updateUrl = path('admin_settings_designer_designertemplate_saveanddesign', { templateId: templateId }) %}
    {% set callback = 'window.parent.' ~ id ~ '_callback' %}
    {% set designUrl = path('admin_designer_designer_edit', { uuid: uuid, 'is-pre-design': true, 'callback': callback }) %}

    <div id="design_tile" class="predesign tile" data-update-url="{{ updateUrl }}{{ company is defined and company is not null ? '?company=' ~ company : null }}" data-design-url="{{ designUrl }}">
        {% if previewUrl is not empty %}
            {{ form_fields.design_tile_image(previewUrl) }}
        {% else %}
            <span class="btn modify-predesign">
                <i class="fa fa-edit" aria-hidden="true" data-popup="tooltip" data-trigger="hover" data-original-title="Bewerken"></i> Ontwerp maken
            </span>
        {% endif %}
    </div>
{% endmacro design_tile %}

{% macro design_tile_image(previewUrl) %}
    <div class="img-thumbnail" style="position: relative;">
        <img src="{{ previewUrl }}" width="300" alt="Ontwerp">
        <span class="btn btn-default btn-xs modify-predesign" style="position: absolute; top: 10px; right: 10px"><i class="fa fa-pencil" aria-hidden="true" data-popup="tooltip" data-trigger="hover" data-original-title="Bewerken"></i></span>
    </div>
{% endmacro design_tile_image %}