{#{% if hide_navigation_top is not defined %}#}
    {#{{ include('AdminBundle:Base:navigation_top_level.html.twig') }}#}
{#{% endif %}#}

{#{% if hide_navigation_second is not defined %}#}
    {#{{ include('AdminBundle:Base:navigation_second_level.html.twig') }}#}
{#{% endif %}#}

<!-- Flash Messages with PNotify -->
{% if app.session.flashbag.peekAll()|length %}
    {% set messages = [] %}

    {% set messages = messages|merge({'success': app.session.flashbag.get("backend.success")}) %}
    {% set messages = messages|merge({'notice': app.session.flashbag.get("backend.notice")}) %}
    {% set messages = messages|merge({'warning': app.session.flashbag.get("backend.warning")}) %}
    {% set messages = messages|merge({'error': app.session.flashbag.get("backend.error")}) %}

    {% for label, flashes in messages %}
        {% for flash in flashes %}
            <notification data-type="{{ label }}">{{ flash|raw }}</notification>
        {% endfor %}
    {% endfor %}
{% endif %}
<!-- /Flash Messages with PNotify -->


{#<!-- Page container -->#}
{#<div class="page-container{% if page_container_class is defined %} {{ page_container_class }}{% endif %}">#}

    {#<!-- Page content -->#}
    {#<div class="page-content">#}

        {#{% if sidebar_menu is defined %}#}
            {#<div class="sidebar sidebar-main sidebar-default">#}
                {#<div class="sidebar-fixed affix-top">#}
                    {#<div class="sidebar-content">#}
                        {#{{ knp_menu_render(sidebar_menu, {#}
                            {#rootClass: 'navigation navigation-main navigation-accordion',#}
                            {#template: 'AdminBundle:Menu:sidebar-right.html.twig',#}
                            {#currentClass: 'active'#}
                        {#}) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endif %}#}


        {#<!-- Main content -->#}
        {#<div class="content-wrapper">#}