<!-- Main navbar -->
<div class="navbar navbar-inverse" style="background-color: #fff;">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('admin_dashboard_index') }}">
            {% if admin_logo is defined %}
                <img src="{{ admin_logo | imagine_filter('thumb', {"thumbnail": {"size": [107, 24] }}) }}"{% if admin_title %} alt="{{ admin_title }}"{% endif %}>
            {% endif %}
        </a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        {% if is_granted('IS_AUTHENTICATED_FULLY') and two_factor is not defined %}
            {{ knp_menu_render('AdminBundle:TopUser:menu', {
                currentClass: 'active'
            }) }}
        {% endif %}
    </div>
</div>
<!-- /main navbar -->
