<!-- Second navbar -->
<div class="navbar navbar-default affix-top" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i
                        class="icon-menu7"></i></a></li>
    </ul>


    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ knp_menu_render('AdminBundle:Main:menu', {
                currentClass: 'active'
            }) }}

            {{ knp_menu_render('AdminBundle:MainRight:menu', {
                currentClass: 'active'
            }) }}
        {% endif %}
    </div>
</div>
<!-- /second navbar -->