{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="a2lix_translations tabbable tab-content-bordered">
        <ul class="a2lix_translationsLocales nav nav-tabs nav-tabs-highlight">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <li {% if app.request.locale == locale %}class="active"{% endif %}>
                    <a href="#a2lix_translationsFields-{{ locale }}" data-toggle="tab"
                       data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}">
                        {% if locale == 'en_US' %}
                            {% set locale = 'en' %}
                        {% endif %}

                        {% set icon = locale[:2]|lower %}

                        {% if icon|lower == 'en' %}
                            {% set icon = 'gb' %}
                        {% endif %}

                        {% if locale == 'nl_BE' %}
                            {% set icon = 'be' %}
                        {% endif %}

                        {{ admin_icon(icon, false, {'class': 'position-left'}, 'flags') }} {{ locale | language }}

                        {% if translationsFields.vars.required %}*{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="a2lix_translationsFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div class="{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} has-padding tab-pane {% if app.request.locale == locale %}active{% endif %}">
                    <div class="row">
                        {{ form_errors(translationsFields) }}
                        {{ form_widget(translationsFields) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}