{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% include('AppBundle:blocks:header-image.html.twig') %}
    {% include('AppBundle:blocks:timer.html.twig') %}
    {% include('AppBundle:blocks:usp-header.html.twig') %}
{% endblock body %}