{% include('AppBundle:blocks:mobile-header.html.twig') %}
{% include('AppBundle:blocks:nav-top.html.twig') %}

{% if domain.getDomain() is defined and domain.getDomain() is not null and domain.getDomain().getSite().getTheme() == 'topgeschenken' %}
     {{ site_tabs() }}
{% else %}
    {% include('AppBundle:blocks:nav-main.html.twig') %}
{% endif %}

{% include('AppBundle:blocks:nav-sub.html.twig') %}

{% if show_timer|default(false) is same as (true) %}
    {% include('AppBundle:blocks:timer.html.twig') %}
{% endif %}
