<div id="order_filter" class="sidebar sidebar-default">
    <div class="sidebar-content">
        <div class="category-content">
            <div class="field-search">
                <form id="search" action="{{ path('admin_sales_order_search') }}">
                    <label for="site">Zoeken</label>
                    <div class="has-feedback">
                        <input type="search" class="form-control" placeholder="Tekst + enter">
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-base text-muted"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sidebar-content">
        <div class="category-content">
            <div class="form-group field-site">
                <label for="site">Site(s)</label>
                <select id="site" name="site" class="form-control input-xs select2" multiple="multiple">
                    {% for site in sites if site.parent is same as(null) %}
                        {% set siteChildren = site.getChildren() %}
                        <option value="{{ site.id }}" {% if site.id in selectedSites %} selected="selected"{% endif %}>{{ site.theme|capitalize }}</option>
                        {% for siteChild in siteChildren if site.company is not same as(null) %}
                            <option value="{{ siteChild.id }}" {% if siteChild.id in selectedSites %} selected="selected"{% endif %}>- {{ siteChild.theme|capitalize }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="sidebar-content">
        <div class="category-content">
            <div class="form-group field-status">
                <label for="status">Status</label>
                <select id="status" name="status" class="form-control input-xs" multiple="multiple" style="height: {{ (statuses|length * 32) }}px; margin: 0; padding: 0; overflow: hidden;">
                    {% for description, key in statuses %}
                        <option value="{{ key }}"{% if key in selectedStatuses %} selected="selected"{% endif %}>{{ description }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="sidebar-content">
        <div class="category-content">
            <div class="form-group field-limit">
                <label for="limit">Aantal resultaten</label>
                <select id="limit" name="limit" class="form-control input-xs" multiple="multiple" style="height: {{ (limits|length * 32) }}px; margin: 0; padding: 0; overflow: hidden;">
                    {% for limit in limits %}
                        <option value="{{ limit }}"{% if limit == selectedLimit %} selected="selected"{% endif %}>
                            Toon {{ limit }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>