{% import _self as macros %}

{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Bestellingen' %}
{% set page_class = 'has-detached-right sidebar-xs' %}

{% block assets_head %}
    {{ include('@Admin/Sales/Order/includes/assets_head.html.twig') }}
{% endblock assets_head %}

{% block body %}
    <div class="container-detached view">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body orders">
                    <table class="table table-xs table-striped table-borderless" id="order_list">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Ordernummer</th>
                                <th>Ontvanger</th>
                                <th>Besteller</th>
                                <th>Leverancier</th>
                                <th>Bestelling</th>
                                <th class="hidden visible-md visible-lg">Interne opmerking</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="sidebar-detached sidebar-filters">
            {% include '@Admin/Sales/Order/index.sidebar-right.html.twig' %}
        </div>
    </div>
{% endblock body %}