<div class="view">
    <h4>Opmerkingen bij bestelling #{{ order.getOrder().getNumber() }}-{{ order.getNumber() }}</h4>

    <div class="alert alert-warning alert-styled-left hidden">
        <p>Opmerkingen veld mag niet leeg zijn</p>
    </div>

    <form method="post" action="{{ path('admin_sales_order_internalremarkpersist', { order: order.getId() }) }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Nieuwe opmerking</strong>
            </div>
            <div class="panel-body">
                <textarea name="internal-remark" class="form-control elastic" required
                          placeholder="Nieuwe opmerking..."></textarea>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-xs btn-success btn-xs">
                    <i class="fa fa-plus"></i>
                    Toevoegen
                </button>
            </div>
        </div>
    </form>

    {% for internalRemark in order.internalRemarks|sort|reverse %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>{{ internalRemark.user.firstname }} {{ internalRemark.user.lastname }}</strong>
                        </div>
                        <div class="col-xs-6 text-right">
                            {{ internalRemark.createdAt|localizeddate('short') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{ internalRemark.remark }}
            </div>
        </div>
    {% endfor %}
</div>
