{% import 'AdminBundle:macros:order.html.twig' as macros_order %}
{% import 'AdminBundle:macros:payment.html.twig' as macros_payment %}
{% import 'AppBundle:macros:robin.html.twig' as robin %}

{% block body %}
    <div class="view"
         data-ordercollection-activity-path="{{ path('admin_sales_order_activity', {orderCollection: orderCollection.getId}) }}">
        {% if orderCollection.isEditAllowed is same as (false) %}
            <div class="alert alert-warning">
                Fraude check wordt momenteel uitgevoerd. Het wijzigen van de order is momenteel niet mogelijk.
            </div>
        {% endif %}
        <div class="row" id="order_toolbar">
            <div class="col-md-12">
                <div class="checkbox checkbox-switchery switchery-xs switchery-double pull-right">
                    <label>
                        exclusief BTW
                        <input type="checkbox"
                               class="switchery" {% if not orderCollection.getCompany() %} checked="checked"{% endif %} />
                        inclusief BTW
                    </label>
                </div>
            </div>
        </div>
        <div id="fraudFields" class="hidden" data-fields="{{ fraudDetection|default([]) | json_encode }}"></div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div>
                    <div class="panel panel-default" id="order_details">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Bestelling {{ orderCollection.getNumber() }}
                            </div>
                            {% if orderCollection.getReview() %}
                                <div class="heading-elements" style="margin-right: 10px;">
                                    <span data-toggle="popover" data-trigger="hover" title="Beoordeling door klant"
                                          data-html=true data-placement="right"
                                          data-template="{{ macros_order.popover_template()|e }}"
                                          data-content="{{ macros_order.popover_review(orderCollection.getReview())|e }}">{{ rating(orderCollection.getReview().getScore(), 10) }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            <table class="table table-xs table-borderless">
                                <tr>
                                    <td style="width: 150px;">Besteldatum:</td>
                                    <td>{{ orderCollection.getCreatedAt()|localizeddate("long") }}</td>
                                </tr>
                                {% if orderCollection.getSite() %}
                                    <tr>
                                        <td>Site:</td>
                                        <td>{{ orderCollection.getSite().translate().getDescription() }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>Besteller:</td>
                                    <td>
                                        <div class="customer-information-line">
                                            {{ orderCollection.getCustomer().getFullname() }}
                                            {% if orderCollection.getCustomer().getFullname() and orderCollection.getCompany() %} / {% endif %}
                                            {% if orderCollection.getCompany() %}{{ orderCollection.getCompany().getName() }}{% endif %}

                                            {% if extra_fields is not null %}
                                                <a href="{{ path('admin_sales_order_extrafields', {orderCollection: orderCollection.getId}) }}" data-action="open-content" data-contentwindow-width="600">
                                                    <i class="fa fa-info-circle" data-tooltip="true" data-placement="bottom"
                                                       title="Deze besteller heeft extra velden opgegeven, klik om ze te bekijken"></i>
                                                </a>
                                            {% endif %}
                                        </div>

                                        {% if orderCollection.getEmployee() is not null %}
                                            <div class="address-line text-orange-300">
                                                {{ admin_icon('user', null, null, 'fontawesome') }} Besteld
                                                door: {{ orderCollection.getEmployee().getDisplayName() }}
                                            </div>
                                        {% endif %}

                                        <a target="_blank" href="{{ get_system_parameter('google_maps_place_url') | format(orderCollection.getCustomer().getDefaultInvoiceAddress() | url_encode(true)) }}">
                                            <div class="address-line">
                                                {{ admin_icon('map-marker', null, null, 'fontawesome') }} {{ orderCollection.getCustomer().getDefaultInvoiceAddress() }}
                                            </div>
                                        </a>

                                        {% if orderCollection.getCustomer().getPhoneNumber() %}
                                            <div class="contact-line">
                                                {{ admin_icon('phone', null, null, 'fontawesome') }}
                                                <a href="tel:{{ orderCollection.getCustomer().getPhoneNumber() }}">{{ orderCollection.getCustomer().getPhoneNumber() }}</a>
                                            </div>
                                        {% endif %}
                                        {% if orderCollection.getCustomer().getEmail() %}
                                            <div class="contact-line">
                                                {{ admin_icon('envelope', null, null, 'fontawesome') }}
                                                {{ robin.profile_link(orderCollection.getCustomer().getEmail()) }}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            {% if orderCollection.getPayments().isEmpty() is same as(false) and orderCollection.hasPaymentMethod("invoice") is same as(false) %}
                                {% set invoiceFile = path('admin_sales_order_invoice', {
                                    orderCollection: orderCollection.getId(),
                                    filename: "Factuur ORD %s.pdf"|format(orderCollection.getNumber())
                                }) %}

                                <div class="btn-group">
                                    <a href="{{ invoiceFile }}" data-action="view-invoice-pdf"
                                       class="btn btn-xs btn-primary">
                                        <span class="icon-file-text2 position-left"></span>
                                        Factuur bekijken
                                    </a>

                                    <button type="button" class="btn btn-xs btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="{{ invoiceFile }}/download">
                                                <i class="icon-move-down position-left"></i>
                                                Downloaden
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_sales_order_sendinvoicecopy', {orderCollection: orderCollection.getId()}) }}"
                                               data-email="{{ orderCollection.getCustomer().getEmail() }}"
                                               data-action="send-invoice">
                                                <i class="icon-mail5 position-left"></i>
                                                Verstuur per e-mail
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                &nbsp;
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-xs table-pull-up">
                                <tr>
                                    <th>Betalingen</th>
                                    <th>Betaalmethode</th>
                                    <th style="width: 40px;">
                                    </th>
                                    <th style="width: 40px;">Bedrag</th>
                                    <th></th>
                                </tr>
                                {% if orderCollection.getPayments() is not empty %}
                                    {% if orderCollection.calculateOutstanding() > 0 %}
                                        {% set paymentDirection = 'betalen' %}
                                    {% elseif orderCollection.calculateOutstanding() < 0 %}
                                        {% set paymentDirection = 'ontvangen' %}
                                    {% endif %}

                                    {% set totalPayments = 0 %}

                                        <tr>
                                            <td colspan="2"><strong>Totaalbedrag</strong></td>
                                            <td>€</td>
                                            <td class="text-right">
                                                {{ orderCollection.totalDisplayPrice | number_format(2) }}
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>

                                    {% for payment in orderCollection.getPayments() %}
                                        <tr{% if not payment.getStatus().getCountable() %} style="color: #ccc;"{% endif %}
                                                data-toggle="popover" data-trigger="hover"
                                                title="{% if payment.getPaymentmethod() %}{{ payment.getPaymentmethod().translate().getDescription() }} betaling{% endif %}"
                                                data-html=true data-placement="right"
                                                data-template="{{ macros_payment.popover_template(payment)|e }}"
                                                data-content="{{ macros_payment.popover_content(payment)|e }}">
                                            <td>
                                                <span class="hidden visible-sm-block">{{ payment.getDatetime()|localizeddate('short', 'none') }}</span>
                                                <span class="hidden visible-lg-block visible-md-block">{{ payment.getDatetime()|localizeddate('full', 'short') }}</span>
                                            </td>
                                            <td>{% if payment.getPaymentmethod() %}{{ payment.getPaymentmethod().translate().getDescription() }}{% endif %}</td>
                                            <td>€</td>
                                            <td class="text-right">
                                                {% if payment.getAmount() %}
                                                    {{ payment.getAmount()|number_format }}
                                                {% elseif payment.paymentmethod.code == 'invoice' or payment.paymentmethod.code == 'internal' %}
                                                    {{ orderCollection.totalPriceIncl|number_format }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <span class="label bg-{{ payment.status.class }}">{{ payment.status.description}}</span>
                                            </td>
                                        </tr>
                                        {% if payment.getStatus().getCountable() %}
                                            {% if payment.getAmount() %}
                                                {% set totalPayments = totalPayments + payment.getAmount() %}
                                            {% elseif payment.paymentmethod.code == 'invoice' or payment.paymentmethod.code == 'internal' %}
                                                {% set totalPayments = totalPayments + orderCollection.totalPriceIncl %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if paymentDirection is defined %}
                                    <tr class="text-danger-300" style="font-weight: bold;">
                                        <td colspan="2">
                                            <strong>Te {{ paymentDirection }} door klant</strong>
                                        </td>
                                        <td>€</td>
                                        <td class="text-right"> {{ orderCollection.calculateOutstanding()|number_format }}</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    {% else %}
                                        <tr style="font-weight: bold;">
                                            <td colspan="2">
                                                <strong>Openstaand</strong>
                                            </td>
                                            <td>€</td>
                                            <td class="text-right"> 0,00</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td colspan="3" style="font-style: italic;">Er zijn geen betalingen voor deze
                                            order
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="panel-footer">

                            {% set hasNoDraftOrders = not has_draft_orders(orderCollection) %}
                            {% set cancelPaymentAndPaymentRequest = hasNoDraftOrders and has_cancellable_invoice_payment(orderCollection) %}
                            {% if cancelPaymentAndPaymentRequest %}
                                <a href=""
                                   id="payment_invoice_cancellation"
                                   class="pull-right btn bg-danger-400"
                                   data-action="payment-invoice-cancellation"
                                   data-cancellation="{{ path('admin_payment_invoicecancellation_cancel', {orderCollection: orderCollection.getId}) }}"
                                   data-url="{{ path('admin_payment_paymentrequest_create', {orderCollection: orderCollection.getId}) }}"
                                >
                                    <i class="icon-alert position-left"></i> Annuleren Factuurbetaling + Betaalverzoek
                                </a>
                            {% endif %}

                            {% set outstandingAmount = orderCollection.calculateOutstanding %}

                            {% if hasNoDraftOrders and outstandingAmount > 0 and cancelPaymentAndPaymentRequest %}
                                <br><br>
                            {% endif %}

                            {% if hasNoDraftOrders and outstandingAmount > 0 %}
                                <a href="{{ path('admin_payment_paymentrequest_create', {orderCollection: orderCollection.getId}) }}"
                                   id="payment_request"
                                   class="pull-right btn bg-danger-400"
                                   data-contentwindow-width="480"
                                >
                                    <i class="icon-alert position-left"></i> Betaalverzoek Openstaand bedrag: € {{ outstandingAmount|number_format }}
                                </a>
                            {% elseif outstandingAmount < 0 %}
                                <button type="button" class="pull-right btn bg-success-400">
                                    <i class="icon-alert position-left"></i> Klanttegoed: € {{ outstandingAmount|abs|number_format }}
                                </button>
                            {% endif %}

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Kortingen
                            </div>
                        </div>
                        <div class="panel-body">
                            <table style="width: 100%;">
                                <thead>
                                <tr>
                                    <th><b>Code</b></th>
                                    <th><b>Korting</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for voucher in orderCollection.vouchers %}
                                    <tr>
                                        <td>{{ voucher.code }}</td>
                                        <td>{{ voucher.discount.description }} {% if not voucher.discount.companies.isEmpty %}<i class="mdi mdi-domain position-left"></i>{% endif %}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">
                                            Er zijn geen kortingen van toepassing op deze order.
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="{{ path('admin_sales_order_applyvouchercode', {orderCollection: orderCollection.id}) }}" data-action="apply-voucher" class="btn btn-xs btn-primary">
                                <i class="fa fa-ticket"></i>
                                Korting toevoegen
                            </a>
                        </div>
                    </div>
                    <div class="panel panel-default order-activity">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        Orderactiviteit
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="button" class="btn btn-default btn-xs"
                                                data-popup="tooltip" data-placement="top"
                                                data-original-title="Toon alles" data-trigger="hover"
                                                data-action="show-activity" data-value="*"
                                        >
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-data table-borderless"
                                   data-event="table-activity">
                                <tbody>
                                <tr>
                                    <td>Orderactiviteit wordt geladen</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {% if orderCollection.getSubscription() %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Abonnement <a
                                            href="{{ path('admin_customer_subscription_view', { subscription: orderCollection.getSubscription().getId() }) }}"
                                            class="fa fa-external-link" aria-hidden="true"></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed table-data table-borderless">
                                    <tr>
                                        <td>Begindatum:</td>
                                        <td>{{ orderCollection.getSubscription().getStartDate()|localizeddate('full', 'none') }}</td>
                                    </tr>
                                    <tr>
                                        <td>Einddatum:</td>
                                        <td>{{ orderCollection.getSubscription().getEndDate()|localizeddate('full', 'none') }}</td>
                                    </tr>
                                    <tr>
                                        <td>Frequentie:</td>
                                        <td>{{ orderCollection.getSubscription().getRruleAsText() }}</td>
                                    </tr>
                                    <tr>
                                        <td>Volgende levering:</td>
                                        <td>{{ orderCollection.getSubscription().getNextDate()|localizeddate('full', 'none') }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="order-orders" class="col-sm-6 col-md-8"
                 data-order-order-url="{{ path('admin_sales_order_orderorder') }}">

                {% include '@Admin/Sales/Order/order-collection-line.html.twig' with {orderCollection: orderCollection} %}

                {% for key, order in orders %}
                    <div class="order-order panel panel-default" data-order-id="{{ order.order_id }}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel-title pull-left">

                                        <a name="{{ order.order_number }}">
                                            {% if orderCollection.getFraudScore >= fraudWarningThreshold and orderCollection.getFraudScore < fraudBlockTreshold %}
                                                <i class="mdi mdi-alert"
                                                   style="font-size: 18px; color: #FFB74D; vertical-align: middle;"
                                                   data-action="review-fraud"></i>
                                            {% elseif orderCollection.getFraudScore >= fraudBlockTreshold %}
                                                <i class="mdi mdi-alert-circle" data-action="review-fraud"
                                                   style="font-size: 18px; color: #E57373; vertical-align: middle;"></i>
                                            {% elseif orderCollection.getFraudScore is not null %}
                                                <i class="mdi mdi-check"
                                                   style="font-size: 18px; color: #81C784; vertical-align: middle;"></i>
                                            {% endif %}

                                            {{ orderCollection.getNumber() }} - {{ order.order_number }}

                                            <span class="label bg-{{ orderStatuses[order.order_status].class }} heading-text">{{ orderStatuses[order.order_status].description }}</span>

                                            {% if order.order_status is same as('new') and order.order_force_manual == true %}
                                                <span class="label bg-primary heading-text" style="margin-top: 5px;">HANDMATIG</span>
                                            {% endif %}

                                            {{ macros_order.order_priority_label(order.order_priority) }}
                                        </a>
                                        <div class="delivery-date hidden visible-sm-block">
                                            {{ order.order_deliveryDate is not null ? order.order_deliveryDate.format('d-m-Y') : '' }}
                                        </div>
                                    </div>

                                    <div class="delivery-date pull-right text-right hidden visible-md-block">
                                        {{ order.order_deliveryDate is not null ? order.order_deliveryDate.format('d-m-Y') : '' }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
