{% import 'AdminBundle:macros:order.html.twig' as macros_order %}
<tbody>
{% if activities and activities is not empty %}
    {% for activity in activities %}
        <tr {% if activity.order is not null %} data-order-id="{{ activity.order.id }}" {% endif %}>
            <td>{{ activity.dateTime|localizeddate('short', 'short') }}</td>
            <td>
                {% if activity.order is not null %}
                    <a data-action="show-activity" data-value="{{ activity.order.id }}">
                        {{ activity.order.number }}
                    </a>
                {% endif %}
            </td>
            <td>
                <strong>
                    {% if activity.getUser() is not null %}
                        {{ activity.getUser().getDisplayName() }}
                    {% else %}
                        Systeem
                    {% endif %}
                </strong>
            </td>
            <td>{{ macros_order.activity_description(activity) }}</td>
            <td class="text-right">{{ macros_order.activity_actions(activity) }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>Geen resultaten gevonden...</td>
    </tr>
{% endif %}
</tbody>
