{% import 'AdminBundle:macros:order.html.twig' as macros_order %}
{% import 'AdminBundle:macros:payment.html.twig' as macros_payment %}
{% import 'AppBundle:macros:robin.html.twig' as robin %}

{#{% set orderCollection = order.orderCollection %}#}
{% if not orderCollection.getLines().isEmpty() %}
    <div class="order-collection-line panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel-title pull-left">
                        <a name="{{ orderCollection.number }}">{{ orderCollection.number }} - Algemeen</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-collection-line hidden-content">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed table-pull-up">
                            <tr>
                                <th style="width: 30px;"></th>
                                <th class="text-right">Bestelling</th>
                                <th style="width: 40px;">
                                </th>
                                <th class="text-right" style="width: 70px;">Prijs p.s.</th>
                                <th style="width: 40px;">
                                </th>
                                <th style="width: 40px;">
                                </th>
                                <th class="text-right" style="width: 70px;">Totaal</th>
                                <td></td>
                            </tr>

                            {% for orderCollectionLine in orderCollection.getLines() %}
                                <tr data-toggle="popover" data-trigger="hover"
                                    title="{{ orderCollectionLine.getTitle()|e }}" data-html="true"
                                    data-placement="left">
                                    <td style="width: 50px;"
                                        class="text-right">{{ orderCollectionLine.getQuantity() }} x
                                    </td>
                                    <td>
                                        {{ orderCollectionLine.getTitle() }}
                                        {% if orderCollectionLine.product is not null and orderCollectionLine.getTitle != orderCollectionLine.getProduct.getTitle %}
                                            <br /><span
                                                style="color: #d8d8d8;">{{ orderCollectionLine.getProduct.getTitle }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">€</td>
                                    <td class="text-right excl-vat">{#{ (get_price(orderCollectionLine) / orderCollectionLine.quantity) | number_format() }}#}</td>
                                    <td class="text-right incl-vat">{#{{ (get_price(orderCollectionLine) / orderCollectionLine.quantity) | number_format() }}#}</td>
                                    <td></td>
                                    <td class="text-right">€</td>
                                    <td class="text-right excl-vat">{{ orderCollectionLine.price | number_format() }}</td>
                                    <td class="text-right incl-vat">{{ orderCollectionLine.totalPriceIncl | number_format() }}</td>
                                </tr>
                                {% if orderCollectionLine.getDiscountAmount() %}
                                    <tr>
                                        <td></td>
                                        <td colspan="2"><i class="fa fa-flip-vertical fa-share"
                                                           style="font-size: 9px; top: -2px;"
                                                           aria-hidden="true"></i>&nbsp;Korting
                                        </td>
                                        <td class="text-right"></td>
                                        <td></td>
                                        <td class="text-right">€</td>
                                        <td class="text-right excl-vat">
                                            - {{ get_price(orderCollectionLine, false, 'discountAmountExcl') | number_format }}</td>
                                        <td class="text-right incl-vat">
                                            - {{ get_price(orderCollectionLine, false, 'discountAmount') | number_format }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}

                                {% if orderCollectionLine.product is not null %}
                                    {% for combination in orderCollectionLine.getProduct.getCombinations if orderCollectionLine.getProduct.isCombination() %}
                                        {% set combinationProduct = combination.getProduct %}
                                        <tr>
                                            <td style="width: 50px;" class="text-right"></td>
                                            <td colspan="8">
                                                <i class="fa fa-flip-vertical fa-share"
                                                   style="font-size: 9px; top: -2px;"
                                                   aria-hidden="true"></i>
                                                {{ combination.getQuantity }}
                                                x {{ combinationProduct.translate.getTitle() }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <tr class="excl-vat">
                                <td colspan="2" style="border-top: none;"></td>
                                <td class="text-right" colspan="3">Totaal (excl. BTW)</td>
                                <td class="text-right">€</td>
                                <td class="text-right"> {{ orderCollection.getTotalPrice()|number_format() }} </td>
                            </tr>
                            <tr class="excl-vat">
                                <td colspan="2" style="border-top: none;"></td>
                                <td class="text-right" colspan="3">BTW</td>
                                <td class="text-right">€</td>
                                <td class="text-right"> {{ (orderCollection.getTotalPriceIncl() - orderCollection.getTotalPrice())|number_format() }} </td>
                            </tr>
                            <tr style="font-weight: bold;">
                                <td colspan="2" style="border-top: none;"></td>
                                <td class="text-right" colspan="3">Totaal (incl. BTW)</td>
                                <td class="text-right">€</td>
                                <td class="text-right"> {{ orderCollection.getTotalPriceIncl()|number_format() }}
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel-footer">

            </div>
        </div>

    </div>
{% endif %}
