{% import 'AdminBundle:macros:order.html.twig' as macros_order %}
{% import 'AdminBundle:macros:payment.html.twig' as macros_payment %}
{% import 'AppBundle:macros:robin.html.twig' as robin %}

{% set orderCollection = order.orderCollection %}

<div class="panel-body" data-activity-url="{{ path('admin_sales_orderorder_activity', {order: order.getId}) }}">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-condensed table-borderless">
                {% if order.getDeliveryDate is not null %}
                    <tr>
                        <td>
                            Leverdatum:
                        </td>
                        <td>
                            <strong>{{ order.getDeliveryDate.format('d-m-Y') }}</strong>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        {% if order.getPickupAddress() is null %}
                            Bezorging op:
                        {% else %}
                            Wordt afgehaald:
                        {% endif %}
                    </td>
                    <td>
                        <table class="delivery-address-table">
                            {# this if is for backwards compatiblity for orders without DeliveryAddressType #}
                            {% if order.getDeliveryAddressType() is empty %}
                                <strong>{% if order.getDeliveryAddressCompanyName() %}Bedrijf{% else %}Woning{% endif %}</strong>
                                <br />

                                {% if order.getDeliveryAddressCompanyName() %}
                                    <tr>
                                        <td class="field-label">Bedrijfsnaam:</td>
                                        <td class="field-value">
                                            {{ order.getDeliveryAddressCompanyName() }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="field-label">Naam ontvanger:</td>
                                    <td class="field-value">
                                        {{ order.getDeliveryAddressAttn() }}
                                    </td>
                                </tr>
                            {% else %}
                                <strong>{{ order.getDeliveryAddressType().translate().getName() }}</strong>
                                <br />

                                {% if order.getPickupAddress() is null %}
                                    {% if order.getDeliveryAddressCompanyName() %}
                                        <tr>
                                            <td class="field-label">{{ order.getDeliveryAddressType().translate().getCompanyLabel() }}
                                                :
                                            </td>
                                            <td class="field-value">
                                                {{ order.getDeliveryAddressCompanyName() }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="field-label">
                                            {{ order.getDeliveryAddressType().translate().getRecipientLabel() }}
                                            :
                                        </td>
                                        <td class="field-value">
                                            {{ order.getDeliveryAddressAttn() }}
                                        </td>
                                    </tr>
                                    {% if order.getDeliveryAddressType().getFields() and attribute(order.getMetadata(), 'deliveryAddressTypeFields') is defined %}
                                        {% set field_descriptions = [] %}

                                        {% for field in order.getDeliveryAddressType().getFields() %}
                                            {% set field_key = 'field_' ~ field.getId() %}

                                            {% set field_descriptions = field_descriptions|merge({
                                                (field_key) : field.translate().getLabel()
                                            }) %}
                                        {% endfor %}

                                        {% for field in order.getMetadata()['deliveryAddressTypeFields'] %}
                                            {% if field.value is not empty %}
                                                <tr>
                                                    <td class="field-label">{{ attribute(field_descriptions, 'field_' ~ field.id) }}
                                                        :
                                                    </td>
                                                    <td class="field-value">
                                                        {{ field.value }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}

                                {% else %}
                                    <tr>
                                        <td class="field-label">
                                            Bedrijfsnaam:
                                        </td>
                                        <td class="field-value">
                                            {{ order.getPickupAddress().getCompanyName() }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        </table>

                        {% if order.getPickupAddress() is null %}
                            {% set address = "%s, %s %s, %s" | format(order.getDeliveryAddressStreetAndNumber(), order.getDeliveryAddressPostcode(), order.getDeliveryAddressCity(), order.getDeliveryAddressCountry()) %}
                        {% else %}
                            {% set address = order.getPickupAddress().format(', ') %}
                        {% endif %}

                        <a class="color-inherit" target="_blank"
                           href="{{ get_system_parameter('google_maps_place_url') | format(address | url_encode(true)) }}">
                            <div class="address-line">
                                {{ admin_icon('map-marker', null, null, 'fontawesome') }}

                                {{ address }}
                            </div>
                        </a>
                        <div>
                            {% set receiverPhoneNumber = order.getPickupAddress() is null ? order.getDeliveryAddressPhoneNumber : order.getPickupAddress.getPhoneNumber %}

                            {% if receiverPhoneNumber is not null %}
                                {{ admin_icon('phone', null, null, 'fontawesome') }}
                                {{ receiverPhoneNumber }}
                            {% endif %}
                        </div>
                    </td>
                </tr>

                {% if order.supplierOrder %}
                    <tr>
                        <td>Leverancier:</td>
                        <td>
                            <strong>{{ order.supplierOrder.supplier.name }}</strong><br>
                            <a href="tel:{{ order.supplierOrder.supplier.phoneNumber }}">{{ order.supplierOrder.supplier.phoneNumber }}</a><br>
                            <a href="mailto:{{ order.supplierOrder.supplier.email }}">{{ order.supplierOrder.supplier.email }}</a><br>
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td>
                        Opmerkingen: <br />
                        {% if order.getSupplierRemark() %}
                            <button type="button" class="btn btn-xs btn-default"
                                    {% if not order.getSupplierRemark() %} disabled{% endif %}
                                    data-popup="tooltip" data-placement="left"
                                    title="{{ order.getSupplierRemark() }}"
                            >
                                <i class="icon-bubble-notification"></i>
                            </button>
                        {% endif %}
                        {% if order.getDeliveryRemark() %}
                            <button type="button"
                                    class="btn btn-xs btn-default"{% if not order.getDeliveryRemark() %} disabled{% endif %}
                                    data-popup="tooltip" data-placement="left"
                                    title="{{ order.getDeliveryRemark() }}"
                            >
                                <i class="fa fa-truck"></i>
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        <div class="internal-remarks"
                             style="max-height: 145px; overflow: hidden;">
                            {% if order.internalRemarks is not empty %}
                                {% for internalRemark in order.internalRemarks|reverse %}
                                    <div class="remark">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {% if internalRemark.user %}
                                                    <strong>{{ internalRemark.user.getDisplayName }}:</strong>
                                                {% else %}
                                                    <strong>Systeem:</strong>
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                {{ internalRemark.createdAt|localizeddate('short') }}
                                            </div>
                                        </div>
                                        <div>
                                            {{ internalRemark.remark }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                Geen interne opmerkingen
                            {% endif %}
                        </div>
                        <div class="text-right">
                            <button class="internal-remark btn btn-default btn-xs"
                                    data-action="remark"
                                    data-url="{{ path('admin_sales_order_internalremark', {order: order.getId() }) }}"
                            >
                                {{ (order.internalRemarks.count > 0 ? '<i class="fa fa-eye"></i> Lees meer' : '<i class="fa fa-plus"></i> Plaatsen') }}
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            {% if not order.getLines().isEmpty() %}
                <table class="table table-condensed table-pull-up">
                    <tr>
                        <th style="width: 30px;"></th>
                        <th>Bestelling</th>
                        <th style="width: 40px;">
                        </th>
                        <th class="text-right" style="width: 70px;">Prijs p.s.</th>
                        <th style="width: 40px;">
                        </th>
                        <th style="width: 40px;">
                        </th>
                        <th class="text-right" style="width: 70px;">Totaal</th>
                        <td></td>
                    </tr>

                    {% if order.getOrderCollection.getVouchers %}
                        {% set voucher = order.getOrderCollection.getVouchers.current() %}
                    {% endif %}
                    {% for orderLine in order.getLines() if orderLine.getParent() is null %}
                        <tr data-toggle="popover" data-trigger="hover"
                            title="{{ orderLine.getTitle()|e }}" data-html="true"
                            data-placement="left"
                            data-template="{{ macros_order.popover_template(orderLine)|e }}"
                            data-content="{{ macros_order.popover_order_line(orderLine)|e }}"
                        >
                            <td style="width: 50px;"
                                class="text-right">{{ orderLine.getQuantity() }} x
                            </td>
                            <td>
                                {{ orderLine.getTitle() }}
                                {% if orderLine.getTitle != orderLine.getProduct.getTitle %}
                                    <br /><span style="color: #d8d8d8;">{{ orderLine.getProduct.getTitle }}</span>
                                {% endif %}
                            </td>
                            <td class="text-right">€</td>
                            <td class="text-right excl-vat">{{ orderLine.price | number_format(3) }}</td>
                            <td class="text-right incl-vat">{{ get_price(orderLine) | number_format() }}</td>
                            <td></td>
                            <td class="text-right">€</td>
                            <td class="text-right excl-vat">{{ orderLine.totalPrice | number_format(3) }}</td>
                            <td class="text-right incl-vat">{{ orderline_amount_incl(orderLine) | number_format() }}</td>
                            <td>{{ orderLine.getProcessStatus()|raw }}</td>
                        </tr>
                        {% if orderLine.getDiscountAmount() and voucher is not empty %}
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <i class="fa fa-flip-vertical fa-share" style="font-size: 9px; top: -2px;"
                                       aria-hidden="true"></i>
                                    {{ orderline_manager_get_discount_description(orderLine) }} <span
                                            style="opacity: 0.25;">({{ voucher.getCode }})</span>
                                </td>
                                <td class="text-right"></td>
                                <td></td>
                                <td class="text-right">€</td>
                                <td class="text-right excl-vat">
                                    - {{ orderline_manager_get_discountamount_excl(orderLine) | number_format }}</td>
                                <td class="text-right incl-vat">
                                    - {{ get_price(orderLine, false, 'discountAmount') | number_format }}</td>
                                <td></td>
                            </tr>
                        {% endif %}

                        {% for combination in orderLine.getProduct.getCombinations if orderLine.getProduct.isCombination() %}
                            {% set combinationProduct = combination.getProduct %}
                            <tr>
                                <td style="width: 50px;" class="text-right"></td>
                                <td colspan="8" data-designer-line-id="{{ orderLine.getId() }}">
                                    <i class="fa fa-flip-vertical fa-share"
                                       style="font-size: 9px; top: -2px;"
                                       aria-hidden="true"></i>
                                    {{ combination.getQuantity }}
                                    x {{ combinationProduct.translate.getTitle() }}

                                    {% if combinationProduct.isPersonalization and orderLine.getDesignUuid() %}
                                        {{ macros_order.design_actions(orderLine, orderLine) }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for childLine in orderLine.getChildren() %}
                            <tr
                                    data-toggle="popover"
                                    data-trigger="hover"
                                    data-html="true"
                                    data-placement="left"
                                    data-template="{{ macros_order.popover_template(childLine)|e }}"
                                    data-content="{{ macros_order.popover_order_line(childLine)|e }}"
                                    title="{{ childLine.getTitle() }}"
                            >
                                <td style="width: 50px;"
                                    class="text-right">{{ childLine.getQuantity() }} x
                                </td>
                                <td class="line-actions" data-childline-id="{{ childLine.getId() }}">
                                    <i class="fa fa-flip-vertical fa-share"
                                       style="font-size: 9px; top: -2px;"
                                       aria-hidden="true"></i>

                                    {{ childLine.getTitle() }}


                                    {% if order.status != 'cancelled' %}
                                        {% if attribute(childLine.getMetadata(), 'letter') is defined %}
                                        <a class="order-line-edit-link order-line-letter-edit modify-letter"
                                           data-popup="tooltip"
                                           data-placement="right"
                                           data-original-title="Brief bewerken"
                                           href="{{ path('admin_letter_letter_edit', {orderLine: childLine.getUuid(), uuid: attribute(childLine.getMetadata(), 'letter')['uuid']}) }}?callback=window.parent.line_{{ childLine.getId() }}_callback">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>

                                        <a class="order-line-edit-link"
                                           href="{{ path('admin_sales_order_downloadletter', {
                                               orderLine: childLine.getUuid()
                                           }) }}"
                                           data-popup="tooltip"
                                           data-placement="right"
                                           data-original-title="Download brief"
                                           target="_blank">
                                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                        </a>

                                        {% elseif attribute(childLine.getMetadata(), 'is_card') is defined %}
                                        <a href="{{ path('admin_sales_orderorder_editcard', {
                                            order: order.getId,
                                            orderLine: childLine.getId
                                        }) }}" data-popup="tooltip"
                                           data-placement="right"
                                           data-original-title="Kaartje bewerken"
                                           class="order-line-edit-link order-line-card-edit"><i
                                                    class="fa fa-pencil" aria-hidden="true"></i></a>

                                        {% elseif orderLine.getProduct() and childLine.getDesignUuid() %}
                                            {{ macros_order.design_actions(orderLine, childLine) }}
                                        {% elseif childLine.metadata.input_fields is defined %}
                                            <a href="{{ path('admin_sales_orderorder_editinputfields', {
                                                order: order.getId,
                                                orderLine: childLine.getId
                                            }) }}" data-popup="tooltip"
                                               data-placement="right"
                                               data-original-title="Teksten bewerken"
                                               class="order-line-edit-link order-line-inputfields-edit"><i class="fa fa-pencil"
                                                                                                           aria-hidden="true"></i></a>
                                        {% endif %}
                                    {% endif %}

                                </td>
                                <td class="text-right">€</td>
                                <td class="text-right excl-vat">{{ childLine.price | number_format(3) }}</td>
                                <td class="text-right incl-vat">{{ get_price(childLine, true) |number_format() }}</td>
                                <td></td>
                                <td class="text-right">€</td>
                                <td class="text-right excl-vat">{{ childLine.totalPrice | number_format(3) }}</td>
                                <td class="text-right incl-vat">{{ orderline_amount_incl(childLine)|number_format() }}</td>
                                <td></td>
                            </tr>
                            {% if childLine.getDiscountAmount() %}
                                <tr>
                                    <td></td>
                                    <td style="padding-left: 30px;"><i class="fa fa-flip-vertical fa-share"
                                                                       style="font-size: 9px; top: -2px;"
                                                                       aria-hidden="true"></i>
                                        {{ orderline_manager_get_discount_description(orderLine) }}
                                    </td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td></td>
                                    <td class="text-right">€</td>
                                    <td class="text-right excl-vat">
                                        - {{ orderline_manager_get_discountamount_excl(childLine) | number_format }}</td>
                                    <td class="text-right incl-vat">
                                        - {{ get_price(childLine, false, 'discountAmount') | number_format }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    {% if order.getTotalDiscountAmount() %}
                        <tr class="excl-vat">
                            <td colspan="2" style="border-top: none;"></td>
                            <td class="text-right" colspan="3">Korting (excl. BTW)</td>
                            <td class="text-right">€</td>
                            <td class="text-right"> {{ order_manager_get_totaldiscountamount_excl(order) | number_format }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="excl-vat">
                        <td colspan="2" style="border-top: none;"></td>
                        <td class="text-right" colspan="3">Totaal (excl. BTW)</td>
                        <td class="text-right">€</td>
                        <td class="text-right"> {{ order.getTotalPrice()|number_format() }} </td>
                    </tr>
                    <tr class="excl-vat">
                        <td colspan="2" style="border-top: none;"></td>
                        <td class="text-right" colspan="3">BTW</td>
                        <td class="text-right">€</td>
                        <td class="text-right"> {{ (order.getTotalPriceIncl() - order.getTotalPrice())|number_format() }} </td>
                    </tr>
                    {% if order.getTotalDiscountAmountIncl() %}
                        <tr>
                            <td colspan="2" style="border-top: none;"></td>
                            <td class="text-right" colspan="3">Korting (incl. BTW)</td>
                            <td class="text-right">€</td>
                            <td class="text-right"> {{ order.getTotalDiscountAmountIncl()|number_format() }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr style="font-weight: bold;">
                        <td colspan="2" style="border-top: none;"></td>
                        <td class="text-right" colspan="3">Totaal (incl. BTW)</td>
                        <td class="text-right">€</td>
                        <td class="text-right"> {{ order.getTotalPriceIncl()|number_format() }}
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
</div>

<div class="panel-footer">
    {% if workflow_can(order, 'cancel') %}
        <button type="button" class="btn bg-danger-400 btn-xs" data-type="consumer"
                data-order-number="{{ orderCollection.number }}-{{ order.number }}"
                data-action="cancel-ajax-order"
                data-url="{{ path('admin_sales_orderordercancel_cancelorderajax', { order: order.id }) }}">
            Order annuleren
        </button>
    {% endif %}
    {% if order.supplierOrder and workflow_can(order, 'recall') %}
        <button type="button" class="btn bg-danger-400 btn-xs" data-type="supplier"
                data-order-number="{{ orderCollection.number }}-{{ order.number }}"
                data-action="cancel-ajax-order"
                data-url="{{ path('admin_sales_orderordercancel_cancelorderajax', { order: order.id }) }}">
            Terughalen
        </button>
    {% endif %}

    {% if order.isEligibleForRestitutionVoucher and is_granted('ROLE_ADMIN') %}
        <button type="button" class="btn bg-default-400 btn-xs"
                data-order-number="{{ orderCollection.number }}-{{ order.number }}"
                data-action="restitute-ajax-order"
                data-url="{{ path('admin_sales_restitution_index', { order: order.id }) }}">
            Vergoeden
        </button>
    {% endif %}

    <div class="pull-right">
        {% if order.supplierOrder and order.supplierOrder.connector == 'Bakker' %}
            <a href="{{ path('admin_customer_company_login', {
                id: order.supplierOrder.supplier.getId()
            }) }}" target="_blank"
               class="btn btn-default" data-popup="tooltip" data-placement="left"
               title="Bekijk in leverancier systeem">
                Leverancier login
            </a>
        {% endif %}

        {% set packingSlipFile = path('admin_sales_orderorder_packingslip', {
            order: order.getId(),
            filename: 'Pakbon %s-%s.pdf'|format(orderCollection.getNumber(), order.getNumber())
        }) %}

        {% if order.supplierOrder is not null %}
            <div class="btn-group">
                <a href="{{ packingSlipFile }}" data-action="view-pdf"
                   class="btn btn-xs btn-primary">
                    <span class="icon-cube2 position-left"></span>
                    Pakbon bekijken
                </a>

                <button type="button" class="btn btn-xs btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="{{ packingSlipFile }}/download">
                            <i class="icon-move-down position-left"></i>
                            Downloaden
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}


        {% set editPath = path('admin_sales_orderorder_edit', {
            order: order.getId()
        }) %}

        {% if order.status == 'draft' %}
            {% set editPath = path('admin_sales_orderorder_editcomposition', {
                order: order.getId()
            }) %}
        {% endif %}

        {% set editOrderLines = order.status == 'draft' %}
        <div class="btn-group">
            <a data-action="edit-order" class="btn btn-xs btn-primary"
               href="{{ editPath }}" {{ order_is_editable(order) is same as(false) ? 'disabled' : '' }}>
                <span class="icon-pencil position-left"></span>
                Bewerken
            </a>

            <button type="button" class="btn btn-xs btn-primary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-expanded="false" {{ order_collection_can(orderCollection, 'edit') is same as (false) ? 'disabled' : '' }}
            >
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                {% if order.supplierOrder %}
                    <li style="min-width: 200px;">
                        <a type="button" data-event="edit-process"
                           data-href="{{ path('admin_sales_orderorderprocess_edit', { order: order.id }) }}"
                           data-placement-left="left" data-popup="tooltip"
                           data-original-title="Doorgeefprijzen wijzigen"
                        >
                            <i class="icon-redo2" style="width: 0;"></i>
                            <i class="fa fa-euro"
                               style="font-size: 60%; width: 0; margin-left: -17px; margin-top: 13px"></i>
                            Doorgeefprijzen wijzigen
                        </a>
                    </li>
                {% endif %}
                <li style="min-width: 200px;">
                    <a type="button" data-action="edit-status"
                       data-placement-left="left"
                       data-status-path="{{ path("admin_sales_order_availablestatuses", {order: order.getId}) }}"
                       data-href="{{ path("admin_sales_order_updatestatus", {order: order.getId}) }}"
                       data-order-href="{{ path("admin_sales_order_order", {orderCollection: orderCollection.getId}) }}#{{ order.getNumber }}"
                       data-current-status="{{ order.status }}"
                       data-popup="tooltip"
                       data-original-title="Orderstatus wijzigen"
                            {{ order_collection_can(orderCollection, 'edit') is same as (false) ? 'disabled' : '' }}>
                        <i class="icon-price-tag2" style="width: 0;"></i>
                        Orderstatus wijzigen
                    </a>
                </li>
            </ul>
        </div>

        {% if workflow_can(order, 'forward_to_supplier') %}
            <a data-action="process-order"
               href="{{ path('admin_sales_orderorderprocess_index', {
                   order: order.getId()
               }) }}"
               class="btn btn-xs btn-primary" {{ order_collection_can(orderCollection, 'process') is same as (false) ? 'disabled' : '' }}>
                <span class="icon-redo2 position-left"></span>

                Verwerken
            </a>
        {% endif %}
    </div>
</div>
