<tr>
    <td style="position: relative;">

        {% if order.getOrderCollection().calculateOutstanding() <= 0 %}
            <div style="width: 3px; position: absolute; margin-left: -10px; margin-top: -5px; height: 100%;"
                 class="bg-success-300"></div>
        {% else %}
            <div style="width: 3px; position: absolute; margin-left: -10px; margin-top: -5px; height: 100%;"
                 class="bg-danger-300"></div>
        {% endif %}

        {{ macros_order.order_priority_label(order.getPriority, true, 'mdi mdi-alert', 'margin-top: 5px;') }}

        <span class="label bg-{{ order.status | order_status_label_class }} heading-text">{{ order.statusDescription }}</span>

        {% if order.status == 'new' and order.forceManual == true %}
            <br/>
            <span class="label bg-primary heading-text" style="margin-top: 5px;">HANDMATIG</span>
        {% endif %}

        {% if order.getOrderCollection().getFraudScore >= fraudWarningThreshold and order.getOrderCollection().getFraudScore < fraudBlockTreshold %}
            <i class="fa fa-warning" style="font-size: 20px; color: #FFB74D; position: absolute;"></i>
        {% elseif order.getOrderCollection().getFraudScore >= fraudBlockTreshold %}
            <i class="fa fa-ban" style="font-size: 20px; color: #E57373; position: absolute;"></i>
        {% endif %}

        <br/>

        {% if workflow_can(order, 'forward_to_supplier') and order.autoOrder is not null and order.autoOrder.job is not null %}
            <span class="label heading-text {% if (order.autoOrder.forwardAt | date_modify("+1 hour")) < date() %} bg-danger {% else %} bg-green {% endif %}" style="margin-top: 5px;" data-popup="tooltip"
                  data-placement="right" data-html=true
                  title="<span style='white-space: nowrap'>{{ order.getAutoOrder().getForwardAt()|localizeddate('long', 'short') }}</span>">
                AUTO ORDER
            </span>
            <br />
        {% endif %}

        {% if order.getSupplierRemark() %}
            <button type="button"
                    class="btn btn-xs btn-default"{% if not order.getSupplierRemark() %} disabled{% endif %}
                    data-popup="tooltip" data-placement="right" title="{{ order.getSupplierRemark() }}"><i
                        class="icon-bubble-notification"></i></button>
        {% endif %}
        {% if order.getDeliveryRemark() %}
            <button type="button"
                    class="btn btn-xs btn-default"{% if not order.getDeliveryRemark() %} disabled{% endif %}
                    data-popup="tooltip" data-placement="right" title="{{ order.getDeliveryRemark() }}"><i
                        class="fa fa-truck"></i></button>
        {% endif %}
    </td>
    <td data-site="{{ order.orderCollection.site.theme }}">
        <strong>{{ order.getOrderCollection().getNumber() }}-{{ order.getNumber() }}</strong> <br />

        {% if order.getDeliveryDate() %}
            {% if order.getPickupAddress() is null %}
                {{ order.getDeliveryDate()|localizeddate('full', 'none', null, null, 'EEE d MMM y')|replace({'.': ""}) }}
                <br />
            {% endif %}
        {% endif %}

        {{ order.getOrderCollection().getSite().translate().getDescription() }}
    </td>
    <td style="width: 200px;">
        {% if order.getPickupAddress() is null %}
            {% if order.getDeliveryAddressCompanyName() %}
                {{ order.getDeliveryAddressCompanyName() }}
                <br />
            {% endif %}
            {{ order.getDeliveryAddressAttn() }}<br />
            {{ order.getDeliveryAddressStreetAndNumber() }}<br />
            {{ order.getDeliveryAddressPostcode() }} {{ order.getDeliveryAddressCity() }} ({{ order.getDeliveryAddressCountry() }})
        {% else %}
            Bestelling wordt afgehaald bij <strong>{{ order.getPickupAddress().getCompanyName() }}</strong> in <br />
            <br />{{ order.getPickupAddress().getCity() }}
        {% endif %}
    </td>
    <td>
        {% if order.orderCollection.getInvoiceAddressCompanyName() %}
            {{ order.orderCollection.getInvoiceAddressCompanyName() }}
            <br />
        {% endif %}
        {{ order.getOrderCollection().getInvoiceAddressAttn() }}
        {% if order.getOrderCollection().getInvoiceAddressPhoneNumber() %}<br /><a
            href="tel:{{ order.getOrderCollection().getInvoiceAddressPhoneNumber() }}">{{ order.getOrderCollection().getInvoiceAddressPhoneNumber() }}</a>{% endif %}
        {% if order.getOrderCollection().getCustomer().getEmail() and robin is defined %}
            <br />{{ robin.profile_link(order.getOrderCollection().getCustomer().getEmail()) }}{% endif %}
    </td>

    {% if order.supplierOrder %}
        {% set supplier = order.supplierOrder.supplier %}
    {% elseif order.autoOrder and order.autoOrder.supplier %}
        {% set supplier = order.autoOrder.supplier %}
    {% endif %}

    <td{% if not order.supplierOrder %} style="opacity: 0.25; font-style: italic;"{% endif %}>
        {% if supplier is defined %}
            {{ supplier.name }}<br>
            <a href="tel:{{ supplier.phoneNumber }}">{{ supplier.phoneNumber }}</a><br>
            <a href="mailto:{{ supplier.email }}">{{ supplier.email }}</a>
        {% endif %}
    </td>
    <td style="overflow:hidden;">
        {% set count = 1 %}
        {% for line in order.getLines if count <= 10 %}
            {% if line.getParent is null and line.getProduct is not null and (line.getProduct.getParent ? line.getProduct.getParent.getPurchasable : line.getProduct.getPurchasable) %}
                {% if count == 10 %}
                    En meer producten
                {% else %}
                    <span style="white-space: nowrap">{{ line.getQuantity() }}
                        x {{ line.getProduct.translate.getTitle() }}</span><br />
                {% endif %}
                {% set count = count+1 %}
            {% endif %}
        {% endfor %}
    </td>
    <td class="hidden visible-md visible-lg">
        {% set firstRemark = order.internalRemarks|first %}
        {% if firstRemark %}
            <div class="internal-remark"
                 data-url="{{ path('admin_sales_order_internalremark',{order: order.getId()}) }}">
                <strong>{{ firstRemark.user is not null ? firstRemark.user.displayName : 'Systeem' }}</strong>: <strong
                        style="float: right;">{{ firstRemark.createdAt|localizeddate('short', 'none', null, null, 'dd-MM-y') }}</strong><br>
                {{ firstRemark.remark }}
            </div>
        {% endif %}
    </td>
    <td style="white-space: nowrap;">
        <div class="text-right">
            {% if order.supplierOrder and order.supplierOrder.connector == 'Bakker' %}
                <a href="{{ supplier_connector_helper.getConnector(order.supplierOrder).login(order.supplierOrder.supplier) }}" target="_blank" class="btn btn-default"
                   data-popup="tooltip" data-placement="left" title="Bekijk in leverancier systeem">
                    <i class="icon-lock2"></i>
                </a>
            {% endif %}

            <button type="button"
                    class="btn btn-default"
                    data-href="{{ path('admin_sales_order_order', { orderCollection: order.orderCollection.id }) }}#{{ order.number }}"
                    data-event="get-order"
                    data-order-id="{{ order.getId }}"
                    data-popup="tooltip"
                    data-placement="left"
                    data-original-title="Openen"
            >
                <i class="icon-eye"></i>
            </button>

            {% if workflow_can(order, 'forward_to_supplier') %}
                {% set fraud = false %}

                {% for payment in order.orderCollection.payments %}
                    {% if payment.fraudScore > 25 %}
                        {% set fraud = true %}
                    {% endif %}
                {% endfor %}

                <button type="button"
                        class="btn btn-default"
                        {% if fraud %}style="background-color: red !important; color: white !important;"{% endif %}
                        data-href="{{ path('admin_sales_orderorderprocess_index', { order: order.getId() }) }}"
                        data-event="process-order"
                        data-popup="tooltip"
                        data-placement="left"
                        data-original-title="Doorsturen"
                        {{ order_collection_can(order.orderCollection, 'process') is same as (false) ? 'disabled' : '' }}
                >
                    <i class="icon-redo2"></i>
                </button>
            {% endif %}

            {#{% if order.getStatus().getCancellable() %}#}
            {#<button type="button"#}
            {#class="btn btn-default"#}
            {#data-href="{{ path('admin_sales_orderordercancel_index', { order: order.getId() }) }}"#}
            {#data-event="cancel-order"#}
            {#data-popup="tooltip"#}
            {#data-placement="left"#}
            {#data-original-title="Annuleren"#}
            {#>#}
            {#<i class="icon-cross2 text-danger"></i>#}
            {#</button>#}
            {#{% endif %}#}
        </div>
    </td>
</tr>
