<h4>Bestelling {{ order.getOrderCollection().getNumber() }}-{{ order.getNumber() }}</h4>

<form method="post" action="{{ path('admin_sales_order_supplierremarkpersist', {
    order: order.getId()
}) }}">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Leveranciers opmerking</strong></div>
        <div class="panel-body">
            <textarea name="supplier-remark" class="form-control elastic"
                      placeholder="Opmerking voor leverancier">{% if (order.getSupplierRemark) %}{{ order.getSupplierRemark }}&nbsp;
{% endif %}</textarea>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-xs btn-default bg-white">Annuleren</button>
            <button class="btn btn-xs btn-primary">Opslaan</button>
        </div>
    </div>
</form>
