{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account-users.css') }}" />
{% endblock %}

{% set page_title = "account.company.users.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}

    <h1>{{ page_title }}</h1>

    <p>{{ 'account.company.users.text'|trans|format(app.getUser().getCompany().getName()) }}</p>

    {% if not app.getUser().isMigrated() %}
        <a href="{{ path('app_customer_account_user_new') }}"
           class="btn btn-theme btn-add">{{ 'account.company.users.new'|trans }}</a>
    {% endif %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.email'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in app.getUser().getCompany().getUsers() %}
            {% set accountIsActive = 1 %}

            {% if user.getConfirmationToken() is not empty and user.getPasswordRequestedAt() is not empty %}
                {% set accountIsActive = 0 %}
            {% else %}
                {% if user.isEnabled() is same as(false) %}
                    {% set accountIsActive = 0 %}
                {% endif %}
            {% endif %}

            <tr>
                <td class="status status{{ accountIsActive }}"><i class="fa fa-circle"></i></td>
                <td>{{ user.getFullname() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td class="text-xs-right">
                    {% if edit is defined and edit %}
                        <a href="{{ path('app_customer_account_user_edit', {'id': user.getId()}) }}"><i
                                    class="fa fa-pencil"></i> {{ 'label.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <span class="status1">
                    <i class="fa fa-circle"></i> {{ 'label.active_user'|trans }}
                </span>
                <span class="status">
                    <i class="fa fa-circle"></i> {{ 'label.inactive_user'|trans }}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
