html, body {
    height: 100%;
}

#company_custom_authentication {
    background: #ffffff;
}

#company_custom_authentication .company_custom_authentication_wrapper {
    padding: 25px 0;
}

@media screen and (min-width: 960px) {
    #company_custom_authentication {
        position: relative;

        top: 50%;
        transform: translateY(-50%);
    }
}

#company_custom_authentication p {
    line-height: 150%;
}

.text p {
    margin-bottom: 1rem;
}

.logo {
    position: relative;
    margin-bottom: 15px;

    width: 300px;
    height: 85px;
}

.logo img {
    position: absolute;
    max-width: 300px;
    max-height: 85px;

    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.password-forgotten {
    margin: 10px 0 0 0;
}

.password-forgotten a {
    font-size: 12px;
}