{% extends 'AdminBundle::base.html.twig' %}

{% if crud is defined %}
    {% if crud.hasSidebarMenu() %}
        {% set sidebar_menu = crud.getSidebarMenu() %}
    {% endif %}
{% endif %}

{% block body %}
    {{ app.request.isXmlHttpRequest }}
    {% if assets is defined %}
        {% for asset in assets if asset[-4:] is same as('.css') %}
            <link rel="stylesheet" type="text/css" href="{{ asset }}" />
        {% endfor %}
    {% endif %}

    <div class="panel panel-flat">
        {{ datatable | raw }}
    </div>

    {% if assets is defined %}
        {% for asset in assets if asset[-3:] is same as('.js') %}
            <script type="text/javascript" src="{{ asset }}"></script>
        {% endfor %}
    {% endif %}
{% endblock body %}
