<div class="panel panel-white panel-crud" id="log_table">
    <table class="table table-bordered table-xs">
        <thead>
        <tr>
            <th class="col-xs-3">Actie</th>
            <th class="">Door</th>
            <th class="">Wanneer</th>
            <th class="">Wijzigingen</th>
            <th class="">Versie</th>
        </tr>
        </thead>
        <tbody>
        {% if logEntries %}
            {% for entry in logEntries %}
                {% set changed_count = entry.data|length %}
                <tr>
                    <td>
                        {% if entry.action == 'create' %}
                            Toegevoegd
                        {% elseif entry.action == 'update' %}
                            Wijziging
                        {% endif %}
                    </td>
                    <td>{% if entry.username is empty %}<em>Systeem</em>{% else %}{{ entry.username }}{% endif %}</td>
                    <td>{{ entry.logged_at|ago }}</td>
                    <td>
                        {% if entry.data is not empty %}
                            {% for column, value in entry.data %}
                                <strong>{{ column }}
                                    :</strong> {% if value is iterable %}{{ value|json_encode() }}{% else %}{{ value }}{% endif %}
                                <br />
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ entry.version }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
