{% if panel.template is defined %}
    {{ panel.template | raw }}
{% elseif panel.tabs is defined %}
    <div class="tabbable" style="margin: -20px;">
        <ul class="nav nav-tabs nav-tabs-sm nav-justified nav-tabs-bottom">
            {% for tab in panel.tabs %}
                <li>
                    <a href="#{{ panel.id }}_{{ tab.action }}" data-toggle="tab" class="panel-tab"
                       data-tab-type="{{ tab.type }}"
                       data-tab-action="{{ tab.action }}"
                       data-href="{{ path(tab.href, {child: tab.action, id: entity_id}) }}">
                        {% if attribute(tab, 'icon') is defined %}
                            {{ admin_icon(tab.icon, false, {}, 'material') }}
                        {% endif %}

                        {{ tab.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content panel-tab-content"></div>
    </div>
{% endif %}