<table id="supplier_order_table" class="table table-striped order-info">
    <thead>
        <tr>
            <th class="text-bottom">Artikelnr.</th>
            <th class="text-bottom">Product</th>
            <th class="text-center text-bottom">Aantal</th>
            <th class="text-right text-bottom">Basisprijs<br>leverancier</th>
            <th class="text-right text-bottom" style="width: 80px;">Doorgeefprijs</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>