{% macro all_form_errors(form, is_global) %}
    {% set is_global = is_global|default(1) %}
    {% if form.vars.errors is defined %}
        {% for error in form.vars.errors %}
            <li>
                {% if is_global == 1 %}
                    {{ error.messageTemplate|trans(error.messageParameters, 'validators')|nl2br|trans }}
                {% else %}
                    {{ form_errors(form)|striptags|trim|nl2br|trans(error.messageParameters, 'validators') }}
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}

    {% if form.children|length > 0 %}
        {% for child in form.children %}
            {{ _self.all_form_errors(child, 2) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{# Run #}
<div>
    <div class="form-error container alert alert-danger">
        <p>
            <strong>{{ "form.invalid_message.description"|trans }}</strong>
        </p>

        <ul>
            {{ _self.all_form_errors(form) }}
        </ul>
    </div>
</div>