<style media="all">
    html {
    }

    header {
        color: #3c4034;
        line-height: 1.4;
        font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
        padding: 5mm 8mm 0 8mm;
        /*padding: .8cm 1.5cm;*/
        margin-bottom: 5rem;
        font-size: 5pt;
        display: block;
        margin-top: -4mm;
        height: 100px;
        width: 100%;
    }

    .clear-fix:after {
        clear: both;
        content: '';
        display: block;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .text-right {
        text-align: right;
    }

    #brand-logo {
        width: 50%;
        height: 6.5mm;
        margin: 0;
        padding: 0;
    }

    #brand-logo img {
        width: auto;
        height: 100%;
    }

    #brand-address {
        width: 50%;
        margin: 0;
        padding: 0;
    }

</style>

<header id="invoice-header" class="clear-fix">
    {% if attribute(data, 'logoData') is defined %}
        <div id="brand-logo" class="{{ data.theme }} left">
            <img src="{{ attribute(data, 'logoData') }}" />
        </div>
    {% endif %}

    <div id="brand-address" class="right text-right">Topgeschenken Nederland BV | Noorderdreef 60 | 2153LL
        Nieuw-Vennep<br />E: administratie@topgeschenken.nl | T: 088-1108000 | F: 088-1108001<br />ING Bank: IBAN:
        NL54 INGB 0007 2441 72 | BIC: INGBNL2A<br />KVK: 34108906 | BTW nr. NL818503051B01
    </div>
</header>
