{% import 'AdminBundle:macro:product.html.twig' as macros %}

<div class="row combination-product-holder"
     data-combination-quantity-url="{{ path('admin_catalog_productcombination_changequantity') }}"
>

        {% for combination in genericProduct.getCombinations %}
            {{ macros.product_combination_item(genericProduct, combination) }}
        {% endfor %}

        {# benodigd voor combination-quantity.js #}
        <input type="hidden" id="selectedProducts">

        <div class="col-xs-2">
            <a href="#"
               class="btn bg-teal-400 combination-add-item"
               data-combination-id="{{ genericProduct.getId }}"
               data-select-view="{{ path('admin_catalog_product_searchcombinationproducts') }}"
            >
                <i class="fa fa-plus" aria-hidden="true"></i> Product Toevoegen
            </a>
        </div>

</div>

{% block javascripts %}
    {% if genericProduct.isConfigurable() %}
        <script type="text/javascript">
            var configurations = JSON.parse('{{ genericProduct.getConfigurations.configurations | raw }}');
        </script>
        {% javascripts '@AdminBundle/Resources/public/js/catalog/product/combination-quantity.js' %}
            <script type='text/javascript' src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% javascripts '@AdminBundle/Resources/public/js/catalog/product/combination-collection.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
