{% extends '@Admin/Product/base-description-panel.html.twig' %}

{# set template product parameter #}
{% set product = companyCard %}

{% block column_one_actions %}
    <button
        class="btn btn-primary pull-right"
        data-action="open-content"
        data-url="{{ path('admin_supplier_supplierproduct_supplier', {id: companyCard.id}) }}"
        style="margin-left: 10px;">
            Leveranciers
    </button>

    {#<button class="btn btn-primary pull-right" data-action="open-content"#}
    {#data-url="{{ path('admin_catalog_companycard_edit', {id: companyCard.id}) }}">#}
    {#Bewerken#}
    {#</button>#}
{% endblock column_one_actions %}