{# set template product parameter #}
{% set product = companyProduct %}

<div class="row product-container" data-product="{{ product.getId }}">
    <div class="col-md-2">
        <div id="product-foto">
            {% block image %}
                {{ include('@App/blocks/Product/image.html.twig', {product: product}) }}
            {% endblock image %}
        </div>
    </div>
    <div class="col-md-5">
            <table class="table table-borderless product-description">
                <thead>
                <tr>
                    <th colspan="2" style="font-size: 15px; margin: 0;">{{ product.name }} <a target="_blank" href="{{ path('admin_catalog_product_view', {id: product.relatedProduct.id}) }}" style="font-size: 12px; color: rgba(0, 0, 0, .54)">(Orgineel: {{ product.relatedProduct.name }})</a></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Omschrijving:</td>
                    <td>{{ product.translate.getDescription | raw }}</td>
                </tr>

                {% if product.getSku is not empty %}
                    <tr>
                        <td>Sku:</td>
                        <td>{{ product.getSku }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Gepubliceerd:</td>
                    <td>{{ product.getPublish ? 'Ja' : 'Nee' }}</td>
                </tr>

                {% if product.getPublishStart is not null or product.getPublishEnd is not null %}
                    <tr>
                        <td>Gepubliceerd van/tot:</td>
                        <td>{{ product.getPublishStart ? product.getPublishStart.format('d-m-Y H:i') : 'Geen startdatum' }} - {{ product.getPublishEnd ? product.getPublishEnd.format('d-m-Y H:i') : 'Geen einddatum' }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        <button
            class="btn btn-primary pull-right"
            data-action="open-content"
            data-refresh-panel="description_panel"
            data-url="{{ path('admin_catalog_product_companyproduct_edit', {id: product.id}) }}">
                Bewerken
        </button>
    </div>
</div>
