{% extends '@Admin/Product/base-description-panel.html.twig' %}

{# set template product parameter #}
{% set product = letter %}

{% block column_one_actions %}
    <button
        class="btn btn-primary pull-right"
        data-action="open-content"
        data-url="{{ path('admin_supplier_supplierproduct_supplier', {id: product.getId}) }}"
        style="margin-left: 10px;">
            Leveranciers
    </button>
    <button
        class="btn btn-primary pull-right"
        data-action="open-content"
        data-url="{{ path('admin_catalog_productletter_edit', {id: product.getId}) }}">
            Bewerken
    </button>
{% endblock column_one_actions %}