{% extends '@Admin/Product/base-description-panel.html.twig' %}

{% set product = personalization %}

{% block column_one_actions %}
<button
    class="btn btn-primary pull-right"
    data-action="open-content"
    data-url="{{ path('admin_catalog_productpersonalization_edit', {id: product.getId}) }}">
        Bewerken
</button>
{% endblock column_one_actions %}