{% block body %}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Regel aanmaken</h6>
        </div>
        {% if no_entities is not defined %}
        <div class="panel-body">
            <div class="form-group">
                <select name="rule_start_point" class="form-control" id="rule_start_point" required>
                    {% for entity in entities %}
                        <option value="{{ entity.getFullyQualifiedName() }}">{{ entity.getLabel() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="rule_description">Regel omschrijving</label>

                <input name="rule_description" id="rule_description" class="form-control" required>
            </div>

            <div id="rule_builder" class="rule-builder"></div>
        </div>
    </div>

    <script type="text/javascript">
        var ruleBuilder = new RuleBuilder('#rule_builder', {
            autocompleteUrl: '{{ path('rule_rule_filterautocomplete') }}',
            autocompleteLookupUrl: '{{ path('rule_rule_filterautocomplete', {
                'lookup': '%%IDENTIFIER%%'
            }) }}',
            filtersUrl: '{{ path('rule_rule_getfilters', {
                'start': '%%IDENTIFIER%%'
            }) }}',
            createUrl: '{{ persistUrl }}'
        });

        ruleBuilder.setFilters({{ filters|json_encode|raw }});

        ruleBuilder.create();
    </script>
    {% else %}
        <div class="panel-body">
            <div class="alert alert-warning" role="alert">Het genereren van database structuur informatie wordt op de achtergrond uitgevoerd. Probeer het later opnieuw.</div>
        </div>
    {% endif %}
{% endblock %}
