{% block body %}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Regel aanmaken</h6>
        </div>

        {% if no_entities is not defined %}
            <div class="panel-body">
                <div class="form-group">
                    <select name="rule_start_point" class="form-control" id="rule_start_point" required>
                        <option value="">Kies een startpunt</option>

                        {% for entity in entities %}
                            <option value="{{ entity.getFullyQualifiedName() }}"  {{ checkEntityName is defined and entity.getFullyQualifiedName() == checkEntityName ? 'selected' : '' }}>{{ entity.getLabel() }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="rule_description">Regel omschrijving</label>

                    <input name="rule_description" id="rule_description">
                </div>
                <div class="form-group">
                    <input name="rule_satisfy_all" id="rule_satisfy_all" type="checkbox">
                    <label class="form-label" for="rule_description">Alle waardes in een collectie moeten voldoen aan de voorwaarde</label>
                </div>

                <div id="rule_builder" class="rule-builder"></div>
            </div>
        {% else %}
            <div class="panel-body">
                <div class="alert alert-warning" role="alert">Het genereren van database structuur informatie wordt op de achtergrond uitgevoerd. Probeer het later opnieuw.</div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}

