@charset "UTF-8";

@import "_includes/_media-queries";
@import "_includes/_mixins";
@import "_includes/_fonts";
@import "_includes/_exception";

:root {
  --corp-color: $corp-color;
  --corp-color-darken-10: $corp-color-darken-10;
  --corp-secondary-color: $corp-secondary-color;
  --corp-slogan-width: $corp-slogan-width;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  color: $darkgrey;
  font-size: 28px;
}

h2 {
  color: $darkgrey;
  font-size: 22px;
}

h3 {
  color: $darkgrey;
  font-size: $base-font-size
}

p,
input,
select, li {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a,
a:visited {
  font-size: $base-font-size;
  color: $base-link-color;
}

a:hover {
  cursor: pointer;
  color: $base-link-hover-color; // IE Fallback
  color: var(--base-link-hover-color);
}

img {
  outline: none;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.checkbox-styled {
  position: relative;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
  float: left;
  width: 18px;
}

.pointer {
  cursor: pointer;
}

.truncate {
  display: inline-block !important;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

input[type='checkbox'] + label:before {
  font-family: FontAwesome, $base-font-family;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;

  content: "\f096";

  width: 24px;
  height: 24px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  position: absolute;

  z-index: 1;
  left: 0;

  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #989797 !important;
}

input[type='checkbox'] + label {
  font-weight: 600;
  padding-left: 30px;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
  position: relative;
  margin: 0;
  clear: none;
  padding: 0 0 0 30px;
  cursor: pointer;
}

input[type='radio'] + label:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #bbb;
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 0;

  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input[type='radio']:checked + label::after {
  content: '\f111';
  font-family: FontAwesome, $base-font-family;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;

  position: absolute;
  z-index: 2;
  font-size: 9px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: $corp-color !important; // IE Fallback
  color: var(--corp-color) !important;
}

input[type='checkbox']:checked + label::after {
  font-family: FontAwesome, $base-font-family;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  content: "\f046";

  width: 24px;
  height: 24px;
  border-radius: 0;
  border: none;
  background-color: white;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: $corp-color !important; // IE Fallback
  color: var(--corp-color) !important;
}

input[type='checkbox']:checked:required + label::after {
  color: $corp-color !important; // IE Fallback
  color: var(--corp-color) !important;
}

select.form-control {
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;

  height: auto !important;
  padding: .466rem 35px .466rem .75rem !important;
  line-height: 20px;
}

.form-select-wrapper {
  position: relative;
  display: block;
}

.form-select-wrapper::after {
  line-height: 100%;
  font-size: 40px;
  position: absolute !important;

  font-family: FontAwesome, $base-font-family;
  content: "\f0d7";

  width: 16px;
  height: 16px;

  right: 15px;
  top: 0;
  pointer-events: none;

  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

select.form-control::-ms-expand {
  display: none;
}

.select-element {
  position: relative;
  background: #fff;
  width: 100%;

  border: 1px solid #eeeeef;
}


.form-control:focus {
  border-color: #e1e1e1;
}

.select-element {
  select {
    position: relative;
    z-index: 5;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    background: none;
    border: 0;
    padding: 4px 10px;

    font-family: $base-font-family;
  }
}

.select-element .select-appearance {
  position: absolute;

  right: 10px;
  font-size: 16px;

  top: 50%;
  transform: translateY(-50%);

  color: #676666;
}

.hidden {
  display: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.float-right {
  float: right;
}

.form-control {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  border-color: #e1e1e1;

  padding: .595rem .75rem;
  font-size: 100%;
  line-height: 100%;

  &.error {
    border-color: $red;
  }
}

.input-text {
  width: 100%;
  float: left;
  border: 1px solid #eeeeef;
  padding: 8px 15px;
  font: 16px $base-font-family;
  margin-top: 5px;
}

.pagina-title,
.product-title {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

.btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  transition: all 0.3s ease 0s;
}

.btn-theme,
.btn-theme-inverse,
.btn-theme-secondary,
.btn-theme:visited,
.btn-theme-full {
  font-family: $base-font-family;
  color: #fff !important;
  text-align: center;
  cursor: pointer;

  padding: .5rem 1rem;
  font-size: 1rem;

  background-color: $corp-color; // IE Fallback
  background-color: var(--corp-color);

  border-color: $corp-color; // IE Fallback
  border-color: var(--corp-color);

  &:focus,
  &:active:focus {
    outline: none;
  }

  .fa {
    margin-left: 10px;
  }

  &.btn-icon-left .fa {
    margin: 0 10px 0 0;
  }

  @media (max-width: 544px) {
    width: 100%;
  }
}

.btn-theme-full {
  width: 100%;
  display: block;
  margin-top: 20px;
  text-transform: initial;
}

.btn-theme-inverse {
  background-color: #adafab;
  border-color: #adafab;
}

.btn-theme-secondary {
  background-color: $base-btn-secondary-bg-color;
  border-color: $base-btn-secondary-border-color;
  color: $base-btn-secondary-color !important;

  &.btn-info,
  &.btn-info:active,
  &.btn-info:focus,
  &.btn-info:hover {
    display: block;
    text-align: center;
    background-color: $base-btn-secondary-bg-color;
    border-color: $base-btn-secondary-border-color;
    color: $base-btn-secondary-color !important;
  }
}

.btn-theme-inverse:focus,
.btn-theme-secondary:focus,
.btn-theme:focus {
  opacity: 0.8;
}

.btn-theme-inverse:hover,
.btn-theme-secondary:hover,
.btn-theme-full:hover,
.btn-theme:hover,
.btn-theme:focus {
  color: #fff;
  border-color: $corp-color; // IE Fallback
  border-color: var(--corp-color);

  background-color: $corp-color; // IE Fallback
  background-color: var(--corp-color);
  text-decoration: none;
  opacity: 0.8;
}

.btn-inactive {
  display: inline-block;
  background: $lightgrey;
  padding: 14px 20px;
  margin-top: 20px;
  text-align: center;
  color: #fff !important;
  font-size: 22px;
}

.btn-back {
  min-width: 200px;
}

.btn-small {
  padding: 3px 7px;
  font-size: 11px;
  display: inline-block;
  width: auto;
  border-radius: 0px;
}

.theme-color {
  color: $corp-color !important; // IE Fallback
  color: var(--corp-color) !important;
}

.theme-background-color {
  background-color: $corp-color !important; // IE Fallback
  background-color: var(--corp-color) !important;
}

.status .fa {
  color: #b5251a;
  font-size: 11px;
}

.status1 .fa {
  color: $success;
  font-size: 11px;
}

.red {
  background: #fddac9;
}

.green {
  background: #edf2c8;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-right-15 {
  padding: 0 !important;
  margin: 0 !important;
  padding-right: 15px !important;
}

.padding-right-5 {
  padding: 0 !important;
  margin: 0 !important;
  padding-right: 5px !important;
}

.no-margin {
  margin: 0;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.spacer {
  width: 100%;
  height: 1px;
  float: left;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

#return_to_top {
  position: fixed;
  right: 30px;
  bottom: 10px;
  height: 35px;
  line-height: 35px;
  width: 35px;
  font-size: 16px;
  border-radius: 50%;
  border: 3px solid $corp-color;
  border-color: var(--corp-color);
  text-align: center;
  z-index: 998;
  transition: all 0.25s ease-in-out;
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  background-color: $corp-color; // IE Fallback
  background-color: var(--corp-color);
  color: #fff;
  cursor: pointer;
}

#return_to_top.show {
  visibility: visible;
  opacity: 1;
}

.swal2-modal {
  border-radius: 0;
  font-family: $base-font-family;
}

.swal2-container {
  z-index: 9999999 !important;

  div:not(.swal2-loading) button,
  div.swal2-loading button.swal2-cancel {

    &.swal2-styled {
      border-radius: 0 !important;
      outline: 0 !important;

      &.swal2-confirm {
        &:hover {
          opacity: 0.9 !important;
        }
      }
    }

    &.swal2-styled:focus {
      box-shadow: none !important;
    }
  }
}

.select2-selection__arrow {
  display: none;
}

.select2-selection--single,
.select2-selection--multiple {
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  position: absolute;
  top: calc(50% + 2px);
  right: 2.5rem;
  transform: translateY(-50%);
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $corp-color; // IE Fallback
  background-color: var(--corp-color);
}

.select2-selection--single {
  padding: .475rem .3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background: #fff none;
  border: .0625rem solid #ccc !important;
  border-radius: .25rem;
  height: auto !important;
}

.select2-container--default {
  .select2-selection--single {
    border-radius: 0;
    border: .0625rem solid #e1e1e1 !important;

    .select2-selection__rendered {
      line-height: 24px;
      font-size: 95%;
    }
  }
}

.container-messages {
  .container {
    .alert {
      ul {
        list-style: initial;
        margin: initial;
        padding: 0 1rem;
      }
    }
  }
}

form .alert {
  margin-top: 1rem;

  ul {
    margin: 0;
  }
}

.alert {
  border-radius: 0 !important;

  ul.list-unstyled:last-child {
    margin-bottom: 0;
  }
}

.form-error {
  clear: both;
  margin: 1rem 0;

  p {
    margin-bottom: 0.25rem;
  }

  ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
  }

  &.container {
    margin: 1rem auto;
  }
}

.has-error {
  .select2-container {
    .select2-selection--single {
      border-color: #d9534f !important;
    }
  }

  .radio {
    input[type='radio'] + label:before {
      border-color: #d9534f !important;
    }
  }
}

.page-wrapper {
  font-family: $base-font-family;

  & > .container {
    margin-bottom: 2rem;
  }
}

form h2 {
  margin-bottom: 1.25rem;
}

.form-group {
  position: relative;
}

.form-block {
  border: .0625rem solid #e1e1e1;
  padding: 20px;

  margin-bottom: 2.5rem;

  @media (max-width: 575px) {
    float: none;
    width: auto;
    margin: 0 -15px 1rem;
  }

  @media (min-width: 992px) {
    .form-block {
      margin-bottom: 0;
    }
  }

  p + .form-group,
  p + form,
  h2 + .form-group,
  h2 + form,
  h2 + .row {
    margin-top: 20px;
  }

  p {
    margin-bottom: 3px;
  }

  .input-text {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

.row-postcode-and-city {
  select {
    width: 100% !important;
  }

  .select2 {
    width: 100% !important;
  }

  .postcode-and-city-select-container {
    &.select2-selection--single {
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #55595c;
      background: #fff none;
      border: .0625rem solid #ccc !important;
      border-radius: .25rem;
      height: auto !important;

      .select2-selection__rendered {
        padding-left: 0 !important;
      }

      .select2-selection__arrow {
        width: 8px !important;
        height: 5px !important;
        top: 50% !important;
        margin-top: -2.5px !important;
        right: .75rem !important;
      }
    }
  }
}

.postcode-and-city-select-dropdown {
  .select2-search {
    position: absolute !important;
    width: 100% !important;
    top: 0 !important;
    margin-top: -39px !important;
  }

  .select2-search--dropdown {
    .select2-search__field {
      border-color: transparent !important;
      font-size: 1rem !important;
      line-height: 1.5 !important;
      color: #55595c !important;
    }
  }

  &.select2-dropdown {
    border-color: #e1e1e1 !important;
  }
}

#robin_tab_channels {
  font-family: $base-font-family !important;
}

#robin_tab {
  background: $corp-color none repeat scroll 0 0 !important;
  background-color: var(--corp-color) !important;
}

#robin_tab:hover {
  background: $corp-color none repeat scroll 0 0 !important;
  background-color: var(--corp-color) !important;
}

#robin_tab_div {
  color: #FFF !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
  font-family: $base-font-family !important;
  font-weight: normal !important;
  line-height: 1.5 !important;
}

/* Pro active chat */
#robin_pac_invite div #rbn_pac_caption {
  color: #373a3c !important;
  font-family: $base-font-family !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
  font-size: 18px !important;
}

#rbn_buttoncontainer {
  text-align: center !important;
  font-family: $base-font-family !important;
}

.input-field #rbn_buttoncontainer {
  margin: 0 auto !important;
}

#rbn_journey_button #rbn_journey_button_text {
  font-family: $base-font-family !important;
}

#rbn_pac_no,
#rbn_pac_yes,
#rbn_journey_button {
  background-color: $corp-color !important;
  background-color: var(--corp-color) !important;
  border-radius: 0 !important;
  font-weight: bold !important;
  font-family: $base-font-family !important;
  text-transform: none !important;
  font-size: 14px !important;
}

#rbn_pac_no:hover,
#rbn_pac_yes:hover,
#rbn_journey_button:hover {
  background-color: $corp-color-darken-10 !important; // IE Fallback
  background-color: var(--corp-color-darken-10) !important;
  color: #FFF !important;
}

#rbn_journey_input {
  color: #555 !important;
  border: 0 solid #b9b9af !important;
  border-radius: 0 !important;
  font-family: $base-font-family !important;
  text-transform: none !important;
}

/** Begin fix mobile contact button */
#robin_tab_container {
  height: 0;
  left: 30px !important;
  z-index: 99998 !important;
}

#robin_tab {
  margin-top: -30px;
}

#robin_tab > span {
  top: -36px !important;
}

#robin_tab > div:last-child {
  top: -30px;
}

#content-shoppingcart {
  margin-top: 70px;

  @media all and (max-width: 575px) {
    padding: 1rem 15px 0;
  }
}

#checkout_cart {
  margin: 0;
  padding: 0;
}

.flatpickr-calendar.arrowTop::after {
  border-bottom-color: $corp-color; // IE Fallback
  border-bottom-color: var(--corp-color);
}

.flatpickr-calendar.arrowBottom::after {
  border-top-color: $corp-color; // IE Fallback
  border-top-color: var(--corp-color);
}

.flatpickr-day.endRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
  background-color: $corp-color; // IE Fallback
  background-color: var(--corp-color);

  border-color: $corp-color; // IE Fallback
  border-color: var(--corp-color);
}

#content-shoppingcart .selectfield span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#steps ul li.active {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#steps ul li.active::after {
  border-left-color: $corp-color !important; // IE Fallback
  border-left-color: var(--corp-color) !important;
}

#content-shoppingcart #extra h1 {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #step1-left .bezorgadres .adres .title h3 {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart .delivery .title h3 {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #step1-right .btn-shopping.active {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#content-shoppingcart #step2-top .products-overview .product-item .right .product-row span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #order-register-or-login .orders .product-item .right .product-row span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #order-register-or-login #user-data .title {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #order-register-or-login #payments .title {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #order-register-or-login .totals .title {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #order-register-or-login .payment-dropdown a {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-shoppingcart #order-register-or-login #payments .payment-row a[data-toggle="popover"],
#content-shoppingcart #order-register-or-login .payment-dropdown a[data-toggle="popover"] {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
  text-decoration: none;
}

#page h1, #page h2, #page h3 {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#order_details .row-order-details h4 {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
  color: #fff;
}

.product-designer .tabs .tab.active .tab-heading {
  color: #ffffff !important;
  background-color: $corp-color !important; // IE Fallback
  background-color: var(--corp-color) !important;
}

.product-designer .btn.btn-primary,
.product-designer .btn-primary:hover,
.product-designer .btn-ok {
  color: #ffffff !important;
  background-color: $corp-color !important; // IE Fallback
  background-color: var(--corp-color) !important;
  border-color: $corp-color !important; // IE Fallback
  border-color: var(--corp-color) !important;
}

.modal-invalid-cart-combination .item-container.selected,
.modal-invalid-cart-combination .item-container:hover {
  border-color: $corp-color; // IE Fallback
  border-color: var(--corp-color);
}

#reviews {
  .title {
    span {
      color: $corp-color; // IE Fallback
      color: var(--corp-color);
    }
  }
}

#about {
  .navigation {
    .item {
      &.active {
        background: $corp-color; // IE Fallback
        background: var(--corp-color);
      }
    }
  }
}

#usp {
  .ic {
    background: $corp-color; // IE Fallback
    background: var(--corp-color);
  }
}

#company-info {
  .inside {
    .kader {
      background: $corp-color; // IE Fallback
      background: var(--corp-color);

      span {
        color: $corp-color; // IE Fallback
        color: var(--corp-color);
      }
    }
  }
}

.product-item {
  .information {
    h2, h3 {
      color: $corp-color; // IE Fallback
      color: var(--corp-color);
    }

    button.btn-bestellen {
      width: calc(100% - 2rem);
      margin: 0 1rem 1rem;

      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}


#content-producten {
  #producten {
    .text-area {
      h3 {
        color: $corp-color; // IE Fallback
        color: var(--corp-color);
      }
    }
  }
}

.product-column-view {
  .product-item {
    .info-label {
      &::before {
        border-color: $corp-color transparent transparent transparent !important; // IE Fallback
        border-color: var(--corp-color) transparent transparent transparent !important;
      }
    }
  }
}


#content-product,
#content-shoppingcart {
  .product-title {
    color: $corp-color; // IE Fallback
    color: var(--corp-color);
    padding-bottom: .5em;
  }
}

#content-product {
  .formaat-tab {
    .go-groot-left {
      background: $corp-color; // IE Fallback
      background: var(--corp-color);
    }
  }

  #product-info .form {
    .tessie {
      span {
        color: $corp-color; // IE Fallback
        color: var(--corp-color);
      }
    }
  }

  .extra-info {
    li {
      &:before {
        color: $corp-color; // IE Fallback
        color: var(--corp-color);
      }
    }
  }
}

.swal2-container {
  button {
    &.swal2-confirm {
      &.swal2-styled {
        background-color: $corp-color !important; // IE Fallback
        background-color: var(--corp-color) !important;
      }
    }
  }
}

#product-carrousel h1 {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#product-carrousel #formaten .formaat-item .header .two-lines-center {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#product-carrousel #formaten .formaat-item .header .two-lines {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#product-carrousel #formaten .formaat-item .header .extra-1 {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#product-carrousel #formaten .formaat-item .header .extra-1 span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#product-carrousel #formaten .formaat-item .header .extra-2 {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#product-carrousel #formaten .formaat-item .header .extra-2 span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#product-carrousel #formaten .formaat-item .header .triangle-topleft {
  border-top: 100px solid $corp-color; // IE Fallback
  border-top-color: var(--corp-color);
}

#content-product .formaat-tab .formaat-item .header .two-lines-center {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-product .formaat-tab .formaat-item .header .two-lines {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-product .formaat-tab .formaat-item .header .extra-1 {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#content-product .formaat-tab .formaat-item .header .extra-1 span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-product .formaat-tab .formaat-item .header .extra-2 {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#content-product .formaat-tab .formaat-item .header .extra-2 span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-product .formaat-tab .formaat-item .header .triangle-topleft {
  border-top: 100px solid $corp-color; // IE Fallback
  border-top-color: var(--corp-color);
}

#content-product .formaat-tab .go-basis {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#content-product .formaat-tab .go-basis span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-product .formaat-tab .go-groot-left span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-product .formaat-tab .go-xl {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#content-product .formaat-tab .go-xl span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-product .formaat-tab .go-groot {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#content-product .formaat-tab .go-groot span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

#content-account-company-register .form-flow-steps ol > li.craue_formflow_done_step:before,
#content-account-company-register .form-flow-steps ol > li.craue_formflow_current_step:before {
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

#reviews-small .title span {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

.page-wrapper {
  padding: 1rem 15px 0;

  @media all and (max-width: 991px) {
    margin-top: 70px;
  }
}

#usp2 + .page-wrapper,
#timer + .page-wrapper {
  margin-top: 0;
}


#checkout_cart.page-wrapper .orders .order .delivery-address .actions ul li a:hover {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

.order-edit-contents {
  .order {
    .contents {
      thead {
        th {
          background-color: $corp-color; // IE Fallback
          background-color: var(--corp-color);
        }
      }
    }
  }
}

.delivery-details-container > div h3,
.delivery-date-container > div h3 {
  color: $corp-color; // IE Fallback
  color: var(--corp-color);
}

.row-delivery-details, .pickup-container {
  .delivery-date-container, .pickup-container {
    .delivery-date-container-wrapper, .pickup-location-list-container-wrapper {
      .delivery-dates, .pickup-location-list {
        .tabs {
          nav {
            ul {
              li.active {
                color: white;
                background: $corp-color !important; // IE Fallback
                background: var(--corp-color) !important;
              }
            }
          }
        }
      }
    }
  }
}

.row-order-details {
  .column-product {
    h3 {
      background-color: $corp-color; // IE Fallback
      background-color: var(--corp-color);
    }

    .column-wrapper {
      h2 {
        color: $corp-color; // IE Fallback
        color: var(--corp-color);
      }
    }
  }

  .column-personalization {
    h3 {
      background-color: rgba($corp-color, .5); // IE Fallback
      background-color: #{'rgba(var(--corp-color), .5)'};
    }
  }

  .column-additional-products {
    h3 {
      background-color: rgba($corp-color, .7); // IE Fallback
      background-color: #{'rgba(var(--corp-color), .7)'};
    }

    .additional-products-show-all {
      a {
        color: $corp-color; // IE Fallback
        color: var(--corp-color);
      }
    }
  }

  .column {
    .column-wrapper {
      .product-lines {
        .product-line {
          &.product-line-placeholder {
            .text {
              a {
                color: $corp-color; // IE Fallback
                color: var(--corp-color);
              }
            }
          }
        }
      }
    }
  }
}

.slider-nav-prev,
.slider-nav-next {
  background: $corp-color !important; // IE Fallback;
  background: var(--corp-color) !important;
}
.slider-nav-prev::before {
  border-color: transparent $corp-color transparent transparent !important;
  border-color: transparent var(--corp-color) transparent transparent !important;
}
.slider-nav-next::before {
  border-color: transparent transparent transparent $corp-color !important;
  border-color: transparent transparent transparent var(--corp-color) !important;
}

.row-additional-products {
  h3 {
    color: $corp-color; // IE Fallback
    color: var(--corp-color);
  }
}

.truncated .toggle::after {
  border-bottom-color: $corp-color !important; // IE Fallback
  border-bottom-color: var(--corp-color) !important;
  border-top-color: $corp-color !important; // IE Fallback
  border-top-color: var(--corp-color) !important;
}

#content-shoppingcart {
  .delivery-pickup-method-description {
    .timeslot-item.active,
    .timeslot-day-item.active {
      background: $corp-color !important; // IE Fallback
      background: var(--corp-color) !important;
      border-color: $corp-color !important; // IE Fallback
      border-color: var(--corp-color) !important;
    }

    .timeslot-day-item.active::after {
      border-color: $corp-color transparent transparent transparent !important; // IE Fallback
      border-color: var(--corp-color) transparent transparent transparent !important;;
    }
  }
}

.swal2-modal .swal2-select {
  margin: 0 !important;
}

#content-home {
  #categories {
    .category-item .desc {
      border-bottom-color: $corp-color !important; // IE Fallback
      border-bottom-color: var(--corp-color) !important;
    }
  }
}

#slider-range {
  .ui-slider-handle {
    background-color: $corp-color;
    background-color: var(--corp-color);
  }
}
