@import "config";
@import "_includes/mixins";

#checkout_cart {
  &.page-wrapper {
    font-size: .9rem;

    h1 {
      line-height: 35px;
    }

    .invalid-voucher {
      color: red;
      font-weight: bold;

      padding: 10px;
    }

    .container {
      position: relative;
    }
    .orders {
      @media all and (min-width: 767px) {

      }

      @include order_layout()
    }

    .button-and-total {
      display: flex;
      flex-grow: 1;
      align-items: center;

      .button {
        display: none;
        margin: 10px 0;

        @media all and (min-width: 768px) {
          display: block;
        }

        @media all and (min-width: 992px) {
          float: left;

          width: $column-left-width;
        }
      }

      .total {
        padding: 10px 35px 10px 10px;

        display: flex;
        flex-grow: 1;

        @media all and (min-width: 768px) {
          padding-top: 0;
          padding-bottom: 0;
        }

        @media all and (min-width: 992px) {
          float: right;

          width: $column-right-width;
        }

        .text {
          font-size: 16px;
          font-weight: bold;
          display: flex;
          align-items: center;

          .vat-specification {
            padding-left: 5px;
            display: inline-block;
            font-weight: normal;
            font-size: 70%;
            opacity: .6;
          }
        }

        .price {
          font-size: 16px;
          margin-left: auto;
          font-weight: bold;
        }
      }
    }
  }
}
