@import "config";

.additional-products {

  .buttons {
    margin: 0 -15px 1rem !important;
  }

  .row-order-details {
    margin-bottom: 20px;
  }

  .row-additional-products {

    h3 {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 0 20px;
      line-height: 1.4;
    }

    .row-additional-products-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .additional-product {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px 20px 0 20px;
        margin-bottom: 40px;

        text-align: center;

        @media all and (min-width: 544px) {
          width: calc(100% / 3);
        }

        @media all and (min-width: 992px) {
          width: 25%;
        }

        @media all and (min-width: 1200px) {
          width: 20%;
        }

        .image {
          cursor: pointer;

          img {
            max-width: 100%;
            max-height: 180px;
          }

          &.image-placeholder {
            img {
              border: 1px solid #f0f0f0;
            }
          }
        }

        .title {
          margin: 10px 0;

          font-family: $base-font-family;
          font-weight: 600;
          height: 2.75em;
          line-height: 1.33;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .button-row {
          margin: 15px 0 0 0;

          .btn {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            min-height: 35px;

            &.add-to-cart {
              width: 80%;
              float: right;
              text-align: left;
              padding: 8px 1rem 0;

              .fa {
                float: right;
              }
            }

            &.description {
              float: left;
              width: calc(20% - 3px);
              background-color: #f0f0f0;
              color: rgba($base-font-color, .8);

              &:hover {
                background-color: #e9e9e9;
              }
            }

            .fa {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

#content-shoppingcart #extra #extra-items {
  width: calc(100% - 15px);
  width: -moz-calc(100% - 15px);
  width: -webkit-calc(100% - 15px);

  margin: 15px 0;
}

@media (max-width: 992px) {
  #content-shoppingcart #extra #extra-items {
    width: 100%;
  }
}

#content-shoppingcart #extra .extra-item {
  width: 100%;
  padding-bottom: 20px;
  margin: 15px 10px 0 0;

  text-align: center;
}

#content-shoppingcart #extra .extra-item img {
  width: 100%;
  height: auto;
}

#content-shoppingcart #extra .extra-item .top {
  position: relative;

  width: 100%;
  margin-top: 10px;
  float: none;
  cursor: default;
}

#content-shoppingcart #extra .extra-item .top .description {
  position: absolute;

  top: -26px;
  right: 0;

  font-size: 20px;
  color: #adafab;

  cursor: help;
}

#content-shoppingcart #extra .extra-item .title {
  font-weight: 600;

  height: 36px;
  overflow: hidden;

  margin-bottom: 10px;
}

#content-shoppingcart #extra .extra-item .bottom .price {
  width: 60px;
  float: right;
  text-align: left;
}

#content-shoppingcart #extra .extra-item .bottom {
  width: 100%;
  margin-top: 10px;
}

#content-shoppingcart #extra .extra-item .btn {
  max-width: 100%;
  padding: 6px 20px;
  font-size: 14px;
  overflow: hidden;
}

#additional_products_load_trigger {
  position: relative;
  display: block;
}

#additional_products_load_trigger .fa-spin {
  position: absolute;
  visibility: hidden;

  left: 10px;
  top: 50%;
  margin-top: -10px;
}

#additional_products_load_trigger.loading .fa-spin {
  visibility: visible;
  -webkit-animation: fa-spin 1.25s infinite linear;
  animation: fa-spin 1.25s infinite linear;
}

.form-select-wrapper {
  background: #f0f0f0;
}

.form-select-wrapper .additional-product-modal-variations {
  background: transparent;
}

.additional-product-variation-image {
  margin-bottom: 20px;

  text-align: center;
}

.additional-product-description-modal img,
.additional-product-variation-image img {
  max-width: 40%;
}

.additional-product-modal-variation-loading-text {
  display: block;
  height: 72px;

  line-height: 150%;
}

.additional-product-modal-variation-loading-text strong {
  font-weight: bold;
}

.additional-product-modal-text-wrapper {
  position: relative;
  margin: 20px 0 10px 0;
  font-size: 15px;
  padding-top: 20px;
  border-top: 1px dotted #ccc;
}

.additional-product-modal-text-wrapper .variation-text-wrapper {
  font-weight: bold;
}

.additional-product-modal-text-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.additional-product-modal-text-wrapper .price-text-wrapper {
  text-align: right;
}

.additional-product-modal-variation-wrapper {
  position: relative;
  margin: 10px 0;
}

.additional-product-modal-variation-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.additional-product-modal-variation-wrapper .additional-product-modal-variations-placeholder {
  margin-top: 0;
  margin-bottom: 0;
}

.additional-product-modal-variation-wrapper .form-select-wrapper {
  width: 80%;
}

.additional-product-modal-variation-wrapper .price-wrapper {
  width: 15%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-align: right;
}

.additional-product-description-modal .swal2-content,
.additional-product-description-modal .swal2-content p {
  line-height: 150%;
  font-size: 15px;
}

.additional-product-description-modal .variation-option-title {
  font-weight: bold;

  margin: 20px 0;
}

.additional-product-description-modal .variation-option-wrapper {
  position: relative;
  font-size: 15px;
  line-height: 150%;
}

.additional-product-description-modal .variation-option-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.single-additional-product {
  ::after {
    display: none;
  }

  .additional-product-modal-variations {
    pointer-events: none;
  }
}
