.table-order-collection,
.table-order-order {
  margin-top: 25px;

  font-size: 12px !important;
}

.table-order-collection a,
.table-order-order a {
  font-size: 12px !important;
}

.table .price {
  width: 90px;
  text-align: right;
}

.table .valuta {
  width: 10px;

  padding-left: 20px;
  padding-right: 0;
}

.table-order-collection .subscription,
.table-order-order .order-status {
  text-align: right;
  vertical-align: top;
}

.table .links {
  text-align: right;

  border-top: transparent;
}

.label {
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px 5px 1px 5px;
  line-height: 1.5384616;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1px;
  border-radius: 2px;
}

.order-status .label {
  font-size: 13px;
  display: inline-block;
  padding: 0 3px;
}

.order-status .label.bg-warning-300 {
  background-color: #FF8A65;
  border-color: #FF8A65;
  color: #fff;
}

.order-status .label.bg-orange-300 {
  background-color: #FFB74D;
  border-color: #FFB74D;
  color: #fff;
}

.order-status .label.bg-success-300 {
  background-color: #81C784;
  border-color: #81C784;
  color: #fff;
}

.order-status .label.bg-slate-300 {
  background-color: #90A4AE;
  border-color: #90A4AE;
  color: #fff;
}

.order-status .label.bg-info-300 {
  background-color: #4DD0E1;
  border-color: #4DD0E1;
  color: #fff;
}

#order_details {
  margin-top: 25px;
}

.order-return-order-overview,
.order-return-to-collection {
  display: block;
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
  .order-return-order-overview,
  .order-return-to-collection {
    position: absolute;

    top: 10px;
    right: 15px;

    margin: 0;
  }
}

#order_details .row-order-details {
  margin-top: 10px;
}

#order_details h4 {
  padding: 10px;
  background: #f0f0f0;
  font-size: 16px;

  margin-bottom: .5rem;
}

#order_details .address-block {
  padding: 0 10px 10px 10px;
}

#order_details .address-block p {
  font-size: 12px;
}

#order_details .address-block p a {
  color: inherit;
  font-size: inherit;
}

#order_details .order-details-block {
  padding-bottom: 10px;
}

#order_details .order-details-block .table-order-contents {
  font-size: 12px !important;
}

.account-pages .order-details-block thead th {
  background: none;
  border-top: none;
}

.account-pages .order-details-block .child-line .fa-share,
.account-pages .order-details-block .discount-line .fa-share {
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);

  padding-right: 5px;
}

.account-pages .order-details-block .child-line td.product,
.account-pages .order-details-block .discount-line td.product {
  padding-left: 20px;
}

.account-pages .order-details-block .quantity {
  width: 125px;

  text-align: center;
}

.account-pages .order-details-block th.price,
.account-pages .order-details-block th.amount {
  text-align: right;
}

.account-pages .order-details-block td.price,
.account-pages .order-details-block td.amount {
  width: 90px;
  text-align: right;
}

.account-pages .order-details-block td.total-excluding-tax,
.account-pages .order-details-block td.total-tax,
.account-pages .order-details-block td.total-including-tax {
  text-align: right;
}

.account-pages .order-details-block tfoot .valuta,
.account-pages .order-details-block td.total-tax {
  border-top-color: transparent;
}

.account-pages .order-details-block td.total-including-tax {
  font-weight: bold;

  border-top-color: transparent;
}

.account-pages #order_details .block-subscription h4 {
  margin-bottom: 0;
}

.account-pages #order_details .block-subscription table {
  font-size: 12px !important;
}

.account-pages .block-subscription a.fa:hover {
  text-decoration: none;
}

.account-pages .block-subscription tr:first-child td {
  border-top: none;
}

.account-pages .block-subscription tr td:first-child {
  font-weight: bold;
}
