#order-register-or-login .column-login .form-block .password-forgotten {
  padding-top: 10px;

  text-align: center;
}

@media (min-width: 992px) {
  #order-register-or-login .form-block button {
    margin-top: 25px;
  }

  #order-register-or-login .column-login .form-block .password-forgotten {
    margin-top: 25px;
    text-align: right;
  }

  #customer-account #order-register-or-login .column-register {
    padding-left: 0 !important;
    padding-right: .9375rem !important;
  }

  #order-register-or-login .column-login {
    padding-left: .9375rem !important;
    padding-right: 0;
  }

  #order-register-or-login .column-login .input-email,
  #order-register-or-login .column-login .input-password {
    width: calc(50% - 7.5px);
    width: -moz-calc(50% - 7.5px);
    width: -webkit-calc(50% - 7.5px);
  }

  #order-register-or-login .column-login .input-email {
    padding-right: 7.5px;
  }

  #order-register-or-login .column-login .input-password {
    padding-left: 7.5px;
    padding-right: 0;
  }
}

#order-register-or-login {
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

#customer-account .sidebar {

}

#customer-account .sidebar ul {
  list-style: none;

  border: 1px solid #e1e1e1;

  padding: .50rem 0;
}

#customer-account .sidebar li {
  border-left: .25rem solid transparent;

  overflow: hidden;
}

#customer-account .sidebar li.navigation-header {
  padding: .5rem 1rem;

  font-weight: bold;

  margin-top: .5rem;
  line-height: 1.6;

  background-color: #eee;
}

.topgeschenken #customer-account .sidebar li.active {
  border-left-color: #b5251a;
}

#customer-account .sidebar li a {
  display: block;

  padding: .75rem 1rem;
}

#customer-account .sidebar li.active a {
  text-decoration: underline;
}

.account-pages {

}

.account-pages table th,
.account-pages table td {
  padding: .5rem;
}

.account-pages h1 {
  margin-bottom: .5rem;
}

.account-pages h1 + p {
  margin-bottom: .75rem;
}

.account-pages h4 {
  margin-bottom: .5rem;
}

.account-pages .btn-add {
  margin-bottom: 1rem;
}

.account-pages table {
  font-size: 15px;
}

.account-pages thead th {
  font-weight: bold;
  border-bottom-width: 1px;
  background: #eee;
}

.account-pages td.status {
  width: 10px;

  padding-right: 0;
}

.account-pages .account-overview thead th {
  background: transparent;
}

.account-pages .account-overview h4 {
  background: #eee;

  padding: 10px;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 25px;
}

.account-pages .account-overview .no-items {
  padding: 10px;
}

.account-pages .account-overview .table-order-collection {

}

.account-pages .account-overview .table-order-collection .price {
  width: 90px;
  text-align: right;
}

.account-pages .account-overview .table-order-collection .valuta {
  width: 10px;

  padding-left: 20px;
  padding-right: 0;
}

.account-pages .account-overview .table-order-collection .number,
.account-pages .account-overview .table-order-collection .ordered_on {
  width: 110px;
}

.account-pages .account-overview .table-order-collection .total_items {
  width: 105px;

  text-align: center;
}

.account-pages .account-overview .table-order-collection .links {
  width: 140px;
  text-align: right;
  white-space: nowrap;
}

.account-pages .account-overview .table-users .name {
  width: 260px;
}
