@import "config";

#page ul {
  list-style: initial;
  margin: 1em 0;
  padding: 0 0 0 40px;
}

#page ul li {
  display: list-item;
}

#page .row .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

#page p {
  font-family: $base-font-family;
  margin-bottom: .75rem;
}

#page table p {
  margin: 0;
}

#page h1,
#page h2,
#page h3,
#page h4,
#page h5,
#page h6 {
  font-family: $base-font-family;
  font-weight: normal;
}

#page h1 {
  margin-bottom: 2rem;
}

#page h2 {
  font-size: 1rem;
  margin: 1rem 0;
}

#page h3 {
  font-size: 1rem;
  font-weight: bold;
}

#page h4 {
  font-size: .75rem;
  margin-bottom: 1rem;
}

#page h2, #page h3, #page h4 {
  margin-bottom: .5rem;
}

@media (max-width: 544px) {

  #page table {
    width: 100% !important;
  }

  #page table th {
    width: 40%;
  }

}
