html, body {
  margin: 0;
  overflow: hidden;
}

#header {
  position: relative;
  background: #f0f0f0;
  padding: 5px 0;

  text-align: center;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

  z-index: 99;
}

#viewports {
  margin: 0;
  padding: 0;

  list-style: none;
}

#viewports .btn {
  width: 48px;
  padding-left: 0;
  padding-right: 0;
}

#viewports .btn.focus {
  outline: none;
}

#actions_left,
#actions_right {
  margin-top: 5px;
}

#actions_left {
  margin-left: 10px;
}

#actions_right {
  margin-right: 10px;
}

iframe {
  display: block;
  border: 0;
  margin: 0 auto;
}