@import "config";

#content-product {
  margin-top: 40px;

  @media (max-width: 767px) {
    margin-top: 0;
  }

  .row > div {
    padding: 0 15px 0 0;

    @media (max-width: 992px) {
      padding: 0;
    }
  }

  .product-sticker {
    position: absolute;
    top: 0;
  }

  #product-foto {
    float: left;
    padding-bottom: 30px;

    @media (max-width: 767px) {
      float: none;
    }

    .foto-groot {
      width: 90%;
      height: auto;
      float: left;

      @media (max-width: 992px) {
        width: 100%;

        img {
          height: auto !important;
        }
      }

      @media (max-width: 767px) {
        float: none;
        width: 70%;
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: auto !important;
        display: block;
        margin: 0 auto;
      }
    }

    .foto-thumbs {
      width: 90%;
      height: auto;
      float: left;

      @media (max-width: 992px) {
        width: 100%;
      }

      .thumb {
        width: 33.33%;
        float: left;

        span {
          position: relative;
          top: 13px;
          width: 100%;
          height: 20px;
          text-align: center;
          font-size: 40px;
          line-height: 10px;
          color: #fff;

          visibility: hidden;

          &.active {
            color: #dbd9d9;
            visibility: visible;
          }
        }

        img {
          width: 100%;
          float: left;
          border: 1px solid #e1e1e1;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .extra-info {
      width: 100%;
      margin-top: 40px;
      float: left;
      padding-left: 0;
      list-style: none;

      li {
        &:before {
          content: "\2022";
          font-size: 16px;
          padding-right: 10px;
          position: relative;
          top: 1px;
        }
      }
    }
  }

  #product-info-container {
    display: none;

    min-height: 550px;
  }

  #product-info {
    float: left;
    padding-bottom: 30px;

    select {
      &.form-control {
        background: transparent;
      }
    }

    .form-select-wrapper,
    .form-static-select-wrapper {
      background: #f0f0f0;
    }

    .form-static-select-wrapper {
      display: block;

      width: 100%;
      height: calc(2.5rem - 2px);
      line-height: calc(2.5rem - 2px);
      padding: 0 .75rem !important;
      border: 1px solid #e1e1e1;
    }

    .tessie {
      position: relative;
      background: #f0f0f0;
      width: 100%;
      float: left;

      span {
        position: absolute;
        top: 3px;
        right: 15px;
        font-size: 40px;

      }
    }

    .product-title {
      padding-bottom: 20px;
    }

    .product-description {
      font-size: 14px;
    }

    .product-alert {
      margin: 20px 0 0 0;
    }

    > .form {
      width: 100%;
      padding: 20px 0;
    }

    .form {
      width: 100%;
      padding: 0 0 20px;

      .manual-price-information {
        padding: 10px;
        border: 1px dotted #e1e1e1;
        background: #f0f0f0;

        margin-bottom: 15px;

        .title {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
        }
      }

      .line-double {
        width: 100%;
        padding: 5px 0;

        p {
          padding: 5px 0;
        }

        &::after,
        .double-holder::after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }

        .double-holder {
          float: left;
          width: calc(100% - 100px);

          @media all and (max-width: 544px) {
            width: 100%;
            float: none;
          }

          .upsell-variation {
            padding-left: 30px;
          }

          .upsell-property {
            .property-input-field {
              margin: 5px;
              width: 100%;
            }
          }
        }

        .soort {
          float: left;
          width: calc(100% - 120px);

          @media (max-width: 992px) {
            width: 100%;
          }

          .select {
            position: relative;
            z-index: 5;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            background: none;
            border: 0;
            padding: 10px;
            font-family: $base-font-family;

            @media (max-width: 544px) {
              width: 100%;

              padding-right: 0;
            }

            @media (min-width: 768px) and (max-width: 992px) {
              width: 100%;
              padding-right: 60px;
            }
          }
        }

        .aantal {
          float: right;

          width: 100px;

          @media (max-width: 992px) {
            width: 100%;
          }

          .select {
            position: relative;
            z-index: 5;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            background: none;
            border: 0;
            padding: 10px;
            font-family: $base-font-family;

            @media (min-width: 768px) and (max-width: 992px) {
              width: 100%;
              padding-right: 60px;
            }

            @media (max-width: 544px) {
              width: 100%;
              padding-right: 0;
            }
          }
        }

        .price {
          width: 100px;
          float: right;

          @media (max-width: 544px) {
            float: none;
            width: auto;
            margin: 10px 0;
          }

          .manual-price {
            input {
              background-color: #f0f0f0;
            }

            .input-group-addon {
              background-color: #f0f0f0;
              border-color: #e1e1e1;
            }
          }

          p {
            text-align: right;

            @media (max-width: 544px) {
              text-align: left;
            }
          }

          .price-block {
            text-align: right;
          }

          .amount {
            padding: .660rem 0 !important;
          }
        }
      }

      .line-checkbox {
        width: 100%;
        padding: 0;
        margin: 5px 0;

        &::after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
        }

        .left {
          float: left;

          width: calc(100% - 150px);
        }

        .aantal {
          display: none;

          float: right;

          width: 100px;
        }

        .right {
          float: right;

          p {
            text-align: right;
          }
        }

      }

      .personalization {
        display: none;

        margin-bottom: 15px;
        padding-left: 30px;

        .personalization-description-add {
          display: none;
        }

        .personalization-description-edit {
          display: none;
        }

        #personalization-preview {
          position: relative;

          margin-top: 15px;
          display: table;

          #personalization_preview_actions {
            height: 75px;
            display: table-cell;

            vertical-align: bottom;

            padding-left: 10px;
          }

          img {
            float: left;

            width: auto;
            max-width: 100px;
            height: 75px;

            border: 1px solid #e1e1e1;
          }

          a {
            font-size: 12px;
          }

          #designer_preview_loader {
            width: 75px;
            height: 75px;

            background: url('./../img/ajax-loader-large.gif') no-repeat right center;
          }
        }

        #personalization-button {
          display: none;
          margin-top: 15px;

          .btn {
            padding: 5px 10px;
            font-size: 14px;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .personalization-design-description {
          margin-top: 10px;
        }
      }

      .letter-dropdown {
        width: 100%;
        padding: 10px 0;
        float: left;
        display: none;
        margin-bottom: 10px;
        border: 1px solid #ddd;

        .upload-status {
          display: none;
        }

        label {
          position: relative;
          top: 50%;
          margin: 20px auto 0;
          width: 200px;
          display: block;
          padding: 6px 12px;
          cursor: pointer;
        }

        .form-group label[for="product_form_letter_file"] {
          display: none;
        }

        .dropdown {
          width: 100%;
          margin-bottom: 10px;

          .select {
            position: relative;
            z-index: 5;
            width: 100%;
            margin-top: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            background: none;
            border: 0;
            padding: 10px;
            font-family: $base-font-family;
          }
        }
      }

      #card_option {
        &.small-card {
          .line-radio {
            display: inline-block;
            margin: 5px;
          }

          .wishcard {
            .card-fillin {
              float: left;
              width: 580px;
              height: 152px;
              padding-right: 0;
              background-image: url('./../img/card_bg_small.jpg');
              background-size: cover;
              background-position: center;

              textarea {
                width: 295px;
                height: 152px;
                padding-right: 13px;
                float: right;
              }

              .image {
                width: 50%;
                left: 0;
                background-position: right;
              }

              .placeholder {
                left: 51%;
              }

              .card-preview-image {
                display: none;
              }
            }
          }
        }

        .wishcard {
          width: 100%;
          padding: 10px 0;
          float: left;
          display: none;



          .radio {
            padding-left: 2px;

            @media all and (min-width: 992px) {
              float: left;
            }

            label {
              padding-left: 28px;
            }
          }

          .dropdown {
            width: 100%;
            margin-bottom: 10px;

            .select {
              position: relative;
              z-index: 5;
              width: 100%;
              margin-top: 0;
              -webkit-appearance: none;
              -moz-appearance: none;
              text-indent: 1px;
              text-overflow: '';
              background: none;
              border: 0;
              padding: 10px;
              font-family: $base-font-family;
            }
          }

          .card-fillin {
            position: relative;

            width: 100%;
            height: 251px;
            padding-right: 60px;
            border: 1px solid #ccc;

            @media all and (min-width: 768px) {
              border-right: 0;
            }

            @media all and (min-width: 992px) {
              float: right;
              width: 354px;
            }

            textarea {
              background-color: transparent;
              border: none;
              padding: 10px 13px;
              margin: -1px 0 0 0px;
              width: 100%;
              height: calc(100% + 2px);
              font-family: 'Arial Narrow', $base-font-family;
              font-size: 12px;
              font-style: italic;
              line-height: 16px;
              overflow: hidden;
              color: #000;
              letter-spacing: 1px;

              display: table-cell;
              vertical-align: middle;

              white-space: pre-wrap; /* CSS3 */
              word-wrap: break-word; /* IE */
              resize: none;

              position: relative;
              z-index: 2;
            }

            textarea:not(.empty) + .placeholder {
              display: none;
            }

            .placeholder {
              position: absolute;
              top: 1rem;
              left: 1rem;
            }

            .image {
              position: absolute;

              top: -1px;
              right: 0;

              width: 218px;
              height: calc(100% + 2px);

              background: no-repeat center left;

              border: 1px solid #ccc;
              border-left: 0;

              z-index: 1;

              display: none;

              @media all and (min-width: 768px) {
                display: block;
              }
            }

            .card-preview-image {
              display: none;
              position: absolute;

              width: 140px;
              height: 76px;

              bottom: 0;

              transform: translate(-100%, 50%);

              img {
                max-width: 100%;
              }

              @media all and (min-width: 767px) {
                display: block;
              }
            }
          }
        }
      }


      .subtotaal {
        width: 100%;
        padding: 20px 0;
        float: left;

        p {
          font-size: 18px;
        }

        .left {
          float: left;
        }

        .right {
          float: right;
        }
      }
    }

    .product-variables {
      float: left;
      width: calc(100% - 120px);
    }
  }

  .product-options {
    margin-bottom: 1rem;

    .tab-holder {
      margin-top: 15px;

      &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }

      &:last-child {
        margin-bottom: 30px;
      }
    }

    p {
      padding: 5px 0;
    }
  }

  &.product-type-simple {
    #product-info {
      .form {
        .line-double {
          .double-holder {
            width: calc(100% - 150px);

            @media all and (max-width: 544px) {
              width: 100%;
            }
          }

          @media all and (min-width: 545px) {
            .price {
              width: 150px;
            }
          }
        }
      }
    }

    .price-block {
      .product-price {
        font-weight: bold;
      }
    }
  }

  .option-description {
    padding-left: 30px;
    padding-top: 3px;
  }

  .voorbeeldsmall {
    width: 50%;
    float: right;
    height: 80px;
    padding: 0 5px;
  }

  .input-anoniem {
    margin-top: 10px;
    width: 100%;
    float: left;

    span {
      font-size: 24px;
      float: left;
      width: 26px;
    }

    p {
      float: left;
      margin-left: 7px;
      margin-top: 3px;
    }

    .input-check-anoniem {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .btn-add-to-cart {
    @media (max-width: 992px) {
      width: 100%;
    }

    width: 50%;
    min-width: 354px;
    float: right;
  }
}

/* FORMATEN */
#product-carrousel {
  padding: 0;

  #formaten {
    padding: 0 15px 40px 15px;

    opacity: 1;
    transition: opacity .5s ease;

    .row > div {
      padding: 0 15px 0 0;

      @media (max-width: 992px) {
        padding: 0 15px;
      }
    }

    .terug {
      padding: 0;
    }

    .btn-terug {
      width: 200px;
      position: relative;
      left: -15px;
    }

    .formaat-item {
      padding: 0 10px 10px 10px;
      background: white;
      border: 1px solid #dadad9;
      float: left;

      opacity: 1;
      transition: opacity .5s ease;

      cursor: pointer;
    }

    h1 {
      margin-bottom: 20px;

      text-align: center;

      @media (max-width: 768px) {
        margin-bottom: 0;
        font-size: 25px;
      }
    }

    &:hover {
      .formaat-item {
        opacity: 0.6;

        &:hover {
          opacity: 1;

          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          border-color: rgba(0, 0, 0, 0.15);
        }

        &.selected {
          &:hover {
            opacity: 1;

            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            border-color: rgba(0, 0, 0, 0.15);
          }
        }

      }
    }

    &.variation-selected {
      .formaat-item {
        opacity: 0.6;
      }
    }

    .formaat-item {
      &.selected {
        opacity: 1;

        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        border-color: rgba(0, 0, 0, 0.15);
      }

      .header {
        position: relative;
        width: calc(100% - 0px);
        width: -moz-calc(100% - 0px);
        width: -webkit-calc(100% - 0px);

        padding: 0 20px;
        float: left;

        .two-lines-center {
          width: 100%;
          padding: 0 70px;
          text-align: center;
          float: left;
          height: 50px;

          display: table;

          p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 30px;
          }
        }

        .two-lines {
          position: relative;
          left: -10px;
          width: 100%;
          padding: 0;
          text-align: center;
          float: left;
          height: 50px;

          display: table;

          p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 30px;
          }
        }

        .extra-1 {
          @media (min-width: 768px) and (max-width: 992px) {
            top: 0;
          }

          position: absolute;
          top: 10px;
          right: 10px;

          padding: 5px 10px;
          color: #fff;

          p {
            text-align: center;
            font-size: 12px;
            padding-right: 5px;
          }

          span {
            position: absolute;
            top: -10px;
            left: -16px;

            font-size: 48px;
          }
        }

        .extra-2 {
          @media (min-width: 768px) and (max-width: 992px) {
            top: 0;
          }

          position: absolute;
          top: 10px;
          right: 10px;

          padding: 5px 10px;
          color: #fff;

          p {
            text-align: center;
            font-size: 12px;
            padding-right: 5px;
          }

          span {
            position: absolute;
            top: -10px;
            left: -16px;

            font-size: 48px;
          }
        }

        .triangle-topleft {
          position: absolute;
          top: 0;
          left: -10px;
          width: 0;
          height: 0;

          border-right: 100px solid transparent;
          z-index: 99;
        }

        .triangle-text {
          position: absolute;
          top: 14px;
          left: -18px;
          color: #fff;
          font-size: 13px;
          width: 80px;
          line-height: 14px;
          text-align: center;
          transform: rotate(-45deg);
          z-index: 100;
          font-family: $base-font-family;
        }
      }

      .foto {
        width: 100%;
        float: left;

        img {
          width: 100%;
          display: block;
          margin: 0 auto;
          position: relative;
        }
      }

      .desc {
        width: 100%;

        padding: 0 20px;
        float: left;

        @media (min-width: 768px) and (max-width: 1200px) {
          padding: 0;
        }

        h2 {
          padding: 0 0 10px 0;
          color: #44493e;
          font-size: 22px;
          text-align: center;

          @media (min-width: 768px) and (max-width: 1200px) {
            font-size: 18px;
          }

          @media (max-width: 992px) {
            height: 40px;
          }
        }
      }

      .select-vaas {
        width: 95%;
        padding: 10px 20px;
        float: none;
        margin: auto;

        @media (min-width: 768px) and (max-width: 1200px) {
          padding: 10px 0 0 10px;
        }

        p {
          font-size: 18px;
          color: #44493e;
          float: left;
          width: calc(100% - 34px);

          font-family: $base-font-family;

          @media (min-width: 768px) and (max-width: 1200px) {
            font-size: 15px;
          }
        }

        span {
          width: 34px;
          float: left;
          line-height: 20px;
          font-size: 20px;
        }

        .check {
          display: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      button {
        width: 100%;

        margin-top: 20px;
      }

      .btn-size {
        width: 100%;
        padding: 10px 0;

        float: left;
        text-align: center;
        color: #fff;
      }
    }
  }

  .formaat-tab {
    position: relative;
    left: 0;
    width: 100%;
    float: left;
    padding-bottom: 30px;

    .terug {
      padding: 0;
      width: 90%;
      margin: 30px 5% 0 5%;
      float: left;
    }

    .btn-terug {
      width: 200px;
      background: #d0d1cf;
      float: none;
      padding: 5px 20px;
      text-align: center;
      margin: 0 auto 0 calc(50% - 50px);
    }

    .tab {
      position: relative;
      left: -52.5%;
      margin-left: 0;
      width: 210%;
    }

    .formaat-item {
      width: calc(33.333% - 30px);

      padding: 0 10px 20px 10px;
      background: white;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      float: left;
      margin: 0 30px 0 0;

      .header {
        position: relative;
        width: 100%;

        padding: 0 20px;
        float: left;

        .two-lines-center {
          width: 100%;
          padding: 0 70px;
          text-align: center;
          float: left;
          height: 50px;

          display: table;

          p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 12px;
          }
        }

        .two-lines {
          position: relative;
          left: -10px;
          width: 100%;
          padding: 0 70px;
          text-align: center;
          float: left;
          height: 50px;

          display: table;

          p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 30px;
          }
        }

        .extra-1 {
          @media (min-width: 768px) and (max-width: 992px) {
            top: 0;
          }

          position: absolute;
          top: 10px;
          right: 10px;

          padding: 5px 10px;
          color: #fff;

          p {
            text-align: center;
            font-size: 12px;
            padding-right: 5px;
          }

          span {
            position: absolute;
            top: -10px;
            left: -16px;

            font-size: 48px;
          }
        }

        .extra-2 {
          @media (min-width: 768px) and (max-width: 992px) {
            top: 0;
          }

          position: absolute;
          top: 10px;
          right: 10px;

          padding: 5px 10px;
          color: #fff;

          p {
            text-align: center;
            font-size: 12px;
            padding-right: 5px;
          }

          span {
            position: absolute;
            top: -10px;
            left: -16px;

            font-size: 48px;
          }
        }

        .triangle-topleft {
          position: absolute;
          top: -20px;
          left: -10px;
          width: 0;
          height: 0;

          border-right: 100px solid transparent;
        }

        .triangle-text {
          position: absolute;
          top: -4px;
          left: -18px;
          color: #fff;
          font-size: 13px;
          width: 80px;
          line-height: 14px;
          text-align: center;
          transform: rotate(-45deg);
        }
      }

      .foto {
        width: 100%;
        float: left;

        img {
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }

      .desc {
        width: 100%;

        padding: 0 20px;
        float: left;

        h2 {
          padding: 0 0 10px 0;
          color: #44493e;
        }
      }

      .select-vaas {
        width: 100%;

        padding: 10px 20px;
        float: left;

        p {
          font-size: 13px;
          color: #44493e;
          float: left;
          width: calc(100% - 30px);
        }

        span {
          width: 30px;
          float: left;
          line-height: 20px;
          font-size: 20px;
        }

        .check {
          display: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .btn-size {
        width: 100%;
        padding: 10px 0;
        background: #8c9148;
        float: left;
        text-align: center;
        color: #fff;
      }

      &.inactive {
        margin-top: 2.5%;

        .foto {
          img {
            width: 80%;
          }
        }
      }

      button {
        width: 100%;

        margin-top: 20px;
      }
    }

    .go-basis {
      position: absolute;
      left: 30%;
      margin-top: 17.5%;
      height: 28px;

      padding: 0 10px;
      color: #fff;
      font-size: 14px;
      margin-left: -20px;

      span {
        position: absolute;
        top: -10px;
        left: -16px;

        font-size: 48px;
      }

      p {
        padding-right: 5px;
        margin-top: 5px;
        font-family: $base-font-family;
      }
    }

    .go-groot-left {
      display: none;
      position: absolute;
      left: 30%;
      margin-top: 17.5%;
      height: 28px;

      padding: 0 10px;
      color: #fff;
      font-size: 14px;
      margin-left: -10px;

      @media (max-width: 544px) {
        margin-left: -30px;
      }

      span {
        position: absolute;
        top: -10px;
        left: 60px;

        font-size: 48px;

        @media (max-width: 544px) {
          left: 60px;
        }
      }

      p {
        padding-left: 5px;
        margin-top: 5px;
        font-family: $base-font-family;
      }
    }

    .go-xl {
      position: absolute;
      left: 59%;
      margin-top: 17.5%;
      height: 28px;

      padding: 0 10px;
      color: #fff;
      font-size: 14px;

      @media (min-width: 544px) {
        left: 62%;
      }

      span {
        position: absolute;
        top: -10px;
        left: 68px;

        font-size: 48px;
      }

      p {
        padding-left: 5px;
        margin-top: 5px;
        font-family: $base-font-family;
      }
    }

    .go-groot {
      display: none;
      position: absolute;
      left: 59%;
      margin-top: 17.5%;
      height: 28px;

      padding: 0 10px;
      color: #fff;
      font-size: 14px;
      margin-left: 20px;

      @media (min-width: 544px) {
        left: 62%;
        margin-left: 20px;
      }

      span {
        position: absolute;
        top: -10px;
        left: -16px;

        font-size: 48px;

        @media (min-width: 544px) {
          left: -16px;
        }
      }

      p {
        padding-right: 5px;
        margin-top: 5px;
        font-family: $base-font-family;
      }
    }
  }
}

.modal-personalization {
  .swal2-content {
    font-size: 16px;
  }
}

.combination-plus {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.combination-product-image img {
  width: 100%;
  min-height: 137px;
}

.combination-product-title {
  font-weight: bold;
  text-align: center;
}

#combination_products_container {
  margin-top: 15px;
  min-height: 200px;
}

#combination_products_container h5 {
  margin-left: 15px;
  font-weight: bold;
}

#content-product.product-column-view {
  padding: 0 0 40px;

  .product-carousel-container {
    position: relative;

    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  h1.product-title,
  .product-description {
    padding: 0 0 20px 0 !important;
  }

  .product-item {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: $base-border-color;

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .information {
      padding: 10px;
      text-align: center;

      h2 {
        padding: 0 0 10px 0;

        color: $grey;
        font-size: 22px;
        text-align: center;
      }

      ul {
        margin: 0;
        list-style: none;
      }
    }

    .image {
      width: 100%;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .combination-products {
      margin-bottom: 20px;

      label {
        font-size: 18px;
        font-weight: normal;

        color: $grey;

        &::before,
        &::after {
          margin-top: -2px;
        }
      }
    }

    .info-label {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;

      &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100px 100px 0 0;

        border-color: $grey transparent transparent transparent; // IE Fallback
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
      }

      span {
        position: absolute;
        color: white;
        display: block;
        z-index: 10;
        font-size: 13px;
        transform: rotate(-45deg);
        top: 18%;
        left: -14%;
        line-height: 1;
        text-align: center;
        width: 90px;
      }
    }

    input[type='checkbox']:checked + label::after {
      left: 2px;
    }

  }

  #product-selection-form {
    float: right;
    display: none;
  }

}

.product-sku{
  color: #828181;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .product-carousel {
    position: relative;
    width: 100%;

    &.animate {
      transition: 500ms opacity linear;

      .carousel-item {
        transition: 500ms opacity linear, 500ms width linear, 500ms margin-right linear;

        &.active {
          z-index: 100;
        }

        &:not(.active) {
          width: 0;
          overflow: hidden;
          opacity: 0;
        }
      }

      &.ready {
        float: left;
        width: auto;
        position: absolute;
        opacity: 0;

        .carousel-item {
          &:not(.active) {
            display: none;
            visibility: hidden;
          }
          &.active {
            width: auto;
          }
        }
      }
    }

    & > div {
      float: left;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

@media (min-width: 768px) and (max-width: 990px)  {
  .product-item {
    h2 {
      height: 55px;
      padding: 0 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px)  {
  #content-product.product-column-view {
    .product-item {
      .information {
        h2 {
          font-size: 18px;
        }
      }

      .combination-products {
        label {
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .product-carousel {
    & > div {
      width: 32%;
      margin-right: 2%;
    }

    & > div:last-child {
      margin: 0;
    }
  }

  .product-item {
    .price {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .product-carousel {
    transition: opacity 250ms ease;

    &.animate {
      opacity: 0;

      &.ready {
        display: none;
      }
    }
  }

  #content-product.product-column-view {
    .carousel-item {
      transition: all 300ms ease;
      padding: 15px;
    }

    .product-item {
      padding: 8px;
      transition: all 300ms ease;

      .info-label {
        &::before {
          border-width: 68px 68px 0 0;
        }

        span {
          top: 10%;
          width: 70px;
          font-size: 11px;
        }
      }

      .information {
        width: 100%;
        overflow: hidden;
        padding: 0;

        .title,
        .combination-products {
          display: none;
        }

        .price {
          font-size: 18px;
          text-align: left;
          font-weight: bold;
        }

        .actions {
          width: 100%;

          a.btn {
            margin: 10px 0 0 0;
            font-size: 13px;
          }
        }
      }
    }

    .slider-nav-prev,
    .slider-nav-next {
      position: absolute;
      z-index: 1000;
      color: #fff;
      top: 60%;
      display: inline-block;
      min-width: 80px;
      text-align: center;
      height: 25px;
      line-height: 25px;
      margin: 0 12px;

      &::before {
        position: absolute;
        content: '';
        display: block;
      }
    }

    .slider-nav-next {
      right: 0;

      &::before {
        right: -12px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 0 12px 12px;
      }
    }

    .slider-nav-prev {
      left: 0;

      &::before {
        left: -12px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 12px 0;
      }
    }

    .slick-list {
      overflow: inherit;
    }

    .slick-current {
      .product-item {
        transform: scale(1.1);
      }
    }
  }
}

.stock-variation {
  display: none;
  align-items: center;

  .circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
  }

  &.visible {
    display: flex;
  }
}