<div class="row">
    <div class="col-md-6">
        <h6 class="panel-title">Gegevens</h6><br/>
        <table class="table">
            <tr>
                <td>Template</td>
                <td>{{ designerTemplate.getName() }}</td>
            </tr>

            {% if designerTemplate.getTags() is not empty %}
                <tr>
                    <td>Labels</td>
                    <td>{{ designerTemplate.getTags()|join(', ') }}</td>
                </tr>
            {% endif %}

            <tr>
                <td>UUID #</td>
                <td>{{ designerTemplate.getUuid() }}</td>
            </tr>

            {% if designerTemplate.getCanvas() %}
            <tr>
                <td>Formaat</td>
                <td>
                    {{ designerTemplate.getCanvas().getWidth() * 100 }}% x
                    {{ designerTemplate.getCanvas().getHeight() * 100 }}%
                </td>
            </tr>
            {% endif %}

            {% if designerTemplate.getCanvas() %}
                <tr>
                    <td>Ontwerp</td>
                    <td>{{ app_designer_preview(designerTemplate.getUuid, 150, true) }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary"
                data-url="{{ path('admin_settings_designer_designertemplate_edit', { id: designerTemplate.getId }) }}" data-action="open-content">
            <i class="fa fa-edit"></i>
            BEWERKEN
        </button>
    </div>
</div>


