{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Personaliseren' %}
{% set page_class = 'full-height-content' %}

{% block body %}
    <div class="panel panel-flat" style="height: 100%">
        <div class="panel-body" style="height: 100%; padding: 0;">
            <iframe name="design_personalizate" src="{{ design_url }}" frameborder="0" style="width: 100%; height: 100%;"></iframe>
        </div>
    </div>

    <div class="button-container text-right">
        <button type="submit" name="designer_template_form[close]" title="Wijzigingen worden niet opgeslagen" swal="confirm" data-title="Uw wijzigingen worden niet opgeslagen!" data-type="info" data-canceltext="Annuleren" data-confirmtext="Bevestig" data-callback="function () { window.location.href='{{ callback_url }}'; }" data-group="actions" class="btn pull-left legitRipple">
            Sluiten
            <i class="icon-reload-alt position-right"></i></button>

        <button type="submit" name="designer_template_form[submit_close]" class="btn btn-primary legitRipple" id="submit_design" data-group="actions">
            Opslaan en sluiten
            <i class="icon-checkmark-circle position-right"></i>
        </button>
    </div>

    <script type="text/javascript">
        $(function() {
            $('#submit_design').on("click", function(e) {
                 e.preventDefault();

                 $('iframe[name="design_personalizate"]')
                    .contents()
                    .find('button.btn-submit')
                    .click();
            });
        });

        function {{ after_design_saved }}() {
            window.location.href = '{{ callback_url }}';
        }
    </script>
{% endblock %}