{% macro assortiment_product(assortment, product, index) %}
    {% import '@App/macros/product_macro.html.twig' as product_macro %}

	{% set classes = 'col-xs-6 col-lg-3 product-item-small item_' ~ index ~ ' producthover' %}

	{% for productProperty in product.getFilterableProductProperties %}
        {% if productProperty.getProductgroupProperty.getFilterable and productProperty.getProductgroupPropertyOption is not null %}
            {% set classes = classes ~ ' ' ~ 'filter-' ~ productProperty.getProductgroupProperty.getId ~ '-' ~ productProperty.getProductgroupPropertyOption.getId %}
        {% endif %}
    {% endfor %}

    {% set cheapestVariation = product_manager.decorateProduct(product.getCheapestVariation) %}

    <div class="{{ classes }}" data-product-price="{{ get_price(cheapestVariation) }}">
        {{ product_macro.tile(product) }}
    </div>
{% endmacro %}
