{% macro tile(product, show_hover) %}
    {% set isOrderable = product.isOrderable() %}

    {% import _self as components %}
    <div class="product-item product item">
        <a href="{{ product.getUrl() }}" data-product-id="{{ product.getId() }}">
            {% include '@App/blocks/Product/tile/image.html.twig' %}

            <div class="information desc">
                <h3>{{ product.translate.title }}</h3>
                <div class="price-text-placeholder">
                    {% if product.hasVariations %}
                        {{'label.price_from' | trans}}
                    {% endif %}
                </div>
                {% set cheapestVariation = product_manager.decorateProduct(product.cheapestVariation) %}
                {{ get_price_html(cheapestVariation) }}
                {% include '@App/blocks/Product/tile/button.html.twig' with { desktop: false } %}
            </div>
        </a>

        {% if not is_mobile() and not is_tablet() and show_hover is not same as(false) %}
            <div class="product-hover">
                <div class="hover-item">
                    {% include '@App/blocks/Product/tile/description.html.twig' %}
                    {% include '@App/blocks/Product/tile/variations.html.twig' %}
                    {% include '@App/blocks/Product/tile/button.html.twig' %}
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro tile %}
