{% macro product(product) %}
    {% spaceless %}
        <div class="nosto_product" style="display: none">
            <span class="url">{{ product.getAbsoluteUrl() }}</span>
            <span class="product_id">{{ product.getId() }}</span>
            <span class="name">{{ product.getDisplayName() }}</span>
            <span class="image_url">{% if product.getMainImage(true) %}{{ product.getMainImage(true).getPath | imagine_filter('product') }}{% endif %}</span>
            {#<span class="price">{{ get_price(product, true) }}</span>#}
            <span class="price_currency_code">EUR</span>
            <span class="availability">op voorraad</span>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro cart(cart) %}
    {% spaceless %}
        <div class="nosto_cart" style="display: none">
            {% for line in cart.getCurrentOrder().getLines() %}
                {% if line.getProduct() and line.getProduct().getPurchasable() %}
                    <div class="line_item">
                        <span class="product_id">{{ line.getProduct().getId() }}</span>
                        <span class="quantity">{{ line.getQuantity() }}</span>
                        <span class="name">{{ line.getProduct().getDisplayName() }}</span>
                        <span class="unit_price">{{ get_price(line, true) }}</span>
                        <span class="price_currency_code">EUR</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro profile_link(value, description) %}
    {% spaceless %}
        <a href="{{ robin_url }}/?startcode=searchphonenumber&startdata={{ value }}"
           target="_blank">{% if description is not empty %}{{ description }}{% else %}{{ value }}{% endif %}</a>
    {% endspaceless %}
{% endmacro %}
