{{ form_start(form) }}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-body">
                <fieldset>
                    <legend class="text-semibold">
                        Factuuradres
                    </legend>
                </fieldset>
                {{ form_row(form.invoiceAddress) }}
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-body">
                <fieldset>
                    <legend class="text-semibold">
                        Facturatie instellingen
                    </legend>
                </fieldset>
                {{ form_row(form.iban) }}
                {{ form_row(form.bic) }}
                {{ form_row(form.bankAccountHolder) }}
                {{ form_row(form.invoiceEmail) }}
            </div>
        </div>
    </div>
</div>


{{ form_end(form) }}