{{ form_start(form) }}

<div class="panel panel-flat ">
    <div class="panel-heading">Instellingen</div>
    <div class="panel-body">
        {{ form_row(form.creditLimit) }}
        {{ form_row(form.priceDisplayMode) }}
        {{ form_row(form.paymentmethods) }}
    </div>
</div>

{{ form_end(form) }}