{% extends 'AppBundle::base_site.amp-html.twig' %}

{% set primaryColor = '#b5251a' %}
{% set site_slogan = 'Vier topmerken op één site!' %}
{% set site_logo = 'build/images/topgeschenken-kleur.png' %}
{% set site_color = '#b5251a' %}