{% extends 'AdminBundle::base.html.twig' %}

{% set page_class = 'delivery-area-map has-detached-right sidebar-xs' %}

{% block assets_head %}
    {{ include('@Admin/Customer/DeliveryArea/includes/assets_head.html.twig') }}
{% endblock assets_head %}

{% block body %}
    <div id="delivery-area-map">
        <div id="sidebar" class="sidebar sidebar-main sidebar-default" {% if viewModus is defined and viewModus is same as ('select-supplier') %}style="display: none;"{% endif %}>
            <form id="form">
                <div class="sidebar-content">
                    <div class="category-content">
                        <div class="input-group">
                            <label for="search_term">Zoeken</label>
                            <div class="input-group">
                                <input type="search" id="search_term" class="form-control" placeholder="Zoeken + enter">
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-content">
                    <div class="category-content">
                        <div class="input-group">
                            <label for="dataset">Weergave</label><br />
                            <select name="dataset" id="dataset">
                                {% for dataset in datasets %}
                                    <option value="{{ dataset.getId() }}"
                                            {% if dataset.getId() == currentDataset.getId() %}selected{% endif %}
                                            data-event="{{ dataset.getEvent() }}">{{ dataset.getLabel() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="sidebar-content" style="display: none;">
                    <div class="category-content">
                        <div class="input-group">
                            <label for="date_preview">Datum</label><br />
                            <input type="text" id="date_preview" />
                            <input type="text" id="date" />
                            <p id="date_preview_help" class="form-text text-muted">
                                Alleen voor dekkingskaart met datum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sidebar-content" style="display: none;">
                    <div class="category-content">
                        <div class="input-group">
                            <label for="supplierGroups">Leveranciersgroep</label><br />
                            <select name="supplierGroups" id="supplierGroups"></select>
                        </div>
                    </div>
                </div>
                <div class="sidebar-content" style="display: none;">
                    <div class="category-content">
                        <div class="input-group">
                            <label for="supplierConnectors">Connectors</label><br />
                            <select name="supplierConnectors" id="supplierConnectors" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
                <div id="filter_suppliers" class="sidebar-content" style="display: none;">
                    <div class="category-content">
                        <div class="input-group">
                            <label for="supplierConnectors">Leveranciers <span class="clear"><i class="mdi mdi-close" aria-hidden="true"></i></span></label><br/>
                            <select name="suppliers" id="suppliers" multiple="multiple"></select>
                        </div>
                    </div>
                </div>
                <div id="maps_legend" class="sidebar-content" style="display: none;">
                    <div class="category-content">
                        <div class="input-group legend">
                            <label>Legenda</label>
                            <div class="items"></div>
                        </div>
                    </div>
                </div>

                <div id="maps_speed_up" class="sidebar-content">
                    <div class="category-content">
                        <div class="input-group speed-up">
                            <input type="checkbox" id="map_speed_up_checkbox" name="map_speed_up_checkbox" value="1" checked="checked" class="form-styled">&nbsp;
                            <label for="map_speed_up_checkbox">Snelle modus</label>
                        </div>
                    </div>
                </div>
            </form>
            <a href="#" class="reset-regions" data-action="reset-regions" style="color: #999999;"><i class="mdi mdi-refresh"></i>
                Postcodegebieden</a>
        </div>
        <div id="map-canvas"></div>
    </div>
{% endblock body %}

{% block assets_body %}
    {{ include('@Admin/Customer/DeliveryArea/includes/assets_body.html.twig') }}
{% endblock assets_body %}