{% extends 'AdminBundle:Customer/DeliveryArea:index.html.twig' %}

{% set page_class = 'delivery-area-map has-detached-right sidebar-xs' %}
{% set hide_sidebar = true %}
{% set hide_page_header = true %}
{% set hide_footer = true %}

{% block body %}
    <div class="flex-container">
        <div>
            <div id="selected_supplier" class="selected-supplier">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Leverancier</th>
                        <th>Interne bedrijfs opmerkingen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td colspan="2">Selecteer een leverancier</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            {{ parent() }}
        </div>
    </div>


{% endblock body %}