{% extends "AdminBundle::base.html.twig" %}

{% block body %}
    <div class="panel panel-flat">
        {{ dataTable | raw }}
    </div>

    {% javascripts
        '@AdminBundle/Resources/public/js/log/log.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $('table').on('click', 'a[data-action="open-log"]', function (e) {
                e.preventDefault();

                new Log($(this).attr('href'));
            });
        });
    </script>
{% endblock %}
