<div class="view">
    {% for log in logs %}
        <div class="panel panel-default {{ log.get.getId != selectedLogId ? 'panel-collapsed' : '' }}"
             data-logid="{{ log.get.getId }}">
            <div class="panel-heading">
                {{ include('@Admin/Audit/Audit/auditPanelHeader.html.twig', {log: log}) }}
            </div>
            <div class="panel-body collapsable" {{ log.get.getId != selectedLogId ? 'style="display:none;"' : '' }}>
                {{ include('@Admin/Audit/Audit/diff.html.twig', {log: log}) }}
                {% if log.getAssociatedLogs is not empty %}
                    <h5>Gerelateerde logs</h5>
                    {% for aLog in log.getAssociatedLogs %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default panel-collapsed">
                                    <div class="panel-heading">
                                        {{ include('@Admin/Audit/Audit/auditPanelHeader.html.twig', {log: aLog}) }}
                                    </div>
                                    <div class="panel-body collapsable" style="display: none;">
                                        {{ include('@Admin/Audit/Audit/diff.html.twig', {log: aLog}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
