{% extends '@Admin/Rule/createRule.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        var ruleBuilder = new RuleBuilder('#rule_builder', {
            autocompleteUrl: '{{ path('rule_rule_filterautocomplete') }}',
            autocompleteLookupUrl: '{{ path('rule_rule_filterautocomplete', {
                'lookup': '%%IDENTIFIER%%'
            }) }}',
            filtersUrl: '{{ path('rule_rule_getfilters', {
                'start': '%%IDENTIFIER%%'
            }) }}',
            createUrl: '{{ path('rule_rule_create') }}'
        });

        ruleBuilder.setFilters({{ filters|json_encode|raw }});

        ruleBuilder.create();
    </script>
{% endblock %}
