{% extends 'AdminBundle::base.html.twig' %}

{% block assets_body %}
    {% javascripts
        '@AdminBundle/Resources/public/js/ContentWindow.js'
        '@RuleBundle/Resources/public/js/Rule/*'
        'assets/vendor/jquery-form/dist/jquery.form.min.js'
        'assets/vendor/jquery.scrollTo/jquery.scrollTo.js'
        'assets/vendor/moment/min/moment.min.js'
        '@RuleBundle/Resources/public/js/QueryBuilder/query-builder.standalone.js'
        '@RuleBundle/Resources/public/js/QueryBuilder/query-builder.nl.js'
        '@RuleBundle/Resources/public/js/QueryBuilder/ts-daterange-picker/plugin.js'
        '@RuleBundle/Resources/public/js/QueryBuilder/ts-bootstrap-switch/plugin.js'
        '@RuleBundle/Resources/public/js/rule-builder.js' %}
        <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}

    {% stylesheets
        '@AdminBundle/Resources/public/css/ContentWindow.css'
        '@RuleBundle/Resources/public/js/QueryBuilder/query-builder.default.min.css'
        '@AdminBundle/Resources/public/css/rule-builder.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}
    {# Rules #}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title">
                <strong>Regels</strong>
                <button data-action="rule_create" style="float: right; margin-top: -5px;" class="btn btn-xs btn-success"
                        data-url="{{ path('rule_rule_create') }}">
                    <i class="fa fa-plus"></i>
                    Toevoegen
                </button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Beschrijving</th>
                    <th>Expressie</th>
                    <th class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                {% if rules is not empty %}
                    {% for rule in rules %}
                        <tr>
                            <td>{{ rule.getId|number_format(0, ',', '.') }}</td>
                            <td>{{ rule.getDescription }}</td>
                            <td>
                                {% if rule.getExpression is not null %}
                                    {{ rule.getExpression.getId }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <button class="btn btn-default" data-action="rule_edit"
                                        data-url="{{ path('rule_rule_edit', { id: rule.getId }) }}">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-danger" data-action="rule_delete"
                                        data-url="{{ path('rule_rule_delete', { rule: rule.getId }) }}">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            Geen resultaten...
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
