<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Regel aanmaken</strong>
        </div>
    </div>
    <div class="panel-body">
        <div class="alert alert-warning" role="alert">Het genereren van database structuur informatie wordt op de achtergrond uitgevoerd. Probeer het later opnieuw.</div>
    </div>
</div>