<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Regel #{{ rule.getId|number_format(0, ',', '.') }}</strong>
        </div>
    </div>
    <div class="panel-body">
        {{ rule.getDescription }}
    </div>
</div>

{% if rule.getExpression is not null %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <Strong>Expressie</Strong>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>{{ dump(rule.getExpression) }}</td>
                </tr>

                {% if rule.getExpression.getLeftOperand is not null %}
                    <tr>
                        <td>Left operand:</td>
                        <td>{{ dump(rule.getExpression.getLeftOperand) }}</td>
                    </tr>
                {% endif %}

                {% if rule.getExpression.getRightOperand is not null %}
                    <tr>
                        <td>Right operand:</td>
                        <td>{{ dump(rule.getExpression.getRightOperand) }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endif %}
