{% extends '@Admin/base.html.twig' %}

{% block body %}
    <div class="alert alert-warning">
        Momenteel wordt er nog een batch gedraaid. Kom op een later moment terug. De facturen worden automatisch aan het overzicht toegevoegd.
    </div>
{% endblock body %}
