<div class="tab-holder" id="letter_holder">
    <div class="line-checkbox">
        <div class="left">
            <div style="float: left;">
                <input id="letter" name="letter" type="checkbox"
                       value="1"{% if letter.show %} checked="checked"{% endif %}>
                <label class="choice" for="letter">
                    {{ "product.add"|trans({"%product%": letter.title}) }}
                </label>
                <p class="option-description card-description">{{ letter.description }}</p>
            </div>
        </div>
        <div class="right">
            <p class="bold">{{ letter.price | number_format }}</p>
        </div>
    </div>
    <div class="letter-dropdown dropdown-product-options dropdown">
        <div class="upload-status">
            <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;"><div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div><span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span><div class="swal2-success-ring"></div> <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div><div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div></div>
        </div>
        <label for="product_form_letter_file" class="btn-theme btn custom-file-upload">
            <i id="letter_upload_icon" class="fa fa-cloud-upload"></i>
            <span class="upload-btn-text">{{ "letter.choose_file"|trans }}</span>
        </label>
        <div style="text-align: center;">
            <small>{{ "file.only_pdf_allowed"|trans }}</small>
        </div>
        {{ form_row(form.letter_file) }}
    </div>
</div>
