<div class="tab-holder" id="upsell_option">
    {% for upsell in upsells %}
        <div class="line-checkbox line-double upsell-container" data-variation-id="{{ upsell.product.id }}" {% if product.hasVariations is same as(true) %} style="display: none;" {% endif %}>
            <div class="double-holder">
                <div class="field soort" style="float: none;">
                    <input id="upsell_{{ upsell.id }}" data-upsell-id="{{ upsell.id }}"
                           {% if upsell.upsellProduct.variations.isEmpty %}
                           name="upsell[{{ upsell.upsellProduct.id }}]"
                           {% endif %}
                           class="upsell-checkbox {{ upsell.upsellProduct.variations.isEmpty is same as(false) ? 'variation-holder' : '' }}"
                           type="checkbox">

                    <label class="choice" for="upsell_{{ upsell.id }}">
                        {{ upsell.upsellProduct.displayName }}
                    </label>
                </div>
                {% if upsell.product.productgroup.upsellQuantityMode is not same as('strictly_following') %}
                    <div class="aantal" style="display: block;">
                        <span class="form-select-wrapper">
                        <select class="upsell-quantity form-control"
                                data-quantity-mode="{{ upsell.product.productgroup.upsellQuantityMode }}"
                                data-upsell-id="{{ upsell.id }}" name="upsell_quantity[{{ upsell.upsellProduct.id }}]">
                            {% for i in 1..maxQuantity %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    </div>
                {% endif %}

                <div class="variations" style="display: none;">
                    <div class="row">
                        <div class="col-md-6">
                            {% for variation in upsell.upsellProduct.variations %}
                                <div class="upsell-variation">
                                    <input type="radio" class="upsell-variation-radio" data-price="{{ get_price(variation) | number_format(2)}}" data-variation-id="{{ variation.id }}" id="upsell_{{ variation.id }}" name="upsell[{{ upsell.upsellProduct.id }}]" value="{{ variation.id }}"/>
                                    <label for="upsell_{{ variation.id }}">{{ variation.displayName }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {% for variation in upsell.upsellProduct.variations %}
                                <div class="upsell-property" data-variation-id="{{ variation.id }}" style="display: none;">
                                    {{ include('@App/blocks/Product/options/properties.html.twig', {product: variation}) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
            <span class="upsell_price">
                {{ get_price(upsell.upsellProduct.cheapestVariation) }}
            </span>
            </div>
        </div>
    {% endfor %}
</div>
