{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/form/company-wizard.css') }}" />

    <form method="post" id="wizard" novalidate="novalidate">
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Stap 1: In welk land is het bedrijf gevestigd
                        </div>
                    </div>
                    <div class="panel-body" id="choose_country">
                        <div class="form-group col-md-8 col-md-offset-2">
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    {{ admin_icon('nl', false, {}, 'flags') }}

                                    <input type="radio" name="country" value="nl" checked="checked"> Nederland
                                </label>

                                <label class="btn btn-default">
                                    {{ admin_icon('be', false, {}, 'flags') }}

                                    <input type="radio" name="country" value="be"> België
                                </label>

                                <label class="btn btn-default">
                                    {{ admin_icon('sphere') }}

                                    <input type="radio" name="country" value="other"> Ander land
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="other_countries">
                            <div class="col-md-8 col-md-offset-2">
                                <select name="other_country" id="other_country" class="form-control">
                                    {% for key, country in countries %}
                                        <option value="{{ key }}">{{ country }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Stap 2: Identificatie
                        </div>
                    </div>
                    <div class="panel-body" id="identification">
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-4" id="kvk">
                                <p>
                                    <label class="control-label">KvK-nummer:</label>
                                    <input type="number" name="kvk" class="form-control kvk-input">
                                </p>
                                <p>
                                    <label class="control-label">KvK-vestigingsnummer:</label>
                                    <input type="number" name="kvk_establishment"
                                           class="form-control kvk-establishment-input">
                                </p>
                                <p>
                                    <label class="control-label">Debiteurnummer:</label>
                                    <input type="text" name="twinfield_relation_number"
                                           class="form-control twinfield-relation-input">
                                </p>
                                <p class="unregistered_establishment">
                                    <label class="control-label" for="unregistered_establishment">
                                        <input type="checkbox" id="unregistered_establishment"
                                               name="unregistered_establishment" value="1" />
                                        Vestiging is niet geregistreerd bij de Kamer van Koophandel
                                    </label>
                                </p>

                                <button class="btn btn-default text-uppercase" data-type="kvk">
                                    <i class="icon-reload-alt position-left"></i> Gegevens opvragen
                                </button>
                            </div>
                            <div class="form-group col-md-4 col-md-offset-4" id="btw">
                                <label class="control-label">BTW-nummer:</label>

                                <input type="text" name="btw" class="form-control btw-input">

                                <button class="btn btn-default text-uppercase" data-type="btw">
                                    <i class="icon-reload-alt position-left"></i> Gegevens opvragen
                                </button>
                            </div>
                        </div>
                        <div class="row" id="details">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h6>Vestigingsadres</h6>

                                    <address class="main"></address>
                                </div>

                                <div class="col-md-6">
                                    <div class="pull-right">
                                        <h6>Factuuradres</h6>

                                        <address class="invoice"></address>
                                    </div>
                                </div>
                            </div>

                            <div id="address_form">
                                <div class="row">
                                    <div class="form-group invoice_equals_main_container">
                                        <div class="col-xs-9">
                                            <label class="control-label" for="invoice_equals_main">
                                                <input type="checkbox" id="invoice_equals_main"
                                                       name="invoice_equals_main" value="1"
                                                       data-element="invoice_equals_main" checked="checked">

                                                Factuuradres is gelijk aan het vestigingsadres
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" data-element="name"
                                                   placeholder="Bedrijfsnaam">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-3" style="padding-right: 0;">
                                            <input type="text" class="form-control" data-element="postcode"
                                                   placeholder="Postcode">
                                        </div>
                                        <div class="col-xs-3" style="padding-right: 5px;">
                                            <input type="text" class="form-control"
                                                   data-element="housenumber" placeholder="Huisnr.">
                                        </div>
                                        <div class="col-xs-3" style="padding-left: 5px;">
                                            <input type="text" class="form-control"
                                                   data-element="housenumber_addition" placeholder="Toevoeging">

                                            <div class="address-loading">
                                                <span class="icon-spinner3 spinner position-left"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control"
                                                   data-element="street" placeholder="Straatnaam">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control"
                                                   data-element="city" placeholder="Plaats">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="organization_settings">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Stap 3: Instellingen
                        </div>
                    </div>
                    <div class="panel-body" id="type_of_company">
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label class="control-label">
                                    Mag de organisatie bestellingen plaatsen?
                                </label>

                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <span class="text-success text-success-200">
                                            {{ admin_icon('checkmark3') }}
                                        </span>

                                        <input type="radio" name="is_customer" value="1">
                                    </label>

                                    <label class="btn btn-default">
                                        <span class="text-danger text-danger-200">
                                            {{ admin_icon('cross2') }}
                                        </span>

                                        <input type="radio" name="is_customer" value="0">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group" id="customer_groups">
                                <div class="col-md-8 col-md-offset-2">
                                    <select name="customer_group[]" id="customer_group" class="form-control multiselect"
                                            multiple>
                                        {% for customerGroup in customerGroups %}
                                            <option value="{{ customerGroup.getId() }}">{{ customerGroup.getDescription() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="verified">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label class="control-label">
                                    Mag de organisatie op rekening bestellen?
                                </label>

                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <span class="text-success text-success-200">
                                        {{ admin_icon('checkmark3') }}
                                        </span>

                                        <input type="radio" name="verified" value="1">
                                    </label>

                                    <label class="btn btn-default">
                                        <span class="text-danger text-danger-200">
                                        {{ admin_icon('cross2') }}
                                        </span>

                                        <input type="radio" name="verified" value="0">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row_supplier_info">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label class="control-label">
                                    Is de organisatie een leverancier?
                                </label>

                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <span class="text-success text-success-200">
                                            {{ admin_icon('checkmark3') }}
                                        </span>

                                        <input type="radio" name="is_supplier" value="1">
                                    </label>

                                    <label class="btn btn-default">
                                        <span class="text-danger text-danger-200">
                                            {{ admin_icon('cross2') }}
                                        </span>

                                        <input type="radio" name="is_supplier" value="0">
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="supplier_groups">
                                <div class="col-md-8 col-md-offset-2">
                                    <select name="supplier_group[]" id="supplier_group" class="form-control multiselect"
                                            multiple>
                                        {% for supplierGroup in supplierGroups %}
                                            <option value="{{ supplierGroup.getId() }}">{{ supplierGroup.getName() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="customer">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Stap 4: Contactpersoon
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="control-label">Geslacht:</label>

                                <select name="customer[gender]" class="form-control" required="required">
                                    <option value=""></option>
                                    <option value="female">Vrouw</option>
                                    <option value="male">Man</option>
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Voornaam:</label>

                                <input type="text" name="customer[firstname]" class="form-control" required="required">
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label">Achternaam:</label>

                                <input type="text" name="customer[lastname]" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">E-mailadres:</label>

                                <input type="email" name="customer[email]" class="form-control" required="required">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Taal:</label>

                                <select name="customer[locale]" class="form-control" required="required">
                                    <option value="nl_NL" selected>Nederlands</option>
                                    <option value="nl_BE">Vlaams</option>
                                    <option value="fr_BE">Frans</option>
                                    <option value="en_US">Engels</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Koppel aan:</label>

                                <select name="customer[site]" class="form-control" required="required">
                                    <option value=""></option>
                                    {% for site in sites %}
                                        <option value="{{ site.getId() }}">{{ site.translate().getDescription() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Klantgroep:</label>
                                <select name="customer[customerGroup]" id="customer_customer_group" class="form-control"
                                        required>
                                    <option value="">Selecteer een klantgroep</option>
                                    {% for customerGroup in customerGroups %}
                                        <option value="{{ customerGroup.getId() }}">{{ customerGroup.getDescription() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="reset" disabled="disabled" id="wizard_reset"
                            class="btn btn-default text-uppercase pull-left">
                        <span class="icon-arrow-left12 position-left"></span>

                        Opnieuw beginnen
                    </button>

                    <button type="submit" disabled="disabled" id="wizard_submit" name="wizard_submit"
                            class="btn btn-success text-uppercase pull-right">
                        Volgende stap

                        <span class="icon-arrow-right13 position-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="{{ asset('bundles/admin/js/form/company-wizard.js') }}"></script>
{% endblock %}
