{% if desktop is not defined %}
    {% set desktop = true %}
{% endif %}

{% if isOrderable %}
    {% set classes = 'btn btn-theme btn-bestellen' %}
    {% set label = 'label.order_now' | trans %}
{% else %}
    {% set classes = 'btn btn-theme-secondary btn-bestellen btn-info' %}
    {% set label = 'label.product.info' | trans %}
{% endif %}

{% if desktop is same as(true) %}
    <a href="{{ product.url }}" class="{{ classes }}" data-product-id="{{ product.id }}">{{ label }}</a>
{% else %}
    <button class="{{ classes }}">{{ label }}</button>
{% endif %}
