<div class="row" id="discount-panel" data-discount-id="{{ discount.getId }}">
    <div class="col-md-12">
        <div class="panel panel-default" data-override-propagation="true">
            <div class="panel-heading">
                <div class="panel-title">
                    Vouchers
                </div>
            </div>
            <div class="panel-body discountPanel">
                {{ datatable | raw }}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/admin/js/discount/discount-datatables.js') }}"></script>