{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <form method="post" id="wizard" novalidate="novalidate"
          data-action-url="{{ path('admin_discount_discount_wizard') }}"
          data-success-url="{{ path('admin_discount_discount_index') }}"
            data-filters="{{ filters | json_encode }}"
            data-autocomplete-url="{{ path('rule_rule_filterautocomplete') }}"
            data-rule-start="{{ ruleStart }}">
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <a href="{{ path('admin_discount_discount_create') }}" data-refresh-url="{{ path('admin_discount_discount_index') }}" class="btn btn-primary"
                   data-action="create-rule" style="margin: 10px; float: right;">Geavanceerde regel invoeren</a>
                <div class="panel panel-default" style="margin-top: 60px;">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Hoe beschrijf je deze korting?
                        </div>
                    </div>
                    <div class="panel-body" id="product_set_step">
                        <div class="form-group col-md-6 col-md-offset-3">
                            <input type="text" placeholder="Beschrijving korting" id="discount_description" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Wat voor soort korting is dit?
                        </div>
                    </div>
                    <div class="panel-body" id="product_set_step">
                        <div class="form-group col-md-4 col-md-offset-2">
                            <input type="text" placeholder="Kortingswaarde" id="discount_amount" class="form-control" required/>
                        </div>
                        <div class="form-group col-md-4">
                            <select name="discount_type" id="discount_type" class="form-control" required>
                                <option value="">Selecteer een type korting</option>
                                <option value="percentage">Procent</option>
                                <option value="amount">Euro</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="discount_field_panel" style="display: none;">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Op basis van welk veld geldt de korting?
                        </div>
                    </div>
                    <div class="panel-body" id="product_set_step">
                        <div class="form-group col-md-4 col-md-offset-4">
                            <select name="discount_field" id="discount_field" class="form-control" required>
                                <option value="">Selecteer een veld</option>
                                {% for field in fields %}
                                    <option value="{{ field.getPath }}">{{ field.getDescription }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="discount_information_panel" style="display: none;">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Kortingsvoorwaarden
                        </div>
                    </div>
                    <div class="panel-body" id="product_set_step">
                        <div class="form-group col-md-4 col-md-offset-2">
                            <select name="discount_operator" class="form-control" id="discount_operator" required>
                                <option value="">Kortingsvoorwaarde</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" placeholder="Waarde" id="ruleValueText"/>
                            <select class="form-control" id="ruleValueSelect"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" id="wizard_submit" style="display: none;" name="wizard_submit"
                            class="btn btn-success text-uppercase pull-right">
                        Opslaan
                        <span class="icon-arrow-right13 position-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="{{ asset('bundles/admin/js/discount/discount.js') }}"></script>
{% endblock %}
