<h4>{{ postcode.postcode }} {{ postcode.province.translate.name }}

</h4>
<b>
    {% for city in postcode.cities %}
        {{ city.translate.name }}
    {% endfor %}</b>
<br />
<br />
<table class="PostcodeTable PostcodeDeliveryTable" style="white-space: nowrap; font-size: 12px;">
    <tr>
        <th style="text-align: center; padding-right: 10px;">Id</th>
        <th style="text-align: left;">Partner</th>
        <th style="width: 100px;">Bezorgkosten</th>
        <th style="width: 100px;">Aannametijd</th>
    </tr>

    {% for deliveryArea in deliveryAreas %}
        <tr
                style="background-color: #B4CC8D;">
            <td class="text-center" style="padding-right: 10px;">{{ deliveryArea.company.id }}</td>

            <td>{{ deliveryArea.company.name }}</td>
            <td class="text-center">

                <input type="text" value="{{ (deliveryArea.deliveryPrice * 1.06)|round(2)|number_format(2, '.', ',') }}"
                       data-action="delivery-costs" data-name="price"
                       data-additional-values='{"id": {{ deliveryArea.id }}, "country": "NL"}'
            </td>
            <td class="text-center">
                <select data-controller="postcode" data-action="delivery-latest-time" data-name="latestTime"
                        data-additional-values='{"id": {{ deliveryArea.id }}, "country": "NL"}'>
                    {% for deliveryInterval in deliveryIntervals %}
                        <option value="{{ deliveryInterval.interval }}" {% if deliveryInterval.interval == deliveryArea.deliveryInterval %} selected="selected" {% endif %}
                                }}>{{ deliveryInterval.description }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    {% endfor %}
</table>

<!--
<br/>
<h4>Premium</h4>
<table class="PostcodeTable" style="white-space: nowrap; font-size: 12px;">
    <tr style="background-color: #B4CC8D;">
        <td style="width: 100px;">1<sup>ste</sup> premium</td>
        <td>
            <select data-action="postcode-premium-partner" data-name="partnerId"
                    data-additional-values='{"index": 1, "country": "NL", "postcode": 2135}'>
                <option value=""/>
                </option>
                <option value="1430" selected="selected">Fleuriande</option>
                <option value="564">Bloembinderij 4 Seasons</option>
            </select>
        </td>
    </tr>
    <tr style="background-color: #CEE6A7;">
        <td>2<sup>de</sup> premium</td>
        <td>
            <select data-action="postcode-premium-partner" data-name="partnerId"
                    data-additional-values='{"index": 2, "country": "NL", "postcode": 2135}'>
                <option value=""/>
                </option>
                <option value="1430">Fleuriande</option>
                <option value="564" selected="selected">Bloembinderij 4 Seasons</option>
            </select>
        </td>
    </tr>
    <tr style="background-color: #ebf7d7;">
        <td>3<sup>de</sup> premium</td>
        <td>
            <select data-action="postcode-premium-partner" data-name="partnerId"
                    data-additional-values='{"index": 3, "country": "NL", "postcode": 2135}'>
                <option value=""/>
                </option>
                <option value="1430">Fleuriande</option>
                <option value="564">Bloembinderij 4 Seasons</option>
            </select>
        </td>
    </tr>
</table>
-->
