<input type="number" id="{{ prototype_id }}_position" name="{{ prototype_name }}[position]" readonly="readonly"
       class="form-control input-xs">
<input type="number" id="{{ prototype_id }}_product" name="{{ prototype_name }}[product]" readonly="readonly"
       class="form-control input-xs">