{% block assortment_product_collection_widget %}
    <div id="assortment_products_container" class="row" data-prototype="
         {% filter escape %}
         {{ include('@Admin/Catalog/Assortment/form-prototype.html.twig', {prototype_id: form.vars.prototype_id, prototype_name: form.vars.prototype_name}) }}
         {% endfilter %}" data-prototype-name="__index__"
         data-prototype-base="{{ prototype_base }}"
         data-search-url="{{ path('admin_catalog_assortment_search') }}"
         data-assortment-id="{{ form.parent.vars.data.getId() }}"
         data-company-assortment="{{ form.parent.vars.data.getOwner() is not null ? '1' : '0' }}"
         data-company="{{ form.parent.vars.data.getOwner() is not null ? form.parent.vars.data.getOwner().getId : '0' }}">
        <div class="col-sm-4 col-md-4 col-lg-2">
            <div class="product-selector">
                <div class="product-trash">
                    <div class="background">
                        <i class="fa fa-trash"></i><br />
                        Sleep het product hier naar toe om deze uit het assortiment te verwijderen.
                    </div>

                    <div class="drop" id="product_trash">

                    </div>
                </div>

                <h2>Producten zoeken</h2>

                <div class="product-selector-input">
                    <input type="text" class="form-control" name="product_selector_search" id="product_selector_search">
                </div>

                <div class="product-selector-container">
                    <p class="search-placeholder">
                        Typ in bovenstaand invoerveld de zoekopdracht.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-8 col-lg-10">
            <h2>Selectie voor assortiment</h2>

            <div class="row" id="assortment_products_sortable">
                {% for child in form.children %}
                    {% set product = child.vars.data.getProduct() %}
                    {% if product is not null %}
                        {% set product = product_manager.decorateProduct(product) %}
                        <div class="col-product-item col-xs-2" data-product-id="{{ product.getId() }}"
                             data-category-id="product_selector_category_{{ product.getProductgroup().getId() }}">
                            <div class="product-item">
                                {% if product.isCompanyProduct %}
                                    <div class="company-product-label">
                                        Bedrijfsproduct
                                    </div>
                                {% endif %}
                                <div class="product-item-image">
                                    {% if product.getMainImage() is not empty %}
                                        <img src="{{ product.getMainImage().getPath | imagine_filter('product_thumbnail') }}"
                                             alt="{{ product.getName() }}">
                                    {% else %}
                                        <div class="product-item-image-placeholder">
                                            Geen afbeelding ingesteld
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="product-item-description"
                                     title="{{ product.name }}">
                                    {{ product.name ? product.name : product.translate.title }}
                                </div>

                                <div class="product-item-price">
                                    {% set cheapestVariation = product_manager.decorateProduct(product.cheapestVariation) %}
                                    &euro; {{ get_price(cheapestVariation) | number_format }}
                                </div>

                                <div class="product-item-form-elements">
                                    {{ form_widget(child) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block upsell_collection_widget %}
    <div id="assortment_products_container" class="row" data-prototype="
         {% filter escape %}
         {{ include('@Admin/Catalog/Assortment/upsell-form-prototype.html.twig', {prototype_id: form.vars.prototype_id, prototype_name: form.vars.prototype_name}) }}
         {% endfilter %}" data-prototype-name="__index__"
         data-prototype-base="{{ prototype_base }}"
         data-search-url="{{ path('admin_catalog_upsell_search') }}"
         data-product-id="{{ form.parent.vars.data.getId() }}">
        <div class="col-sm-4 col-md-4 col-lg-2">
            <div class="product-selector">
                <div class="product-trash">
                    <div class="background">
                        <i class="fa fa-trash"></i><br />
                        Sleep het product hier naar toe om deze niet meer als upsell aan te bieden.
                    </div>

                    <div class="drop" id="product_trash">

                    </div>
                </div>

                <h2>Producten zoeken</h2>

                <div class="product-selector-input">
                    <input type="text" class="form-control" name="product_selector_search" id="product_selector_search">
                </div>

                <div class="product-selector-container">
                    <p class="search-placeholder">
                        Typ in bovenstaand invoerveld de zoekopdracht.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-8 col-lg-10">
            <h2>Selectie voor upsell</h2>

            <div class="row" id="assortment_products_sortable">
                {% for child in form.children %}
                    {% set product = child.vars.data.upsellProduct %}
                    {% if product is not null %}
                        {% set product = product_manager.decorateProduct(product) %}
                        <div class="col-product-item col-xs-2" data-product-id="{{ product.getId() }}"
                             data-category-id="product_selector_category_{{ product.getProductgroup().getId() }}">
                            <div class="product-item">
                                {% if product.parent is null %}
                                    <div class="company-product-label">
                                        Hoofdproduct
                                    </div>
                                {% endif %}
                                <div class="product-item-image">
                                    {% if product.getMainImage() is not empty %}
                                        <img src="{{ product.getMainImage().getPath | imagine_filter('product_thumbnail') }}"
                                             alt="{{ product.getName() }}">
                                    {% else %}
                                        <div class="product-item-image-placeholder">
                                            Geen afbeelding ingesteld
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="product-item-description"
                                     title="{{ product.name }}">
                                    {{ product.name ? product.name : product.translate.title }}
                                </div>

                                <div class="product-item-price">
                                    {% set cheapestVariation = product_manager.decorateProduct(product.cheapestVariation) %}
                                    &euro; {{ get_price(cheapestVariation) | number_format }}
                                </div>

                                <div class="product-item-form-elements">
                                    {{ form_widget(child) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

