<div class="product-selector-result-heading bg-slate-300 heading-text">
    Resultaten
</div>

{% if results is empty %}
    <div class="product-selector-result-none">Er zijn geen resultaten gevonden</div>
{% else %}
    <div id="product_selector_result_container" class="product-selector-result-container">
        {% for category in results %}

            <div class="product-selector-result-category" id="product_selector_category_{{ category.id }}">
                {{ category.name }}
            </div>

            <div class="row product-selector-result-products"
                 data-category-id="product_selector_category_{{ category.id }}">
                {% if category.products is empty %}
                    <div class="product-selector-result-all-used">Alle producten in de groep '{{ category.name }}' zijn
                        al gekoppeld.
                    </div>
                {% else %}
                    {% for product in category.products %}
                        {% set product = product_manager.decorateProduct(product) %}
                        <div class="col-product-item product-selector-result-product{% if currentProductIds is not empty and product.getId() in currentProductIds %} col-product-item-present{% endif %}"
                             data-product-id="{{ product.getId() }}"
                             data-category-id="product_selector_category_{{ category.id }}">
                            <div class="product-item">
                                <div class="product-item-image">
                                    {% if product.getMainImage() is not empty %}
                                        <img src="{{ product.getMainImage().getPath | imagine_filter('product_thumbnail') }}"
                                             alt="{{ product.getName() }}">
                                    {% else %}
                                        <div class="product-item-image-placeholder">
                                            Geen afbeelding ingesteld
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="product-item-description">
                                    {{ product.name ? product.name : product.translate.title }}
                                </div>

                                <div class="product-item-price">
                                    {% set cheapestVariation = product_manager.decorateProduct(product.cheapestVariation) %}
                                    &euro; {{ get_price(cheapestVariation) | number_format }}
                                </div>

                                <div class="product-item-form-elements">

                                </div>
                            </div>

                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
