{% extends '@App/Company/base.html.twig' %}

{% block body %}
    <div id="company_custom_authentication" class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="company_custom_authentication_wrapper">
                    {% set company_logo = company.getSite.getCustomStyle.getLogo %}

                    {% if company_logo is not empty %}
                        <div class="logo">
                            <img src="{{ company_logo | imagine_filter('company_logo') }}"
                                 title="{{ company.getName }}">
                        </div>
                    {% endif %}

                    {% if authError is not null %}
                        <div class="form-error alert alert-danger">
                            <p>
                                <strong>{{ "form.invalid_message.description"|trans }}</strong>
                            </p>

                            <ul>
                                <li>{{ authError|trans({}, 'validators') }}</li>
                            </ul>
                        </div>
                    {% endif %}

                    <form action="{{ app.request.getRequestUri() }}" method="post" data-client-validation="true"
                          novalidate="novalidate">
                        <div class="form-group input-email">
                            <label class="control-label required" for="username">{{ 'label.email'|trans }} *</label>

                            <input type="text" name="_username" id="username" class="form-control" required
                                   data-validation="email"
                                   data-validation-error-msg="{{ 'customer.account.email.not_valid'|trans([], 'validators') }}"/>
                        </div>
                        <div class="form-group input-password">
                            <label class="control-label required">{{ 'label.password'|trans }} *</label>

                            <input type="password" name="_password" class="form-control" required
                                   data-validation="required"
                                   data-validation-error-msg="{{ 'customer.account.password.not_blank'|trans([], 'validators') }}"/>
                        </div>

                        <div class="">
                            <button type="submit" class="btn btn-custom">{{ 'account.login.submit'|trans }}</button>
                            <span class="password-forgotten pull-right"><a
                                        href="{{ path('app_customer_resetting_request') }}">{{ 'label.forgot_your_password'|trans }}
                                </a></span>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.token('authenticate') }}"/>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="company_custom_authentication_wrapper">

                    <div class="logo">
                        <img src="{{ asset('bundles/app/img/logos/topgeschenken-groot.jpg') }}"
                             title="Topgeschenken.nl">
                    </div>
                    <div class="text">
                        {{ company.getSite.getLoginText }}
                    </div>
                    <br/>
                    <a href="/{{ company.getSite.getSlug }}/registreren"
                       class="btn btn-custom">{{ 'label.new_customer' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
