{% if about is not empty %}
    <div class="container-fluid" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12" id="about-topbloemen">
                    {{ about.translate().getContent()|raw }}
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 hidden-sm-down" id="about-clients"
                     onmouseover="APP.testimonials.stopInterval()" onmouseout="APP.testimonials.startInterval()">
                </div>
            </div>
        </div>
    </div>
{% endif %}