<div id="order-register-or-login">
    <div class="row">
        {% if error|default(false) is not same as(false) %}
            <div class="col-xs-12">
                <div class="form-error alert alert-danger">
                    <strong>{{ 'form.invalid_message.description'|trans }}</strong>

                    <ul>
                        <li>{{ error|trans({}, 'validators') }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if not site_service.determineSite().getDisableCustomerRegistration() %}
            <div class="col-lg-6 col-md-12 col-xs-12 column-register">
                <div class="form-block">
                    <h2>{{ 'account.register.title'|trans|format('%%site_name%%') }}</h2>

                    <form id="start_account_registration" action="{{ path("app_customer_register_create") }}"
                          data-client-validation="true" method="get" novalidate="novalidate">
                        <div class="row">

                            <div class="form-groups">
                                <div class="form-group col-xs-12">
                                    <label class="control-label required" for="email">{{ 'label.email'|trans }}
                                        *</label>

                                    <input type="text" id="email" name="email"
                                           {% if email is defined %}value="{{ email }}" {% endif %}class="form-control"
                                           required data-validation="email"
                                           data-validation-error-msg="{{ 'customer.account.email.not_valid'|trans([], 'validators') }}" />
                                </div>

                                <div class="form-group col-xs-12 clearfix">

                                    <label class="label-inline required"
                                           for="register-as">{{ 'label.account.register-as'|trans }} *</label>

                                    <div class="radio-inline">
                                        <input type="radio" class="form-control" required data-validation="required"
                                               data-validation-error-msg="{{ 'customer.account.register_as.not_blank'|trans([], 'validators') }}"
                                               id="register_as_customer" name="register_as" value="customer" /> <label
                                                for="register_as_customer">{{ 'label.customer'|trans }}</label>
                                    </div>

                                    <div class="radio-inline">
                                        <input type="radio" class="form-control" id="register_as_company"
                                               name="register_as" value="company" /> <label
                                                for="register_as_company">{{ 'label.company'|trans }}</label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <button type="submit"
                                        class="btn btn-theme">{{ 'account.register.submit'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if not site_service.determineSite().getDisableCustomerLogin() %}
            <div class="col-lg-6 col-md-12 col-xs-12 column-login">
                <div class="form-block">
                    <h2>{{ 'account.title.login'|trans }}</h2>

                    <form action="{{ path("fos_user_security_check") }}" method="post" data-client-validation="true"
                          novalidate="novalidate">
                        <div class="row">
                            <div class="form-group col-md-6 input-email">
                                <label class="control-label required" for="username">{{ 'label.email'|trans }} *</label>

                                <input type="text" name="_username" id="username" class="form-control" required
                                       data-validation="email"
                                       data-validation-error-msg="{{ 'customer.account.email.not_valid'|trans([], 'validators') }}" />
                            </div>
                            <div class="form-group col-md-6 input-password">
                                <label class="control-label required">{{ 'label.password'|trans }} *</label>

                                <input type="password" name="_password" class="form-control" required
                                       data-validation="required"
                                       data-validation-error-msg="{{ 'customer.account.password.not_blank'|trans([], 'validators') }}" />
                            </div>

                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <button type="submit" class="btn btn-theme">{{ 'account.login.submit'|trans }}</button>
                            </div>

                            <div class="password-forgotten col-lg-6 col-md-12 col-xs-12">
                                <a href="{{ path('app_customer_resetting_request') }}">{{ 'label.forgot_your_password'|trans }}</a>
                            </div>
                        </div>

                        <input type="hidden" name="_target_path" value="{{ targetPath }}">

                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.token('authenticate') }}" />
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>
