{% if banner is defined %}
    {% if banner.getTextBlockPosition() in ['tl', 'bl'] %}
        {% set spacer = 'left' %}

        {% if banner.getTextBlockPosition() == 'tl' %}
            {% set block = 'top-left' %}
        {% elseif banner.getTextBlockPosition() == 'bl' %}
            {% set block = 'bottom-left' %}
        {% endif %}
    {% elseif banner.getTextBlockPosition() in ['tc', 'bc'] %}
        {% set spacer = 'middle' %}

        {% if banner.getTextBlockPosition() == 'tc' %}
            {% set block = 'top' %}
        {% elseif banner.getTextBlockPosition() == 'bc' %}
            {% set block = 'bottom' %}
        {% endif %}
    {% elseif banner.getTextBlockPosition() in ['tr', 'br'] %}
        {% set spacer = 'right' %}

        {% if banner.getTextBlockPosition() == 'tr' %}
            {% set block = 'top-right' %}
        {% elseif banner.getTextBlockPosition() == 'br' %}
            {% set block = 'bottom-right' %}
        {% endif %}
    {% endif %}

    {% set bannerText = banner.translate().getTextBlockContent()|raw %}
    {% set bannerTextLength = bannerText|length %}

    <div class="container-fluid hidden-sm-down" id="header"
         style="background-image: url('{{ banner.getPath() | imagine_filter('banner') }}');">
        {% if bannerTextLength > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="spacer-{{ spacer }}">
                        <div class="header-blok {{ block }}">
                            {{ bannerText|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}
