{% import _self as assortment_macro %}
<div class="container-fluid" id="content-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12" id="categories">
                <div class="row">
                    {% if companyAssortments.isEmpty is same as (false) %}
                        {% for assortment in companyAssortments %}
                            {{ assortment_macro.show_assortment_block(assortment) }}
                        {% endfor %}
                    {% else %}
                        {% for block in homepageAssortmentsBlocks %}
                            {{ assortment_macro.show_assortment_block(block.assortment) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3 col-sm-12" id="text-blocks">
                {% if page and page.translate().getContent() %}
                    <div class="text-block">
                        <div class="text-block-inner">
                            {{ page.translate().getContent()|raw }}
                        </div>
                        <div class="text-block-read-more" data-text-open="{{ 'read.more.text'|trans }}"
                             data-text-close="{{ 'close.button'|trans }}">
                            {{ 'read.more.text'|trans }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% macro show_assortment_block(assortment) %}
    {% if assortment is instanceof('\\AppBundle\\Entity\\Catalog\\Assortment\\Assortment') %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <a href="{{ assortment.url }}" class="category-item" id="item-1">
                {% if assortment.path is not empty %}
                    <img src="{{ assortment.path | imagine_filter('assortment_homepage_block') }}" alt="{{ assortment.translate.title }}">
                {% endif %}

                <div class="border"></div>
                <div class="desc">
                    <h2>{{ assortment.translate.title }}</h2>

                    <p>{% if assortment.translate.homepageSlogan %}{{ assortment.translate.homepageSlogan }}{% else %}&nbsp;{% endif %}</p>
                </div>
            </a>
        </div>
    {% endif %}
{% endmacro %}