{% set messages = [] %}

{% set messages = messages|merge({'success': app.session.flashbag.get("frontend.success")}) %}
{% set messages = messages|merge({'notice': app.session.flashbag.get("frontend.notice")}) %}
{% set messages = messages|merge({'warning': app.session.flashbag.get("frontend.warning")}) %}
{% set messages = messages|merge({'error': app.session.flashbag.get("frontend.error")}) %}

{% if messages is not empty %}
    <div class="container-fluid container-messages">
        <div class="container">
            <div class="row">
                <div>
                    {% for label, flashes in messages %}
                        {% if label is same as('error') %}
                            {% set label = 'danger' %}
                        {% endif %}

                        {% if flashes is not empty %}
                            <div class="alert alert-{{ label }}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <ul>
                                    {% for message in flashes %}
                                        <li>{{ message|trans }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}