<div class="container-fluid hidden-lg-up" id="mobile_header">
    <div class="row">
        <div class="col-sm-2 col-xs-2">
            <div id="toggle-menu" class="toggle-menu">
                <span class="fa fa-bars"></span>
                <span class="fa fa fa-times"></span>
            </div>
        </div>
        <div class="col-sm-8 col-xs-8">
            <div class="contact-us">
                <a href="{{ path('app_home_index') }}" class="active">
                    {% if site_logo is defined %}
                        <img src="{{ asset(site_logo) }}"
                             alt="{{ site.translate().getDescription() }}"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-sm-2 col-xs-2">
            {% include '@App/blocks/Header/shopping-cart.html.twig' with {
                'id': 'menu-shopping-cart'
            } %}
        </div>
    </div>
</div>

{{ mobile_menu() }}
