<div class="container-fluid hidden-md-down" id="menu">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-sm-3" id="logo-website">
                <div class="logo">
                    <a href="{{ path('app_home_index') }}">
                        <object type="image/svg+xml" data="{{ asset(theme_img_base_path ~ 'logo.svg') }}">

                            {% if  domain.getDomain() is defined and domain.getDomain() is not null %}
                                <img src="{{ asset(site_logo) }}" />
                            {% else %}
                                <img src="{{ asset(site_logo) }}"
                                     alt="{{ domain.getDomain().getSite().translate().getDescription() }}" />
                            {% endif %}
                        </object>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 hidden-sm-down" id="delivery-slogan">
                {% if site_slogan_delivery is defined %}
                <div class="text">
                    {{ site_slogan_delivery|raw }}
                    <img src="{{ asset(theme_img_base_path ~ 'van.png') | imagine_filter('thumb', {"thumbnail": {"size": [142, 45] }})  }}" alt="{{ site_slogan_delivery|striptags }}">
                </div>
                {% endif %}
            </div>
            {% if domain.getDomain() is defined and domain.getDomain() is not null %}
                <div class="col-sm-3 btn-klantenservice" id="contact-info">
                    <div class="right">
                        <p>
                            {{ 'customer_service.can_i_help_you'|trans }}
                        </p>
                    </div>
                    <div class="hidden-md-down left"></div>
                </div>
            {% endif %}
            {% if not domain.domain.site.customerServiceMenuDisabled %}
                <div class="klantenservice-dropdown">
                    {{ popup_customer_service_content|raw }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
