<div class="container-fluid hidden-md-down" id="menu-top-shopping">
    <div class="container">
        <div class="slogan">
            <a href="{{ path('app_home_index') }}" class="active">
                <object type="image/svg+xml" data="{{ asset(theme_img_base_path ~ 'logo.svg') }}">
                    <img src="{{ asset(site_logo) }}"
                         alt="{{ domain.getDomain().getSite().translate().getDescription() }}" />
                </object>
            </a>
        </div>

        <div class="row">
            {% include '@App/blocks/Header/extra-menu.html.twig' with {
                'id': 'extra-menu',
                'classes': 'col-sm-8',
                'showCustomerService': true,
                'showPhoneNumber': true
            } %}

            {% if not domain.domain.site.customerServiceMenuDisabled %}
                <div class="klantenservice-dropdown">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="left">
                                <h3>{{ "customer_service.can_i_help_you"|trans }}</h3>
                                <div class="info">
                                    <div class="rounded">
                                        Telefoon: {{ domain.getDomain().getSite().getFormattedPhoneNumber(2) }}</div>
                                    <div class="rounded">Email: <a
                                                href="mailto:{{ domain.getDomain().getSite().getEmail() }}">{{ domain.getDomain().getSite().getEmail() }}</a>
                                    </div>
                                    <div class="regel">
                                        <div class="day">{{ "contact.opening_hours.mon_to_thu.label"|trans }}</div>
                                        <div class="time">{{ 'contact.opening_hours.mon_to_thu.hours'|trans }}</div>
                                    </div>
                                    <div class="regel">
                                        <div class="day">{{ "contact.opening_hours.fri_to_sat.label"|trans }}</div>
                                        <div class="time">{{ 'contact.opening_hours.fri_to_sat.hours'|trans }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="right">
                                <h3>{{ "customer_service.can_i_help_you"|trans }}</h3>
                                <p>{{ "customer_service.short_description"|trans|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
