<nav id="mobile_navigation" class="dropdown hidden" role="navigation">
    {% include '@App/blocks/search.html.twig' %}

    {% block navigation %}{% endblock navigation %}

    <ul class="extra-menu">
        {% if (not domain.getDomain().getSite().disableCustomerRegistration or not domain.getDomain().getSite().disableCustomerLogin) and not app.user %}
            <li>
                <a href="{{ path('app_customer_account_index') }}">
                    <span>{{ 'navigation.top.login'|trans }}</span>
                </a>
            </li>
        {% endif %}

        {% if app.user %}
            <li>
                <a href="{{ path('app_customer_account_index') }}">
                    <span>{{ 'navigation.top.my_account'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <span>{{ 'navigation.top.logout'|trans }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>