<div class="container-fluid hidden-md-down" id="menu">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-sm-9" id="menu-website">
                <div class="row">
                    {% for site in sites %}
                        {% set class = '' %}

                        {% if not loop.first and sites[loop.index0 - 1].active == true %}
                            {% set class = ' after-active' %}
                        {% endif %}

                        {% if not loop.last and sites[loop.index].active == true %}
                            {% set class = ' before-active' %}
                        {% endif %}

                        <div class="col-sm-3{% if site.active == true %} active{% endif %}{{ class }}" id="menu-item-{{ loop.index }}">
                            <a href="{{ url('app_home_index') }}{{ site.slug }}"
                               class="{% if site.active == true %}active {% endif %}menu-item item-{{ loop.index }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if domain.getDomain() is defined and domain.getDomain() is not null %}
            <div class="col-sm-3 btn-klantenservice" id="contact-info">
                <div class="right">
                    <p>
                        {{ "customer_service.can_i_help_you"|trans }}
                    </p>
                </div>
                <div class="hidden-md-down left"></div>
            </div>
            {% endif %}
            {% if not domain.domain.site.customerServiceMenuDisabled %}
                <div class="klantenservice-dropdown">
                    {{ popup_customer_service_content|raw }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
