<div class="container-fluid hidden-md-down" id="menu-top">
    <div class="container">
        <div class="slogan">{{ site_slogan|default('') }}</div>
        <div class="row">
            {% include '@App/blocks/Header/extra-menu.html.twig' with {
                'id': 'extra-menu',
                'classes': 'col-sm-3',
                'showCustomerService': true,
                'showPhoneNumber': false
            } %}

            {% include '@App/blocks/search.html.twig' %}
        </div>
    </div>
</div>
