{% set main_menu = topbloemen_menu('main', site) %}

<nav class="hidden-md-down" id="navigation">
    <div class="container">
        <div class="row">
            {% if main_menu is defined %}
                {{ _self.menu_structure(main_menu, 1) }}
            {% endif %}

            {% include '@App/blocks/Header/shopping-cart.html.twig' with {
                'id': 'menu_sub_shopping_cart',
                'classes': 'hidden-md-down'
            } %}
        </div>
    </div>
</nav>

{% macro menu_structure(structure, depth) %}
    <ul class="depth-{{ depth }}">
        {% for item in structure %}
            {% if item.isAvailable() %}
                <li class="nav-item">
                    {% if depth == 1 %}
                        <a class="category" href="{{ item.getAbsoluteUrl() }}"{% if item.getBlank() %} target="_blank"{% endif %}>{{ item.getDisplayTitle() }}</a>
                    {% elseif depth == 2 %}
                        {% spaceless %}
                        <a class="item" href="{{ item.getAbsoluteUrl() }}"{% if item.getBlank() %} target="_blank"{% endif %}>
                            <h3 class="title">{{ item.getDisplayTitle() }}</h3>

                            <div class="nav-item-content">
                            {% if item.getEntity is not null
                                and item.getEntity.getMenuType == 'Assortment'
                                and item.getEntity.getFirstAssortmentProduct() %}

                                {% set assortmentProduct = item.getEntity.getFirstAssortmentProduct %}
                                {% set product = assortmentProduct.getProduct %}

                                {% if product.parent %}
                                    {% set product = product.parent %}
                                {% endif %}

                                {% include 'AppBundle:blocks/Product/tile:image.html.twig' with {
                                    product: product
                                } %}

                                {% include 'AppBundle:blocks/Product/tile:description.html.twig' with {
                                    product: product
                                } %}

                                {% include 'AppBundle:blocks/Product/tile:price.html.twig' with {
                                    product: product,
                                    inline: true
                                } %}
                            {% elseif item.getEntity is not null
                                and item.getEntity.getMenuType == 'Product'
                                 %}

                                {% set product = item.getEntity %}

                                {% include 'AppBundle:blocks/Product/tile:image.html.twig' with {
                                    product: product
                                } %}

                                {% include 'AppBundle:blocks/Product/tile:description.html.twig' with {
                                    product: product
                                } %}

                                {% include 'AppBundle:blocks/Product/tile:price.html.twig' with {
                                    product: product,
                                    inline: true
                                } %}
                            {% else %}
                                {{ item.getDisplayContent | raw }}
                            {% endif %}
                            </div>
                        </a>
                        {% endspaceless %}
                    {% else %}
                        <a href="{{ item.getAbsoluteUrl() }}"{% if item.getBlank() %} target="_blank"{% endif %}>{{ item.getDisplayTitle() }}</a>
                    {% endif %}

                    {% if item|length > 0 %}
                        {{ _self.menu_structure(item, 2) }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}