{% extends "@App/blocks/nav-mobile-base-menu.html.twig" %}

{% block navigation %}
    {% import "@App/macros/menu.html.twig" as menu_macros %}

    <ul class="navigation depth-0 {% if sites is defined and sites|length > 1 %}logo-menu{% endif %}">
        {% if sites is defined and sites|length == 1 %}
            {{ menu_macros.menu_structure(sites|first.menu, 0) }}
        {% else %}
            {% for site in sites %}
                {% set class = 'menu-item menu-item-' ~ loop.index ~ ' with-children' %}

                {% if not loop.first and sites[loop.index0 - 1].active == true %}
                    {% set class = class ~ ' after-active' %}
                {% endif %}

                {% if not loop.last and sites[loop.index].active == true %}
                    {% set class = class ~ ' before-active' %}
                {% endif %}

                <li class="{% if site.active == true %}active{% endif %} {{ class }}">
                    <a href="#">
                        <i class="toggle-sub-menu fa fa-arrow-right" data-icon-open="fa-arrow-right" data-icon-close="fa-arrow-down" aria-hidden="true"></i>
                    </a>
                    {{ menu_macros.menu_structure(site.menu, 1, 2) }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock navigation %}