{# - - - - #}
{# NOT IN BEING USED AT THE MOMENT #}
{# - - - - #}

<div class="container-fluid" id="reviews-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12" id="recensie-small">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 ">
                        <div class="item score">
                            <div class="left">
                                <span class="nummer">8.9</span>
                                <span class="text">Goed</span>
                            </div>
                            <div class="right">
                                <div class="logo"><img src="{{ asset('build/images/thuiswinkel-zw.jpg') }}"></div>
                                <div class="rank">
                                    <div class="heel"></div>
                                    <div class="heel"></div>
                                    <div class="heel"></div>
                                    <div class="heel"></div>
                                    <div class="half"></div>
                                </div>
                            </div>
                            <div class="bottom">
                                <p>Gemiddelde score 5291 beoordelingen</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 hidden-sm-down" id="reviews-slider">
                        <div class="review-holder-small">
                            <div class="tab-holder">
                                <div class="col-lg-4 col-sm-4 no-padding-right procent">
                                    <div class="item">
                                        <div class="left">
                                            <div class="rank">
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="half"></div>
                                            </div>
                                            <p>2 minuten geleden</p>
                                        </div>
                                        <div class="right">
                                            <p>E. Risseeuw Cadzand</p>
                                        </div>
                                        <div class="bottom">
                                            <p>We zijn heel tevreden met de manier van bestellen tot de aflevering.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xs-12  no-padding-right procent">
                                    <div class="item">
                                        <div class="left">
                                            <div class="rank">
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="half"></div>
                                            </div>
                                            <p>2 minuten geleden</p>
                                        </div>
                                        <div class="right">
                                            <p>E. Risseeuw Cadzand</p>
                                        </div>
                                        <div class="bottom">
                                            <p>We zijn heel tevreden met de manier van bestellen tot de aflevering.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4  no-padding-right procent">
                                    <div class="item">
                                        <div class="left">
                                            <div class="rank">
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="heel"></div>
                                                <div class="half"></div>
                                            </div>
                                            <p>2 minuten geleden</p>
                                        </div>
                                        <div class="right">
                                            <p>E. Risseeuw Cadzand</p>
                                        </div>
                                        <div class="bottom">
                                            <p>We zijn heel tevreden met de manier van bestellen tot de aflevering.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>