<div class="container-fluid" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12" id="recensie">
                <div class="row">
                    <div class="col-lg-12 title hidden-xs-down">
                        <h2>{{ "review.recent_reviews"|trans|raw }}</h2>
                    </div>

                    {% set kiyoh_company = kiyoh_company() %}

                    <div class="col-lg-3 col-md-5 col-sm-6 ">
                        <div class="review-block item score">
                            <div class="left">
                                <span class="nummer">{{ kiyoh_company.getTotalScore() }}</span>
                                <span class="text">{{ 'kiyoh.score.excellent'|trans }}</span>
                            </div>
                            <div class="right">
                                <div class="logo"><img src="{{ asset('build/images/thuiswinkel.jpg') }}"></div>
                                <div class="rank">
                                    {% set stars = kiyoh_company.getStarRating()|split('.') %}

                                    {% for i in 1..stars[0] %}
                                        <div class="heel"></div>
                                    {% endfor %}

                                    {% if stars[1] is defined and stars[1] is not empty %}
                                        <div class="half"></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bottom">
                                <p>
                                    {{ 'kiyoh.score.average_text'|transchoice(kiyoh_company.getTotalReviews()) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="reviews-slider">
                        <div class="review-slider slick-theme-top">
                            {% set recent_reviews = kiyoh_reviews({'limit': 9}) %}

                            {% for review in recent_reviews %}
                                <div class="owl-item">
                                    <div class="item">
                                        <div class="left">
                                            <div class="rank">
                                                {% set stars = review.getStarRating()|split('.') %}

                                                {% for i in 1..stars[0] %}
                                                    <div class="heel"></div>
                                                {% endfor %}

                                                {% if stars[1] is defined and stars[1] is not empty %}
                                                    <div class="half"></div>
                                                {% endif %}
                                            </div>
                                            <p>{{ review.getDatetime()|ago }}</p>
                                        </div>
                                        <div class="right">
                                            <p>{{ review.getName()|title }}</p>
                                        </div>
                                        <div class="bottom">
                                            <p>
                                                {% if review.getPositiveFeedback() %}
                                                    {{ review.getPositiveFeedback() }}
                                                {% elseif review.getNegativeFeedback() %}
                                                    {{ review.getNegativeFeedback() }}
                                                {% else %}
                                                    {{ 'kiyoh.no_comment'|trans }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>