<div class="search-bar search">
    <form action="{{ path('app_search_index') }}" method="get" autocomplete="off">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="{{ 'search.placeholder' | trans }}" autocomplete="off" />
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>