{% if step is not defined %}
    {% set step = 1 %}
{% endif %}

<div class="row" id="steps">
    <ul>
        <li class="
            {% if step is not defined or step is same as(1) %}active{% endif %}
            {% if step is defined and step > 1 %}passed{% endif %}
        ">
            {{ 'cart.step.your_order'|trans }}
            {% if step is defined and step > 1 %}
                <span class="fa fa-check span-done"></span>
            {% endif %}
        </li>
        <li class="
        {% if step is defined and step is same as(2) %}active{% endif %}
        {% if step is defined and step > 2 %}passed{% endif %}
        ">
            {% if step is defined and step <= 2 %}
                {{ 'cart.step.delivery'|trans }}
            {% elseif step is defined and step > 2 %}
                <a href="{{ path('app_checkout_sender') }}">
                    {{ 'cart.step.delivery'|trans }}
                    <span class="fa fa-check span-done"></span>
                </a>
            {% endif %}
        </li>
        <li class="
            {% if step is defined and step is same as(3) %}active{% endif %}
        ">
            {% if cart is defined and cart.getCurrentOrder() is not null and cart.getCurrentOrder().getDeliveryDate() and step is not same as(3) %}
                <a href="{{ path('app_checkout_sender') }}">
                    {{ 'cart.step.sender'|trans }}
                </a>
            {% else %}
                {{ 'cart.step.sender'|trans }}
            {% endif %}
        </li>
    </ul>
</div>