{% spaceless %}
    {% set sloganWidth = '150px' %}

    {% if theme == 'toptaarten' %}
        {% set corpColor = '#d77710' %}
    {% elseif theme == 'topfruit' %}
        {% set corpColor = '#919b16' %}
    {% elseif theme == 'topbloemen' %}
        {% set corpColor = '#755426' %}
    {% else %}
        {% set corpColor = '#b5251a' %}
        {% set sloganWidth = '208px' %}
    {% endif %}

<style type="text/css" media="all">
    :root {
        --corp-color: {{ corpColor }};
        --corp-color-darken-10: {{ corpColor | darken(10) }};
        --corp-slogan-width: {{ sloganWidth }};
        --base-link-hover-color: {{ corpColor }};
    }
</style>
{% endspaceless %}