<div class="container-fluid" id="{{ id|default('usp') }}">
    <div class="container">
        <div class="row">
            <div class="{{ col_class|default('col-lg-3 col-sm-6 col-xs-6') }}">
                <div class="usp-point">
                    <div class="center"><span class="ic fa fa-calendar"></span></div>
                    <p>{{ "usp.choose_delivery_date"|trans|raw }}</p>
                </div>
            </div>
            <div class="{{ col_class|default('col-lg-3 col-sm-6 col-xs-6') }}">
                <div class="usp-point">
                    <span class="ic fa fa-truck"></span>
                    <p>{{ "usp.delivery"|trans|raw }}</p>
                </div>
            </div>
            <div class="{{ col_class|default('col-lg-3 col-sm-6 col-xs-6') }}  hidden-md-down">
                <div class="usp-point">
                    <span class="ic fa fa-comments"></span>
                    <p>{{ "usp.personal_contact"|trans|raw }}</p>
                </div>
            </div>
            <div class="{{ col_class|default('col-lg-3 col-sm-6 col-xs-6') }} hidden-md-down">
                <div class="usp-point">
                    <span class="ic fa fa-bar-chart"></span>
                    <p>{{ "usp.business_solutions"|trans|raw }}</p>
                </div>
            </div>
        </div>
    </div>
</div>