<style>
    span.euro:before {
        content: '€ ';
    }
</style>

{% block error_messages %}
<div class="alert alert-warning alert-styled-left {% if message is empty %}hidden{% endif %} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            style="position: absolute; top: 10px; right: 10px;">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="error-message">
        {% if message %}
            Doorsturen mislukt ({{ message }}).
        {% endif %}
    </div>
</div>
{% endblock error_messages %}

{% if order.status != 'cancelled' %}
{% block supplier_selection %}
<div class="panel panel-default panel-supplier-selection">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Verwerken
                        <a id="order_info" href="{{ path('admin_sales_order_order', { orderCollection: order.getOrderCollection.getId }) }}"
                           data-event="get-order"
                           data-order-id="{{ order.getId }}"
                           data-order-number="{{ order.getOrderNumber }}"
                           >{{ order.getOrderNumber }}</a>
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-xs btn-default" data-event="get-process-info"
                            data-order-id="{{ order.getId }}">
                        <i class="mdi mdi-information-outline"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body panel-body-suppliers">
        {% include '@Admin/Sales/OrderOrderProcess/include/table-suppliers.html.twig' %}
    </div>

    <div class="panel-footer">
        {% set supplierGroup = supplier_manager.getSharedSupplierGroup(order) %}

        {% if supplierGroup and order.getDeliveryAddress %}
            <button class="btn btn-xs btn-default" data-event="select-alternative-supplier"
                    data-modal-url="{{ path('admin_customer_deliveryarea_index', {
                        'supplier-group': supplierGroup.getName,
                        'delivery-address': order.getDeliveryAddress.getUuid.toString,
                        'view-modus': 'select-supplier',
                        'dataset': 'DeliveryArea',
                        'order': order.getId
                    }) }}">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Kies zelf een leverancier
            </button>
        {% endif %}
    </div>
</div>
{% endblock supplier_selection %}

<div id="supplier_order_form_panel" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title" style="display: flex; justify-content: space-between;">
            <strong>Bestelling</strong>
            <strong>Getoonde bedragen zijn incl. BTW</strong>
        </div>
    </div>
    <div class="panel-body">
        {% block form %}
            <p>Kies een leverancier...</p>
        {% endblock form %}
    </div>
</div>

<div class="container" style="width: 100%; padding: 0!important;">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            {% include '@Admin/Sales/OrderOrderProcess/include/panel-purchaser.html.twig' %}
        </div>
        <div class="col-xs-12 col-md-6">
            {% include '@Admin/Sales/OrderOrderProcess/include/panel-receiver.html.twig' %}
        </div>
    </div>
</div>
{% else %}
    <p>Een geannuleerde order mag niet doorgestuurd worden.</p>
{% endif %}
