{% if not hasSupplier %}
    <div class="alert alert-warning product-alert">
        <strong>{{ "label.not-available-at-the-moment"|trans }}!</strong>
    </div>
{% endif %}

{% if not isOrderable %}
    <div class="alert alert-warning product-alert">
        <strong>{{ "label.out-of-stock"|trans }}!</strong>
    </div>
{% endif %}