{% set show_combination = false %}

<div id="content-product" class="product-column-view container">
    <h1 class="product-title">{{ product.translate().getTitle() }}</h1>
    <div class="product-description">{{ product.translate().getDescription()|raw }}</div>
    <div class="product-carousel-container">
        <div class="product-carousel" {% if hasErrors %}style="display: none;"{% endif %}>
            {% for variation in product.getVariations() %}
                {% set mainProduct = product_manager.decorateProduct(variation) %}

                {% if variation.isCombination() and variation.getMainCombination() %}
                    {% set mainProduct = product_manager.decorateProduct(variation.getMainCombination.getProduct) %}
                {% endif %}

                {% set productPropertyOption = mainProduct.getProductPropertyOption('bouquet_format') %}

                {% if productPropertyOption is not null %}
                    {% include 'AppBundle:Product/includes:carousel-item.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
        <div id="product-selection-form" {% if hasErrors %}style="display: block;"{% endif %}>
            {% set show_product_desc = false %}

            {% include 'AppBundle:Product/includes:content.html.twig' %}
        </div>
    </div>
</div>
