{% if product.isCombination and product.getVariations.isEmpty is same as (false) and product.showContent is same as(true) %}
    <div id="combination_products_container" class="row">
        <h5>
            Inhoud
        </h5>
        <div id="combination_products_product_container"
             data-combination-info-path="{{ path('app_product_combinationinfo') }}"
             data-init-id="{{ product.getVariations.current.getId }}"></div>
    </div>
{% endif %}
