<div class="container">
    <div class="row">
        <div class="col-xl-5 col-lg-4 col-md-4 col-xs-12" id="product-foto">
            {% if show_product_photo is not defined or show_product_photo is same as(true) %}
                {% include('AppBundle:blocks/Product:image.html.twig') %}
                {% include('AppBundle:Product/includes:usps.html.twig') %}
            {% endif %}
        </div>

        <div class="col-xl-7 col-lg-8 col-md-8 col-xs-12" id="product-info">
            {% if show_product_desc is not defined or show_product_desc is same as(true) %}
                <h1 class="product-title">{{ product.translate().getTitle() }}</h1>
                <div class="product-description">{{ product.translate().getDescription()|raw }}</div>
                {% if app.user is not null and app.user.company is not null %}
                    {% set company = app.user.company %}

                    {% if get_entity_parameter('show_product_sku', company, 'AppBundle\\Entity\\Relation\\Company') == '1' %}
                        <div class="product-sku">
                            {% for variation in product.variations %}
                                {% set sku = variation.sku %}
                                {#TODO enable after company product sku's are integrated#}
                                {#{% if variation.companySku is not null %}#}
                                {#{% set sku = variation.companySku %}#}
                                {#{% endif %}#}
                                <span id="variation-sku-{{ variation.id }}" class="variation-sku"
                                      style="{% if variation != product.cheapestVariation %}display:none;{% endif %}">{{ 'card.product.sku' | trans }}: {{ sku }}</span>
                            {% endfor %}
                            <span>&nbsp;</span>
                        </div>
                    {% endif %}

                    {% if get_entity_parameter('show_product_stock', company, 'AppBundle\\Entity\\Relation\\Company') == '1' %}
                        <div class="product-stock">
                            {% for variation in product.variations %}
                                {% if variation.hasStock is same as(true) %}
                                    <span id="stock-variation-{{ variation.id }}" class="stock-variation {{ loop.length == 1 ? 'visible' : '' }}">
                                        <span class="circle bg-{{ variation.stock.status }}"></span>
                                        {{ ('stock.'~ variation.stock.status) | trans }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% include 'AppBundle:Product/includes:alerts.html.twig' %}
            {% include 'AppBundle:Product/includes:form.html.twig' %}
        </div>
    </div>
</div>