{% if product.getUsps() %}
<ul class="extra-info hidden-sm-down">
    {% for productUsp in product.getUsps() %}
        <li>{{ productUsp.getUsp().translate().getTitle() }}</li>
    {% endfor %}
</ul>
{% endif %}