{% if app.request.headers.get('referer') is not null %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm-down">
    <div class="row">
        <a href="{{ app.request.headers.get('referer') }}" class="btn-inactive btn-back">{{ 'label.back'|trans }}</a>
    </div>
</div>
{% endif %}