<div class="panel panel-default purchaser">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Besteller</strong>
        </div>
    </div>
    <div class="panel-body">
        {% if order.getOrderCollection.getInvoiceAddressCompanyName %}
            <strong>{{ order.getOrderCollection.getInvoiceAddressCompanyName }}</strong><br>
        {% endif %}
        {{ order.getOrderCollection.getCustomer.getFullname }}<br>
        {{ order.getOrderCollection.getInvoiceAddressStreetAndNumber }}<br>
        {{ order.getOrderCollection.getInvoiceAddressPostcode }}
        , {{ order.getOrderCollection.getInvoiceAddressCity }}<br><br>

        <div class="row">
            {% if order.getOrderCollection.getCustomer.getPhonenumber %}
                <div class="col-xs-6">
                    <a href="tel:{{ order.getOrderCollection.getCustomer.getPhonenumber }}"
                       class="input-group" data-popup="tooltip" data-placement="top"
                       data-original-title="Bel">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" readonly="readonly"
                               value="{{ order.getOrderCollection.getCustomer.getPhonenumber }}"
                               class="form-control">
                    </a>
                </div>
            {% endif %}
            {% if order.getOrderCollection.getCustomer.getEmail %}
                <div class="col-xs-6">
                    <a href="mailto:{{ order.getOrderCollection.getCustomer.getEmail }}" class="input-group"
                       data-popup="tooltip" data-placement="top" data-original-title="Verstuur email">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input type="text" readonly="readonly"
                               value="{{ order.getOrderCollection.getCustomer.getEmail }}"
                               class="form-control">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
