<!-- Content -->
<div class="container-fluid account-pages page-wrapper" id="customer-account">
    {% include('AppBundle:blocks:messages.html.twig') %}

    <div class="container">
        <div class="row">
            {% if not app.user %}

                {{ include('AppBundle:blocks:account.html.twig') }}

            {% else %}
            <div class="col-md-3">
                <nav class="sidebar">
                    {% set sidebarMenu = 'menu_account_customer' %}

                    {% if app.getUser().getCompany() and (app.getUser().getCompany().getChamberOfCommerceNumber() or app.getUser().getCompany().getVatNumber()) %}
                        {% set sidebarMenu = 'menu_account_company' %}
                    {% endif %}

                    {{ knp_menu_render(sidebarMenu, {
                        template: 'AppBundle:Customer/Account:sidebar.html.twig',
                        currentClass: 'active'
                    }) }}
                </nav>
            </div>

            <div class="col-md-9">

            {% endif %}