{% macro popover_order_line(orderLine, productType = null) %}

    {% spaceless %}
        {% if orderLine.getProduct() %}
            {% set product = orderLine.getProduct() %}

            {% if product.getParent() %}
                {% set product = product.getParent() %}
            {% endif %}

            {% if product.translate().getDescription() %}
                <p>{{ product.translate().getDescription()|striptags('<p>')|raw}}</p>
            {% endif %}
        {% endif %}

        {% if orderLine.getMetadata()['text'] is defined %}
            {% set imageUrl = orderLine.getProduct.getMainImage ? orderLine.getProduct.getMainImage.getPath : null %}
            <div id="card-preview">
                <div class="textarea">
                    {{ orderLine.getMetadata()['text']|nl2br }}
                </div>
                {% if imageUrl is not null %}
                    <div class="image" style="background-image: url({{ imageUrl | imagine_filter('product_card') }})"></div>
                {% endif %}
            </div>
        {% endif %}

        {% if orderLine.getProduct.isCombination is same as(false) and orderLine.getMetadata()['designer'] is defined %}
            <div class="text-center">
                <img src="{{ designer.setUuid(orderLine.getMetadata()['designer']).getPreviewUrl }}"
                     alt="{{ orderLine.getProduct.getDisplayName }}" style="max-width: 100%;" />
            </div>
        {% elseif orderLine.getMetadata()['design_url_uuid'] is defined and orderLine.getMetadata()['design_url_filename'] is defined %}
            <div class="text-center">
                <img src="{{ designer.setUuid(orderLine.getMetadata()['design_url_uuid']).setIsUrlDesign(true).getFileUrl(orderLine.getMetadata()['design_url_filename']) }}"
                     alt="{{ orderLine.getProduct.getDisplayName }}" style="max-width: 100%;" />
            </div>
        {% elseif orderLine.getMetadata()['design_url'] is defined %}
            <div class="text-center">
                <img src='{{ orderLine.getMetadata()['design_url'] }}' alt='{{ orderLine.getProduct.getDisplayName }}'
                     style="max-width: 100%;" />
            </div>
        {% elseif orderLine.getMetadata()['input_fields'] is defined %}
            <p>Teksten:</p>
            {% for inputField in orderLine.getMetadata()['input_fields'] %}
                <p>{{ inputField }}</p>
            {% endfor %}
        {% else %}
            {% if not orderLine.getProduct().isCard() %}
                {% set hasImage = product.generateUrl %}

                {% if hasImage %}
                    <div class="text-center">
                        <img src="{{ hasImage }}" alt="{{ orderLine.getProduct().getDisplayName() }}" />
                    </div>
                {% else %}
                    <p>{{ orderLine.getProduct().getDisplayName() }}</p>
                {% endif %}
            {% endif %}
        {% endif %}

        <hr />
        <div style="font-size: 11px;">
            <table class="table table-borderless" style="width: 200px;">
                {% set orderLineExclPrice = get_price(orderLine, false) %}
                {% set orderLineInclPrice = get_price(orderLine) %}
                <tr>
                    <td>Prijs (excl. BTW)</td>
                    <td style="width: 20px;">€</td>
                    <td style="width: 50px;" class="text-right">{{ orderLineExclPrice | number_format }}</td>
                </tr>
                <tr>
                    <td>BTW</td>
                    <td>€</td>
                    <td class="text-right">{{ (orderLineInclPrice - orderLineExclPrice) | number_format   }}</td>
                </tr>
                <tr>
                    <td>Prijs (incl. BTW)</td>
                    <td>€</td>
                    <td class="text-right">{{ orderLineInclPrice | number_format }}</td>
                </tr>
            </table>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro popover_review(review) %}
    {% spaceless %}
        {% if review %}
            <p>
                <strong>Positief</strong><br />
                {% if review.getPositiveFeedback() is not empty %}
                    {{ review.getPositiveFeedback() }}
                {% else %}
                    <em>Niet opgegeven</em>
                {% endif %}
            </p>
            <p>
                <strong>Suggesties</strong><br />
                {% if review.getNegativeFeedback() is not empty %}
                    {{ review.getNegativeFeedback() }}
                {% else %}
                    <em>Niet opgegeven</em>
                {% endif %}
            </p>
            <p>
                <strong>Aanbeveling</strong><br />
                {% if review.getRecommended %}
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Ja
                {% else %}
                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Nee
                {% endif %}
            </p>
            <p>
                {% image '@AdminBundle/Resources/public/img/kiyoh.png' %}<img src="{{ asset_url }}"
                                                                              style="float: right; width: 140px;"
                                                                              alt="Kiyoh" />{% endimage %}
                <strong>Geplaatst op</strong><br />
                {{ review.getDatetime()|localizeddate('full', 'short') }}
            </p>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro popover_template(orderLine) %}
    {% spaceless %}
        <div class="popover" role="tooltip" style="max-width: none; width: 400px;">
            <div class="arrow"></div>
            <h3 class="popover-title bg-teal-400"></h3>
            <div class="popover-content"></div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro activity_description(activity) %}
    {% if activity.activity == 'order_cancelled' %}
        Geannuleerd
    {% elseif activity.activity == 'order_canceled_at_supplier' %}
        Weggehaald bij leverancier
    {% elseif activity.activity == 'order_processed' %}
        Doorgestuurd naar leverancier
    {% elseif activity.activity == 'order_sent' %}
        Verzonden (naar klant)
    {% elseif activity.activity == 'order_notified_pending' %}
        Notificatie betreft verwerking verstuurd
    {% elseif activity.activity == 'order_notified_processed' %}
        Notificatie betreft bezorgdata verstuurd
    {% elseif activity.activity == 'edit_order_forwarding' %}
        Doorstuurprijzen gewijzigd
    {% elseif activity.activity == 'order_commissioned' %}
        Gecommisioneerd
    {% elseif activity.activity == 'payment_refund' %}
        Terugbetaling
    {% elseif activity.activity == 'payment_chargeback' %}
        Terugvordering
    {% elseif activity.activity == 'order_status_changed' %}
        Status gewijzigd
    {% elseif activity.activity == 'order_notification_failed' %}
        Notificatie versturen mislukt
    {% elseif activity.activity == 'order_fraud_check_completed' %}
        Fraude check uitgevoerd
    {% elseif activity.activity == 'force_manual' %}
        Order handmatig gezet
    {% elseif activity.activity == 'invoice_payment_cancelled' %}
        Factuurbetaling geannuleerd
    {% elseif activity.activity == 'payment_request_sent' %}
        Betaalverzoek verstuurd
    {% endif %}
{% endmacro %}

{% macro popover_design(orderLine) %}
    {% spaceless %}
        {% if orderLine.getMetadata()['designer'] is defined %}
            <div class="text-center">
                <img src="{{ designer.setUuid(orderLine.getMetadata()['designer']).getPreviewUrl }}"
                     alt="{{ orderLine.getProduct.getDisplayName }}" style="max-width: 100%;" />
            </div>
        {% elseif orderLine.getMetadata()['design_url'] is defined %}
            <div class="text-center">
                <img src="{{ orderLine.getMetadata()['design_url'] }}" alt="{{ orderLine.getProduct.getDisplayName }}"
                     style="max-width: 100%;" />
            </div>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro popover_card(orderLine) %}
    {% spaceless %}
        <i>{{ (orderLine.getMetadata()['is_card'] ? orderLine.getMetadata()['text']|nl2br : null) }}</i>
    {% endspaceless %}
{% endmacro %}

{% macro order_priority_label(priority, noText, icon, style) %}
    {% spaceless %}
        {% if priority >= 25 %}
            {% set priorityAttributes = calculate_priority(priority) %}

            <span class="label bg-{{ priorityAttributes['class'] }} heading-text"
                  data-popup="tooltip" data-placement="right"
                  {% if style is not same as(null) %}style="{{ style }}"{% endif %}
                  data-title="{{ priorityAttributes['text'] }} prioriteit">

                {% if noText is same as(null) or noText is same as(false) %}
                    {{ priorityAttributes['text'] }} prioriteit
                {% endif %}

                {% if icon is not same as(null) %}
                    <i class="{{ icon }}"></i>
                {% endif %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro design_actions(rootLine, designerLine) %}
    <a class="order-line-edit-link order-line-design-edit modify-design"
       data-popup="tooltip"
       data-placement="right"
       data-original-title="Ontwerp bewerken"
       href="/admin/designer/ontwerpen/{{ designerLine.getDesignUuid() }}/{{ rootLine.getProduct().getId() }}?callback=window.parent.line_{{ designerLine.getId() }}_callback"><i
                class="fa fa-pencil"
                aria-hidden="true"></i></a>

    <a class="order-line-edit-link download-design"
       data-popup="tooltip"
       data-placement="right"
       data-original-title="Ontwerp downloaden"
       target="_blank"
       href="{{ path('admin_sales_order_downloadprintdesign', {
           orderLine: designerLine.getUuid()
       }) }}"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>

    <script type="text/javascript">
        function line_{{ designerLine.getId }}_callback(previewUrl) {
            var rowElm = $('td[data-designer-line-id={{ designerLine.getId }}]');

            if(rowElm.length === 0) {
                rowElm = $('td[data-childline-id={{ designerLine.getId }}]').closest('tr');
            }

            var newContentElm = $(rowElm.data('content'));

            if(newContentElm.length > 0) {
                newContentElm.find('img').attr('src', previewUrl);
                rowElm.attr('data-content', newContentElm[0].outerHTML);
            }

            $('#modal_modify_designer').fadeOut(250);
        }
    </script>
{% endmacro %}

{% macro activity_actions(activity) %}
    {% import 'AdminBundle:macros:order.html.twig' as macros_order %}
    {% if activity.activity == 'order_sent' %}
        {% set content = '' %}
        {% for collo in activity.order.collos %}
            {% set content = content ~ ' ' ~ collo.code ~ ' | <a target="_blank" href="https://jouw.postnl.nl/#!/track-en-trace/zoeken/' ~ collo.code ~ '/' ~ activity.order.getDeliveryAddressCountry.getCode  ~'/' ~ activity.order.getDeliveryAddressPostcode  ~'">Status bekijken</a><br/>' %}
        {% endfor %}

        <i class="fa fa-truck" data-action="show-activity-popup" style="cursor: pointer;"
           data-content="{{ content }}" data-title="Track & Trace">
        </i>
    {% elseif activity.activity == 'payment_request_sent' %}
        <i class="fa fa-credit-card" data-action="show-activity-popup" style="cursor: pointer;"
           data-content="{{ macros_order.activity_info_table(activity) | e }}"
           data-title="Betaalverzoek verstuurd">
        </i>
    {% elseif activity.text is not empty %}
        {% set content = '<strong>Reden:</strong><br>'~ activity.text %}
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover"
           data-trigger="hover" data-placement="top" data-html="true"
           data-content="{{ content }}">
        </i>
    {% endif %}
{% endmacro %}

{% macro activity_info_table(activity) %}
{% spaceless %}
    {% set data = activity.text | json_decode %}
    <table class="table table-bordered table-condensed text-left">
        <tbody>
            <tr>
                <td>Tijd</td>
                <td>{{ activity.datetime | localizeddate('short', 'short') }}</td>
            </tr>
            <tr>
                <td>Bedrag</td>
                <td>€ {{ data.amount | number_format }}</td>
            </tr>
            <tr>
                <td>Naam</td>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ data.email }}</td>
            </tr>
            <tr>
                <td>Persoonlijke tekst</td>
                <td>{{ data.description }}</td>
            </tr>
            <tr>
                <td>Betaalmethoden </td>
                <td>{{ data.methods }}</td>
            </tr>
        </tbody>
    </table>
{% endspaceless %}
{% endmacro %}
