{% if data is not empty %}

<div class="panel">
    <div class="panel-body">
        <div class="charts">
            <div style="width: 400px; display: inline-block">
                <canvas id="lineChart" width="400" height="400">

                </canvas>
            </div>
            <div style="width: 400px; display: inline-block">
                <canvas id="barChart" width="400" height="400" >

                </canvas>
            </div>
        </div>
    </div>
</div>
<script>
    var chartColors = [
        '#b5251a',
        '#8C914F',
        '#d77710',
        '#4c4cff',
        '#919b16',
    ];

    var ctx = document.getElementById("lineChart").getContext("2d");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels | json_encode | raw }},
            datasets: {{ data | json_encode | raw }}
        }
    });

    for(var x = 0; x < lineChart.data.datasets.length; x++) {
        var dataset = lineChart.data.datasets[x];
        dataset.borderColor = chartColors[x];
    }

    lineChart.update();

    var ctx2 = document.getElementById("barChart").getContext("2d");
    var barChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: {{ labels | json_encode | raw }},
            datasets: {{ data | json_encode | raw }}
        }
    });

    for(var x = 0; x < barChart.data.datasets.length; x++) {
        var dataset = barChart.data.datasets[x];
        dataset.backgroundColor = chartColors[x];
    }

    barChart.update();
</script>
{% else %}
<div class="panel">
    <div class="panel-body">
        <div class="alert alert-info">
            Grafiek data wordt momenteel gegenereerd. Kom over enkele minuten terug.
        </div>
    </div>
</div>
{% endif %}
