@import './../config';

.cart-modal-edit-order {
  .order-edit-toolbar {
    ul {
      display: flex;

      margin: 0;
      padding: 0;

      list-style: none;
      justify-content: space-between;

      li {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    margin-bottom: 20px;
  }

  .order-edit-contents {
    text-align: left;

    .order {
      display: flex;

      > div,
      > a {
        margin: .5rem;
      }

      .image {
        position: relative;

        width: 90px;
        height: 90px;

        .remove {
          opacity: 0;
          position: absolute;

          background-color: rgba($red, .8);
          color: $white;

          font-size: 10px;
          padding: 0 2px 1px 2px;
          border-radius: 3px;

          z-index: 11;

          top: -5px;
          right: -5px;

          transition: opacity .35s linear;
          cursor: pointer;
        }

        &:hover {
          .remove {
            opacity: 1;
          }
        }

        img {
          max-width: 100%;
        }
      }

      .block {
        display: flex;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: flex-end;

        width: 90px;
        height: 90px;

        border: 1px solid $base-border-color;
        transition: all .25s linear;

        cursor: pointer;

        .icon {
          position: absolute;
          display: block;

          margin-top: 10%;

          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;

          font-size: 12px;

          background-color: rgba($base-link-color, .75);
          border-radius: 5px;
          color: $white;

          padding: 2px 7px 4px 7px;
          opacity: 1;

          .fa {
            width: auto;
          }
        }

        &:hover {
          box-shadow: 0 0 5px 0 rgba($black, .4);
          text-decoration: none;
          color: inherit;
        }

        .thumbnail {
          .icon {
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            margin: 0;
          }
        }

        &.card {
          .thumbnail {
            position: relative;
            display: flex;
            align-self: center;

            width: 80%;
            height: 50%;

            background: url('./../../img/card_bg.png') no-repeat;
            background-size: cover;

            margin-top: 10%;

            .icon {
              top: 50%;
              left: 50%;

              transform: translate(-50%, -50%);

              margin: 0;
            }

            img {
              max-width: 100%;
            }
          }
        }

        &.personalization {
          .thumbnail {
            text-align: center;
            height: 75%;

            img {
              max-height: 100%;
              margin: 0 auto;
            }
          }
        }

        .remove {
          opacity: 0;
          position: absolute;

          background-color: rgba($red, .8);
          color: #fff;

          font-size: 10px;
          padding: 0 2px 1px 2px;
          border-radius: 3px;

          z-index: 11;

          top: -5px;
          right: -5px;

          transition: opacity .35s linear;
        }

        .description {
          display: flex;

          align-self: center;

          font-size: .8rem;
          text-align: center;

          margin-top: auto;
          margin-bottom: 10%;
        }

        &:hover {
          .remove {
            opacity: 1;
          }
        }
      }
    }
  }
}

.cart-modal-edit-order-card {
  .swal2-content {
    text-align: left;

    .order-edit-card {
      font-size: .9rem;

      .cards {
        display: flex;
        flex-wrap: wrap;

        margin: 0 -1rem;

        .radio {
          width: 50%;

          padding: 0 1rem;

          .line-radio {
            display: flex;
            justify-content: space-between;
            margin: .375rem 0;
          }
        }
      }

      .card-preview {
        margin-top: 1rem;

        position: relative;
        width: 100%;
        height: 251px;
        padding-right: 60px;
        border: 1px solid #ccc;
        background-image: url('./../../img/card_bg.png');
        background-size: 100% 100%;

        &.small-card {
          width: 580px;
          height: 152px;
          padding-right: 0;
          background-image: url('./../../img/card_bg_small.jpg');

          .image {
            width: 50%;
            background-position: right;
            left: 0;
          }

          textarea {
            position: absolute;
            width: 50%;
            right: 0;
          }
        }

        textarea {
          position: relative;
          z-index: 2;
          border: none;

          width: 100%;
          height: 100%;
          resize: none;
          background: transparent;
          padding: 10px 13px;
          margin: -1px 0 0 0px;
          font-family: 'Arial Narrow', $base-font-family;
          font-size: 12px;
          font-style: italic;
          line-height: 16px;
          overflow: hidden;
          color: #000;
          letter-spacing: 1px;
          display: table-cell;
          vertical-align: middle;
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;
        }

        .image {
          position: absolute;
          top: -1px;
          right: 0;
          width: 218px;
          height: calc(100% + 2px);
          background-position: center left;
          background-repeat: no-repeat;
          z-index: 1;
        }
      }
    }
  }
}