.row-gender {

}

.row-gender .radio {
  float: left;
  margin-right: .50rem;
}

.row-gender .radio + .radio {
  margin-top: 0;
}

.row-country .country {
  margin-bottom: 15px;
}

.address-container .country-choice:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.address-container .country-choice .radio {
  float: left;

  margin-top: .30rem;
  margin-right: 2.5rem;

  overflow: hidden;
}

.address-container .select2-container--default .select2-selection--single {
  border-radius: 0px;
  border: .0625rem solid #e1e1e1 !important;
}

.address-container .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 24px;

  font-size: 95%;
}
