.product-designer {
  .actions {
    .btn {
      padding: .5rem 1rem !important;
      font-size: 1rem !important;
    }

    .btn-add-to-cart {
      color: #fff !important;

      background-color: $corp-color; // Fallback IE
      background-color: var(--corp-color) !important;

      border-color: $corp-color; // Fallback IE
      border-color: var(--corp-color) !important;
    }
  }

  .canvas-wrapper {
    .canvas-container,
    canvas {
      width: 100% !important;
    }
  }
}

@media (max-width: 992px) {
  body.page-personalization {

    #footer-small,
    h1.product-title,
    #robin_tab_container,
    #mobile_navigation {
      display: none !important;
    }

    .page-wrapper {
      position: absolute;
      width: 100%;
    }

    .page-wrapper,
    .page-wrapper > .container,
    .page-wrapper > .container > .row {
      margin: 0 !important;
      padding: 0 !important;
    }

    .page-wrapper,
    .page-wrapper > .container,
    .page-wrapper > .container > .row,
    .page-wrapper > .container > .row > div {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  .row {
    display: block;
  }
}
