.faq-list {
  display: none;
  margin-bottom: 2rem;
}

.faq-list-init {
  display: block;
}

dl.faq-list {
  color: #333;
  font-size: 1rem;
  line-height: 1.4;
  font-family: Arial, sans-serif;
}

dl.faq-list dt {
  padding: .5rem 0;
  border-bottom: 1px $base-border-color solid;
  cursor: pointer;
}

dl.faq-list dt:first-child {
  margin: 0;
}

dl.faq-list dd {
  color: $grey;
  padding: .5rem 0;
  margin-inline-start: 0;
  border-bottom: 1px $base-border-color solid;
  border-top: 0;
}

dl.faq-list dd.hidden {
  display: none;
}