#header {
  position: relative;
  height: 240px;
  background: url('../../img/header-topfruit.jpg') center no-repeat;
  padding: 0;
  margin: 0;

  @media (max-width: 990px) {
    margin-top: 64px;
  }

  .header-blok {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    display: none;
  }

  .spacer-left {
    position: relative;
    width: 700px;
    height: 220px;
    float: left;
    padding: 10px;

    .top-left {
      float: left;
      margin-top: 0;
    }

    .middle-left {
      position: relative;
      top: 50%;
      margin: 0 auto;
      float: left;
      opacity: 0;
    }

    .bottom-left {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-top: 0;
    }
  }

  .spacer-middle {
    position: relative;
    height: 220px;
    padding: 0;
    margin: 0 auto;

    .top {
      position: absolute;
      top: 10px;
      display: none;

      left: 50%;
      transform: translateX(-50%);
    }

    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .bottom {
      position: absolute;
      bottom: 0px;

      left: 50%;
      transform: translateX(-50%);
    }
  }

  .spacer-right {
    position: relative;
    right: 0;
    width: 700px;
    height: 220px;
    float: right;
    padding: 0;

    .top-right {
      position: absolute;
      top: 10px;
      right: 0;
      margin-top: 0;
    }

    .middle-right {
      position: relative;
      top: 50%;
      float: right;
    }

    .bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0;
    }
  }
}

.show-mobile-menu {
  #header {
    margin-top: 0;
  }
}
