#menu {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid $base-border-color;
  z-index: 1000;
  background: white;

  #logo-website {
    padding: 0;

    vertical-align: middle;
    height: 70px;
    line-height: 70px;

    a {
      position: relative;
      display: inline-block;

      z-index: 1;
    }

    object {
      position: relative;
      height: 45px;
      vertical-align: middle;

      z-index: -1;
      pointer-events: none;
    }
  }

  #delivery-slogan {
    font-family: dirty_headline, $base-font-family;
    font-size: 30px;

    text-transform: uppercase;

    vertical-align: middle;
    height: 70px;
    line-height: 70px;

    text-align: center;

    white-space: nowrap;

    color: $corp-color; // Fallback IE
    color: var(--corp-color);

    img {
      display: none;

      @media all and (min-width: 1100px) {
        display: inline;
      }
    }

    span {
      color: #55595c;
    }
  }

  #menu-website {
    list-style: none;
    margin-top: 10px;

    @mixin menu_padding() {
      padding: 0 5px 0 0;
    }

    #menu-item-1 {
      @include menu_padding;
    }

    #menu-item-2 {
      @include menu_padding;
    }

    #menu-item-3 {
      @include menu_padding;
    }

    #menu-item-4 {
      @include menu_padding;
    }

    .col-sm-3 {
      &.active {
        padding-right: 0 !important;
      }

      &.before-active {
        padding-right: 0 !important;

        a {
          border-right-width: 0;
        }
      }

      &.after-active {
        a {
          border-left-width: 0;
        }
      }
    }

    .menu-item {
      width: 100%;
      padding: 25px 10px;
      border: 2px solid $base-border-color;
      border-bottom: 0;
      margin-top: 10px;
      float: left;
      background: #fff;

      &.active {
        position: relative;
        top: 1px;
        padding: 30px 0;
        margin-top: 0;
        z-index: 998;
        border-left-width: 2px;
        border-right-width: 2px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .item-1 {
      background: #fff url(../../img/logos/topgeschenken-grijs.jpg) center no-repeat;

      &.active {
        background: #f0f0f0 url(../../img/logos/topgeschenken-kleur.png) center no-repeat;
        background-size: 160px auto;
      }
    }

    .item-2 {
      background: #fff url(../../img/logos/topbloemen-grijs.jpg) center no-repeat;

      &.active {
        background: #f0f0f0 url(../../img/logos/topbloemen-kleur.png) center no-repeat;
        background-size: 155px auto;
      }
    }

    .item-3 {
      background: #fff url(../../img/logos/toptaarten-grijs.jpg) center no-repeat;

      &.active {
        background: #f0f0f0 url(../../img/logos/toptaarten-kleur.png) center no-repeat;
        background-size: 130px auto;
      }
    }

    .item-4 {
      background: #fff url(../../img/logos/topfruit-grijs.jpg) center no-repeat;

      &.active {
        background: #f0f0f0 url(../../img/logos/topfruit-kleur.png) center no-repeat;
        background-size: 105px auto;
      }
    }
  }

  #contact-info {
    margin-top: 5px;
    padding: 0;

    .left {
      width: 60px;
      height: 60px;
      float: right;
      background: url('../../img/contact-info-profile.jpg') left center no-repeat;
      background-size: 100%;
    }

    .right {
      width: 140px;
      height: 67px;
      float: right;
      text-align: right;

      p {
        margin-top: 20px;
        color: $darkgrey;
        font-size: 16px;
        cursor: pointer;

        &::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 0.3em;
          vertical-align: middle;
          content: "";
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-left: 0.3em solid transparent;
        }
      }

      span {
        font-size: 18px;
        font-weight: 600;

        color: $corp-color; // Fallback IE
        color: var(--corp-color);
      }
    }
  }

  .klantenservice-dropdown {
    position: absolute;
    top: 108px;
    right: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    border-top: 1px solid $base-border-color;
    display: none;

    .row {
      > div {
        padding: 0;
      }
    }

    h3 {
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 16px;

      b {
        width: 100%;
        float: left;
      }
    }

    ul {
      list-style: initial;
      margin: 1em 0;
      padding: 0 0 0 40px;

      li {
        font-size: 14px;
        display: list-item;
      }
    }

    .left {
      width: 100%;
      padding: 40px 0 40px 40px;

      .foto {
        width: 225px;
        float: left;
      }

      .info {
        width: calc(100% - 250px);

        float: right;

        .rounded {
          width: 100%;
          border: 1px solid $base-border-color;
          padding: 10px 5px;
          font-size: 14px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          margin-bottom: 10px;
          text-align: center;
          float: left;
        }

        .regel {
          width: 100%;
          float: left;
          font-size: 14px;

          .day {
            float: left;
          }

          .time {
            float: right;
          }
        }
      }
    }

    .right {
      width: 100%;
      float: left;
      padding: 40px;
    }

    a {
      font-weight: 600;
    }
  }
}