#mobile_navigation {
  position: fixed;
  width: calc(100% - 16.66667%);
  height: calc(100% - 70px);
  top: 70px;
  z-index: 9998;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  background: white;
  overflow: auto;
  
  a i.toggle-sub-menu {
    color: $grey;
  }

  @media (min-width: 993px) {
    display: none !important;
  }

  ul, li {
    display: block;
  }

  ul {
    list-style: none;
  }

  a {
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    i {
      display: none;
    }
  }

  li {
    border-bottom: 1px solid $menu-border-color;

    ul li:last-child {
      border: 0;
    }

    &.with-children {

      &> a {
        padding-left: 42px;
      }

      i {
        display: inline-block;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 28px;
        opacity: .5;
        top: calc(50% - 1px);
      }

      ul:not(.active) {
        display: none;
      }

      &> ul {
        margin-left: 20px;
      }
    }
  }

  .nav-item-content {
    font-size: .85rem;

    * {
      font-size: inherit;
    }
  }

  .navigation,
  .navigation ul {
    border-top: 1px solid $menu-border-color;
  }

  .logo-menu {
    &> li > a {
      height: 45px;
    }

    &> li.menu-item-1 {
      background: url('../../img/logos/topgeschenken-kleur.jpg') 40px 10px no-repeat;
      background-size: 150px auto;
    }

    &> li.menu-item-2 {
      background: url('../../img/logos/topbloemen-kleur.jpg') 40px 10px no-repeat;
      background-size: 125px auto;
    }

    &> li.menu-item-3 {
      background: url('../../img/logos/toptaarten-kleur.jpg') 40px 10px no-repeat;
      background-size: 110px auto;
    }

    &> li.menu-item-4 {
      background: url('../../img/logos/topfruit-kleur.jpg') 40px 10px no-repeat;
      background-size: 90px auto;
    }
  }

  .extra-menu {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}