body > #navigation {
    display: block;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 45px;
    background: #f0f0f0;
    padding: 0;

    border-bottom: 0 solid $corp-color;
    border-bottom-color: var(--corp-color);

    @media (max-width: 61.9em) {
        margin-top: 60px;
        height: auto;
    }

    > .container,
    > .container > .row {
        position: relative;
        height: 100%;
    }

    ul {
        list-style: none;
        padding: 0 0;
        margin: 0;
        float: left;

        height: 45px;
        overflow: hidden;

        @media (max-width: 61.9em) {
            float: none;

            text-align: center;
            padding-top: 7px;
            padding-bottom: 7px;

            height: auto;
        }

        li {
            float: left;
            padding: 14px 0 12px 0;

        @media (max-width: 61.9em) {
                float: none;

                padding: 7px 0;
            }

            a.category {
                font-size: 12px;
                border-right: 1px solid #adafab;
                padding: 0 10px;
                text-transform: uppercase;

            @media (max-width: 61.9em) {
                    border-right: none;
                }

            &:hover {
                    text-decoration: none;
                    color: $corp-color; // IE Fallback
                    color: var(--corp-color);
                }

            &.active {
                    text-decoration: none;
                    font-weight: 600;
                    color: $corp-color; // IE Fallback
                    color: var(--corp-color);
                }
            }

        &:first-child {
                padding-left: 0;
            }

        &:last-child {
                a {
                    border-right: 0;
                }
            }
        }
    }

    ul.depth-2 {
        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        background: #fff;
        left: 0;
        top: 100%;
        padding: 0 1.5rem 1.5rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .35);
    }

    ul li:hover ul.depth-2,
        ul li.open ul.depth-2 {
        display: flex;
    }

    ul.depth-2 li {
        flex: 1;
        font-size: 1rem;
        max-width: 23.5%;
        margin-right: 2%;
        padding: .75rem;

        a.item {
            color: inherit;
            font-size: inherit;
            text-decoration: none;
        }

        figure, img {
            display: block;
        }

    .nav-item-content {
            padding: .85rem 0;
        }

        img {
            width: 70%;
        }

        h3.title {
            font-size: .85rem;
            font-weight: bold;
            line-height: 1.4;
            text-transform: uppercase;
            border-bottom: 1px solid $base-border-color;
            padding: 0 0 .85rem;
        }

    &:hover {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        }

    &:last-child {
            margin-right: 0;
        }
    }
}