.image {
  position: relative;

  .temporarily-out-of-stock {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-50%);
  }

  > :hover .temporarily-out-of-stock {
    margin-top: -3px;
  }
}

.product-item {
  width: 100%;

  .price-text-placeholder {
    display: inline-block;
    margin-right: 0.25em;
    color: $grey;
    font-size: 10pt !important;
    font-style: italic;
  }

  a {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }

  .image {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
    height: 2.75rem;
    line-height: 1.2;
    padding: 0 .25rem;
    margin: .5rem 0;

    @media (min-width: 400px) {
      padding: 0 .5rem;
      font-size: 1.2rem;
    }
    @media (min-width: 769px) {
      height: 3.25rem;
      padding: 0 1rem;
      line-height: 1.2;
      font-size: 1.333rem;
    }
    @media (min-width: 1200px) {
      margin: 1rem 0;
      line-height: 1.25;
      height: 3rem;
      font-size: 1.444rem;
    }
  }

  p.price {
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1rem;

    color: $darkgrey;

    @media (max-width: 544px) {
      font-size: 1rem;
    }
  }

  .choices {
    width: 100%;

    margin-bottom: 10px;

    p {
      text-align: center;
    }

    ul {
      list-style: none;
      width: 100%;
      padding: 15px 10px 0 10px;

      li {
        width: calc(33% - 10px);
        width: -moz-calc(33% - 10px);
        width: -webkit-calc(33% - 10px);

        padding: 0;
        float: left;
        margin: 0 5px;

        img {
          width: 100%;
          height: auto;
          background: #ededed;
          border: 0;

          @media (max-width: 544px) {
            max-width: 70px;
            margin: 0 auto;
            display: block;
          }
        }

        p {
          font-size: 12px;
          line-height: 14px;
          margin-top: 5px;
          width: 100%;
          word-wrap: break-word;
        }
      }
    }
  }
}
