
#steps {
  padding: 0px;
}

#steps ul {
  width: 100%;
  list-style: none;
  margin-bottom: 30px;
  float: left;
  padding: 0;
}

#steps ul li {
  position: relative;
  width: 33.3333333333%;

  float: left;
  border: 1px solid #e2e2e2;
  padding: 8px;

  @media all and (min-width: 786px) {
    padding: 8px 20px;
  }

  height: 36px;
  color: #dcddde;

  font-size: 13px;
  font-family: $base-font-family;

  @media all and (min-width: 768px) {
    font-size: 15px;
  }
}

#steps ul li.passed a {
  display: block;

  font-size: 13px;

  @media all and (min-width: 768px) {
    font-size: 15px;
  }
}

#steps ul li:not(:last-child):after, #steps ul li:not(:last-child):before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

  z-index: 10;
}

#steps ul li:not(:last-child):after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 17px;
  margin-top: -17px;
}

#steps ul li.passed:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #f0f0f0;
  border-width: 17px;
  margin-top: -17px;
}

#steps ul li:not(:last-child):before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #dadada;
  border-width: 18px;
  margin-top: -18px;
}

#steps ul li .span-passed {
  position: absolute;
  top: -13px;
  right: -19px;
  font-size: 58px;
  color: #f0f0f0;
  z-index: 9;
  display: none;

  @media all and (min-width: 786px) {
    display: inline-block;
  }
}

#steps ul li .span-done {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 22px;
  color: #828282;
  z-index: 10;
  display: none;

  @media all and (min-width: 786px) {
    display: inline-block;
  }
}

#steps ul li.active {
  color: #fff;
  border: 1px solid #f0f0f0;
}

#steps ul li.passed {
  background: #f0f0f0;
  color: #828282;
}

#steps ul li:nth-child(1) {
  position: relative;
  z-index: 9;
}

#steps ul li:nth-child(2) {
  padding: 7px 0 0 20px;

  @media all and (min-width: 786px) {
    padding-left: 40px;
  }

  border-left-color: transparent;
}

#steps ul li:nth-child(3) {

  padding: 7px 0 0 20px;

  @media all and (min-width: 786px) {
    padding-left: 40px;
  }

  border-left-color: transparent;
}