.shopping-cart {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .icon {
    font-size: $base-icon-size;
  }

  .text {
    font-size: 1rem;
    margin-left: 5px;
    position: relative;
    top: -3px;
  }

  .product-count {
    position: absolute;
    top: 0;
    left: 22px;
    transform: translate(-50%, -20%);
  }

  .product-count > span {
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    color: #fff;
    font-family: $base-font-family;
    display: block;
    min-width: 20px;
    height: 20px;
    border-radius: 20px;
    background: $corp-color; // IE Fallback
    background: var(--corp-color);
    padding: 0 7px;
  }
}