.truncated {
    margin: 0 0 1rem;

    .text-content {
        position: relative;

        .text-actions::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .text-actions {
        margin: 1rem 0;
    }

    .toggle {
        cursor: pointer;
    }

    &.expand {
        .transparent-layer {
            display: none;
        }

        .toggle::after {
            display: inline-block;
            content: "";
            margin: 0 .25rem;

            position: relative;
            top: -1px;

            border-left: .4rem solid transparent;
            border-right: .4rem solid transparent;
            border-bottom: .5rem solid #000;
        }
    }

    &:not(.expand) {
        .text-content {
            overflow: hidden;

            .transparent-layer {
                width: 100%;
                background: #FFF;
                opacity: .65;
                position: absolute;
                bottom: 0;
            }
        }

        .toggle::after {
            display: inline-block;
            content: "";
            margin: 0 .25rem;

            position: relative;
            top: -1px;

            border-left: .4rem solid transparent;
            border-right: .4rem solid transparent;
            border-top: .5rem solid #000;
        }
    }
}