.video-bar {
  font-family: $base-font-family;
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
  background: #f0f0f0;
}

.video-bar .video {
  position: relative;
  width: 47.5%;
  padding-top: 26.75%;
  overflow: hidden;
}

.video-bar .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-bar .information {
  font-size: 1.25rem;
  width: 22.5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 47.5%;
  z-index: 100;
  background: $corp-color; // IE Fallback
  background: var(--corp-color);
}

.video-bar .information .links {
  display: block;
  padding: 13% 0;
  box-sizing: border-box;
  height: 100%;
}

.video-bar .information .link {
  position: relative;
  font-size: inherit;
  height: 50%;
  text-align: center;
  line-height: 1.2;
}

.video-bar .information .arrow::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  z-index: 100;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  pointer-events: none;
}

.video-bar .information .arrow-left::before {
  left: -35px;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 35px solid $corp-color; // IE Fallback
  border-right: 35px solid var(--corp-color);
}

.video-bar .information .arrow-right::before {
  right: -35px;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 35px solid $corp-color; // IE Fallback
  border-left: 35px solid var(--corp-color);
}

.video-bar .information .link span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 1.875rem;
  color: #FFFFFF;
}

.video-bar .image {
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

.video-bar .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (min-width: 768px) and (max-width: 992px) {

  .video-bar .video {
    width: 100%;
    padding-top: 56.3%;
  }

  .video-bar .information,
  .video-bar .image {
    display: none;
  }
}

@media (max-width: 768px) {
  .video-bar {
    display: none;
  }
}