<div class="container" id="content-home">
    <div class="row">
        <div class="col-lg-9 col-sm-12" id="categories">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/slagroomtaarten-bezorgen" class="category-item" id="item-1">
                        <img src="{{ asset('build/images/slagroomtaarten.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Slagroomtaarten</h2>
                            <p>kies je favoriete topping</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/marsepeintaarten-bezorgen" class="category-item" id="item-2">
                        <img src="{{ asset('build/images/marsepeintaarten.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Marsepeintaarten</h2>
                            <p>in diverse kleuren en maten</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/luxe-taarten-bezorgen" class="category-item" id="item-3">
                        <img src="{{ asset('build/images/luxe-taarten.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Luxe taarten</h2>
                            <p>mokka, appel, chipolata en meer</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/fototaarten-bezorgen" class="category-item" id="item-4">
                        <img src="{{ asset('build/images/fototaarten.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Fototaarten</h2>
                            <p>taart met jouw foto, logo of ontwerp</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/thema-taarten-bezorgen" class="category-item" id="item-5">
                        <img src="{{ asset('build/images/themataarten.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Thema taarten</h2>
                            <p>verjaardag, bedankt, kindertaart enz</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <a href="/traktaties-bezorgen" class="category-item" id="item-6">
                        <img src="{{ asset('build/images/traktaties.png') | imagine_filter('category_thumb') }}">
                        <div class="border"></div>
                        <div class="desc">
                            <h2>Traktaties</h2>
                            <p>gebak, petit fours en meer</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12" id="text-blocks">
            {% if page and page.translate().getContent() %}
                <div class="text-block">
                    <div class="text-block-inner">
                        {{ page.translate().getContent()|raw }}
                    </div>

                    <div class="text-block-read-more" data-text-open="{{ 'read.more.text'|trans }}"
                         data-text-close="{{ 'close.button'|trans }}">
                        {{ 'read.more.text'|trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>