/* dialog.css */
/* Dialog wrapper */
.elfinder .elfinder-dialog {
    /* */
}

/* Dialog title */
.elfinder .elfinder-dialog .ui-dialog-titlebar {
    padding: 3px 0 3px 6px;
    height: 30px;
    box-sizing: border-box;
}

/* Close button */
.elfinder .elfinder-dialog .ui-dialog-titlebar-close {
    background: url('../images/close.png');
    right: 0;
    border-radius: 0;
    margin-top: -15px;
    webkit-transition: background 0.3s; /* Safari */
    transition: background-image 0.3s;
    height: 29px;
    width: 45px;
}

.elfinder .elfinder-dialog .ui-dialog-titlebar-close:hover {
    background: url('../images/close-hover.png');
}

/* Dialog content */
.elfinder .elfinder-dialog .ui-dialog-content {
    /* */
}

/* Tabs */
/* Tabs wrapper */
.elfinder .elfinder-dialog .ui-tabs-nav {
    /* */
}

/* Normal tab */
.elfinder .elfinder-dialog .ui-tabs-nav .ui-state-default {
    /* */
}

/* Current tab */
.elfinder .elfinder-dialog .ui-tabs-nav .ui-tabs-selected {
    /* */
}

/* Active tab */
.elfinder .elfinder-dialog .ui-tabs-nav li:active {
    /* */
}

/* Icons */
/* Dialog icon (e.g. for error messages) */
.elfinder .elfinder-dialog .elfinder-dialog-icon {
    /* */
}

/* Error icon */
.elfinder .elfinder-dialog .elfinder-dialog-icon-error {
    /* */
}

/* Confirmation icon */
.elfinder .elfinder-dialog .elfinder-dialog-icon-confirm {
    /* */
}

/* Footer */
.elfinder .elfinder-dialog .ui-dialog-buttonpane {
    /* */
}

/* Buttonset (wrapper) */
.elfinder .elfinder-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    /* */
}

/* Button */
.elfinder .elfinder-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
    /* */
}

/* Styling specific types of dialogs */
/* Error */
.elfinder .elfinder-dialog-error {
    /* */
}

/* Confirm */
.elfinder .elfinder-dialog-confirm {
    /* */
}

/* File editing */
.elfinder .elfinder-dialog .elfinder-file-edit {
    /* */
}

/* File information */
/* Title */
.elfinder .elfinder-dialog .elfinder-info-title {
    /* */
}

/* Table */
.elfinder .elfinder-dialog .elfinder-info-tb {
    /* */
}

/* File upload (including dropbox) */
.elfinder .elfinder-dialog .elfinder-upload-dropbox,
.elfinder .elfinder-dialog .elfinder-upload-dialog-or {
    /* */
}
