<ul class="breadcrumb">
    {% for item in items %}
        {% if loop.first and item.uri is empty %}
            {% set item = item|merge({'uri': path('admin_dashboard_index')}) %}
        {% endif %}

        <li class="{% if loop.last %}active{% endif %}">

            {% if loop.last or item.uri is not empty %}
            <a href="{{ item.uri }}">
                {% endif %}

                {% if loop.first %}
                    {{ admin_icon(item.item.attributes.icon, false, {'class': 'position-left'}) }}
                {% endif %}

                {{ item.label }}

                {% if loop.last or item.uri is not empty %}
            </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
