<div id="{{ id|default('shopping-cart') }}" class="shopping-cart {{ classes|default('') }}">
    <a href="{{ path('app_checkout_sender') }}">
        <span class="icon ">
            <span class="fa fa-shopping-cart"></span>
        </span>
        <span class="text hidden-md-down">{{ "label.order_count_text"|trans }}</span>
        <span class="product-count" data-count="0" data-url="{{ path('app_cart_count') }}"></span>
    </a>
</div>