{% if mode is not defined %}
    {% set mode = 'view' %}
{% endif %}

{% set lineDeliveryCosts = order.lineContainingDeliveryProduct %}
{% set displayMode = 'original' %}

 {% if app.user is not null and app.user.company is not null %}
     {% set displayMode = app.user.company.priceDisplayMode ? app.user.company.priceDisplayMode : 'original' %}
 {% endif %}

<div class="order" data-order-id="{{ order.id }}">
    <div class="order-heading">
        <div class="order-heading-left">
            <span class="order-heading-title">Order {{ loop.index }}</span> {% if order.deliveryDate is not null %}- {{ order.deliveryDate | date('d-m-Y') }}{% endif %}
        </div>
        <div class="order-heading-right">
            <div class="recipient">
                {% if order.getPickupAddress is null and order.deliveryAddressAttn %}
                    {% set attn = order.deliveryAddressAttn ~ (order.deliveryAddressCompanyName is not empty and order.metadata is empty ? ' - ' ~ order.deliveryAddressCompanyName : '') %}

                    {{ attn[:30] }}...
                {% endif %}
            </div>
            <div class="total">
                {{ 'total' | trans | capitalize }}

                {{ get_price(order, null, 'totalPriceIncl') | number_format }}
            </div>
            <div class="toggle">
                <span class="fa fa-chevron-down"></span>
                <span class="fa fa-chevron-up"></span>
            </div>
        </div>
    </div>

    <div class="order-body">
        <div>
            {% include '@App/Cart/components/order/details.html.twig' %}
            {% include '@App/Cart/components/order/contents.html.twig' %}
        </div>
        <div class="buttons-and-total">
            <div class="actions">
                <a href="#" data-url="{{ path('app_checkout_duplicateorder', {cartOrder: order.uuid}) }}"
                   data-action="duplicate" class="btn btn-theme-secondary hidden-lg-down">
                    {{ 'label.order.duplicate'|trans }}

                    <i class="fa fa-info-circle" data-toggle="popover" data-content="{{ 'cart.duplicate_order.info' | trans }}"></i>
                </a>

                <a href="{{ path('app_cart_applyvouchercode', {
                    cart: cart.cart.uuid
                }) }}" data-action="add-voucher" class="btn btn-theme-secondary">
                    {{ 'cart.coupon_add_submit'|trans }}
                </a>
            </div>
            <div class="total">
                <div class="text">
                    {{ 'cart.total_incl_vat' | trans }}

                    {% if site.getDefaultDisplayPrice != 'exclusive' %}
                        {% set orderVat = cart.cartManager.vatTotalsForOrder(order, true) %}

                        {% if orderVat | length > 1 %}
                            {% set vatInfo = include('@App/Cart/components/popover_vat.html.twig', { vats: orderVat }) %}

                            <span class="vat-specification" data-toggle="popover" data-html="true" data-content="{{ vatInfo | escape }}">
                                {{ 'cart.order_count_tax' | trans | format(cart.cartManager.vatAmountForOrder(order, true)| number_format) }}
                            </span>
                        {% else %}

                        <span class="vat-specification">
                            {% set vat = orderVat|first %}

                            {{ 'cart.order.vat_specification' | trans | format(vat.percentage ~ '%',vat.vatPrice | number_format) }}
                        </span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="price">
                    {{ get_price(order, null, 'totalPriceIncl') | number_format }}
                </div>
            </div>
        </div>
    </div>
</div>
