<table>
    {% set vat_translation = site.getDefaultDisplayPrice == 'exclusive' ? 'cart.totals.vat_specification_excl' : 'cart.totals.vat_specification' %}

    {% for vat in vats %}
    <tr>
        <td style="white-space: nowrap;">{{ vat_translation|trans|format(vat.percentage ~ '%', vat.totalPrice | number_format(2)) }}</td>
        <td style="text-align: right; padding-left: 30px; white-space: nowrap;">{{ vat.vatPrice | number_format(2) }}</td>
    </tr>
    {% endfor %}
</table>