{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                {{ "letter.add"|trans }}
            </div>
        </div>
        <div class="panel-body">
            <div class="form-row">
                {{ form_row(form.file) }}
            </div>

            <div class="hidden">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
