<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Order analyse: <strong>{{ order.getOrderNumber }}</strong>
        </div>
    </div>
    <div class="panel-body">
        <em>Onderstaand de analyse van de opgevraagde order</em>
        <div data-event="dry-run">
            {% for item in analysis %}
                {{ item|raw }}<br />
            {% endfor %}
        </div>
    </div>
</div>