{% extends 'AppBundle::base.html.twig' %}

{% set page_title = "customer.resetting.already_requested.page_title"|trans %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-reset-password">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2>{{ page_title }}</h2>
                    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
