{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-reset-password.css') }}" />
{% endblock %}

{% set page_title = "customer.resetting.reset.page_title"|trans %}

{% block body %}
    <div class="container-fluid page-wrapper" id="content-reset-password">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 form-block">
                    <form action="{{ path('app_customer_resetting_reset', {'token': token}) }}"
                          method="POST" class="fos_user_resetting_reset">

                        <h2>{{ page_title }}</h2>
                        <p>{{ 'customer.resetting.reset.description'|trans }}</p>

                        {{ form_widget(form) }}

                        <button type="submit"
                                class="btn btn-theme">{{ 'customer.resetting.reset.submit'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
