<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">
            Laatste actieve klanten
        </h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-borderless table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Bedrijf</th>
                        <th>Email</th>
                        <th>Telefoonnummer</th>
                        <th>Laatst actief</th>
                    </tr>
                    </thead>
                    <tbody id="unprocessed">
                    {% for customer in activeCustomers %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_customer_customer_view', {id: customer.getId}) }}">
                                    {{ customer.getFullname }}
                                </a>
                            </td>
                            <td>
                                {% if customer.getCompany %}
                                    <a href="{{ path('admin_customer_company_view', {id: customer.getCompany.getId}) }}">
                                        {{ customer.getCompany }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ 'mailto:' ~ customer.getEmail }}">{{ customer.getEmail }}</a>
                            </td>
                            <td>
                                {{ customer.getFormattedPhoneNumber }}
                            </td>
                            <td>
                                {{ customer.lastLogin is not null ? customer.lastLogin.format('d-m-Y H:i') : '' }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
