<div class="row">
    <div class="col-lg-6">
        <ul class="list-inline text-center">
            <li style="vertical-align: top; margin-top: 20px;">
            <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                <i class="icon-coins"></i>
            </span>
            </li>
            <li class="text-left">
                <div class="text-semibold">
                    Totale omzet op {{ "now"|localizeddate('long', 'none') }}
                </div>
                <h2 class="mt-5 mb-5">
                    &euro; <span class="revenue-total"><img src="{{ asset('bundles/admin/img/ajax-loader.gif') }}"></span>
                </h2>
                <div class="text-semibold">
                    Op basis van <span class="revenue-count">0</span> voltooide orders
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <ul class="list-inline text-center">
            <li>
            <span class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                <i class="icon-coins"></i>
            </span>
            </li>
            <li class="text-left">
                <div class="text-semibold">
                    Hoogste orderbedrag op {{ "now"|localizeddate('long', 'none') }}
                </div>
                <h2 class="mt-5 mb-5">
                    &euro; <span class="revenue-max"><img src="{{ asset('bundles/admin/img/ajax-loader.gif') }}"></span>
                </h2>
            </li>
        </ul>
    </div>
</div>
<div class="row" style="padding: 20px;">
    <canvas id="revenueChart" height="110"></canvas>
</div>
