{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <table class="table table-xs" style="max-width: 800px;">
        <thead>
        <tr>
            <th style="font-weight: bold;">Productnaam</th>
            <th style="font-weight: bold;">Leverancierartikelnr's.</th>
            <th style="width: 120px; text-align: right; font-weight: bold;">Actuele voorraad</th>
            <th style="width: 120px; text-align: right; font-weight: bold;">Virtuele voorraad</th>
            <th style="width: 120px; text-align: right; font-weight: bold;">Drempel</th>
            <th style="width: 120px; text-align: right; font-weight: bold;">Mutatie</th>
            <th style="width: 160px;"></th>
        </tr>
        </thead>
        <tbody>

        {% for product in products %}

            {% set className = "bg-success" %}

            {% if product.getPhysicalStock()
                < product.getStockThreshold() %}
                {% if (product.getParent() and product.getParent().getNoStockBackorder()) or not product.getParent() and product.getNoStockBackorder() %}
                    {% set className = "bg-warning-400" %}
                {% else %}
                    {% set className = "bg-danger" %}
                {% endif %}
            {% endif %}
            <input type="hidden" name="productId" value="{{ product.getId() }}" />

            <tr class="{{ className }}" data-product-id="{{ product.getId() }}">
                <td style="max-width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                    title="{{ product.getDisplayName() }}">{{ product.getDisplayName() }}</td>
                <td style="max-width: 400px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                    title="{{ product.getDisplayName() }}">
                    {%- for key, supplierProduct in product.supplierProducts -%}
                        {% if key > 0 %}, {% endif %}
                        <span{% if supplierProduct.supplier %} title="{{ supplierProduct.supplier.name }}"{% endif %}>{{ supplierProduct.sku }}</span>
                    {%- endfor -%}
                </td>
                <td style="text-align: right;"><span
                            class="physicalStock">{{ product.getPhysicalStock() }}</span></td>
                <td style="text-align: right;"><span
                            class="virtualStock">{{ product.getVirtualStock() }}</span></td>
                <td style="text-align: right;">
                    <input pattern="\d+$" type="number" required="required" name="threshold"
                           value="{{ product.getStockThreshold() }}" class="form-control input-xs"
                           style="width: 70px; text-align: right; float: right;" />
                </td>
                <td style="text-align: right;">
                    <input pattern="^[-]{,1}\d+$" type="number" value="" name="mutation" class="form-control input-xs"
                           style="width: 70px; text-align: right; float: right;" />
                </td>
                <td style="text-align: right;">
                    <input type="submit" class="btn btn-xs btn-default" style="width: 120px; display: none;"
                           value="Bijwerken" />
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <script type="text/javascript">
        $('input[type=number]').on('change', function (e) {
            var row = $(this).closest('tr');

            $('input[type=submit]', row).show();
        });

        $('input[type=submit]').on('click', function (e) {
            var row = $(this).closest('tr');

            var productId = row.data('product-id');

            $('input[type=submit]', row).hide();

            e.preventDefault();

            $.ajax({
                data: {
                    productId: productId,
                    threshold: $('input[name=threshold]', row).val(),
                    mutation: $('input[name=mutation]', row).val(),
                },
                method: 'POST'
            }).done(function (msg) {
                if (msg.physicalStock < msg.threshold) {
                    $(row).removeClass('bg-success').addClass('bg-warning');
                } else {
                    $(row).removeClass('bg-warning').addClass('bg-success');
                }

                $('.physicalStock', row).text(msg.physicalStock);
                $('.virtualStock', row).text(msg.virtualStock);
                $('input[name=mutation]', row).val('');
            })
        });
    </script>

{% endblock body %}
