@font-face {
  font-family: 'dirty_headline';
  src: url('./../../fonts/dirty_headline/dirty_headline-webfont.eot');
  src: url('./../../fonts/dirty_headline/dirty_headline-webfont.eot?#iefix') format('embedded-opentype'),
  url('./../../fonts/dirty_headline/dirty_headline-webfont.woff2') format('woff2'),
  url('./../../fonts/dirty_headline/dirty_headline-webfont.woff') format('woff'),
  url('./../../fonts/dirty_headline/dirty_headline-webfont.ttf') format('truetype'),
  url('./../../fonts/dirty_headline/dirty_headline-webfont.svg#dirty_headline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../fonts/opensans/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('./../../fonts/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('./../../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
  url('./../../fonts/opensans/OpenSans-Light.woff') format('woff'),
  url('./../../fonts/opensans/OpenSans-Light.ttf') format('truetype'),
  url('./../../fonts/opensans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../fonts/opensans/OpenSans-SemiBold.eot');
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('./../../fonts/opensans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./../../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
  url('./../../fonts/opensans/OpenSans-SemiBold.woff') format('woff'),
  url('./../../fonts/opensans/OpenSans-SemiBold.ttf') format('truetype'),
  url('./../../fonts/opensans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../fonts/opensans/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('./../../fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
  url('./../../fonts/opensans/OpenSans-Bold.woff') format('woff'),
  url('./../../fonts/opensans/OpenSans-Bold.ttf') format('truetype'),
  url('./../../fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./../../fonts/opensans/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('./../../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('./../../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
  url('./../../fonts/opensans/OpenSans-Regular.woff') format('woff'),
  url('./../../fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
  url('./../../fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}