@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin qty_selector($size: "32px", $font_size: "12px") {
  display: flex;

  a {
    position: relative;
    display: flex;

    width: unquote($size);
    height: unquote($size);

    justify-content: center;
    align-items: center;

    background: #f9f9f9;
    border: 1px solid #eee;
    font-size: unquote($font_size);

    color: rgba($base-font-color, .7);

    transition: all .15s linear;

    &.minus {
      border-right: 0;
    }

    &.plus {
      border-left: 0;
    }

    &:focus,
    &:active,
    &:hover {
      text-decoration: none;

      background: rgba($base-font-color, .1);
    }
  }

  input {
    font-size: unquote($font_size);

    width: unquote($size);
    height: unquote($size);

    text-align: center;
    border: 1px solid #eee;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .form-select-wrapper {
    position: relative;
    display: block;

    select {
      line-height: 10px;
      margin-right: 15px;
      padding: .266rem 1.1rem .266rem .75rem !important;
    }

    select.form-control::-ms-expand {
      display: none;
    }
  }

  .form-select-wrapper::after {
    line-height: 100%;
    font-size: 16px;
    position: absolute !important;

    font-family: FontAwesome, $base-font-family;
    content: "\f0d7";

    width: 8px;
    height: 8px;

    right: 6px;
    top: 2px;
    pointer-events: none;
  }

  @keyframes checkmark-width {
    from {
      width: 0;
    }
    to {
      width: 6px;
    }
  }

  @keyframes checkmark-height {
    from {
      height: 0;
    }
    to {
      height: 10px;
    }
  }

  .checkmark {
    background: $success;
    width: 6px;
    height: 2px;
    position: absolute;
    transform: rotate(45deg);
    animation: checkmark-width .1s linear;
    animation-fill-mode: forwards;

    top: 50%;
    left: 50%;
    margin-left: -6px;

    &::after {
      background: $success;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2px;
      height: 0;
      animation: checkmark-height .1s linear .1s;
      animation-fill-mode: forwards;
    }
  }
}

@mixin product_lines() {
  .product-lines {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    &.loading {
      background: url('./../../img/ajax-loader-large.gif') no-repeat center center;
    }

    .product-line {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      font-size: .85rem;

      a {
        font-size: inherit;
        text-decoration: none;

        &:hover {
          opacity: .65;
        }
      }

      a.remove {
        color: rgba($grey, .65);
        i {
          color: red;
        }
      }

      a.edit {
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;

        span {
          font-size: 1rem;
        }
      }

      p {
        font-size: inherit;
        margin: 0;
      }

      @media all and (min-width: 992px) {
        padding-bottom: .75rem;
        padding-top: .5rem;
      }

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      &.marked-for-removal {
        background-color: rgba(255, 0, 0, .05);
      }

      .product-line-body,
      .product-line-footer {
        width: 100%;
      }

      .product-line-body {
        display: flex;
        align-content: center;
      }

      .product-line-footer {
        text-align: right;
      }

      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.4;

        a:hover {
          text-decoration: none;
        }

        .remove i {
          color: red;
        }

        .title {
          font-weight: bold;
          text-align: left;

          .remove {
            display: block;
            margin: 0;

            text-transform: lowercase;
            font-size: .75rem;
            transition: $base-link-transition;

            color: rgba($base-font-color, .7);

            &:hover {
              color: rgba($base-font-color, .5);
              text-decoration: none;
            }
          }
        }

        .price {
          color: rgba($grey, .65);
        }
      }

      .qty {
        flex: 1;
        flex-basis: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.product-line-placeholder {
        height: 70px;

        align-items: center;

        .text {
          margin: 0 auto;
          text-align: center;

          font-size: .75rem;
          line-height: 1.2;

          a {
            display: inline-block;
            font-size: .85rem;

            padding-top: 5px;
          }
        }
      }
    }
  }
}

@mixin order_layout {
  .order {
    position: relative;
    margin: 0 0 .75rem 0;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &.loading {
      &::after {
        content: '';
        display: flex;
        align-content: center;
        justify-content: center;

        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        background: rgba(255, 255, 255, .5) url('./../../img/ajax-loader-large.gif') no-repeat center center;

        z-index: 2;
      }
    }

    .cart-edit {
      font-size: 11px;
      font-weight: normal;
      text-decoration: underline;
    }

    .order-heading {
      cursor: pointer;
      background-color: #E1DEDE;
      transition: background-color .15s ease-in-out;

      &:hover {
        background-color: darken(#E1DEDE, 3);
      }

      &.theme-background-color {
        color: #ffffff;
      }

      .order-heading-left {
        width: 100%;
        padding: 7.5px 10px;
        font-weight: 600;

        @media all and (min-width: 992px) {
          float: left;

          width: $column-left-width;
        }

        .order-heading-title {
          text-transform: uppercase;
        }
      }

      .order-heading-right {
        width: 100%;
        padding: 7.5px 10px;

        display: flex;

        @media all and (min-width: 992px) {
          float: right;

          width: $column-right-width;
        }

        .total {
          margin-left: auto;
          font-weight: bold;

          margin-right: 12px;
        }

        .fa-chevron-up {
          display: none;
        }
      }

      @include clearfix;
    }


    &.active {
      border: 1px solid $base-border-color;
      border-top: 0;

      & .order-heading-right .total {
        visibility: hidden;
      }
    }

    .order-body {
      display: none;
      padding: 10px;

      .delivery-address {
        width: 100%;

        .error {
          font-weight: bold;
          color: red;
          opacity: 1 !important;
          font-size: 12px;
        }

        @media all and (min-width: 992px) {
          float: left;

          width: $column-left-width;
        }

        .attn {
          display: block;
          font-weight: bold;

          margin-bottom: 3px;
        }

        address {
          opacity: $opacity-6;
          line-height: 1.2;
          margin-bottom: 3px;
        }

        .delivery-remark,
        .delivery-date {
          display: block;

          margin-top: 10px;
        }

        .time-slot {
          display: block;
        }
      }

      .contents {
        width: 100%;

        @media all and (min-width: 992px) {
          float: right;

          width: $column-right-width;
        }

        .qty-selector {
          align-self: flex-end;

          @include qty_selector("18px", "10px");
        }

        .lines {
          table {
            font-size: .875rem;
            margin-bottom: 0;

            thead {
              th {
                border: none;

                font-weight: bold;

                &.product-name {
                  padding-left: 0;

                  @media all and (min-width: 768px) {
                    padding-left: 0.8rem;
                  }
                }

                &.product-quantity {
                  text-align: center;
                }

                &.product-price,
                &.product-total {
                  min-width: 60px;
                  text-align: right;
                }

                &.product-delete {
                  width: 20px;
                }
              }
            }

            tbody {
              tr.product-line {
                td.product-name {
                  font-weight: bold;
                }
              }

              td {
                border: none;

                &.images {
                  width: 70px;
                  opacity: 1;

                  @media all and (min-width: 768px) {
                    padding-left: 0.8rem;
                  }

                  img {
                    max-width: 37.5px;
                    border: 1px solid #f0f0f0;
                  }
                }

                &.product-quantity {
                  text-align: center;
                }

                &.product-valuta {
                  width: 15px;
                }

                &.product-name {
                  .cart-edit {
                    font-weight: normal;
                    display: inline-block;
                    padding-left: 5px;
                    opacity: 0.6;
                  }

                  .product-discount {
                    font-weight: normal;
                    display: block;

                    padding-left: .75rem;
                  }
                }

                &.product-price,
                &.product-total {
                  min-width: 60px;
                  text-align: right;
                }

                &.product-delete {
                  color: red;
                }

                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
              }

              tr {
                &:last-child {
                  td {
                    padding-bottom: 8.5px;
                  }
                }

                &.child-line {
                  td.product-name {
                    &::before {
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;

                      content: '\f105';
                      padding: 0 .5rem;
                    }
                  }
                }

                &.discount-line {
                  td {
                  }

                  td.product-name {
                    font-style: italic;

                    &::before {
                      content: none;
                    }
                  }
                }
              }
            }

            tfoot {
              td {
                border: 0;

                padding-top: 7.5px;

                &.subtotal {
                  font-weight: bold;
                }

                &:first-child {
                  border-top: none;
                }

                &.product-price {
                  text-align: right;
                }
              }
            }
          }
        }

        @include clearfix;
      }

      @include clearfix;

      > div {
        @include clearfix;
      }
    }

    &.active {
      .order-heading {
        transition: background-color .5s ease-out;

        .fa-chevron-down {
          display: none;
        }

        .fa-chevron-up {
          display: inline-block;
        }
      }

      .order-body {
        display: block;
      }
    }


    .buttons-and-total {
      display: flex;
      border-top: 1px solid $base-border-color;
      align-items: center;

      margin-top: 10px;
      padding-top: 10px;

      .actions {
        display: none;
        width: 100%;

        @media all and (min-width: 768px) {
          display: block;
        }

        @media all and (min-width: 992px) {
          float: left;

          width: $column-left-width;
        }

        @media all and (min-width: 1200px) {
          float: left;

          width: 45%;
        }

        .btn {
          padding-left: 10px;
          padding-right: 10px;

          font-size: 13px;

          .fa {
            margin-left: 0;
          }
        }
      }

      .total {
        width: 100%;
        padding: 0 25px 0 10px;

        display: flex;

        @media all and (min-width: 992px) {
          float: right;

          width: $column-right-width;
        }

        @media all and (min-width: 1200px) {
          float: right;

          width: 55%;
        }

        .text {

          font-weight: bold;

          .vat-specification {
            padding-left: 10px;
            display: inline-block;
            font-weight: normal;
            font-size: 90%;
            opacity: .6;
          }
        }

        @media only screen and (min-width: 992px) {
          .text {
            margin-left: 0;
          }
        }

        @media only screen and (min-width: 1200px) {
          .text {
            margin-left: 26px;
          }
        }

        .price {
          margin-left: auto;
          font-weight: bold;
        }
      }

      @include clearfix;
    }
  }
}
