{% extends '@Admin/Base/assets_body.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'assets/vendor/jquery-form/dist/jquery.form.min.js'
        'assets/vendor/js-cookie/src/js.cookie.js'
        '@AdminBundle/Resources/public/js/CollectionCalcVat.js'
        '@AdminBundle/Resources/public/js/delivery-area/postcode3.js'
        '@AdminBundle/Resources/public/js/delivery-area/postcode3.pointer.js'
        '@AdminBundle/Resources/public/js/delivery-area/postcode3.region.js'
        '@AdminBundle/Resources/public/js/delivery-area/postcode3.selector.js'
        '@AdminBundle/Resources/public/js/delivery-area/Postcode_RegionInfoWindow.js'
        '@AdminBundle/Resources/public/js/delivery-area/Postcode_SupplierInfoWindow.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var postcode = null;
        function initInfoBox() {
            var script = document.createElement("script");
            script.src = "{{ asset('bundles/admin/js/google-maps/google-infobox.js') }}";
            script.type = "text/javascript";
            document.getElementsByTagName('head')[0].appendChild(script);
        }

        var addressUrl = "{{ path('admin_relation_address_getaddress', {
            address: '__ADDRESS__'
        }) }}";

        function initMap() {
            initInfoBox();
            var parameters = {
                pageUrl: '{{ path('admin_customer_deliveryarea_index') }}',
                currentDataset: '{{ currentDataset.getId() }}',
                filters: {{ filters|json_encode()|raw }},
                deliveryAddress: '{{ deliveryAddress }}',
                viewModus: '{{ viewModus }}',
                connectorColors: {{ connectorColors|json_encode()|raw }},
                pointerClusterImage: '{{ asset('assets/vendor/gmaps-marker-clusterer/images/m1.png') }}'
            };
            postcode = new Postcode(parameters);
            postcode.init();
        }
    </script>

    <script src="{{ asset('assets/vendor/gmaps-marker-clusterer/src/markerclusterer.js') }}">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key={{ visualGoogleApiKey }}&callback=initMap" async defer></script>
    {{ parent() }}
{% endblock javascripts %}