form#form_edit_region td:nth-child(3) {
    text-align: center;
}

form#form_edit_region td:nth-child(3) .checkbox {
    display: inline-block;

}

form#form_edit_region td:nth-child(3) .checkbox .checker {
    top: 7px;
    left: -9px;
}

form#form_edit_region td:nth-child(3) .checkbox label {
    padding-left: 0;
}

form#form_edit_region .collection-items .drag-handle > div {
    position: relative;
    top: 4px;
}

form#form_edit_region .alert {
    margin: 0 0 1rem;
}

form#form_edit_region td:nth-child(4) {
    width: 250px;
}

form#form_edit_region td:nth-child(5) {
    width: 100px;
}

form#form_edit_region th:nth-child(6),
form#form_edit_region th:nth-child(7),
form#form_edit_region td:nth-child(6),
form#form_edit_region td:nth-child(7) {
    display: none;
}

/* Edit supplier form */
form#form_edit_supplier_regions td:nth-child(1) {
    max-width: 215px;
}

form#form_edit_supplier_regions th:nth-child(3),
form#form_edit_supplier_regions th:nth-child(4),
form#form_edit_supplier_regions td:nth-child(3),
form#form_edit_supplier_regions td:nth-child(4) {
    display: none;
}

form#form_edit_region .select2-selection--single .select2-selection__rendered {
    padding-left: 10px;
    padding-right: 20px;
}

form#form_edit_region .select2-selection--single .select2-selection__rendered > i {
    margin-right: 5px;
}

form#form_edit_region select.select2 + span {
    max-width: 245px;
}

