<div class="row">
    <div class="col-xs-6">

        {% if order.getPickupAddress is null %}
            <div class="panel panel-default">
                <div class="panel-heading">Afleveradres</div>
                <div class="panel-body">
                    {{ form_row(form.deliveryAddressCompanyName) }}
                    {{ form_row(form.deliveryAddressAttn) }}
                    <div class="form-group">
                        <label class="control-label col-xs-3">Straat + huisnr *</label>
                        <div class="col-xs-6">
                            {{ form_widget(form.deliveryAddressStreet, {
                                attr: {
                                    readonly: not isEditable
                                }
                            }) }}
                        </div>
                        <div class="col-xs-2" style="margin-left: -15px; width: calc(16.66666667% + 15px);">
                            {{ form_widget(form.deliveryAddressNumber, {
                                attr: {
                                    readonly: not isEditable
                                }
                            }) }}
                        </div>
                        <div class="col-xs-1" style="margin-left: -15px; width: calc(8.33333333% + 15px);">
                            {{ form_widget(form.deliveryAddressNumberAddition, {
                                attr: {
                                    readonly: not isEditable
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Postcode + plaats *</label>
                        <div class="col-xs-2" style="margin-right: -15px; width: calc(16.66666667% + 15px);">
                            {{ form_widget(form.deliveryAddressPostcode, {
                                attr: {
                                    readonly: not isEditable
                                }
                            }) }}
                        </div>
                        <div class="col-xs-7">
                            {{ form_widget(form.deliveryAddressCity, {
                                attr: {
                                    readonly: not isEditable
                                }
                            }) }}
                        </div>
                    </div>

                    <div class="form-group"
                         data-country-code="{{ orderData.getDeliveryAddressCountry().getCode() }}">
                        {{ form_label(form.deliveryAddressCountry) }}

                        <div class="col-xs-7">
                            {{ form_widget(form.deliveryAddressCountry, {
                                value: orderData.getDeliveryAddressCountry()
                            }) }}
                        </div>
                    </div>

                    {{ form_row(form.deliveryAddressPhoneNumber) }}
                </div>
            </div>
        {% endif %}


        <div class="panel panel-default panel-delivery">
            <div class="panel-heading">{% if order.getPickupAddress() is null %}Bezorging{% else %}Wordt afgehaald bij{% endif %}</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    {% if orderData.getPickupAddress() is null %}
                        {% if form.deliveryDate is defined %}
                            {{ form_row(form.deliveryDate, {
                                attr: {
                                    disabled: not isEditable
                                }
                            }) }}

                            {{ form_row(form.deliveryTimeWindow, {
                                attr: {
                                    disabled: not isEditable
                                }
                            }) }}
                        {% else %}
                            {% if site.getDeliveryDateMethod() is same as(0) or site.getDeliveryDateMethod() is null %}
                                <div class="address-line">
                                    {{ admin_icon('info-circle', null, null, 'fontawesome') }}

                                    Op de website &quot;{{ site.translate().getDescription() }}&quot; is het
                                    niet mogelijk
                                    om een bezorgdatum te kiezen.
                                </div>

                                <div class="delivery-information">
                                    <div class="delivery-information-toggle">
                                                <span>
                                                    <span class="delivery-information-toggle-label"
                                                          data-show-label="Toon" data-hide-label="Verberg"></span> bezorginformatie
                                                </span>
                                        {{ admin_icon('angle-up', null, null, 'fontawesome') }}
                                        {{ admin_icon('angle-down', null, null, 'fontawesome') }}
                                    </div>

                                    <div class="well delivery-information-description">
                                        <dl>
                                            <dd>
                                                {{ site.getDeliveryDateMethodDescription()|nl2br }}
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p>
                            <strong>{{ orderData.getPickupAddress().getCompanyName() }}</strong><br />
                        </p>

                        <div class="address-line">
                            {{ admin_icon('map-marker', null, null, 'fontawesome') }} {{ orderData.getPickupAddress().format(', ') }}
                        </div>

                        <div class="delivery-information">
                            <div class="delivery-information-toggle">
                                        <span>
                                            <span class="delivery-information-toggle-label" data-show-label="Toon"
                                                  data-hide-label="Verberg"></span> afhaalinformatie
                                        </span>
                                {{ admin_icon('angle-up', null, null, 'fontawesome') }}
                                {{ admin_icon('angle-down', null, null, 'fontawesome') }}
                            </div>

                            <div class="well delivery-information-description">
                                <dl>
                                    <dd>
                                        {{ site.getPickupMethodDescription()|nl2br }}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">Opmerkingen</div>
            <div class="panel-body">
                <div class="form-group" style="margin-bottom: 5px; padding: 5px;">
                    {{ form_label(form.supplierRemark) }}
                    {{ form_widget(form.supplierRemark) }}
                </div>
                <div class="form-group" style="margin-bottom: 0; padding: 5px 5px 0 5px;">
                    {{ form_label(form.deliveryRemark) }}
                    {{ form_widget(form.deliveryRemark) }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Administratief</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    {{ form_row(form.invoiceReference) }}
                    <div style="height: 32px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>