{% import 'AdminBundle:macros:order.html.twig' as macros_order %}

<div id="order_edit">
    {% set orderData = form.vars.data %}
    {% set site = orderData.getOrderCollection().getSite() %}
    {% set isCompany = false %}

    {% if orderData.orderCollection.getCompany() %}
        {% set isCompany = true %}
    {% endif %}

    <div class="row" id="order_toolbar">
        <div class="col-md-8">
            <h4>Bestelling {{ orderData.getOrderCollection().getNumber() }}</h4>
        </div>
        <div class="col-md-4">
            <div class="checkbox checkbox-switchery switchery-xs switchery-double pull-right">
                <label>
                    exclusief BTW
                    <input type="checkbox"
                           class="switchery"{% if isCompany is same as (false) %} checked{% endif %} />
                    inclusief BTW
                </label>
            </div>
        </div>
    </div>

    {{ form_start(form, {
        attr: {
            'data-order-id': order.id
        }
    }) }}

    <div class="view">
        <div class="panel panel-default panel-order-lines">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if order.orderCollection.getFraudScore >= fraudWarningThreshold and order.orderCollection.getFraudScore < fraudBlockTreshold %}
                                <i class="mdi mdi-alert"
                                   style="font-size: 18px; color: #FFB74D; vertical-align: middle;"
                                   data-action="review-fraud"></i>
                            {% elseif order.orderCollection.getFraudScore >= fraudBlockTreshold %}
                                <i class="mdi mdi-alert-circle" data-action="review-fraud"
                                   style="font-size: 18px; color: #E57373; vertical-align: middle;"></i>
                            {% else %}
                                <i class="mdi mdi-check"
                                   style="font-size: 18px; color: #81C784; vertical-align: middle;"></i>
                            {% endif %}

                            <span id="order_number">{{ order.getOrderNumber() }}</span>

                            <span class="label bg-{{ order.status | order_status_label_class }} heading-text">{{ order.statusDescription }}</span>

                            {{ macros_order.order_priority_label(order.priority) }}

                            {% if order.status is same as('new') and order.forceManual == true %}
                                <span class="label bg-primary heading-text" style="margin-top: 5px;">HANDMATIG</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="order_overview" class="table table-borderless static-display">
                    <tr>
                        <th class="column-quantity">Aantal</th>
                        <th class="column-product">Product</th>
                        <th class="column-price-excl">Excl. BTW</th>
                        <th class="column-vat">BTW</th>
                        <th class="column-price-incl">Incl. BTW</th>
                        <th class="column-discount">Korting (incl. BTW)</th>
                        <th class="column-price-total">Totaal</th>
                    </tr>

                    {% for line in order.lines() %}
                        {% set vat = line.vatLines.current.vatRate.factor * 100 %}
                        {% set priceIncl = orderline_manager_get_price_incl(line) %}
                        {% set metadata = line.getMetadata() %}

                        <tr class="order-line{% if line.parent is not null %} child-order-line{% endif %}">
                            <td class="column-quantity text-center">
                                <span class="text">{{ line.quantity }}</span>
                            </td>

                            <td class="column-product align-center">
                                <span class="text">{{ line.product.internalName }}</span>
                            </td>

                            <td class="column-price text-right">
                                <span class="pull-left">&euro;</span>
                                <span class="text">{{ line.product.price | number_format(3) }}</span>
                            </td>

                            <td class="column-vat text-center">
                                <span class="text">{{ vat }}%</span>
                            </td>

                            <td class="column-price-incl text-right">
                                <span class="pull-left">&euro;</span>
                                <span class="text">{{ (priceIncl / line.quantity) | number_format(2) }}</span>
                            </td>

                            <td class="column-discount">
                                <span class="pull-left">&euro;</span>
                                <span class="text">{{ line.discountAmount }}</span>
                            </td>

                            <td class="column-price-total text-right">
                                <span class="pull-left">&euro;</span>
                                <span class="text">
                                    {% if isCompany %}
                                        {{ line.getTotalPrice()|number_format() }}
                                    {% else %}
                                        {{ priceIncl|number_format() }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>

                    {% endfor %}

                    <tr class="total-line total-line-price-excl">
                        <td colspan="4" style="border-top: none !important;"></td>
                        <td colspan="2" class="text-right">Totaal (excl. BTW)</td>
                        <td class="text-right">
                            <span class="pull-left">&euro;</span>

                            <span class="text">
                                {{ order.getTotalPrice()|number_format() }}
                            </span>
                        </td>
                    </tr>
                    <tr class="total-line total-line-vat">
                        <td colspan="4" style="border-top: none !important;"></td>
                        <td colspan="2" class="text-right">BTW</td>
                        <td class="text-right">
                            <span class="pull-left">&euro;</span>

                            <span class="text">
                                {{ (order.getTotalPriceIncl() - order.getTotalPrice())|number_format() }}
                            </span>
                        </td>
                    </tr>
                    <tr class="total-line total-line-price-incl">
                        <td colspan="4" style="border-top: none !important;"></td>
                        <td colspan="2" class="text-right">Totaal (incl. BTW)</td>
                        <td class="text-right">
                            <span class="pull-left">&euro;</span>

                            <span class="text">
                                {{ order.getTotalPriceIncl | number_format }}
                            </span>
                        </td>
                    </tr>
                    <tr class="total-line-placeholder">
                        <td colspan="7" style="border-top: none !important; height: 33px;">&nbsp;</td>
                    </tr>
                    <tr class="total-line-placeholder">
                        <td colspan="7" style="border-top: none !important; height: 33px;">&nbsp;</td>
                    </tr>
                </table>

                {% if canChangeToDraft %}
                    <div class="order-edit-information">
                        <div class="order-edit-information-blocked">
                            <p>
                                Let op: Deze order is al in behandeling, daardoor kan deze niet direct worden aangepast.<br>
                                Klik op “samenstelling aanpassen” om een bewerk proces te starten.
                            </p>

                            <button class="btn btn-xs btn-primary btn-change-composition" id="change_composition" data-edit-composition-url="{{ path('admin_sales_orderorder_editcomposition', {
                                order: order.getId()
                            }) }}">
                                <i class="mdi mdi-pencil"></i> Samenstelling aanpassen
                            </button>
                        </div>
                        <div class="order-edit-information-open">
                            Let op: Bij het opslaan van de wijzigingen wordt de oude order geannuleerd.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% include '@Admin/Sales/OrderOrder/delivery_form.html.twig' %}
    </div>

    {{ form_end(form) }}
</div>