{% import 'AdminBundle:macros:order.html.twig' as macros_order %}

<div id="order_edit">
    {% set orderData = form.vars.data %}
    {% set site = orderData.getOrderCollection().getSite() %}
    {% set isCompany = false %}

    {% if orderData.orderCollection.getCompany() %}
        {% set isCompany = true %}
    {% endif %}

    <div class="row" id="order_toolbar">
        <div class="col-md-8">
            <h4>Bestelling {{ orderData.getOrderCollection().getNumber() }}</h4>
        </div>
        <div class="col-md-4">
            <div class="checkbox checkbox-switchery switchery-xs switchery-double pull-right">
                <label>
                    exclusief BTW
                    <input type="checkbox"
                           class="switchery"{% if isCompany is same as (false) %} checked{% endif %} />
                    inclusief BTW
                </label>
            </div>
        </div>
    </div>

    {{ form_start(form, {
        attr: {
            'data-order-id': order.id,
            'data-action-composition-url': path('admin_sales_orderorder_editcomposition', {
               'order': order.id
           })
        }
    }) }}

    <div class="view">
        <div class="panel panel-default panel-order-lines">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-8">
                            {% if order.orderCollection.getFraudScore >= fraudWarningThreshold and order.orderCollection.getFraudScore < fraudBlockTreshold %}
                                <i class="mdi mdi-alert"
                                   style="font-size: 18px; color: #FFB74D; vertical-align: middle;"
                                   data-action="review-fraud"></i>
                            {% elseif order.orderCollection.getFraudScore >= fraudBlockTreshold %}
                                <i class="mdi mdi-alert-circle" data-action="review-fraud"
                                   style="font-size: 18px; color: #E57373; vertical-align: middle;"></i>
                            {% else %}
                                <i class="mdi mdi-check"
                                   style="font-size: 18px; color: #81C784; vertical-align: middle;"></i>
                            {% endif %}

                            <span id="order_number">{{ order.getOrderNumber() }}</span>

                            <span class="label bg-{{ order.status | order_status_label_class }} heading-text">{{ order.statusDescription }}</span>

                            {{ macros_order.order_priority_label(order.priority) }}

                            {% if order.status is same as('new') and order.forceManual == true %}
                                <span class="label bg-primary heading-text" style="margin-top: 5px;">HANDMATIG</span>
                            {% endif %}
                        </div>
                        <div class="col-xs-4">
                            <a href="#" data-order-id="{{ order.id }}"
                               class="btn btn-xs btn-success pull-right btn-order-edit-add-product"
                               id="order_edit_add_product"{% if order.status == 'draft' %} style="display: block;"{% endif %}>
                                <i class="mdi mdi-plus"></i> Voeg product toe
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="order_overview" class="table table-borderless disabled"
                       data-prototype="{{ form_widget(form.lines.vars.prototype)|e('html_attr') }}"
                       data-order-id="{{ order.id }}"
                       data-available-cards-url="{{ path('admin_sales_orderorder_getavailablepersonalizations', {
                           'product': '__PRODUCT__',
                           'type': 'cards',
                           'order': order.id
                       }) }}"
                       data-available-personalizations-url="{{ path('admin_sales_orderorder_getavailablepersonalizations', {
                           'product': '__PRODUCT__',
                           'type': 'personalizations',
                           'order': order.id
                       }) }}"
                       data-available-letters-url="{{ path('admin_sales_orderorder_getavailablepersonalizations', {
                           'product': '__PRODUCT__',
                           'type': 'letters',
                           'order': order.id
                       }) }}"
                       data-add-design-url="{{ path('admin_designer_designer_add', {
                           'product': '__PRODUCT__'
                       }) }}"
                       data-edit-design-url="{{ path('admin_designer_designer_edit', {
                           'product': '__PRODUCT__',
                           'uuid': '__UUID__',
                           'clone': '__CLONE__'
                       }) }}"
                       data-search-product-url="{{ path('admin_sales_orderorder_searchproduct', {
                           'order': order.id
                       }) }}"
                       data-product-info-url="{{ path('admin_sales_orderorder_productinformation', {
                           'order': order.id,
                           'product': '__PRODUCT__'
                       }) }}"
                       data-designer-preview-url="{{ path('admin_designer_designer_getpreviewurl', {
                           'uuid': '__UUID__'
                       }) }}"
                >
                    <tr>
                        <th class="column-delete line-delete"></th>
                        <th class="column-quantity line-quantity">Aantal</th>
                        <th class="column-actions"></th>
                        <th class="column-product">Product</th>
                        <th class="column-price-excl">Excl. BTW</th>
                        <th class="column-vat-group">BTW groep</th>
                        <th class="column-vat">BTW</th>
                        <th class="column-price-incl">Incl. BTW</th>
                        <th class="column-discount">Korting (incl. BTW)</th>
                        <th class="column-total">Totaal</th>
                    </tr>

                    {% for line in form.lines %}
                        {% set lineData = line.vars.data %}
                        {% set vat = lineData.vatLines.current.vatRate.factor * 100 %}
                        {% set priceIncl = orderline_manager_get_price_incl(lineData) %}
                        {% set metadata = lineData.getMetadata() %}

                        <tr
                                class="order-line{% if lineData.parent is not null %} child-order-line{% endif %}"
                                data-id="{{ lineData.id }}"
                                {% if lineData.parent is not null %} data-parent="{{ lineData.parent.id }}"{% endif %}
                                {% if lineData.isPersonalizationLine %} data-personalization="true"{% endif %}
                                {% if lineData.product.isCard %} data-card="true"{% endif %}
                                {% if lineData.product.isLetter %} data-letter="true"{% endif %}
                                data-transport-type="{% if lineData.product.isTransportType %}1{% else %}0{% endif %}"
                                data-index="{{ loop.index0 }}"
                        >
                            <td class="column-delete line-delete align-middle">
                                {% if not lineData.product.isTransportType and lineData.parent is null %}
                                    <a href="#" data-popup="tooltip"
                                       data-placement="right"
                                       data-original-title="Regel verwijderen"
                                       class="order-line-delete">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </td>

                            {{ form_widget(line.quantity, {
                                attr: {
                                    readonly: (lineData.product.isTransportType) or lineData.parent is not null,
                                }
                            }) }}

                            <td class="column-edit line-edit align-middle text-center">
                                {% if not lineData.product.isTransportType and lineData.parent is null %}
                                    <a href="#"
                                       data-order-id="{{ order.id }}"
                                       data-popup="tooltip"
                                       data-placement="right"
                                       data-original-title="Product bewerken"
                                       class="order-line-edit-link order-line-edit">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </td>

                            {% set productElementClass = 'element-product' %}

                            {{ form_widget(line.product) }}
                            {{ form_widget(line.price) }}
                            {{ form_widget(line.vat) }}

                            <td class="column-vat-percentage">{{ vat }}%</td>

                            {{ form_widget(line.priceIncl, {
                                value: (priceIncl / lineData.quantity)|number_format(2),
                            }) }}
                            {{ form_widget(line.discountAmount) }}

                            <td class="column-price-total line-price-total text-right">
                                <span class="pull-left">&euro;</span>

                                <span class="text">
                                {% if isCompany %}
                                    {{ lineData.getTotalPrice()|number_format() }}
                                {% else %}
                                    {{ priceIncl|number_format() }}
                                {% endif %}
                                </span>
                            </td>

                            {{ form_widget(line.metadata) }}
                        </tr>

                    {% endfor %}
                    <tr class="total-line total-line-price-excl">
                        <td class="column-delete line-delete align-middle"></td>
                        <td colspan="5" style="border-top: none !important;"></td>
                        <td colspan="2" class="text-right">Totaal (excl. BTW)</td>
                        <td class="text-right">
                            <span class="pull-left">&euro;</span>

                            <span class="text">
                                {{ order.getTotalPrice()|number_format() }}
                            </span>
                        </td>
                    </tr>
                    <tr class="total-line total-line-vat">
                        <td class="column-delete line-delete align-middle"></td>
                        <td colspan="5" style="border-top: none !important;"></td>
                        <td colspan="2" class="text-right">BTW</td>
                        <td class="text-right">
                            <span class="pull-left">&euro;</span>

                            <span class="text">
                                {{ (order.getTotalPriceIncl() - order.getTotalPrice())|number_format() }}
                            </span>
                        </td>
                    </tr>
                    <tr class="total-line total-line-price-incl">
                        <td class="column-delete line-delete align-middle"></td>
                        <td colspan="5" style="border-top: none !important;"></td>
                        <td colspan="2" class="text-right">Totaal (incl. BTW)</td>
                        <td class="text-right">
                            <span class="pull-left">&euro;</span>

                            <span class="text">
                                {{ order.getTotalPriceIncl | number_format }}
                            </span>
                        </td>
                    </tr>
                    <tr class="total-line-placeholder">
                        <td colspan="8" style="border-top: none !important; height: 33px;">&nbsp;</td>
                    </tr>
                    <tr class="total-line-placeholder">
                        <td colspan="8" style="border-top: none !important; height: 33px;">&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>

        {% include '@Admin/Sales/OrderOrder/delivery_form.html.twig' %}

    </div>

    {{ form_end(form) }}
</div>