<div class="panel panel-flat">
    <div class="panel-heading">
        <h4 class="panel-title">
            Basis instellingen activeren
        </h4>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>