{% form_theme form with '@Admin/Catalog/Assortment/form-fields.html.twig' %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Bedrijfsassortiment voor {{ company.getName }} bewerken</h5>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>