<html>
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        <style type="text/css">
            html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
            address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
            b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
            tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
            output, ruby, section, summary, time, mark, audio, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 10pt;
                font-family: Arial, Helvetica, sans-serif;
                vertical-align: baseline;
            }

            body, table {
                width: 100%;
                line-height: 1.5;
            }

            table {
                border: none;
                border-collapse: collapse;
                border-spacing: 0;
            }

            th {
                text-align: left;
            }

            td {
                vertical-align: top;
                padding: 0;
            }
        </style>
    {%- endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
