importScripts('https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js');
importScripts('https://www.gstatic.com/firebasejs/3.6.1/firebase-messaging.js');
importScripts('/bundles/admin/js/aes-json-format.js');
importScripts('/bundles/admin/js/crypto.js');

firebase.initializeApp({
    'messagingSenderId': "{{ firebase_sender_id }}"
});

const messaging = firebase.messaging();

messaging.setBackgroundMessageHandler(function (payload) {
    payload.data.target = JSON.parse(CryptoJS.AES.decrypt(payload.data.target, 'QU^MMWmR4I5KusYmtAo7NQJxejHRqKr9', {format: CryptoJSAesJson}).toString(CryptoJS.enc.Utf8));

    var options = {
        body: payload.data.body,
        icon: payload.data.icon,
        data: payload.data
    }

    return self.registration.showNotification(payload.data.title, options);
});

self.onnotificationclick = function (event) {
    event.waitUntil(clients.matchAll({
        type: "window"
    }).then(function () {
        if (clients.openWindow) {
            return clients.openWindow(event.notification.data.target);
        }
    }));

    event.notification.close();
};


