{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/customer-order.css') }}" />
{% endblock %}

{% set page_title = "account.orders.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}

    <h1>{{ page_title }}</h1>

    {% if orderCollections is empty %}
        <p><em>{{ 'customer.account.order.no_orders'|trans }}</em></p>
    {% else %}
        <table class="table table-order-collection">
            <thead>
            <tr>
                <th class="number">{{ 'label.order_collection'|trans }} #</th>
                <th class="ordered_on">{{ 'label.order_ordered_on'|trans }}</th>
                <th class="ordered_by">{{ 'label.order_ordered_by'|trans }}</th>
                <th class="invoice_address">{{ 'label.invoice_address'|trans }}</th>
                <th class="price" colspan="2">{{ 'label.total'|trans }}</th>
                <th class="info"></th>
            </tr>
            </thead>
            <tbody>
            {% for orderCollection in orderCollections %}
                <tr>
                    <td rowspan="2" class="number">
                        <a href="{{ path('app_customer_account_order_viewcollection', {id: orderCollection.getId()}) }}">{{ orderCollection.getNumber() }}</a>
                    </td>
                    <td rowspan="2" class="ordered_on">{{ orderCollection.getCreatedAt()|date('d-m-Y') }}</td>
                    <td rowspan="2" class="ordered_by">{{ orderCollection.getCustomer().getFullname() }}</td>
                    <td rowspan="2" class="invoice_address">
                        {% if orderCollection.getInvoiceAddressCompanyName() %}
                            {{ orderCollection.getInvoiceAddressCompanyName() }} <br />
                        {% endif %}

                        {{ orderCollection.getInvoiceAddressAttn() }}<br />
                        {{ orderCollection.getInvoiceAddressStreet() }} {{ orderCollection.getInvoiceAddressNumber() }}
                        <br />
                        {{ orderCollection.getInvoiceAddressPostcode() }} {{ orderCollection.getInvoiceAddressCity() }}
                    </td>
                    <td rowspan="2" class="valuta">&euro;</td>
                    <td rowspan="2" class="price">{{ orderCollection.getTotalDisplayPrice()|number_format }}</td>
                    <td class="subscription">
                        &nbsp;
                        {% if orderCollection.getSubscription() is not null %}
                            <a href="#">
                                <span class="label label-info">{{ 'label.subscription'|trans }}</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="links">
                        <a href="{{ path('app_customer_account_order_viewcollection', {id: orderCollection.getId()}) }}">{{ 'label.view_order_collection'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
