{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/customer-order.css') }}" />
{% endblock %}

{% set page_title = "account.orders_order.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}

    <a href="{{ path('app_customer_account_order_index') }}" class="order-return-order-overview">
        {{ 'customer.account.order.return_to_order_overview'|trans }}
    </a>

    <h1>{{ page_title }}</h1>

    <table class="table table-order-order">
        <thead>
        <th class="number">{{ 'label.order'|trans }} #</th>
        <th class="delivery_date">{{ 'label.delivery_date'|trans }}</th>
        <th class="delivery_address">{{ 'label.delivery_address'|trans }}</th>
        <th class="price" colspan="2">{{ 'label.total'|trans }}</th>
        <th class="info"></th>
        </thead>
        <tbody>
        {% for order in orderCollection.getOrders() %}

            <tr>
                <td rowspan="2" class="number"><a
                            href="{{ path('app_customer_account_order_vieworder', {orderCollection: order.getOrderCollection().getId(), order: order.getId()}) }}">{{ order.getCompositeNumber() }}</a>
                </td>
                <td rowspan="2" class="delivery_date">{{ order.getDeliveryDate()|date('d-m-Y') }}</td>
                <td rowspan="2" class="delivery_address">

                    {% if order.getDeliveryAddressCompanyName() %}
                        {{ order.getDeliveryAddressCompanyName() }}<br />
                    {% endif %}

                    {{ order.getDeliveryAddressAttn() }}<br />

                    {% if order.getDeliveryAddressType() is not empty and order.getDeliveryAddressType().getFields() and attribute(order.getMetadata(), 'deliveryAddressTypeFields') is defined %}
                        {% set field_descriptions = [] %}

                        {% for field in order.getDeliveryAddressType().getFields() %}
                            {% set field_key = 'field_' ~ field.getId() %}

                            {% set field_descriptions = field_descriptions|merge({
                                (field_key) : field.translate().getLabel()
                            }) %}
                        {% endfor %}

                        {% for field in order.getMetadata()['deliveryAddressTypeFields'] %}
                            {% if field.value is not empty %}
                                <strong>{{ attribute(field_descriptions, 'field_' ~ field.id) }}</strong><br />
                                {{ field.value }}<br />
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {{ order.getDeliveryAddressStreetAndNumber() }}<br />
                    {{ order.getDeliveryAddressPostcode() }} {{ order.getDeliveryAddressCity() }}
                </td>
                <td rowspan="2" class="valuta">&euro;</td>
                <td rowspan="2" class="price">{{ order.getDisplayTotalPrice() }}</td>
                <td class="order-status">
                    <span class="label {{ 'bg-' ~ order.getStatus() | order_status_label_class }}">{{ order.statusDescription }}</span>
                </td>
            </tr>
            <tr>
                <td class="links"><a
                            href="{{ path('app_customer_account_order_vieworder', {orderCollection: order.getOrderCollection().getId(), order: order.getId()}) }}">{{ 'label.view_order_order'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
