{% extends 'AppBundle::base.html.twig' %}

{% import _self as order_elements %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/customer-order.css') }}" />
{% endblock %}

{% set page_title = "account.orders_order_details.page_title"|trans ~' #'~ orderOrder.getCompositeNumber() %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}

    <a href="{{ path('app_customer_account_order_viewcollection', {id: orderOrder.getOrderCollection().getId()}) }}"
       class="order-return-to-collection">
        {{ 'customer.account.order.return_to_collection'|trans }}
    </a>

    <h1>{{ page_title }}</h1>
    <div id="order_details">

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h4>
                    {{ 'account.order_details.order_information'|trans }}
                    <span class="pull-right order-status">
                        <span class="label {{ 'bg-' ~ orderOrder.status | order_status_label_class }}">{{ orderOrder.statusDescription }}</span>
                    </span>
                </h4>

                <div class="address-block">
                    <p>
                        <strong>{{ 'label.order_ordered_on'|trans }}</strong>
                    </p>
                    <p>
                        {{ orderOrder.getOrderCollection().getCreatedAt()|localizeddate('full', 'none') }}
                        om {{ orderOrder.getOrderCollection().getCreatedAt()|date('H:i:s') }}
                    </p>

                    <br />

                    <p>
                        <strong>{{ 'label.invoice_address'|trans }}</strong>
                    </p>

                    <p>
                        {% if orderOrder.getOrderCollection().getInvoiceAddressCompanyName() %}
                            {{ orderOrder.getOrderCollection().getInvoiceAddressCompanyName() }} <br />
                        {% endif %}

                        {{ orderOrder.getOrderCollection().getInvoiceAddressAttn() }}<br />
                        {{ orderOrder.getOrderCollection().getInvoiceAddressStreetAndNumber() }}<br />
                        {{ orderOrder.getOrderCollection().getInvoiceAddressPostcode() }} {{ orderOrder.getOrderCollection().getInvoiceAddressCity() }}
                    </p>

                    <br />
                    <p>
                        <strong>{{ 'label.payment_method'|trans }}</strong>
                    </p>
                    <p>
                        {% for payment in orderOrder.getOrderCollection().getPayments() %}
                            {% if payment.getStatus().getId() == 'authorized' %}
                                {{ payment.getPaymentMethod.translate().getDescription() }}<br />
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h4>{{ 'account.order_details.delivery_information'|trans }}</h4>

                <div class="address-block">
                    <p>
                        <strong>{{ 'label.delivery_date'|trans }}</strong>
                    </p>
                    <p>
                        {{ orderOrder.getDeliveryDate()|localizeddate('full', 'none') }}
                    </p>

                    <br />

                    <p>
                        <strong>{{ 'label.delivery_address'|trans }}</strong>
                    </p>

                    <p>
                        {% if orderOrder.getDeliveryAddressCompanyName() %}
                            {{ orderOrder.getDeliveryAddressCompanyName() }} <br />
                        {% endif %}

                        {{ orderOrder.getDeliveryAddressAttn() }}<br />

                        {% if orderOrder.getDeliveryAddressType() is not empty and orderOrder.getDeliveryAddressType().getFields() and attribute(orderOrder.getMetadata(), 'deliveryAddressTypeFields') is defined %}
                            {% set field_descriptions = [] %}

                            {% for field in orderOrder.getDeliveryAddressType().getFields() %}
                                {% set field_key = 'field_' ~ field.getId() %}

                                {% set field_descriptions = field_descriptions|merge({
                                    (field_key) : field.translate().getLabel()
                                }) %}
                            {% endfor %}

                            {% for field in orderOrder.getMetadata()['deliveryAddressTypeFields'] %}
                                {% if field.value is not empty %}
                                    <strong>{{ attribute(field_descriptions, 'field_' ~ field.id) }}</strong><br />
                                    {{ field.value }}<br />
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {{ orderOrder.getDeliveryAddressStreetAndNumber() }}<br />
                        {{ orderOrder.getDeliveryAddressPostcode() }} {{ orderOrder.getDeliveryAddressCity() }}
                    </p>

                    <br />
                    <p>
                        <strong>{{ 'label.delivery_remark'|trans }}</strong>
                    </p>
                    {% if orderOrder.getDeliveryRemark() %}
                        <p>
                            {{ orderOrder.getDeliveryRemark()|nl2br }}
                        </p>
                    {% else %}
                        <p>{{ 'customer.account.order.empty_remark'|trans }}</p>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="row row-order-details">
            <div class="col-xs-12">
                <h4>{{ 'account.order_details.contents'|trans }}</h4>

                <div class="order-details-block">
                    <table class="table table-order-contents">
                        <thead>
                        <tr>
                            <th class="product">{{ 'label.product'|trans }}</th>
                            <th class="quantity">{{ 'label.quantity'|trans }}</th>
                            <th class="price" colspan="2">{{ 'label.price'|trans }}</th>
                            <th class="amount" colspan="2">{{ 'label.amount'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orderLine in orderOrder.getLines() %}
                            {% if orderLine.getParent() is null %}
                                {{ order_elements.line_purchasable(orderLine) }}

                                {% if orderLine.getDiscountAmount() %}
                                    {{ order_elements.line_discount(orderLine) }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>

                        {# hide exclusief price if site use inclusive VAT prices. #}
                        {% if orderOrder.getOrderCollection().getSite().getDefaultDisplayPrice() == 'exclusive' %}
                            <tr>
                                <td colspan="4" class="total-excluding-tax">{{ 'label.total_excluding_tax'|trans }}</td>
                                <td class="valuta">&euro;</td>
                                <td class="amount">{{ orderOrder.getDisplayTotalPriceExcl() }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-tax">{{ 'label.total_tax'|trans }}</td>
                                <td class="valuta">&euro;</td>
                                <td class="amount">{{ orderOrder.getDisplayTotalTax() }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td colspan="4" class="total-including-tax">{{ 'label.total_including_tax'|trans }}</td>
                            <td class="valuta">&euro;</td>
                            <td class="amount">{{ orderOrder.getDisplayTotalPriceIncl() }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-xs-12 col-md-6">
                <h4>{{ 'label.remark'|trans }}</h4>

                <div class="address-block">
                    <p>
                        {% if orderOrder.getSupplierRemark() %}
                            {{ orderOrder.getSupplierRemark()|nl2br }}
                        {% else %}
                            <em>{{ 'customer.account.order.empty_remark'|trans }}</em>
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <h4>{{ 'label.track_and_trace.codes'|trans }}</h4>

                <div class="address-block clearfix">
                    {% for key, collo in orderOrder.getCollos %}
                        <p>#{{ key+1 }} - {{ collo.code }} <a class="float-right" target="_blank"
                            href="https://jouw.postnl.nl/#!/track-en-trace/zoeken/{{ collo.code }}/{{ orderOrder.getDeliveryAddressCountry().getCode() }}/{{ orderOrder.getDeliveryAddressPostcode() }}">Status bekijken</a></p>
                    {% endfor %}
                </div>

            </div>

            {% if orderOrder.getOrderCollection().getSubscription() %}
                <div class="col-xs-12 col-md-6 block-subscription">
                    <h4>
                        {{ 'account.order_details.subscription_information'|trans }}
                        {#<a href="#" class="fa fa-external-link" aria-hidden="true"></a>#}
                    </h4>

                    <table class="table table-condensed">
                        <tr>
                            <td>{{ 'customer.subscription.start_date'|trans }}:</td>
                            <td>{{ orderOrder.getOrderCollection().getSubscription().getStartDate()|localizeddate('full', 'none') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'customer.subscription.end_date'|trans }}:</td>
                            <td>{{ orderOrder.getOrderCollection().getSubscription().getEndDate()|localizeddate('full', 'none') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'customer.subscription.interval'|trans }}:</td>
                            <td>{{ orderOrder.getOrderCollection().getSubscription().getRruleAsText() }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'customer.subscription.next_delivery'|trans }}:</td>
                            <td>{{ orderOrder.getOrderCollection().getSubscription().getNextDate()|localizeddate('full', 'none') }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}

{% macro line_purchasable(orderLine) %}
    <tr class="purchasable-line{% if orderLine.getParent() is not null %} child-line{% endif %}">
        <td class="product">
            {% if orderLine.getParent() %}
                <span class="fa fa-share"></span>
            {% endif %}

            {{ orderLine.getTitle() }}
        </td>
        <td class="quantity">{{ orderLine.getQuantity() }}</td>
        <td class="valuta">&euro;</td>
        <td class="price">{{ get_price(orderLine) | number_format }}</td>
        <td class="valuta">&euro;</td>
        <td class="amount">{{ (get_price(orderLine) * orderLine.quantity) | number_format }}</td>
    </tr>

    {% if orderLine.getChildren() %}
        {% import _self as order_elements %}

        {% for orderLineChild in orderLine.getChildren() %}
            {{ order_elements.line_purchasable(orderLineChild) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro line_discount(orderLine) %}
    <tr class="discount-line">
        <td class="product">
            <span class="fa fa-share"></span> {{ 'label.discount'|trans }}
        </td>
        <td colspan="3">&nbsp;</td>
        <td class="valuta">&euro;</td>
        <td class="amount">{{ orderLine.discountAmount | number_format }}</td>
    </tr>
{% endmacro %}
