{% if about is not empty %}
    <div class="container-fluid" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12" id="about-topbloemen">
                    {{ about.translate().getContent()|raw }}
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12 hidden-sm-down" id="about-clients">
                    <h2>{{ "label.topgeschenken.about.consider_it_done"|trans }}</h2>
                    <img src="{{ asset('build/images/bezorger-tg.jpg') }}" alt="{{ "label.about.consider_it_done"|trans }}">
                </div>
            </div>
        </div>
    </div>
{% endif %}