<div class="container-fluid" id="content-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12" id="categories">
                <div class="row">

                </div>
            </div>
            <div class="col-lg-3 col-sm-12" id="text-blocks">
                {% if page and page.translate().getContent() %}
                    <div class="text-block">
                        <div class="text-block-inner">
                            {{ page.translate().getContent()|raw }}
                        </div>
                        <div class="text-block-read-more" data-text-open="{{ 'read.more.text'|trans }}"
                             data-text-close="{{ 'close.button'|trans }}">
                            {{ 'read.more.text'|trans }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>