{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-account.css') }}" />
{% endblock %}

{% set page_title = "customer.account.report.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}

    <h1>{{ page_title }}</h1>

    {% if reports is empty %}
        <p><em>{{ 'customer.account.report.no_reports'|trans }}</em></p>
    {% else %}
        <table class="table table-order-collection">
            <thead>
            <tr>
                <th class="report_name">{{ 'label.report_name'|trans }}</th>
                <th class="report_from_date">{{ 'label.report_from_date'|trans }}</th>
                <th class="report_till_date">{{ 'label.report_till_date'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td class="report_name">{{ report.companyReportCustomer.companyReport.report.title }}</td>
                    <td class="report_from_date">{{ report.fromDate | date('d-M-Y H:i') }}</td>
                    <td class="report_till_date">{{ report.tillDate | date('d-M-Y H:i') }}</td>
                    <td class="links">
                        <a href="{{ path('app_customer_account_report_downloadcustomerreport', {companyReportCustomerHistory: report.id}) }}">{{ 'label.report_download'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
