{% block javascripts %}
    <script>
        var selectElement = $('input[data-action="select"]');
        var form = $('form[name="order_cancel"]');

        selectElement.on('click', function () {
            selectElement.parent().removeClass('checked');
            $(this).parent().addClass('checked');

            form.parent().removeClass('hidden');
            $('.cancel').removeClass('hidden');

            if ($(this).data('type') === 'company') {
                form.find('input[name="order_cancel[company]"]').val(1);
            } else {
                form.find('input[name="order_cancel[company]"]').val(0);
            }
        });

        $('.cancel').on('click', function () {
            $('form[name="order_cancel"]').submit();
        });
    </script>
{% endblock %}

<div class="row">
    <div class="col-xs-12">
        {% if message %}
            <div class="alert alert-danger">
                Bestelling kon niet worden geannuleerd: {{ message }}
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Order Annuleren</div>
            </div>
            <div class="panel-body">
                <div>
                    <label class="checker bg-white checked" id="uniform-select_all">
                        <span class="">
                            <input type="checkbox" data-action="select" class="form-styled" data-type="customer">
                        </span>
                    </label>

                    Annuleren voor consument
                </div>

                {% if order.supplier %}
                    <div>
                        <label class="checker bg-white" id="uniform-select_all">
                            <span class="">
                                <input type="checkbox" data-action="select" class="form-styled" data-type="company">
                            </span>
                        </label>

                        Weghalen bij leverancier
                    </div>
                {% endif %}

                <div class="form hidden">
                    {{ form_start(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" class="cancel btn btn-danger btn-xs hidden">Annuleren</button>
                <a class="btn btn-xs btn-default bg-white" data-action="cancel">Sluiten</a>
            </div>
        </div>
    </div>
</div>
