{% extends 'AdminBundle::base.html.twig' %}

{% set page_title = 'Menu\'s' %}

{% block assets_head %}
    {{ parent() }}

    {% javascripts
        'bundles/admin/js/core/libraries/jquery_ui/interactions.min.js'
        'bundles/admin/assets/nestedSortable/jquery.mjs.nestedSortable.js'
        'bundles/admin/js/form/navigation.js' %}

        <script type="text/javascript" src="{{ asset(asset_url) }}"></script>

    {% endjavascripts %}

    {% stylesheets
        'bundles/admin/css/form/navigation.css' %}

        <link rel="stylesheet" href="{{ asset(asset_url) }}" />

    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-flat">
                <div class="panel-body">
                    {% if active_menu is not defined or active_menu.getMenu.getCompanies.isEmpty is same as (true) %}
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="menus">Een menu selecteren om te wijzigen:</label>

                            <select class="form-control" name="menus" id="menus">
                                <option value="">Maak een keuze</option>
                                {% for site in sites %}
                                    <optgroup label="{{ site.translate().getDescription() }}">
                                        {% if site.getMenus() is not empty %}
                                            {% for menu in site.getMenus() %}
                                                {% set active_menu_item = (active_menu is defined and active_menu.getMenu().getId() is same as(menu.getId())) %}

                                                <option value="{{ menu.getId() }}"
                                                        data-url="{{ path('admin_site_navigation_menu', {'id': menu.getId()}) }}" {% if active_menu_item %} selected="selected"{% endif %}>{{ menu.getName() }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="" disabled>Geen menu's beschikbaar.</option>
                                        {% endif %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-xs btn-default" id="menu_select_button">
                            Selecteren
                        </button>

                        <span>of <a href="{{ path('admin_site_navigation_menu_add') }}">een nieuw menu aanmaken</a></span>
                    </div>
                    {% else %}
                        {% set company = active_menu.getMenu.getCompanies.current %}
                        <a href="{{ path('admin_customer_company_view', {id : company.getId}) }}#tab_panel_catalog" class="btn btn-primary">
                            Terug naar bedrijf
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if active_menu is defined %}
        <div class="row">
            <form method="post"
                  action="{{ path('admin_site_navigation_save', {id: active_menu.getMenu().getId()}) }}"
                  id="form_menu">
                <div class="col-md-3">
                    <div id="panel_menu_sources">
                        <div class="panel-group panel-group-control panel-group-control-right">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        Zoek een item
                                    </h6>

                                    <span class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                    </ul>
                                </span>
                                </div>
                                <div id="panel_search_items" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form">
                                            <input type="text" class="form-control" id="search_item" name="search_item"
                                                   placeholder="Vul hier de naam van een product of tekstpagina in"
                                                   autocomplete="off">
                                        </div>

                                        <div id="search_result" class="search-result"
                                             data-search-url="{{ path('admin_site_navigation_search', {
                                                 id: active_menu.getMenu().getId()
                                             }) }}">

                                        </div>

                                        <div id="search_result_button" class="row-button text-right">
                                            <button class="btn btn-xs btn-primary">Aan menu toevoegen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group panel-group-control panel-group-control-right">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        Handmatige link
                                    </h6>

                                    <span class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                    </ul>
                                </span>
                                </div>
                                <div id="panel_custom_link" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">URL:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="custom_link[url]"
                                                           placeholder="http://www.link.nl">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Linktekst:</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" name="custom_link[text]">
                                                </div>
                                            </div>
                                            <div class="form-group menu_item_blank">
                                                <div class="col-md-9 col-md-offset-3">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="custom_link[blank]" value="1"
                                                                   class="styled">
                                                            Open link in nieuw venster
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-button text-right">
                                                <button class="btn btn-primary btn-xs">Aan menu toevoegen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="panel-menu-structure" class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                Menustructuur
                                <small class="xs-small">Sleep elk item in de volgorde die je wenst. Klik het pijltje
                                    rechts van het item om extra configuratie-opties te tonen.
                                </small>

                            </h6>
                            <div class="heading-elements">
                                <div class="heading-btn">
                                    <button type="button" class="button_save btn btn-xs btn-primary">Opslaan</button>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div id="menu_sortable_errors" class="well well-sm border-left-danger mb-10">
                                <h6 class="no-margin-top text-bold">
                                    Er zijn een of meerdere problemen opgetreden:
                                </h6>

                                <ul class="list no-margin-bottom"></ul>
                            </div>

                            <ol id="menu_sortable_list"
                                class="panel-group panel-group-control panel-group-control-right"
                                {% if max_levels is defined and max_levels is not null %}data-max-levels="{{ max_levels }}"{% endif %}
                                    {% if max_root_items is defined and max_root_items is not null %}data-max-root-items="{{ max_root_items }}"{% endif %}
                                    {% if max_child_items is defined and max_child_items is not null %}data-max-child-items="{{ max_child_items }}"{% endif %}
                            >
                                {{ _self.menu_structure(active_menu, locales, default_locale, customerGroups) }}
                            </ol>
                        </div>

                        <div class="panel-footer">
                            <div class="heading-elements">
                                <div class="pull-left">
                                    <a id="button_delete_menu"
                                       href="{{ path('admin_site_navigation_menu_delete', {'id': active_menu.getMenu().getId()}) }}"
                                       class="btn btn-default text-danger">Menu verwijderen</a>
                                </div>
                                <div class="pull-right">
                                    <button type="button" class="button_save btn btn-xs btn-primary">Opslaan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <textarea name="tree_source" id="tree_source"></textarea>
                <textarea name="marked_for_removal" id="marked_for_removal"></textarea>
            </form>
        </div>

        <div id="menu_item_prototype" data-default-locale="{{ default_locale }}">
            {{ _self.menu_structure(dummy_item, locales, default_locale, customerGroups) }}
        </div>
    {% endif %}
{% endblock body %}

{% macro menu_structure(structure, locales, default_locale, customerGroups) %}
    {% for item in structure %}
        {% set menuItemEntity = null %}

        {% if item.hasEntity() %}
            {% set menuItemEntity = item.getEntity() %}
        {% endif %}

        <li class="sortable" id="menu_{{ item.getId() }}"
            data-item-id="{{ item.getId() }}" {% if item.getEntityName() and item.getEntityId() %} data-entity-id="{{ item.getEntityId() }}" data-entity-name="{{ item.getEntityName() }}"{% endif %}
            data-blank="{{ item.getBlank()|data_attribute }}">
            <div class="ui-sortable-handle">
                <div class="panel ui-sortable-handle{% if menuItemEntity is null %} custom-item{% endif %}">
                    <div class="panel-configuration">
                        <div class="tabbable">
                            <ul class="nav nav-tabs nav-tabs-bottom">
                                <li class="active"><a href="#tab_publish_menu_{{ item.getId() }}"
                                                      data-tab-id="tab_publish_menu_{{ item.getId() }}"
                                                      data-toggle="tab" data-tab-type="publish">Publicatie</a>
                                </li>
                                <li><a href="#tab_html_menu_{{ item.getId() }}" data-toggle="tab"
                                       data-tab-id="tab_html_menu_{{ item.getId() }}" data-tab-type="html">HTML</a></li>
                                <li><a href="#tab_image_menu_{{ item.getId() }}" data-toggle="tab"
                                       data-tab-id="tab_image_menu_{{ item.getId() }}"
                                       data-tab-type="image">Afbeelding</a></li>
                                <li><a href="#tab_accessibility_menu_{{ item.getId() }}" data-toggle="tab"
                                       data-tab-id="tab_accessibility_menu_{{ item.getId() }}"
                                       data-tab-type="accessibility">Toegang</a></li>
                            </ul>

                            <div class="tab-content form-horizontal">
                                <div class="tab-pane tab-pane-publish active" id="tab_publish_menu_{{ item.getId() }}">
                                    <div class="form-group menu_item_publish">
                                        <label class="col-md-3 control-label">Publiceren:</label>

                                        <div class="col-md-9">
                                            <div class="radio">
                                                <label>
                                                    Ja <input type="radio" value="1" class="init-styled"
                                                              name="menu_item[{{ item.getId() }}][publish]"{% if item.getPublish() is same as (true) or item.getPublish() is null %} checked="checked"{% endif %}>
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    Nee <input type="radio" value="0" class="init-styled"
                                                               name="menu_item[{{ item.getId() }}][publish]"{% if item.getPublish() is same as (false) %} checked="checked"{% endif %}>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group menu_item_publish_start">
                                        <label class="col-md-3 control-label">vanaf:</label>

                                        <div class="col-md-9">
                                            {{ _self.item_publish_element(item, 'publishStart') }}
                                        </div>
                                    </div>
                                    <div class="form-group menu_item_publish_end">
                                        <label class="col-md-3 control-label">t/m:</label>

                                        <div class="col-md-9">
                                            {{ _self.item_publish_element(item, 'publishEnd') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane tab-pane-content" id="tab_html_menu_{{ item.getId() }}">
                                    <div class="tabbable nav-tabs-vertical nav-tabs-left menu-item-content-tabs">
                                        <ul class="nav nav-tabs nav-tabs-bottom">
                                            {% for locale in locales %}
                                                {% set tab_id = 'tab_content_menu_' ~ item.getId() ~ '_' ~ locale %}

                                                {% if locale == 'en_US' %}
                                                    {% set locale = 'en' %}
                                                {% endif %}

                                                {% set icon = locale[:2]|lower %}

                                                {% if icon|lower == 'en' %}
                                                    {% set icon = 'gb' %}
                                                {% endif %}

                                                {% if locale == 'nl_BE' %}
                                                    {% set icon = 'be' %}
                                                {% endif %}

                                                <li{% if locale is same as(default_locale) %} data-default-locale="true"{% endif %}>
                                                    <a href="#{{ tab_id }}" data-tab-id="{{ tab_id }}"
                                                       data-toggle="tab">
                                                        {{ admin_icon(icon, false, {}, 'flags') }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <div class="tab-content form-horizontal">
                                            {% for locale in locales %}
                                                <div class="tab-pane"
                                                     id="tab_content_menu_{{ item.getId() }}_{{ locale }}">
                                                    {% set name = 'content' %}
                                                    {% set id = 'menu_item_' ~ item.getId() ~ '_' ~ name ~ '_' ~ locale %}
                                                    {% set field_name = 'menu_item['~ item.getId() ~'][' ~ name ~ ']['~ locale ~']' %}

                                                    {% set value = item.translate(locale, false).getContent() %}

                                                    <textarea type="text"
                                                              id="{{ id }}"
                                                              name="{{ field_name }}"
                                                              class="not-removable input-xs form-control form-control"
                                                              {% if item.hasEntity() is same as(true) and value is null %}placeholder="{{ item.getDisplayTitle() }}"{% endif %}
                                                              data-locale="{{ locale }}"
                                                    >{% if item.hasEntity() is same as(false) or (item.hasEntity() is same as(true) and value is not null) %}{{ value }}{% endif %}</textarea>

                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane tab-pane-image" id="tab_image_menu_{{ item.getId() }}">
                                    <code>Work in progress</code>
                                </div>

                                <div class="tab-pane tab-pane-accessibility"
                                     id="tab_accessibility_menu_{{ item.getId() }}">

                                    <div class="tab-accessibility-menu-entity">
                                        <div class="well well-sm">
                                            <p>De toegang wordt bepaald bij het item &quot;<span
                                                        class="entity-display-title"></span>
                                                &quot;</p>

                                            <div class="row menu_item_login_required">
                                                <div class="col-md-3">Zichtbaar voor:</div>

                                                <div class="col-md-9">
                                                    <em><span class="entity-login-required"></span></em>
                                                </div>
                                            </div>

                                            <div class="row menu_item_customer_groups">
                                                <div class="col-md-3">Klantgroep(en):</div>

                                                <div class="col-md-9"><em><span
                                                                class="entity-customer-groups"></span></em></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-accessibility-menu-manual">
                                        <div class="form-group menu_item_login_required">
                                            <label class="col-md-3 control-label">Zichtbaar voor:</label>

                                            <div class="col-md-9">
                                                <div class="radio">
                                                    <label>
                                                        Iedereen <input type="radio" value="0" class="init-styled"
                                                                        name="menu_item[{{ item.getId() }}][loginRequired]"{% if item.getLoginRequired() is same as (false) or item.getLoginRequired() is null %} checked="checked"{% endif %}>
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        Ingelogde gebruikers <input type="radio" value="1"
                                                                                    class="init-styled"
                                                                                    name="menu_item[{{ item.getId() }}][loginRequired]"{% if item.getLoginRequired() is same as (true) %} checked="checked"{% endif %}>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group menu_item_customer_groups">
                                            <label class="col-md-3 control-label">Klantgroep(en):</label>

                                            <div class="col-md-9">
                                                <select name="menu_item[{{ item.getId() }}][customerGroups]"
                                                        multiple="true" class="init-multiselect">
                                                    {% for customerGroup in customerGroups %}
                                                        <option value="{{ customerGroup.getId() }}"{% if item.getAccessibleCustomerGroups() is not null and customerGroup.getId() in item.getAccessibleCustomerGroupIds() %} selected="selected"{% endif %}>{{ customerGroup.getDescription() }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading ui-sortable-handle">
                        <h6 class="panel-title">
                            {{ item.getDisplayTitle() }}
                        </h6>

                        <span class="heading-elements">
                            <ul class="icons-list">
                                <li class="menu-title-type">
                                    <small>
                                        {% if menuItemEntity is not null %}
                                            {{ menuItemEntity.getMenuSourceConfig().labels.singular }}
                                        {% else %}
                                            Handmatige link
                                        {% endif %}
                                    </small>
                                </li>

                                {% if menuItemEntity is not null and item.isEntityAvailable() is same as(false) %}
                                    {{ _self.item_availability_information(item.getEntity(), 'menu-item-entity') }}
                                {% else %}
                                    {{ _self.item_availability_information(item, 'menu-item') }}
                                {% endif %}

                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </span>
                    </div>
                    <div id="collapsible-control-right-group1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group menu_item_url">
                                <label>URL</label>
                                {{ _self.item_translation_element(item, 'url', locales, default_locale) }}
                            </div>

                            <div class="form-group menu_item_title">
                                <label>Linktekst</label>
                                {{ _self.item_translation_element(item, 'title', locales, default_locale) }}
                            </div>

                            <div class="form-group menu_item_blank">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="menu_item[{{ item.getId() }}][blank]"{% if item.getBlank() %} checked="checked"{% endif %}
                                               value="1"
                                               class="init-styled">
                                        Open link in nieuw venster
                                    </label>
                                </div>
                            </div>

                            <div class="menu_entity_original"{% if item.translate().getTitle() %} style="display: block;"{% endif %}>
                                {% if menuItemEntity is not null %}
                                    Origineel: <span>{{ menuItemEntity.getMenuTitle() }}</span>
                                {% endif %}
                            </div>

                            <ul class="menu_item_actions">
                                <li class="action_delete">
                                    <a href="#delete" class="text-danger">Verwijderen</a>
                                </li>
                                <li class="action_cancel">
                                    <a href="#cancel">Annuleren</a>
                                </li>

                                <li class="action_options">
                                    <a href="#options"><span class="fa fa-cog"></span> Instellingen</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% if item|length > 0 %}
                <ol>
                    {{ _self.menu_structure(item, locales, default_locale, customerGroups) }}
                </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro item_availability_information(entity, type) %}
    {% if type == 'menu-item-entity' and entity.isDeleted() is same as (true) %}
        <li>
            <span class="text-danger fa fa-exclamation" data-popup="tooltip"
                  data-html="true"
                  title="Het menu item wordt niet meer getoond op de website omdat het gekoppelde item verwijderd is."
                  data-placement="top" data-container="body"></span>
        </li>
    {% else %}
        {% if entity.isPublished() is same as(false) and entity.isScheduled() is same as (false) %}
            {% if type == 'menu-item-entity' %}
                {% set popover_title = 'Het menu-item wordt niet meer getoond op de website omdat het gekoppelde item niet gepubliceerd is.' %}
            {% else %}
                {% set popover_title = 'Het menu-item wordt niet getoond op de website omdat deze niet gepubliceerd is.' %}
            {% endif %}

            <li>
                <span class="fa fa-eye-slash text-danger" data-popup="tooltip"
                      data-html="true"
                      title="{{ popover_title }}{% if entity.hasSchedule() %}<br />{% if entity.getPublishStart() is not null %}<br /><span style='display: inline-block; width: 60px;'>vanaf:</span>{{ entity.getPublishStart()|date('d-m-Y H:i') }}{% endif %}{% if entity.getPublishEnd() is not null %}<br /><span style='display: inline-block; width: 60px;'>t/m:</span>{{ entity.getPublishEnd()|date('d-m-Y H:i') }}{% endif %}{% endif %}"
                      data-placement="top" data-container="body"></span>
            </li>
        {% endif %}
        {% if entity.isScheduled() %}
            {% if type == 'menu-item-entity' %}
                {% set popover_title = 'Het menu-item wordt nog niet getoond op de website omdat het gekoppelde item staat ingepland.' %}
            {% else %}
                {% set popover_title = 'Het menu-item wordt nog niet getoond op de website omdat deze staat ingepland.' %}
            {% endif %}

            <li>
                <span class="fa fa-clock-o text-warning" data-popup="tooltip"
                      data-html="true"
                      title="{{ popover_title }}<br /><br /><span style='display: inline-block; width: 60px;'>vanaf:</span>{{ entity.getPublishStart()|date('d-m-Y H:i') }}{% if entity.getPublishEnd() is not null %}<br /><span style='display: inline-block; width: 60px;'>t/m:</span>{{ entity.getPublishEnd()|date('d-m-Y H:i') }}{% endif %}"
                      data-placement="top" data-container="body"></span>
            </li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro item_publish_element(item, name) %}
    {% set datetime = attribute(item, 'get' ~ name) %}
    {% set id = 'menu_item_' ~ item.getId() ~ '_' ~ name %}
    {% set name = 'menu_item['~ item.getId() ~'][' ~ name ~ ']' %}

    <div class="datetime_picker">
        <input type="hidden"
               id="{{ id }}"
               name="{{ name }}"
               max_length="17"
               class="not-removable input-xs form-control"
               {% if datetime is not null %}value="{{ datetime|date('Y-m-d H:i:s') }}"{% endif %} />

        <div class="datetime_picker_input_container has-feedback has-feedback-left">
            <input type="text" name="{{ id ~ '_date' }}" id="{{ id ~ '_date' }}"
                   class="form-control date input-xs"
                   {% if datetime is not null %}data-value="{{ datetime|date('Y-m-d') }}"{% endif %}
                   data-hidden-suffix="_hidden"
                   data-element-id="{{ name }}" />

            <div class="form-control-feedback form-control-feedback-date">
                <span class="icon-calendar22 "></span>
            </div>

            <input type="text" name="{{ id ~ '_time' }}" id="{{ id ~ '_time' }}"
                   class="form-control time input-xs"
                   {% if datetime is not null %}data-value="{{ datetime|date('H:i') }}"{% endif %}
                   data-hidden-suffix="_hidden"
                   data-element-id="{{ name }}" />
            <div class="form-control-feedback form-control-feedback-time">
                <span class="icon-alarm "></span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro item_translation_element(item, name, locales, default_locale) %}

    <div class="translation-item-container" style="height: 36px;">
        <div class="translation-item-container-inner">
            {% for locale in locales %}
                {% set id = 'menu_item_' ~ item.getId() ~ '_' ~ name ~ '_' ~ locale %}
                {% set field_name = 'menu_item['~ item.getId() ~'][' ~ name ~ ']['~ locale ~']' %}
                {% set value = null %}

                {% if attribute(item.translate(locale, false), 'get' ~ name) is defined %}
                    {% set value = attribute(item.translate(locale, false), 'get' ~ name) %}
                {% endif %}

                <div class="translation-item{% if locale is same as (default_locale) %} active{% endif %}">
                    <div class="form-group">
                        <input type="text"
                               id="{{ id }}"
                               name="{{ field_name }}"
                               class="not-removable input-xs form-control form-control"
                               {% if item.hasEntity() is same as(false) or (item.hasEntity() is same as(true) and value is not null) %}value="{{ value }}"
                               {% endif %}{% if item.hasEntity() is same as(true) and value is null %}placeholder="{{ item.getDisplayTitle() }}"{% endif %}
                               data-locale="{{ locale }}"
                                {% if item.hasEntity() is same as(false) and locale is same as (default_locale) %} required="required"{% endif %}
                        >
                    </div>

                    {% if locale == 'en_US' %}
                        {% set locale = 'en' %}
                    {% endif %}

                    {% set icon = locale[:2]|lower %}

                    {% if icon|lower == 'en' %}
                        {% set icon = 'gb' %}
                    {% endif %}

                    {% if locale == 'nl_BE' %}
                        {% set icon = 'be' %}
                    {% endif %}

                    <div class="translation-item-description">
                        {{ admin_icon(icon, false, {'class': 'position-left'}, 'flags') }}

                        {% if item.hasEntity() is same as(false) and locale is same as (default_locale) %}
                            <span class="language-name">*</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
