{% extends "CmsBundle::layout.html.twig" %}

{% set two_factor = true %}

{% block fos_user_content %}
    <form action="" method="post">
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-warning-400 text-warning-400"><i class="icon-shield-notice"></i></div>
                <h5 class="content-group">Twee staps authenticatie
                    <small class="display-block">Een verificatiecode ontvangen van de Google Authenticator-app</small>
                </h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <input type="text" id="_auth_code" name="_auth_code" class="form-control"
                       placeholder="Geef de code van zes cijfers op" required="required" />

                <div class="form-control-feedback">
                    <i class="icon-shield2 text-muted"></i>
                </div>
            </div>

            <div class="form-group login-options">
                <label class="checkbox-inline">
                    <input id="_trusted" type="checkbox" name="_trusted" class="styled" /> Deze computer 90 dagen
                    onthouden
                </label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Inloggen <i
                            class="icon-circle-right2 position-right"></i></button>
            </div>

            <div class="text-center">
                <a href="{{ path("admin_user_security_logout") }}">Annuleren</a>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}

