{% set footer_menu = topbloemen_menu('footer', site)|slice(0, 3) %}

<div class="container-fluid" id="footer">
    <div class="container">
        <div class="row">
            {% for parent_item in footer_menu %}
                <div class="col-lg-3">
                    <div class="footer-dropdown">
                        <h3>{{ parent_item.getDisplayTitle() }} <span class="fa fa-caret-up up"></span> <span
                                    class="fa fa-caret-down down"></span></h3>

                        {% if parent_item|length > 0 %}
                            <ul>
                                {% for item in parent_item %}
                                    {% if item.isAvailable() %}
                                        <li>
                                            <a href="{{ item.getAbsoluteUrl() }}"{% if item.getBlank() %} target="_blank"{% endif %}>{{ item.getDisplayTitle() }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

            {% if  domain.getDomain() is defined and domain.getDomain() is not null %}
                <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0">
                    {% if not domain.getDomain().getSite().paymentMethodLogosHidden %}
                        {{ include('@App/blocks/payment-methods.html.twig') }}
                    {% endif %}

                    {% set site = domain.getDomain().getSite() %}
                    <div class="footer-center hidden-md-down">
                        {# <div class="logo"><img src="/bundles/app/img/logos/thuiswinkel-grijs.jpg" /></div> #}
                        <div class="telefoon">
                            <span class="fa fa-phone"></span>
                            <p>
                                <strong>{{ site.getFormattedPhoneNumber(constant('libphonenumber\\PhoneNumberFormat::NATIONAL')) }}</strong><br />

                                {% for day in app_site_opening_hours() %}
                                    {{ day.dayName|lower }} {{ day.fromHours }}u - {{ day.tillHours }}u<br />
                                {% endfor %}
                            </p>
                        </div>
                        {#    <div class="social">
                                <span class="fa fa-facebook"></span>
                                <p>
                                    <strong>156.000</strong><br />
                                    Facebook Fans
                                </p>
                            </div> #}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
