<div class="container-fluid" id="footer-small">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12" id="footer-usp">
                <div class="row">
                    <div class="usp-small">
                        {% include 'AppBundle:blocks:usp.html.twig' with {id:'usp_cart', col_class:'col-lg-6 col-sm-6 col-xs-6'} %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="social-small">
                    {#<div class="social">#}
                    {#<span class="fa fa-facebook"></span>#}
                    {#<p>#}
                    {#<b>156.000</b><br/>#}
                    {#Facebook Fans#}
                    {#</p>#}
                    {#</div>#}
                    <div class="telefoon">
                        <span class="fa fa-phone"></span>
                        <p>
                            <b>{{ site.getFormattedPhoneNumber(constant('libphonenumber\\PhoneNumberFormat::NATIONAL')) }}</b><br/>

                            {% for day in app_site_opening_hours() %}
                                {{ day.dayName|lower }} {{ day.fromHours }} - {{ day.tillHours }} {{ "hour"|trans }}<br />
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {% if not domain.domain.site.paymentMethodLogosHidden %}
                    <div class="payments">
                        {{ include('@App/blocks/payment-methods.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
