{% import _self as this %}

<div id="cart_invalid_combination" data-replace-url="{{ path('app_cart_replacecartorder', {
    id: '%%ID%%',
    quantity: '%%QUANTITY%%'
}) }}" data-text-confirm-label="{{ 'cart.modal.invalid_combination.confirm'|trans }}">
    <p>{{ 'cart.modal.invalid_combination.description'|trans|nl2br }}</p>

    <div class="row">
        <div class="col-md-6 col-xs-12" data-current-product="true">
            <span class="item-container-description">{{ 'cart.modal.invalid_combination.current_title'|trans }}</span>

            {% if cart.count() == 1 %}
                {% set cartProduct = null %}
                {% set quantity = null %}

                {% for line in cart.getCurrentOrder().getLines() %}
                    {% if line.getProduct().getPurchasable() %}
                        {% set cartProduct = line.getProduct() %}
                        {% set quantity = line.getQuantity() %}
                    {% endif %}
                {% endfor %}

                {{ this.item_container(cartProduct, quantity) }}
            {% else %}
                <div class="item-container item-container-list">
                    <ul>
                        {% for line in cart.getCurrentOrder().getLines() %}
                            {% if line.getProduct().getPurchasable() %}

                                {% if not line.getParent() %}
                                    <li>{{ line.getQuantity() }}x {{ line.getProduct().translate.getTitle() }}</li>

                                    {% for subLine in line.getChildren() %}
                                        <li class="child">
                                            <span class="fa fa-share theme-color"></span> {{ subLine.getQuantity() }}
                                            x {{ subLine.getProduct().translate.getTitle() }}
                                        </li>
                                    {% endfor %}
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-xs-12" data-new-product="true">
            <span class="item-container-description">{{ 'cart.modal.invalid_combination.new_title'|trans }}</span>

            {{ this.item_container(product) }}
        </div>
    </div>
</div>

{% macro item_container(product, quantity) %}
    <div class="item-container" data-id="{{ product.getId() }}">
        <div class="item-title">
            {% if quantity is not empty %}{{ quantity }}{% else %}<span id="quantity"></span>{% endif %}
            x {{ product.translate.getTitle() }}
        </div>

        <div class="item-image">
            {% set productImage = product.getMainImage() %}

            {% if productImage %}
                <img src="{{productImage.getPath() | imagine_filter('product_thumbnail')}}">
            {% else %}
                <img src="{{ asset(theme_img_base_path ~ 'placeholder.png') }}">
            {% endif %}
        </div>
    </div>
{% endmacro %}
