{% macro product_combination_item(genericProduct, combination) %}
    {% set cProduct = combination.getProduct %}

    {% set path = path('admin_catalog_product_view', {id: cProduct.getId}) %}

    {% if cProduct.isPersonalization %}
        {% set path = path('admin_catalog_productpersonalization_view', {id: cProduct.getId}) %}
    {% endif %}

    <div class="col-lg-2 col-md-3">

        <div class="product-item">

            <div class="product-item-image">
                {% if cProduct.getMainImage() is not empty %}
                    <img src="{{ cProduct.getMainImage().getPath() | imagine_filter('product') }}"
                         alt="{{ cProduct.getName() }}">
                {% else %}
                    <div class="product-item-image-placeholder">
                        Geen afbeelding ingesteld
                    </div>
                {% endif %}
            </div>

            <div class="product-item-description"
                 title="{{ cProduct.getName() }}">
                {{ cProduct.getName() }}
            </div>

            <div class="product-item-price">
                &euro; {{ get_price(cProduct.cheapestVariation)|number_format }}
            </div>

            {% if genericProduct.isConfigurable %}
                <div class="btn btn-primary quantityButton">
                    Besteleenheden instellen
                </div>
            {% endif %}

            <a href="{{ path }}"
               id="product_item_{{ cProduct.getId() }}"
               class="btn btn-primary"
               data-combination-id="{{ combination.getId() }}"
               data-min-quantity="{{ cProduct.getMinQuantity() }}"
               data-max-quantity="{{ cProduct.getMaxQuantity() }}"
            >
                Bekijken
            </a>

            {%
                set addCombinationProductPath = path(
                    'admin_catalog_productcombination_removeproduct',
                    {combination: combination.getId, product: cProduct.getId}
                )
            %}
            <a href="{{ addCombinationProductPath }}" class="btn btn-danger combination-remove-item">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>

        </div>
    </div>
{% endmacro %}
