{% macro role_overview_table(roles, form, split) %}
    <table class="table roles-widget">
        {% if split is not defined or split is same as (false) or split is null %}
            {% set firstResult = roles|first %}
            <thead>
            <tr>
                <th class="controller">Controller</th>
                {% for key, value in firstResult %}
                    <th class="mask">{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}

        {% for controller, masks in roles %}
            {% if split is defined and split is same as (true) %}
                <tr>
                    <td class="controller" rowspan="2">{{ controller|capitalize }}</td>
                    {% for mask, role in masks %}
                        <th class="mask">{{ mask }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
                {% if split is not defined or split is same as (false) or split is null %}
                    <td class="controller">{{ controller|capitalize }}</td>
                {% endif %}

                {% for mask, role in masks %}
                    <td class="mask">
                        <div class="checkbox">
                            <input type="checkbox" name="{{ form.vars.full_name }}"
                                   value="{{ role }}"{% if role in form.vars.data %} checked="checked"{% endif %}
                                   class="styled">
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro role_overview_table %}