{% extends 'AdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% set page_title = page.translate().getTitle() %}

{% block body %}
    <div id="page" class="container-fluid page-wrapper">
        <div class="container">
            {% if errorReference %}
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <pre>{{ errorReference }}</pre>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}