<div class="col-lg-12 col-sm-12">
    <div class="filter" style="display: none;">
        {% for propertyId, filter in filters %}
            <div class="col-lg-3 col-sm-12 less-padding-right">
                <p class="title">{{ filter.filter }}</p>
                <div class="choices">
                    <div class="left">
                        {% for optionId, value in filter.values %}
                            <div class="check-row"><input type="checkbox" class="filter-check"
                                                          name="category"
                                                          id="check-{{ propertyId }}-{{ optionId }}"
                                                          value="{{ propertyId }}-{{ optionId }}"
                                                          style="display: block;">
                                <p>{{ value.name }} (<span class="filter-count">{{ value.count }}</span>)
                                </p></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-lg-3 col-sm-12">
            <p class="title">Prijs</p>
            <div class="prijs">
                <div id="slider-range"
                     class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                     data-max-price="{{ maxPrice }}" data-min-price="{{ minPrice }}"></div>
                <div class="piece">
                    <p>€</p> <input type="number" id="min-amount" class="input-text" min="0">
                </div>
                <div class="piece">
                    <p>tot €</p> <input type="number" id="max-amount" class="input-text">
                </div>
            </div>
        </div>
    </div>
</div>