#wizard #identification .form-group {
    margin-bottom: 0px !important;
}

#wizard #identification .form-group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#wizard .form-group > .btn-group .btn {
    font-size: 14px;
}

#wizard .form-group > .btn-group .btn > span,
#wizard .form-group > .btn-group .btn > i {
    display: block;

    margin-top: 10px;
    margin-bottom: 10px;
}

#wizard #other_countries {
    display: none;
}

#wizard #kvk,
#wizard #btw {
    display: none;
}

#wizard #kvk input,
#wizard #btw input {
    text-align: center;
}

#wizard #kvk input {
    -moz-appearance: textfield;
}

#wizard #kvk input::-webkit-outer-spin-button,
#wizard #kvk input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#wizard #identification button {
    margin-top: 15px;
    font-size: 12px;
}

#wizard #identification #details {
    text-align: left;
    display: none;
    margin: 15px 0 0 0;

    border-top: 1px dotted #ccc;
}

#wizard #identification #details address {
    margin-bottom: 0px;
}

#wizard #identification #details #address_form .form-group {
    margin-bottom: 5px !important;
}

#wizard #identification #details #address_form {
    display: none;
}

#wizard #identification #details address.main #address_form,
#wizard #identification #details address.invoice #address_form {
    display: block;
}

#wizard #identification #details .address-loading {
    display: none;

    position: absolute;
    top: 0;
    right: -18px;
    transform: translateY(50%);
}

#wizard #identification #details address.main .invoice_equals_main_container {
    display: none;
}

#wizard #identification #details address.invoice .invoice_equals_main_container {
    display: block;
}

#wizard #identification .unregistered_establishment {
    display: none;
}

#wizard #organization_settings {
    display: none;
}

#wizard #customer_groups,
#wizard #supplier_groups {
    display: none;
}

#wizard #customer_groups .btn-group,
#wizard #supplier_groups .btn-group {
    width: 275px;

    margin-bottom: 20px;
}

#wizard #customer_groups .multiselect-container {
    width: 100%;
}

#wizard #verified {
    display: none;
}

#wizard #row_supplier_info {
    border-top: 1px dotted #ccc;

    margin-top: 20px;
    padding-top: 15px;
}

#wizard #customer {
    display: none;
}