#panel_menu_sources .panel-heading,
#panel-menu-structure > .panel-heading {
    padding: 10px;

    color: #333333;
    background-color: #fcfcfc;
    border-color: #ddd;
}

#panel_menu_sources .panel-footer,
#panel_menu_sources .panel-body,
#panel-menu-structure > .panel-body,
#panel-menu-structure > .panel-footer {
    padding: 10px;
}

#panel_menu_sources .panel-heading h6.panel-title,
#panel-menu-structure > .panel-heading h6.panel-title {
    font-size: 13px;
}

#panel_search_items .search-result {
    margin-top: 5px;

    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    border: 1px solid #ddd;

    overflow: auto;
    max-height: 300px;

    display: none;
}

#panel_search_items #search_result_button {
    display: none;

    margin-top: 15px;
}

#panel_search_items .search-result #no_results .fa {
    position: absolute;

    font-size: 12px;
    height: 12px;
    line-height: 12px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#panel_search_items .search-result #no_results {
    position: relative;
    margin: 0;
    opacity: 0.8;

    padding: 10px 30px;
}

#panel_search_items .search-result ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#panel_search_items .search-result .menu-source-description {
    background: #f9f8f8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    padding: 8px 12px;
}

#panel_search_items .search-result .menu-source-description:first-child {
    border-top: none;
}

#panel_search_items .search-result .menu-source-item {
    padding: 7px 12px;
}

#panel_search_items .search-result .menu-source-item .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

#panel_custom_link {

}

#panel_custom_link .row-button {
    margin-top: 15px;
}

#panel-menu-structure .panel-configuration {
    position: absolute;
    width: 480px;
    height: 100%;
    border: 1px solid #ddd;
    top: 0;
    left: 381px;

    display: none;
}

#panel-menu-structure .panel-configuration > .tabbable {
    height: 100%;
}

#panel-menu-structure .panel-configuration > .tabbable > .tab-content {
    height: calc(100% - 36px);
}

#panel-menu-structure .panel-configuration .nav-tabs {
    margin-bottom: 0;
    background: #f9f8f8;
}

#panel-menu-structure .panel-configuration .nav > li > a {
    padding: 7px 15px;

    line-height: 150% !important;
}

#panel-menu-structure .panel-configuration .nav > li > a:after {
    bottom: -3px !important;
}

#panel-menu-structure .panel-configuration .nav > li.active > a:after {
    background-color: #2196F3;
}

#panel-menu-structure .panel-configuration .tab-content {
    padding: 0;
}

#panel-menu-structure .panel-configuration .tab-content .tab-pane-publish,
#panel-menu-structure .panel-configuration .tab-content .tab-pane-image,
#panel-menu-structure .panel-configuration .tab-content .tab-pane-accessibility {
    padding: 10px;
}

#panel-menu-structure .panel-configuration .tab-content .tab-pane-accessibility {
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#panel-menu-structure .panel-configuration .tab-content .tab-pane-accessibility.loading {
    background-image: url('/bundles/app/img/ajax-loader.gif');
}

#panel-menu-structure .panel-configuration .form-horizontal div.form-group {
    line-height: 20px;
    margin-bottom: 10px;
}

#panel-menu-structure .panel-configuration .form-horizontal .form-control-feedback {
    height: 32px;
    line-height: 32px;
}

#panel-menu-structure > .panel-heading .heading-elements {
    right: 10px;
}

#panel-menu-structure .panel-title .xs-small {
    font-size: 11px;
}

#menu_sortable_errors {
    display: none;
}

#menu_sortable_list {
    list-style-type: none;
    padding-left: 0;
}

#menu_sortable_list ol {
    list-style-type: none;
    padding-left: 25px;
}

#menu_sortable_list .panel {
    border-radius: 0px;
}

#menu_sortable_list .panel-heading {
    padding: 8px 12px;

    background: #f9f8f8;
    border-radius: 0;
}

#menu_sortable_list .panel-heading .heading-elements {
    right: 12px;
    z-index: 1;
}

#menu_sortable_list .panel-heading .heading-elements a {
    cursor: pointer;
}

#menu_sortable_list .panel-heading .menu-title-type {
    font-size: 12px !important;
    opacity: 0.8;
}

#menu_sortable_list .panel-heading .icons-list .fa[data-popup="tooltip"] {
    cursor: help;
}

#menu_sortable_list .panel-title {
    font-size: 13px;
}

#menu_sortable_list .panel-title > a:before {
    font-size: 12px;

    margin-top: -6px;
}

#menu_sortable_list .panel-heading.ui-sortable-handle:hover {
    /*border-color: #bbb;*/
    cursor: move;
}

#menu_sortable_list .ui-sortable-placeholder {
    outline: 1px dashed #4183C4;

    visibility: visible !important;
    margin-bottom: 10px;
}

#menu_sortable_list .panel {
    margin-bottom: 10px;
}

#menu_sortable_list .panel-body {
    padding: 12px;

    min-height: 170px;
}

#menu_sortable_list .custom-item .panel-body {
    min-height: 210px;
}

#menu_sortable_list .panel-body .form-group {
    margin-bottom: 10px;
    line-height: 100%;
}

#menu_sortable_list .panel-body .form-group .translation-item-container .translation-item-container-inner {
    /*z-index: 99;*/
}

#menu_sortable_list .panel-body .form-group .translation-item-container .translation-item .translation-item-description {
    top: 10px;
}

#menu_sortable_list .panel-body .form-group .translation-item-container .translation-item .translation-item-description .language-name {
    margin-left: -5px;
}

#menu_sortable_list .panel-body .form-group .translation-item-container .form-group {
    margin-bottom: 0px;
}

#menu_sortable_list .tab-accessibility-menu-entity,
#menu_sortable_list .tab-accessibility-menu-manual {
    display: none;
}

#menu_sortable_list .menu_item_customer_groups select {
    height: auto !important;
}

#menu_sortable_list .menu_item_customer_groups .btn-group,
#menu_sortable_list .menu_item_customer_groups .multiselect-container {
    width: 100%;
}

#menu_sortable_list .tab-pane-content {
    height: 100%;
}

#menu_sortable_list .menu-item-content-tabs {
    height: 100%;
}

@media (min-width: 769px) {
    #menu_sortable_list .menu-item-content-tabs.nav-tabs-vertical .nav-tabs {
        width: 30px !important;
        padding-right: 0px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}

#menu_sortable_list .menu-item-content-tabs .nav > li > a {
    padding-left: 0px;
    padding-right: 0px;

    text-align: center;
    border-bottom: 1px solid #ddd;
}

#menu_sortable_list .menu-item-content-tabs .nav > li .flagicon {
    top: 0px;
}

#menu_sortable_list .menu-item-content-tabs .cke_top {
    padding: 4px 4px 3px 4px;
    border-bottom: 1px solid #ddd;
}

#menu_sortable_list .menu-item-content-tabs .cke_chrome {
    border-top: none;
    border-bottom: none;
}

#menu_sortable_list .menu-item-content-tabs .cke_toolgroup {
    margin: 0;
}

#menu_sortable_list .panel-body .form-group:last-child {
    margin-bottom: 0px;
}

#menu_sortable_list .panel-body .form-group > label {
    font-size: 11px;
    line-height: 11px;
}

#menu_sortable_list .panel-body .form-group .checkbox label {
    font-size: 12px;
    padding-top: 4px;
}

#menu_sortable_list .panel-body .menu_item_url {
    display: none;
}

#menu_sortable_list .custom-item .menu_item_url {
    display: block;
}

#menu_sortable_list .menu_entity_original {
    display: none;
    font-size: 11px;
    font-style: italic;
    color: #999999;
}

#menu_sortable_list .custom-item .menu_entity_original {

}

#menu_sortable_list .menu_item_actions {
    position: absolute;
    margin: 0;
    padding: 0;

    list-style: none;

    width: 100%;
    bottom: 10px;
}

#menu_sortable_list .menu_item_actions li {
    position: relative;
    display: inline-block;

    padding-right: 10px;
    padding-left: 5px;
}

#menu_sortable_list .menu_item_actions li.action_delete:after {
    position: absolute;

    content: '|';

    top: 0;
    right: 0;
}

#menu_sortable_list .menu_item_actions li:first-child {
    padding-left: 0;
}

#menu_sortable_list .menu_item_actions li:last-child {
    position: absolute;

    padding-right: 0;

    right: 25px;
}

#menu_sortable_list .menu_item_actions a {
    font-size: 12px;
    transition: all .15s linear;

    opacity: 0.8;
}

#menu_sortable_list .menu_item_actions a:hover {
    opacity: 1;
}

#menu_sortable_list .menu_item_actions .action_cancel a,
#menu_sortable_list .menu_item_actions .action_options a {
    color: #333;
}

#menu_sortable_list li > div {
    position: relative;
    height: auto;
    min-height: 20px;
    width: 382px;
    line-height: 30px;
    /*overflow: hidden;*/
    word-wrap: break-word;
}

#menu_item_prototype {
    display: none;
}

#tree_source,
#marked_for_removal {
    display: none;
}