#container_roles {
    display: none;
}

.role-inherited-by-group {
    opacity: 0.6;
    cursor: not-allowed;
}

.role-inherited-by-group * {
    cursor: not-allowed !important;
}

/*.role-inherited-by-group.checkbox:after {*/
/*position: absolute;*/

/*content: ' ';*/

/*width: 100%;*/
/*height: 100%;*/

/*top: 0;*/
/*left: 0;*/

/*!*background: red;*!*/
/*}*/