{% if companySite is not null %}
    {% set site = companySite %}

    {% if site.getCustomStyle %}
        {% set style = site.getCustomStyle %}
        <div class="row">
            <div class="col-md-6">
                <table class="table table-borderless company-site-table">
                    <tr>
                        <td>Achtergrond</td>
                        <td><span class="company-site-color"
                                  style="background-color:{{ style.getBodyBackgroundColor() }};"></span></td>
                    </tr>
                    <tr>
                        <td>Tekst</td>
                        <td><span class="company-site-color"
                                  style="background-color:{{ style.getBodyTextColor() }};"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Titels</td>
                        <td><span class="company-site-color"
                                  style="background-color:{{ style.getHeadingTextColor() }};"></span></td>
                    </tr>
                    <tr>
                        <td>Achtergrond knoppen</td>
                        <td><span class="company-site-color"
                                  style="background-color:{{ style.getButtonBackgroundColor() }};"></span></td>
                    </tr>
                    <tr>
                        <td>Tekst knoppen</td>
                        <td><span class="company-site-color"
                                  style="background-color:{{ style.getButtonTextColor() }};"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                {% if style.getLogo %}
                    <img src="{{ style.getLogo().getPath() }}" class="company-site-logo"/>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <table class="table table-borderless company-site-table">
                <tr>
                    <td>
                        Webshop URI:
                    </td>
                    <td>
                        {{ site.getDomainName() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Voorkeurstaal
                    </td>
                    <td>
                        {{ site.getLocale() }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            <legend class="text-semibold">Bestel instellingen</legend>
            {% if not site.getCustomFields().isEmpty %}
                <div>
                    Eigen velden:<br/>
                    <ul>
                        {% for customField in site.getCustomFields() %}
                            <li>{{ customField.translate.getLabel() }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div>
                <table class="table table-borderless company-site-table">
                    <tr>
                        <td>
                            Order bevestiging
                        </td>
                        <td>
                            {{ site.getOrderConfirmationUser() ? site.getOrderConfirmationUser().getDisplayName() : 'Naar besteller' }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bezorgstatus
                        </td>
                        <td>
                            {{ site.getDeliveryStatusUser() ? site.getDeliveryStatusUser().getDisplayName() : 'Naar besteller' }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Order goedkeuren
                        </td>
                        <td>
                            {{ site.getConfirmOrderUser() ? site.getConfirmOrderUser.getDisplayName() : 'Geen goedkeuring nodig' }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            <legend class="text-semibold">Besteller registratie</legend>
            <div>
                <table class="table table-borderless company-site-table">
                    <tr>
                        <td>
                            Mag registreren
                        </td>
                        <td>
                            {{ site.getRegistrationEnabled() ? 'Ja' : 'Nee' }}
                            {% if site.getAllowedExtensions() is not null %}
                                <br/>Met domeinen: {{ site.getAllowedExtensions() }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Goedkeuren door
                        </td>
                        <td>
                            {{ site.getConfirmUserUser() ? site.getConfirmUserUser().getDisplayName() : 'Geen goedkeuring nodig' }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tekst op Registratiepagina
                        </td>
                        <td>
                            {{ site.getRegistrationText() | raw }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tekst op Bedanktpagina
                        </td>
                        <td>
                            {{ site.getOrderSuccessText() | raw }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" data-action="open-content"
            data-url="{{ path('admin_company_companysite_edit', {company: company.getId()}) }}">Gegevens bewerken
    </button>
{% else %}
    Dit bedrijf heeft nog geen eigen shop. Klik op de onderstaande knop om een shop aan te maken.
    <br/>
    <button class="btn btn-primary" data-action="open-content"
            data-url="{{ path('admin_company_companysite_edit', {company: company.getId()}) }}">Shop toevoegen
    </button>
{% endif %}