{% extends 'AppBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/customer-addressbook.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-addressbook.css') }}" />
{% endblock %}

{% set page_title = "account.addressbook.edit.page_title"|trans %}

{% block body %}
    {{ include('AppBundle:Customer/Account:header.html.twig') }}
    <h1>{{ page_title }}</h1>

    {{ form_start(form) }}

    {{ include('AppBundle:Customer/Account/AddressBook:form.html.twig') }}

    {{ include('AppBundle:Customer/Account:footer.html.twig') }}
{% endblock %}
