<div class="address-container">
    {{ form_row(form.companyName) }}

    {% if form.attn is defined %}
        {{ form_row(form.attn) }}
    {% endif %}

    {{ form_label(form.country_choice) }}

    <div class="row row-country">
        <div class="col-xs-12">
            <div class="country-choice">
                {{ form_widget(form.country_choice) }}
            </div>
            <div class="country">
                {{ form_widget(form.country_list) }}
                {{ form_widget(form.country) }}
            </div>
        </div>
    </div>

    <div class="row row-postcode-and-city">
        <div class="col-xs-12">
            {{ form_row(form.postcode_and_city) }}
        </div>
    </div>

    <div class="row row-postcode-and-number">
        <div class="postcode col-md-4">
            {{ form_row(form.postcode) }}
        </div>
        <div class="number padding-left-0 col-md-4">
            {{ form_row(form.number) }}
        </div>
        <div class="number-addition padding-left-0 col-md-4">
            {{ form_row(form.numberAddition) }}
        </div>
    </div>

    <div class="row row-street-and-city">
        <div class="street col-md-6">
            {{ form_row(form.street) }}
        </div>
        <div class="city padding-left-0 col-md-6">
            {{ form_row(form.city) }}
        </div>
    </div>

    {% if row.email is defined %}
        {{ form_row(form.email) }}
    {% endif %}
</div>

{{ form_rest(form) }}

{{ form_end(form) }}