{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/customer-addressbook.css') }}" />
{% endblock %}

{% set page_title = "account.addressbook.page_title"|trans %}

{% block body %}
    <div class="address-book">

        {{ include('AppBundle:Customer/Account:header.html.twig') }}
        <h1>{{ page_title }}</h1>

        <p>{{ 'account.addressbook.text'|trans }}</p>

        <h4>{{ 'account.addressbook.main.title'|trans }}</h4>

        {% if app.getUser().getMainAddress() is empty %}
            <p>{{ 'account.addressbook.main_addresses.none_available'|trans }}</p><br />
        {% else %}
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="column-left col-xs-12 col-md-8">
                            {% set main_address = app.getUser().getMainAddress() %}

                            {% if main_address.getCompanyName() is not empty %}
                                {{ main_address.getCompanyName() }}<br />
                            {% endif %}

                            {% if main_address.getAttn() %}
                                {{ main_address.getAttn() }}<br />
                            {% else %}
                                {{ app.getUser().getFullname() }}<br />
                            {% endif %}

                            {% if main_address.getStreet() is not empty %}
                                {{ main_address.getStreet() }} {{ main_address.getNumber() }}<br />
                            {% endif %}

                            {% if main_address.getPostcode() is not empty %}
                                {{ main_address.getPostcode() }} {{ main_address.getCity() }}
                            {% endif %}
                            {% if main_address.getCountry().getCode() is not empty %}
                                , {{ main_address.getCountry().getCode()|country }}
                            {% endif %}
                        </div>
                        <div class="column-right col-xs-12 col-md-4 text-md-right">
                            <div class="labels">
                                {% if main_address.isDefaultDeliveryAddress() %}
                                    <span class="label label-default">{{ "label.default_delivery_address"|trans|lower }}</span>
                                {% endif %}
                                {% if main_address.isDefaultInvoiceAddress() %}
                                    <span class="label label-default">{{ "label.default_invoice_address"|trans|lower }}</span>
                                {% endif %}
                            </div>
                            <div class="actions">
                                <a href="{{ path('app_customer_account_addressbook_edit', {'id': main_address.getId()}) }}">{{ 'label.edit'|trans }}</a><br />

                                {% if not main_address.isDefaultDeliveryAddress() %}
                                    <a href="{{ path('app_customer_account_addressbook_default', {'id': main_address.getId(), 'type': 'bezorging'}) }}">{{ 'label.set_as_default_delivery_address'|trans }}</a>
                                    <br />
                                {% endif %}

                                {% if not main_address.isDefaultInvoiceAddress() %}
                                    <a href="{{ path('app_customer_account_addressbook_default', {'id': main_address.getId(), 'type': 'factuur'}) }}">{{ 'label.set_as_default_invoice_address'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <h4>{{ 'account.addressbook.other_addresses'|trans }}</h4>

        {% if app.getUser().getDeliveryAddresses() is empty %}
            <p>{{ 'account.addressbook.other_addresses.none_available'|trans }}</p>
        {% else %}
            {% for address in app.getUser().getDeliveryAddresses() %}
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="column-left col-xs-12 col-md-8">
                                {% if address.getCompanyName() %}
                                    {{ address.getCompanyName() }}<br />
                                {% endif %}

                                {% if address.getAttn() %}
                                    {{ address.getAttn() }}<br />
                                {% endif %}

                                {% if address.getStreet() is not empty %}
                                    {{ address.getStreet() }} {{ address.getNumber() }}<br />
                                {% endif %}

                                {% if address.getPostcode() is not empty %}
                                    {{ address.getPostcode() }} {{ address.getCity() }}
                                {% endif %}
                                {% if address.getCountry().getCode() is not empty %}
                                    , {{ address.getCountry().getCode()|country }}
                                {% endif %}
                            </div>
                            <div class="column-right col-xs-12 col-md-4 text-md-right">
                                <div class="labels">
                                    {% if address.isDefaultDeliveryAddress() %}
                                        <span class="label label-default">{{ 'label.default_delivery_address'|trans }}</span>
                                    {% endif %}
                                    {% if address.isDefaultInvoiceAddress() %}
                                        <span class="label label-default">{{ 'label.default_invoice_address'|trans }}</span>
                                    {% endif %}
                                </div>
                                <div class="actions">
                                    <a href="{{ path('app_customer_account_addressbook_edit', {'id': address.getId()}) }}">{{ 'label.edit'|trans }}</a><br />

                                    {% if not address.isDefaultDeliveryAddress() %}
                                        <a href="{{ path('app_customer_account_addressbook_default', {'id': address.getId(), 'type': 'bezorging'}) }}">{{ 'label.set_as_default_delivery_address'|trans }}</a>
                                        <br />
                                    {% endif %}

                                    {% if not address.isDefaultInvoiceAddress() %}
                                        <a href="{{ path('app_customer_account_addressbook_default', {'id': address.getId(), 'type': 'factuur'}) }}">{{ 'label.set_as_default_invoice_address'|trans }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <a href="{{ path('app_customer_account_addressbook_new') }}"
           class="btn btn-theme">{{ 'account.addressbook.address.add'|trans }}</a>

        {{ include('AppBundle:Customer/Account:footer.html.twig') }}
    </div>
{% endblock %}
