<div class="row">
    <div class="col-md-5">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Informatie</h6>

                <div class="heading-elements">
                    <ul class="icons-list">
                        <li>
                            <a data-url="{{ path('admin_company_companyfinancial_general', {
                                company: company.id
                            }) }}" data-action="open-content" data-contentwindow-width="500" data-refresh-panel="financialDetails">
                                <i class="icon-cog3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                {% set creditLimitBalance = company_credit_balance(company) %}
                {% set creditLimitClass = 'text-success' %}

                {% if creditLimitBalance.availablePercentage < 25 and creditLimitBalance.availablePercentage > 10 %}
                    {% set creditLimitClass = 'text-orange' %}
                {% elseif creditLimitBalance.availablePercentage <= 10 %}
                    {% set creditLimitClass = 'text-danger' %}
                {% endif %}

                <table class="table-borderless">
                    <tr>
                        <td>Kredietlimiet</td>
                        <td>
                            {{ company.creditLimit == 0 and company.creditLimit is not null ? 'Geen limiet' : '€ ' ~ (company.creditLimit is not null ? company.creditLimit : get_system_parameter('company_credit_limit')) | number_format ~ ' excl. BTW' }}</td>
                    </tr>
                    <tr>
                        <td>Nog te besteden</td>
                        <td class="{{ creditLimitClass }}">{{ company.creditLimit == 0 and company.creditLimit is not null ? 'Geen limiet' : '€ ' ~ creditLimitBalance.available | number_format ~ ' excl. BTW' }}
                        </td>
                    </tr>
                    <tr>
                        <td>Prijsweergave</td>
                        <td>
                            {{ company.priceDisplayMode | company_price_display_mode }}
                        </td>
                    </tr>
                    <tr>
                        <td>Betaalmethoden</td>
                        <td>
                            {{ company_available_payment_methods(company) }}
                        </td>
                    </tr>
                    <tr>
                        <td>Geëxporteerde facturen</td>
                        <td>
                            {{ exportedInvoices }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Instellingen voor facturatie</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li>
                            <a data-url="{{ path('admin_company_companyfinancial_billing', {
                                company: company.id
                            }) }}" data-action="open-content" data-contentwindow-width="700px" data-refresh-panel="financialDetails">
                                <i class="icon-cog3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        <table class="table-borderless">
                            <tr>
                                <td>Factuuradres</td>
                                <td>{{ company.invoiceAddress is not null ? company.invoiceAddress.format() : '-' }}</td>
                            </tr>
                            <tr>
                                <td>Factuur e-mailadres</td>
                                <td>{{ company.invoiceEmail }}</td>
                            </tr>
                            <tr>
                                <td>Betaaltermijn</td>
                                <td>{{ company.companyInvoiceSettings ? company.companyInvoiceSettings.paymentTerm : '0' }} dag(en)</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-5">
                        <table class="table-borderless">
                            <tr>
                                <td>IBAN</td>
                                <td>{{ company.iban }}</td>
                            </tr>
                            <tr>
                                <td>BIC</td>
                                <td>{{ company.bic }}</td>
                            </tr>
                            <tr>
                                <td>Rekeninghouder</td>
                                <td>{{ company.bankAccountHolder }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>