<div class="panel panel-default select-product-panel"
     data-variation-url="{{ path('admin_catalog_product_selectvariation') }}"
     data-combination-url="{{ path('admin_catalog_product_checkcombination') }}">
    <div class="panel-heading">
        Product zoeken
    </div>
    <div class="panel-body">
        <div class="form-group has-feedback has-feedback-left search-bar">
            <input type="text" class="form-control" name="query" id="searchQuery" placeholder="Product naam">
            <div class="form-control-feedback">
                <i class="icon-search4 text-size-base"></i>
            </div>
        </div>
        <div class="products">

        </div>
    </div>
</div>