{% extends 'AdminBundle::base.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('bundles/admin/css/form/company-wizard.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/product/product-item.css') }}" />

    <form method="post" id="wizard" novalidate="novalidate"
          data-set-url="{{ path('admin_catalog_product_productsetsbygroup') }}">
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Wat voor soort product is dit?
                        </div>
                    </div>
                    <div class="panel-body" id="product_set_step">
                        <div class="form-group col-md-4 col-md-offset-4">
                            <select name="producttype" id="producttype" class="form-control">
                                <option value="">Selecteer een product type</option>
                                {% for key, productType in productTypes %}
                                    <option value="{{ productType }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="products_panel" style="display: none;">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Bijbehorende producten
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="hidden" id="selectedProducts" name="products" value="[]" />
                                <div class="btn btn-primary" id="select-products"
                                     data-product-url="{{ path('admin_catalog_product_searchproducts') }}">
                                    Selecteer producten
                                </div>

                                <div class="product-container row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="productgroup_panel" style="display: none;">
                    <div class="panel-heading">
                        <div class="panel-title">
                            In welke groep hoort dit product?
                        </div>
                    </div>
                    <div class="panel-body" id="product_set_step">
                        <div class="form-group col-md-4 col-md-offset-4">
                            <select name="productgroup" id="productgroup" class="form-control">
                                <option>Selecteer een product groep</option>
                                {% for key, group in productGroups %}
                                    <option value="{{ group.getId }}">{{ group.getTitle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="product_info_step" style="display: none;">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Instellingen
                        </div>
                    </div>
                    <div class="panel-body" id="type_of_company">
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label class="control-label">
                                    Wat is de naam van het product?
                                </label>
                                <input type="text" name="title" id="product_name" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <label class="control-label">
                                    Welke kenmerken set wil je aan het product koppelen?
                                </label>
                                <select name="product_set" id="product_set" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" id="wizard_submit" disabled name="wizard_submit"
                            class="btn btn-success text-uppercase pull-right">
                        Opslaan

                        <span class="icon-arrow-right13 position-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="{{ asset('bundles/admin/js/form/product-selection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/form/product-wizard.js') }}"></script>
{% endblock %}
